<?php header ("Content-Type: text/html; charset=utf-8", true); ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
<head>
	<!-- script src="http://www.savethedevelopers.org/say.no.to.ie.6.js"></script -->
	<title><?php //echo clean(CompanyWebsite::instance()->getCompany()->getName()) ?> - OpenGoo</title>
	
 	<link rel="alternate" type="application/rss+xml" title="<?php //echo clean(owner_company()->getName()) ?> RSS Feed" href="<?php // echo logged_user()->getRecentActivitiesFeedUrl() ?>" />
	
	<link rel="stylesheet" type="text/css" href="<?php echo $this->htmlHead()->urlSite();?>/assets/javascript/extjs/shared/icons/silk.css" />
    <link rel="stylesheet" type="text/css" href="<?php echo $this->htmlHead()->urlSite();?>/assets/themes/default/stylesheets/website.css" />
	<link rel="stylesheet" type="text/css" href="<?php echo $this->htmlHead()->css();?>/karito.css" />
    
	<!-- <link rel="stylesheet" type="text/css" href="<?php  echo $this->htmlHead()->js();?>/ext-3.3.1/resources/css/ext-all.css" /> -->
<link rel="stylesheet" type="text/css" href="<?php  echo $this->htmlHead()->js();?>/ext-3.3.1/examples/ux/css/LockingGridView.css" />
<link rel="stylesheet" type="text/css" href="<?php echo $this->htmlHead()->js(); ?>/ext-3.3.1/examples/ux/css/ColumnHeaderGroup.css" />

<style>
.upload-icon {
            background: url('<?php echo $this->htmlHead()->img();?>/icons/fam/image_add.png') no-repeat 0 0 !important;
        }
</style>

</head>
<body id="body" <?php // echo render_body_events() ?>>
<link rel="stylesheet" type="text/css" href="<?php echo $this->htmlHead()->js();?>/ext-3.3.1/examples/ux/fileuploadfield/css/fileuploadfield.css"/>
<link rel="stylesheet" type="text/css" href="<?php echo $this->htmlHead()->js(); ?>/ext-3.3.1/examples/ux/css/GroupSummary.css" />

<script language="javascript" src="<?php  echo $this->htmlHead()->js();?>/jquery.js"></script>


<script type="text/javascript" src="<?php echo $this->htmlHead()->urlSite();?>/assets/javascript/app.js"></script>
<script type="text/javascript" src="<?php echo $this->htmlHead()->js();?>/ext-3.3.1/adapter/ext/ext-base.js"></script>
<script type="text/javascript" src="<?php echo $this->htmlHead()->js();?>/ext-3.3.1/ext-all.js"></script>
<script type="text/javascript" src="<?php echo $this->htmlHead()->js();?>/ext-3.3.1/examples/ux/CheckColumn.js"></script>
<script type="text/javascript" src="<?php  echo $this->htmlHead()->js();?>/ext-3.3.1/examples/ux/LockingGridView.js"></script>
<script type="text/javascript" src="<?php  echo $this->htmlHead()->js();?>/ext-3.3.1/examples/ux/DataView-more.js"></script>

<?php  echo $this->htmlHead()->getJs();?>

<script type="text/javascript" src="<?php echo $this->htmlHead()->js();?>/scriptGral.js"></script>
<script type="text/javascript" src="<?php echo $this->htmlHead()->js();?>/ext/ux/data/BindMgr.js"></script>

<script type="text/javascript" src="<?php echo $this->htmlHead()->js(); ?>/ext-3.3.1/examples/ux/GroupSummary.js"></script>

<script type="text/javascript" src="<?php echo $this->htmlHead()->js();?>/ext-3.3.1/examples/ux/fileuploadfield/FileUploadField.js"></script>
<script type="text/javascript" src="<?php echo $this->htmlHead()->js();?>/ext-3.3.1/examples/ux/gridsummary/gridsummary.js"></script>
<div id="loading">
	<img src="<?php echo $this->htmlHead()->getImageUrl();?>/layout/loading.gif" width="32" height="32" style="margin-right:8px;" align="absmiddle"/><?php //echo lang("loading") ?>...
</div>

<div id="subWsExpander" onmouseover="clearTimeout(og.eventTimeouts['swst']);" onmouseout="og.eventTimeouts['swst'] = setTimeout('og.HideSubWsTooltip()', 2000);" style="display:none;top:10px"></div>



<!-- header -->
<div id="header">
	<div id="headerContent">
	    <table><tr><td style="width:60px">
		<div id="logodiv"></div></td><td>
		<div id="wsCrumbsWrapper"><table><tr><td><div id="wsCrumbsDiv"><div style="font-size:150%;display:inline;">
		<a href="#" style="display:inline;line-height:28px" onmouseover="og.expandSubWsCrumbs(0)"><?php //echo lang('all') ?></a></div></div></td>
		<td><div id="wsTagCrumbs"></div></td></tr></table>
		</div>
		</td></tr></table>
		<!-- login -->
		<div id="userboxWrapper"><div id="userbox">
			Welcome back <strong><?php echo $this->login; ?></strong> (<a href="<?php echo $this->htmlHead()->urlSiteSubdomain(); ?>/close">Logout</a>) :		 
					<a class="internalLink" target="administration" href="http://localhost/opengoo/index.php?c=administration&a=index"><?php echo $this->tipdesc;?></a> |
				<a class="internalLink" target="account" href="http://localhost/opengoo/index.php?c=account&a=index">Account</a> |
			<a href="javascript:og.showHelp()">Help</a>		
		</div></div>
		<!-- end login -->
		<div id="searchbox">
			<form class="internalForm" action="<?php //echo ROOT_URL . '/index.php' ?>" method="get">
			<input type="hidden" id="controllername" value="">
			<input type="hidden" id="actionname" value="">
				<table><tr><td>
				
				</td><td id="searchboxSearch">
				<select id="an_ids" onchange="cit.selectAnio(this)">
					   <?php echo $this->anio?>
				</select>
                <select id="sistemas" onchange="cit.selectSistema(this)">
                    <?php foreach($this->data as $value){?>
					<option <?php if($this->module==strtolower($value['si_desc'])){echo ' selected="selected" ';} ?>value="<?php echo strtolower($value['si_desc']); ?>"><?php echo $value['si_desc']; ?></option>
                    <?php }?>
				</select>
				</td></tr></table>
				<input type="hidden" name="c" value="search" />
				<input type="hidden" name="a" value="search" />
				<input type="hidden" name="current" value="search" />
				<input type="hidden" id="hfVars" name="vars" value="dashboard" />
			</form>
		</div>
		<?php // echo render_system_notices(logged_user()) ?>
	</div>
</div>
<!-- /header -->

<!-- footer -->
<div id="footer" style="height: 1px;padding-left: 10px;margin-right: 30px;background: #fff;">
            
</div>
<!-- /footer -->


</body>
</html>

<script>



// OG config options
og.pageSize = 50;
og.module = 'servicios';
og.notaNAprovatoria = 11;
og.notaNMax = 20;
og.subdomainName = '<?php echo $this->htmlHead()->urlSiteSubdomain()?>';
og.timeFormat24 = 0;
og.hostName = '<?php echo $this->htmlHead()->urlSiteSubdomain()?>';
og.domainName = '<?php echo $this->htmlHead()->urlSite()?>';
og.maxUploadSize = 2097152;
og.rememberGUIState = 0;
og.initialWorkspace = '0';
og.initialURL = '<?php echo $this->htmlHead()->urlSiteSubdomain()?>/resource/index';
og.loggedUser = {
	id: 1,
	username: "<?php echo $this->login ?>",
	displayName: "<?php echo $this->penomcomp ?>",
	isAdmin: true};
og.hasNewVersions = "Bienvenidos al Administrador de Reserva";
og.enableNotesModule = 1;
og.enableEmailModule = 0;
og.enableContactsModule = 0;
og.enableCalendarModule = 0;
og.enableDocumentsModule = 0;
og.enableTasksModule = 0;
og.enableWeblinksModule = 0;
og.enableTimeModule = 0;
og.enableReportingModule = 0;
og.daysOnTrash = 30;
Ext.Ajax.timeout = 33000;
og.GooPlayer.sound = new Sound();
og.systemSound = new Sound();
cit.logo = '<?php echo $this->imgimg1;?>';

$('#logodiv').html('<img src="'+cit.logo+'" width="40px" height="40px"/>');

//var quickAdd = new og.QuickAdd({renderTo:'quickAdd'});

/*setInterval(function() {
	og.openLink(og.getUrl('index', 'load'), {
		hideLoading: true,
		hideErrors: true,
		preventPanelLoad: true
	});
}, 60000);
*/

</script>
 
<script>


cit.selectAnio=function(id){
    og.openLink(og.getUrl('asignacion-anio','ajax',{'case':'save'}),{
		hideLoading: false,
		hideErrors: false,
		preventPanelLoad: true,
		post:{an_id:$('#an_ids').attr('value')}
	});
}
cit.selectSistema=function(id){
    location.href='/'+id.value;
}

//some event handlers
og.eventManager.addListener('tag changed', 
 	function (tag){ 
 		if (Ext.getCmp('tabs-panel').getActiveTab().id == 'calendar-panel') {
 			og.openLink(og.getUrl('event', 'view_calendar', {day: calToolbarDateMenu.picker.getValue().format('d'), month: calToolbarDateMenu.picker.getValue().format('n'), year: calToolbarDateMenu.picker.getValue().format('Y')}), 
 				{caller:'calendar-panel',
 				get:{tag:tag.name}}
 			);
 		}
 		if (Ext.getCmp('tabs-panel').getActiveTab().id == 'tasks-panel') {
 			og.openLink('http://cit.cit/academico/index/load',
 				{caller:'tasks-panel',
 				get:{tag:tag.name}}
 			);
 		}
 	}
);
og.eventManager.addListener('workspace changed', 
 	function (ws){ 
 		if (Ext.getCmp('tabs-panel').getActiveTab().id == 'calendar-panel') {
 			og.openLink(og.getUrl('event', 'view_calendar', {day: calToolbarDateMenu.picker.getValue().format('d'), month: calToolbarDateMenu.picker.getValue().format('n'), year: calToolbarDateMenu.picker.getValue().format('Y')}), 
 				{caller:'calendar-panel'}
 			);
 		}
 	}
);

og.eventManager.addListener('company added', 
 	function (company) {
 		var elems = document.getElementsByName("contact[company_id]");
 		for (var i=0; i < elems.length; i++) {
 			if (elems[i].tagName == 'SELECT') {
	 			var opt = document.createElement('option');
	        	opt.value = company.id;
		        opt.innerHTML = company.name;
	 			elems[i].appendChild(opt);
 			}
 		}
 	}
);

og.eventManager.addListener('popup',
	function (args) {
		og.msg(args.title, args.message, 0, args.type, args.sound);
	}
);

og.eventManager.addListener('user config localization changed',
	function(val) {
		og.loadScript(og.getUrl('access', 'get_javascript_translation'),
			function() {
				var spans = document.getElementsByName('og-lang');
				for (var i=0; i < spans.length; i++) {
					var key = spans[i].id.substring(8);
					spans[i].innerHTML = lang(key);
				}
			}
		);
	}
);

</script>
