.contextualHelp {
    background: none repeat scroll 0 0 #FFF2BF;
    border: 1px dashed #EFCB3B;
    color: #5F4D06;
    padding: 4px 10px;
}
.dashActivity .dashHeader {
    background: none repeat scroll 0 0 #496AB9;
    border-color: #496AB9;
    color: white;
}