<div id="bodyform"> 
</div>


<script>

  
    function saveFormData(){
	      
		 if (cit.formprincipals.form.isValid()) {
        		
                    og.openLink(og.getUrl('seguridad-cambio-clave','ajax',{'case':'save'}), {
        			hideLoading: true,
        			hideErrors: true,
        			preventPanelLoad: true, 
        			hideLoading:false, 
        			post:'data='+ cit.formprincipals.getForm().getValues().us_password
        	       	});
            
			 }
        
	}  
    Ext.apply(Ext.form.VTypes, {
          password: function(val, field) {
             pass=cit.formprincipals.getForm().getValues().us_password;
             if (pass) 
                return (val == pass);
             return true;
          },
          passwordText: 'Los Password no Coinciden'
    });
     cit.formprincipals = new  Ext.form.FormPanel({
         renderTo: 'bodyform',
         name:'formSeguCambioClave',
    	"autoHeight":true,
    	"width":"100%",labelWidth: 158,
    	"bodyStyle":"padding-left: 5px;padding-right: 5px;border:0px",
    	"defaults":{"anchor":0},
    	"items":
           [ 	{"xtype":"fieldset","title":"Cambio de Clave","collapsible":false,
				"items":[
					
						   	{"xtype":"textfield",name:"us_login","width":180,disabled:true,fieldLabel:'Usuario',maxLength:150,value:'<?php echo $this->uslogin ; ?>'},
                            {"xtype":"textfield",name:"pe_nomcomp","width":180,disabled:true,fieldLabel:'Nombre',maxLength:150,value:'<?php echo $this->nombreCompleto ; ?>'},
                                { xtype: 'textfield',  fieldLabel: 'Password',name:"us_password",
                                inputType: 'password',allowBlank: false, minLength: 6,
                                maxLength: 30,"width":180,
                                minLengthText: 'Tamaño Password mayor a 6 caracteres.'
                              },
                              { xtype: 'textfield', 
                                fieldLabel: 'Confirmar Password', inputType: 'password',
                                allowBlank: false, minLength: 6,
                                maxLength: 30,"width":180,
                                minLengthText: 'Tamaño Password mayor a 6 caracteres.',
                                vtype: 'password'
                              }
					     ]
						
						
     	        }
            
           ]
      });
   	
</script>