<div class="form_zoe">
    <div id="tiposerv"></div>
    <div class="fila_zoe">
    	<div id="contiene" class="left_zoe" style="width:29%;"></div>
    	<div id="bodyform" class="left_zoe" style="width:70%;"></div>
    </div>
</div>
<input type="hidden" name="save[]" id="save" value=""/>

<script>
cit.peDpto = <?php echo $this->serdepartamento; ?>
cit.servDepartamento = <?php echo $this->servdepartamento; ?>
cit.servEstado = <?php echo $this->serestado; ?>
cit.serTipo = <?php echo $this->tiposerv; ?>;
cit.serTipoF = <?php echo $this->tiposervf; ?>;



var storeaserv=new Ext.data.Store({
    proxy:new Ext.data.HttpProxy({url:og.getUrl('mantenimiento-servicio', 'json',{'case':'servicio'}, 'servicios')}),
    reader:new Ext.data.JsonReader({
        fields: [{ name : 'lleva'},
            { name: 'ser_id'},
            { name: 'ser_razsocial'},
            { name: 'ser_ruc'},
            { name: 'ser_direccion'},
            { name: 'ser_telefono1'},
            { name: 'ser_telefono2'},
            { name: 'ser_web'},
            { name: 'ser_correo'},
            { name: 'ser_precio'},
            { name: 'ser_estado'},
            { name: 'ub_id_dep'},
            { name: 'ub_id_prov'},
            { name: 'ub_desc'},
            { name: 'ub_id'},
            { name: 'set_titulo'},
            { name: 'hser_id'},
            { name: 'set_id'},
            { name: 'ser_desc'},
            { name: 'ser_titulo'}
        ],
        root:'matches'
    })
});


var categoriesPagingBar = new Ext.PagingToolbar( {
    pageSize: 500,
    displayInfo: false,
    store: storeaserv
});  


//renderizacion de grilla
var colModels = new Ext.ux.grid.LockingColumnModel(
[
     {dataIndex: 'ser_id', header: '<b>Id</b>', width: 60, locked: false,align:'center'},
     {dataIndex: 'ser_razsocial', header: '<b>Nombre</b>', width: 120, locked: false,align:'left'},
     {dataIndex: 'ub_desc', header: '<b>Ciudad</b>', width: 100, locked: false,align:'left'}
 ]);



var grid = new Ext.grid.GridPanel({
	store: storeaserv,
	colModel: colModels,
	height:330,
	stripeRows: true,
	trackMouseOver:true,
	animCollapse:true,
	columnLines: true,
	loadMask: true,
	viewConfig: { forceFit: true },
	bbar: categoriesPagingBar
});

cit.changeTipoServ = {
    select: function(combo, record, index){
        storeaserv.load({params:{'set_id':record.data.set_id}});
    }
}

cit.formListaServicios = new  Ext.form.FormPanel({
    renderTo: 'contiene',
    name:'formDcto',
    autoHeight:true,
    bodyStyle:"margin-left: 7px;padding-right: 3px;border:0px",
    //width:300,
    labelWidth: 80,
    defaults:{"anchor":0},
    items : [
            //{xtype:'textfield',name:'Sucursal',fieldLabel:'Tipo ',allowBlank:false,width: 100,blankText: 'Ingrese el tipo… '},
        {xtype:'combo', width:130,mode:'local',triggerAction:'all',forceSelection:true,fieldLabel:'Tipo Servicio ',editable:false,name:'tiposid',
                displayField:'state',valueField:'set_id',store: cit.serTipoF, listeners:cit.changeTipoServ, value: 'T', id: 'tiposid'
        },
        {xtype:'label', text:'Servicios'},
        { items : [grid] }//gridSecun
    ]
});

storeaserv.load({params:{'set_id':Ext.getCmp('tiposid').getValue()}});

//cit.changeTipoServ();

//cit.changeTipo();
//grid.render('contiene');
//un clivk


 grid.on('rowdblclick', function(e,i,j){//listening for the grid's 'validateedit' event
    formPrin.form.reset(); 
    og.loading();
    cit.record = storeaserv.getAt(i);
    //alert(cit.recordSuc.data.su_id);
    jsonprovincia.load({params: {'departamento': cit.record.data.ub_id},callback:function(re){
        cit.record.data.action='edit';
        jsondistrito.load({params: {'provincia': cit.record.data.ub_id},callback:function(re){
            formPrin.form.loadRecord(cit.record);
        }});
    }});

    og.hideLoading();
    //})
        
	
});

    grid.on('cellclick', function(e,i,j){//listening for the grid's 'validateedit' event
        cit.recordId = storeaserv.getAt(i);
        cit.Id = true;
    });



var jsonprovincia = new Ext.data.JsonStore({
    fields : ['ub_id_prov', 'state'],
    //autoLoad: true,
    url: og.getUrl('json','json',{'case':'provincia'},'cms'),
    root: 'matches'
});
var jsondistrito = new Ext.data.JsonStore({
    fields : ['ub_id', 'ub_desc'],
    //autoLoad: true,
    url: og.getUrl('json','json',{'case':'distrito'},'cms'),
    root: 'matches'
});


var selectdpto = {
    select: function(combo, record, index){
        //alert(record.data.value+'----'+record.data.ub_id_dep+'----'+record.data.ub_id)
        formPrin.form.setValues({
            ub_id_prov: '',ub_id: ''  
        })
        jsonprovincia.load({
            params: {'departamento': record.data.ub_id_dep}
        });
    }};

var selectprov = {
    select: function(combo, record, index){
        formPrin.form.setValues({
            ub_id: ''  
        })
        jsondistrito.load({params: {'provincia': record.data.ub_id_prov}});
    }};

//formularion de datos principales
var formprincipal = [
    {xtype:"fieldset",title:"Servicio",collapsible:true,
    items:[
        {xtype:'hidden',name:'action',value:'add',id:'action'},
        //{xtype:'hidden',name:'ho_id',id:'ho_id'},
        {xtype:'hidden',name:'ser_id',id:'ser_id'},
        {xtype:"compositefield",fieldLabel:"Codigo",combineErrors:false,
        items:[
            {name:"hser_id",id:"hser_id",xtype:"textfield",width:130,maxLength:16,value:'<?php echo $this->idserv;?>',disabled:true},
            {xtype:"displayfield",value:"Titulo:",width:35},
            {xtype:"textfield", name:"ser_titulo",fieldLabel:"First",width:355,maxLength:150}
        ]},
        {xtype:"compositefield",anchor:"-20",fieldLabel:"R. Social",combineErrors:false,
        items:[
            {xtype:"textfield",id:"ser_razsocial", name:"ser_razsocial",allowBlank:false,width:330,maxLength:200},
            {xtype:"displayfield",value:"RUC:", width:40},
            {xtype:"numberfield", name:"ser_ruc",fieldLabel:"First",width:150,maxLength:12}
        ]},
        {xtype:"compositefield",fieldLabel:"Dirección",combineErrors:false,
        items:[
            {name:"ser_direccion",xtype:"textfield",width:330,"allowBlank":false,maxLength:32},
            {xtype:"displayfield",value:"Tipo:", width:40},
            {name:"set_id",xtype:"combo",width:150,hiddenName:"set_id",valueField:"set_id", store:cit.serTipo, displayField:"state",mode:"local",triggerAction:"all",forceSelection:true ,emptyText:'Tipo.',resizable:true,editable:false}
        ]},
        {xtype:"compositefield",fieldLabel:"Dep.",combineErrors:false,
        items:[
            {width:144,xtype:"combo",mode:"local",triggerAction:"all",allowBlank:false,forceSelection:true, 
                editable:false,name:"ub_id_dep",displayField:"state",valueField:"ub_id_dep", 
                emptyText:"Departamento",store:cit.peDpto,listeners:selectdpto,resizable:true, 
                minListWidth:cit.minListWidth,value:'Departamento'
            },
            {xtype:"displayfield",value:"Prov.:", width:40},
            {width:144,"xtype":"combo",mode:"local",triggerAction:"all",allowBlank:false,forceSelection:true, 
                editable:false,name:"ub_id_prov",displayField:"state",valueField:"ub_id_prov", 
                emptyText:"Provincia",store:jsonprovincia,listeners:selectprov,resizable:true,minListWidth:cit.minListWidth
            },
            {xtype:"displayfield",value:"Dist.:", width:40},
            {width:144,xtype:"combo",mode:"local",triggerAction:"all",allowBlank:false,forceSelection:true, 
                editable:false,name:"ub_id",hiddenName:"ub_id",displayField:"ub_desc",valueField:"ub_id", 
                emptyText:"Distrito",store:jsondistrito,resizable:true,minListWidth:cit.minListWidth
            }
        ]},
        {xtype:"compositefield",fieldLabel:"Telefono 1",combineErrors:false,
        items:[
            {name:"ser_telefono1",xtype:"textfield",width:100,maxLength:12},
            {xtype:"displayfield",value:"Telefono 2:",width:70},
            {xtype:"textfield", name:"ser_telefono2",fieldLabel:"First",width:100,maxLength:12},
            {xtype:"displayfield",value:"Web:",width:35},
            {xtype:"textfield", name:"ser_web",fieldLabel:"First",width:205,maxLength:150}
        ]},
        {xtype:"compositefield",fieldLabel:"Correo",combineErrors:false,
        items:[
            {name:"ser_correo",xtype:"textfield",width:230,maxLengthText:100},
            {xtype:"displayfield",value:"Precio:",width:50},
            {xtype:"textfield", name:"ser_precio",fieldLabel:"First",width:100,maxLength:12, 
                editable:false, forceSelection:true, resizable:true, triggerAction:"all"
            },
            {xtype:"displayfield",value:"Estado:",width:50},
            {name:"ser_estado",xtype:"combo",width:80,hiddenName:"ser_estado",valueField:"ser_estado", 
                store:cit.servEstado, displayField:"state",mode:"local",triggerAction:"all", 
                forceSelection:true ,emptyText:'Est.',resizable:true,editable:false, value:1
            }		
        ]}, 
        {xtype:"compositefield",fieldLabel:"Descr.",combineErrors:false,
        items:[
            {name:"ser_desc",xtype:"textarea",width:230,maxLengthText:250},
        ]}                           
    ]}
]


//renderizacion de tabs
var tabs = new Ext.TabPanel({   
    width:'100%',
    activeTab: 0,
    frame:true, 
    //deferredRender:false,
    //border:false,
    //layoutOnTabChange : true,
    defaults:{autoHeight: true},
    items:[
           {title:'Datos de Servicio',items:[formprincipal]}
	]
});


//renderizacion de form principal
var formPrin = new  Ext.form.FormPanel({
        renderTo: 'bodyform',
        name:'formAlumno',
    	autoHeight:true,
    	bodyStyle:"padding-left: 5px;padding-right: 5px;border:0px",
    	defaults:{anchor:0},
    	items:
           [ tabs ]});
//end renderizacion form final

function saveFormData(){
    if (formPrin.form.isValid()) {
        cit.formEnvio = formPrin.form.getValues();	    
        og.openLink(og.getUrl('mantenimiento-servicio','ajax',{'case':'save'},'servicios'), {
            hideLoading: false,
            preventPanelLoad: true, 
            post:cit.formEnvio,
            hideErrors:false,
            onSuccess:cit.loadSer                    
    	});
    }
}

cit.loadSer = function(){
    grid.store.load({params:{'set_id':Ext.getCmp('tiposid').getValue()}});
     //grid.store.load();
//        cit.Id='';
} 

cit.actionsConfig = function(cod,tabla){
    formPrin.getForm().setValues({
        action:'edit',
        ser_ser_id: cod, 
        ser_id:cod
    });
}


function deleteFormData(){
    if( cit.Id){
        formPrin.getForm()
        og.openLink(og.getUrl('mantenimiento-servicio','ajax',{'case':'delete'},'servicios'), {
            hideLoading: false,
            preventPanelLoad: true, 
            post:{'id':cit.recordId.data.ser_id},
            hideErrors:false,
            onSuccess:cit.loadSer                     
        });
        formPrin.getForm().reset();
    }else{
        alertExtjs('CIT', 'Eliminar - Debe Haber al menos un registro seleccionado..');
    }
}

cit.loadSerDelete=function(){
    grid.store.load();
   formPrin.form.reset(); 
}

function newFormData(){
    formPrin.form.reset();
    $.getJSON(og.getUrl('mantenimiento-servicio', 'json',{'case':'newserv'}, 'servicios'),{},function(data){
        formPrin.getForm().setValues({
            ser_ser_id: data.ser_id, action: 'add'
        }); 
    });
}

        
</script>
