<div id="bodyform"></div>
<script>
cit.anio = <?php echo $this->anio;  ?>

cit.formAnio= new  Ext.form.FormPanel({
         renderTo: 'bodyform',
         name:'formAlumno',
    	"autoHeight":true,
    	"width":"100%",
    	"bodyStyle":"padding-left: 5px;padding-right: 15px;padding-top: 15px;border:0px",
    	"defaults":{"anchor":0},
    	"items":
           [
							{"xtype":"compositefield","fieldLabel":"Año","combineErrors":false,
								"items":[
											{"width":130,"xtype":"combo","mode":"local","triggerAction":"all","forceSelection":true,"editable":false,"name":"an_id","hiddenName":"an_id","displayField":"state","valueField":"an_id","emptyText":"Año",store:cit.anio}  
											
										]
							}
						]
		
            });
           
             cit.formAnio.getForm().setValues({
                an_id: '<?php echo $this->anioactual;?>'
            })
           
            function saveFormData(){
               
	if (cit.formAnio.form.isValid()) {
        cit.formEnvio = cit.formAnio.form.getValues();	    
       	
    	og.openLink(og.getUrl('asignacion-anio','ajax',{'case':'save'}), {
    		hideLoading: true,
    		hideErrors: true,
    		preventPanelLoad: true, 
    		hideLoading:false, 
    		post:cit.formEnvio
    	});
        $('#an_ids').attr('value',cit.formEnvio.an_id);

    }
}

           </script>
           
           
           