/*!
 * Extensible 1.0-beta1
 * Copyright(c) 2010 Extensible, LLC
 * team@ext.ensible.com
 * http://ext.ensible.com
 */
/*!
 * Extensible 1.0-beta1
 * Copyright(c) 2010 Extensible, LLC
 * team@ext.ensible.com
 * http://ext.ensible.com
 */

/*******************************************
 * 
 * Ext Calendar styles
 *
 ******************************************/

/* -----------------------------------------
 * Shared calendar view containers 
 */
.x-panel-tbar .ext-cal-toolbar {
    padding: 3px;
    border-bottom-width: 0 !important;
}
.x-panel-tbar .ext-cal-toolbar .x-btn button {
    /*font-weight: bold;*/
    color: #555;
}
.x-panel-tbar .ext-cal-toolbar .x-toolbar-cell {
    padding: 0 3px;
}

.ext-cal-ct {
    position: relative;
    font-family: helvetica, arial, sans-serif;
}
.x-cal-panel .x-panel-body {
    background: white !important;
}
.x-panel-mc .x-panel-body .ext-cal-ct,
.x-panel-mc .x-panel-body .ext-evt-edit-form {
    border-left:1px solid #99BBE8;
    border-right:1px solid #99BBE8;
}
.x-panel-mc .x-panel-body .ext-cal-day-header {
    border: 0;
}
.ext-cal-ct img {
    border:0 none;
}
.ext-cal-inner-ct {
    height: 100%;
    line-height: 14px;
    position: relative;
    background: #eee;
    white-space: nowrap;
}
.ext-cal-ct td,
.ext-cal-mdv td {
    font-size: 11px;
}

/* Window specific rules */
.x-window .x-window-mc .x-cal-body {
    border: 0 !important;
}
.x-window .ext-cal-toolbar {
    border: 0 !important;
}

/* Background layout table for week rows */
.ext-cal-bg-tbl {
    height:100%;
    left:0;
    position:absolute;
    table-layout:fixed;
    top:0;
    width:100%;
}

/* Shared subheader */
.ext-cal-hd-days-tbl {
    background: #EFEFEF;
    color: #555;
    table-layout: fixed;
    top: 18px;
    width: 100%;
    font-size: 12px;
    line-height: 12px;
}
.ext-cal-month-hd .ext-cal-hd-days-tbl {
    border-top: 1px solid #99BBE8;
}
.x-calendar-nonav .ext-cal-month-hd .ext-cal-hd-days-tbl {
    border-top: 0;
}
.ext-cal-month-hd .ext-cal-hd-day {
    border-left: 1px solid #C3D9FF;
}
.ext-cal-hd-ct {
    border-bottom: 1px solid #bcf;
}
.ext-cal-hd-day {
    text-align: center;
    padding: 4px 0;
    white-space: nowrap;
}

/* -----------------------------------------
 * Day/week-specific styles
 */
.ext-cal-dayview .ext-cal-hd-days-tbl {
    table-layout: fixed;
    width: 100%;
    background-color: #CDDCEF;
    overflow: hidden;
    font-size: 11px;
    line-height: 14px;
    height: 100%;
}
.ext-cal-hd-days-td {
    padding-bottom: 2px;
}
.ext-cal-dayview .ext-cal-hd-ct {
    height: 100%;
}
.ext-cal-dayview .ext-cal-gutter {
    width: 50px;
}
.ext-cal-dayview .ext-cal-gutter-rt {
    width: 15px;
}
.ext-ie .ext-cal-dayview .ext-cal-gutter-rt {
    width: 16px;
}
.ext-cal-hd-ad {
    background-color: #fff;
    font-size: 11px;
    line-height: 14px;
    border-color: #e3e9ff #e3e9ff #e3e9ff #e3e9ff;
    border-style: solid;
    border-width: 0 1px 1px 0;
}
.ext-cal-hd-ad-inner {
    position: relative;
    height: 100%;
}
.x-calendar-nonav .ext-cal-hd-ad-inner {
    margin-top: 3px;
}
.ext-cal-dayview .ext-cal-dtitle {
    padding: 8px 1px 2px;
} 
.ext-cal-hd-ad-bg-tbl {
    position: absolute;
    left: 0;
    table-layout: fixed;
    width: 100%;
}
.ext-cal-hd-ad .st-c {
    padding: 1px 1px 0 1px
}
.ext-cal-dayview .ext-cal-body-ct {
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0;
    line-height: normal;
    background: #eee;
    margin-top: 1px;
}
.ext-cal-dayview .ext-cal-body-ct .ext-cal-bg-tbl {
    height: 1008px;
}
.ext-cal-dayview .ext-cal-bg-tbl {
    background-color: #fff;
    margin-top: -1px;
    border-bottom: 1px solid #bcf;
    border-right: 1px solid #bcf;
}
.ext-cal-dayview .ext-cal-bg-rows {
    position: relative;
    margin-left: 1px;
    top: 1px;
}
.ext-cal-dayview .ext-cal-bg-rows-inner {
    position: absolute;
    width: 100%;
}
.ext-ie .ext-cal-dayview .ext-cal-bg-rows-inner,
.ext-gecko .ext-cal-dayview .ext-cal-bg-rows-inner {
    top: -1; /* row line alignment fix */
}
.ext-cal-dayview .ext-cal-bg-row {
    height: 42px;
}
.ext-cal-dayview .ext-cal-bg-row-div {
    border-bottom: 1px dotted #ddd;
    border-top: 1px solid #ddd;
    font-size: 1px;
    height: 20px;
    margin-bottom: 20px;
}
.ext-cal-dayview .ext-row-1 {
    border-top: 0;
}
.ext-cal-day-times {
    background-color: #f6f9fc;
    color: #666;
    padding: 1px 0 0 0;
    text-align: right;
    vertical-align: top;
}
.ext-cal-day-time-inner {
    height: 41px;
    border-bottom: 1px solid #ddd;
    padding-right: 2px
}
.ext-cal-day-col {
    border-left: 1px solid #ddd;
    vertical-align: top
}
.ext-cal-day-col-inner {
    position: relative;
    cursor: default;
}
.ext-cal-day-col-gutter {
    position: relative;
    margin-right: 15px;
    height: 1008px;
}
.ext-ie .ext-cal-day-col-gutter,
.ext-opera .ext-cal-day-col-gutter {
    margin-right: 10px;
}
.ext-ie6 .ext-cal-day-col-gutter {
    zoom: 1
}

/* -----------------------------------------
 * Month-specific styles
 */
.ext-cal-monthview .ext-cal-hd-ct {
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    /*background: #95B8EF;*/
}
.ext-cal-monthview .ext-cal-body-ct {
    background: #fff;
    bottom: 0;
    left: 0;
    border:0;
    overflow: hidden;
    position: absolute;
    top: 20px;
    width: 100%;
}
.ext-cal-monthview .ext-cal-noheader .ext-cal-hd-ct {
    display: none;
}
.ext-cal-monthview .ext-cal-noheader .ext-cal-body-ct {
    top: 0;
}

/* Month view week link boxes */
.ext-cal-monthview .ext-cal-week-link,
.ext-cal-monthview .ext-cal-week-link-hd {
    width: 20px;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: #EFEFEF;
    border-top: 1px solid #C3D9FF;
    border-right: 1px solid #C3D9FF;
    font-size: 10px;
    color: #999;
    padding: 3px 0 0;
    text-align: center;
    cursor: pointer;
}
.ext-cal-monthview .ext-cal-week-link-hd {
    border-top: 1px solid #99BBE8;
}
.x-calendar-nonav .ext-cal-monthview .ext-cal-week-link-hd {
    border-top: 0;
}
.ext-cal-week-links .ext-cal-bg-tbl {
    left: 20px;
}
.ext-cal-week-links .ext-cal-evt-tbl,
.ext-cal-week-links .ext-cal-hd-days-tbl {
    margin-left: 20px;
}
.ext-cal-monthview .ext-week-link-over {
    background: #E0E7EF;
}
.ext-cal-week-links .ext-cal-day-first {
    border-left: 1px solid #C3D9FF;
}

/* Hide the nav bar if specified */
.ext-cal-hide-navbar .ext-cal-hd-ct {
    height: 25px;
}
.ext-cal-hide-navbar .ext-cal-body-ct {
    top: 24px;
}

/* Outer wrapping div for week rows */
.ext-cal-wk-ct {
    left: 0;
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100px;
}
.ext-cal-monthview .ext-cal-wk-ct {
    height: 100%;
}
/* Background table cell */
.ext-cal-day {
    border-left: 1px solid #C3D9FF;
    cursor: pointer;
}
.ext-cal-day-first {
   border-left: 0;
}

.ext-cal-ev,
.ext-cal-dtitle {
    cursor: pointer;
}
.ext-cal-readonly .ext-cal-day,
.ext-cal-readonly .ext-cal-dtitle {
    cursor: default;
} 
.ext-day-over {
    background: #D1EAEF !important;
}
/* Event container table */
.ext-cal-evt-tbl {
    position:relative;
    table-layout:fixed;
    width:100%;
}

/* Event title cell (includes today, prev & next month) */
td.ext-cal-dtitle {
    font-family: helvetica, arial, sans-serif;
    border-top:1px solid #C3D9FF;
    color: #A7C6DF;
    line-height:14px;
    overflow:hidden;
    text-align:right;
    font-size: 16px;
    padding-top: 1px;
    padding-right: 1px;
    padding-left: 1px;
}
td.ext-cal-dtitle-first {
    border-top: 1px solid #BBCCFF;
}
td.ext-cal-dtitle div {
    padding: 2px 4px 1px;
}
/* Today's title cell */
td.ext-cal-dtitle-today div {
    color: #BFA52F;
    white-space: nowrap;
}
/* Today time span */
.ext-cal-dtitle-time {
    font-size: 11px;
}
/* Today's background cell */
.ext-cal-day-today {
    background: #FFF4BF;
}
/* Prev/next month title cells */
.ext-cal-dtitle-prev div,
.ext-cal-dtitle-next div {
    color: #bbb;
}
/* Prev/next month background cells */
.ext-cal-day-prev,
.ext-cal-day-next {
    background: #EFEFEF;
}
/* Event cells */
.ext-cal-ev {
    font-family:Verdana,sans-serif;
    padding:1px 1px 0 2px;
    vertical-align:top;
}
/* Event overflow more link */
.ext-cal-ev-more {
	text-align: center;
}
.ext-cal-ev-more a,
.ext-cal-ev-more a:visited {
	color: #369;
	cursor: pointer;
}
/* More view */
.ext-cal-mvd-tbl {
	width: 100%;
	table-layout: fixed;
}

.ext-cal-evt {
    cursor:pointer;
}

/* Default rounded event div (Gecko/Webkit/W3C) */
.ext-cal-evr { /* rounded */
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    overflow:hidden;
    padding:1px 1px 1px 5px;
    white-space:nowrap;
	text-overflow: ellipsis;
    border: 0;
}
/* Nested event divs (IE/Opera) */
.ext-cal-evo { /* outer */
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-right: 0;
    border-left: 0;
    margin: 0 1px;
    cursor: pointer;
    position: relative;
}
.ext-cal-day-col .ext-cal-evo  {
    height: 100%;
}
.ext-cal-evm { /* middle */
    border-left: 1px solid;
    border-right: 1px solid;
    border-top: 0;
    border-bottom: 0;
    margin: 0 -1px;
    zoom: 1;
    padding-left: 3px;
}
.ext-cal-evi { /* inner */
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}

/* Day view event styles */
.ext-cal-day-col .ext-cal-evt {
    position: absolute;
    overflow: hidden;
    cursor: default;
    color: #fff;
    -moz-user-select: none;
}
.ext-cal-evt dl {
    margin: 0;
    border: 0 1px;
    overflow: hidden;
    border-width: 0 1px;
    border-style: solid;
}
.ext-ie6 .ext-cal-evt dl {
    zoom: 1
}
.ext-cal-evt dd {
    margin: 0;
    overflow: hidden;
    font-size: 11px;
    text-align: left;
    word-wrap: break-word;
}
.ext-cal-evdm {
    border: 1px solid;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.ext-cal-evdm dt {
    margin-top: 0
}
.ext-cal-day-col .ext-cal-evt a:link,
.ext-cal-day-col .ext-cal-evt a:visited,
.ext-cal-day-col .ext-cal-evt a:active {
    text-decoration: none;
    color: #fff
}

.ext-cal-evb {
    height: 1px;
    overflow: hidden;
    margin: 0 2px;
    border-top-width: 1px;
    border-top-style: solid;
}
.ext-opera .ext-cal-evb,
.ext-strict .ext-ie .ext-cal-evb {
    height: 0;
}

/* Event spanning -- overrides rounded corners */
.ext-cal-ev-spanboth,
.ext-cal-ev-spanleft,
.ext-cal-ev-spanright {
    -moz-border-radius:0;
    -webkit-border-radius:0;
    border-radius:0;
	position: relative;
}
.ext-cal-ev-spanleft {
    -moz-border-radius-topright:5px;
    -moz-border-radius-bottomright:5px;
    -webkit-border-top-right-radius:5px;
    -webkit-border-bottom-right-radius:5px;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    xpadding-left:5px;
}
.ext-cal-ev-spanright {
    -moz-border-radius-topleft:5px;
    -moz-border-radius-bottomleft:5px;
    -webkit-border-top-left-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    xpadding-right:5px;
}
/* IE/ Opera: */
.ext-cal-ev-spanboth .ext-cal-evm {
	margin: 0;
}
.ext-cal-ev-spanright .ext-cal-evm {
	margin: 0 0 0 -1px;
}
.ext-cal-ev-spanleft .ext-cal-evm {
	margin: 0 -1px 0 0;
}

.ext-cal-spl,
.ext-cal-spr {
/*    background-image:url(../images/default/calendar-sprites.gif);
    background-repeat:no-repeat;
    display: inline-block;
    height: 15px;
    line-height: 15px;
    width: 2px;
	position: absolute;
	top: 0;*/
}
.ext-cal-spl {
    background-position:-1px -11px;
    left: 0;
}
.ext-cal-spr {
    background-position:0 -11px;
    right: -2px;
}
.ext-ie .ext-cal-spr {
    right: -5px;
}

/* Generic calendar icons */
.ext-cal-ic {
    background-image:url(../images/default/calendar-sprites.gif);
    background-repeat:no-repeat;
    display:inline-block;
    height:11px;
    line-height:11px;
    margin-left:4px;
    width:14px;
}
.ext-cal-ic-rcr {
    background-position:0 0;
}
.ext-cal-ic-rem {
    background-position:-14px 0;
}

/* Calendar DD styles */
.ext-cal-dd-sel-ct {
    display: block;
    z-index: 10;
    position: absolute;
    height: 0;
    left: 0;
    top: 0;
    width: 0;
}
.ext-cal-dd-sel {
    background-color: #C3D9FF;
    font-size: 0;
    line-height: 0;
    opacity: 0.5;
    position: absolute;
}

/* Webkit/Gecko: */
.ext-evt-over,
/* IE/Opera: */
.ext-evt-over .ext-cal-evm {
    opacity: .8;
    filter: alpha(opacity=80);
}

/* Calendar Picker */
.ext-calendar-picker .x-form-text {
    padding-left: 27px;
}
.ext-calendar-picker .x-combo-list-item {
    padding-left: 24px;
}
.ext-cal-picker-icon {
    width: 20px;
    height: 16px;
    margin-right: 5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    float: left;
}
/* This is the selected icon that always shows: */
.ext-cal-picker-mainicon {
    float: none;
    position: absolute;
    top: 3px;
    left: 4px;
}

/*
 * Event resize handle
 */
.ext-evt-rsz {
    position: absolute;
    bottom: 0;
    height: 5px;
    line-height: 5px;
    width: 100%;
    text-align: center; /* needed for IE quirks mode */
    cursor: s-resize;
}
.ext-gecko .ext-evt-rsz,
.ext-webkit .ext-evt-rsz {
    cursor: ns-resize;
}
.ext-evt-rsz-h {
    display: none;
    border-top:3px double;
    border-color: white;
    font-size:0;
    height:0;
    line-height:0;
    margin-left:auto;
    margin-right:auto;
    width:20px;
    opacity:.5;
    -moz-opacity:.5;
    -khtml-opacity:.5;
    /* no opacity for ie by default */
}
.ext-evt-over .ext-evt-rsz-h {
    display: block;
}
.ext-ie .ext-evt-rsz-h {
    border-color: #ccc;
}
.ext-strict .ext-ie8 .ext-evt-rsz-h {
    border-color: #fff;
    filter:alpha(opacity=50);
}

.ext-cal-day-col .ext-cal-evt {
    position: absolute;
}
.ext-cal-day-col .ext-cal-evr,
.ext-cal-day-col .ext-cal-evi {
    white-space: normal;
}

/* Shim for drag/drop operations on calendar views */
.ext-dd-shim {
    z-index:8000;
    overflow:hidden;
    position:absolute;
    left:0;top:0;
    opacity:.40;
    -moz-opacity:.40;
	-khtml-opacity:.40;
    filter:alpha(opacity=40);
	background: #C3D9FF;
}

/* StatusProxy override styles */
.ext-dd-ghost-ct {
	color:#000;
	font: normal 11px arial, helvetica, sans-serif;
	border: 1px solid;
    border-color: #ddd #bbb #bbb #ddd;
	background-color:#fff;
	padding:3px;
	padding-left:20px;
	white-space: nowrap;
}
.ext-dd-ghost-ct .x-dd-drag-ghost{
	border: 0;
	background: none;
	padding: 0;
	width: 150px;
}
.ext-dd-ghost-ct .ext-evt-rsz {
    display: none;
}

/*******************************************
 * 
 * Calendar navigation picker styles
 * TODO: make image urls relative
 * 
 ******************************************/
.ext-cal-nav-picker {
    border-style: none none solid;
    border-color: #99BBE8;
}
.ext-cal-nav-picker .x-date-left,
.ext-cal-nav-picker .x-date-middle,
.ext-cal-nav-picker .x-date-right {
    background: url(http://extjs.cachefly.net/ext-3.2.0/resources/images/default/toolbar/bg.gif) repeat-x;
}
.ext-cal-nav-picker .x-date-left a {
    background-image: url(http://extjs.cachefly.net/ext-3.2.0/resources/images/default/grid/page-prev.gif);
}
.ext-cal-nav-picker .x-date-right a {
    background-image: url(http://extjs.cachefly.net/ext-3.2.0/resources/images/default/grid/page-next.gif);
}
.ext-cal-nav-picker .x-date-middle {
    padding: 3px 0;
}
.ext-cal-nav-picker .x-date-middle .x-btn-text {
    color: #555;
    font-weight: bold;
}
.ext-cal-nav-picker .x-date-middle .x-btn-mc em.x-btn-arrow {
    background-image: url(http://extjs.cachefly.net/ext-3.2.0/resources/images/default/button/arrow.gif);
    background-position: right 4px;
}
.ext-cal-nav-picker .x-date-inner {
    border-top: 1px solid #BBCCFF;
}
.ext-cal-nav-picker .x-date-inner th {
    background: none;
    border-bottom: 1px solid #BBCCFF;
}
.ext-cal-nav-picker .x-date-inner .x-date-today a {
    border-color: #BFA52F;
    background: #FFF4BF;
}

/*******************************************
 * 
 * Calendar editor window styles
 *
 ******************************************/
.ext-cal-evt-win {
    z-index: 12100;
}
.ext-gecko .ext-cal-event-win .x-window-body .x-form-item {
    overflow: hidden;
}
.ext-cal-event-win .x-window-body .x-form {
    background: transparent;
}
.ext-cal-event-win a:link,
.ext-cal-event-win a:visited {
    color: #15428B;
}

/*******************************************
 * 
 * Calendar form styles
 *
 ******************************************/
.ext-evt-edit-form {
    height: 100%;
}
.ext-evt-edit-form .x-form-item {
    margin-bottom: 8px;
}
.ext-evt-edit-form .x-panel-bbar .x-toolbar {
    border-bottom: 1px solid #99BBE8;
}
.ext-evt-edit-form .x-panel-header {
    background: transparent url(../images/default/ext-cal-edit-hd.png) repeat-x;
    padding: 9px 0 4px 5px !important;
    font-size: 13px !important;
    font-family: helvetica, arial, sans-serif;
    border-top: 0;
    border-bottom: 1px solid #BBCCFF;
}
.x-panel-mc .ext-evt-edit-form .x-panel-header {
   border-top: 1px solid #99BBE8;
}
.ext-evt-edit-form .x-panel-fbar {
    padding: 5px 10px;
    background: #DFE8F6;
    border: 1px solid #BBCCFF;
}

/*******************************************
 * 
 * DateRangeField styles
 *
 ******************************************/
.ext-dt-range label {
    font-size: 12px;
}
.ext-dt-range .x-form-check-wrap {
    white-space: nowrap;
    line-height: 15px;
}
.ext-dt-range .x-table-layout-cell {
    padding-right: 5px;
}
.ext-dt-range-row1 .x-table-layout-cell {
    padding-bottom: 4px;
}

/*******************************************
 * 
 * ContextMenu styles
 *
 ******************************************/
.extensible-cal-icon-evt-edit {
    background-image:url(../images/default/silk/calendar_edit.png) !important;
}
.extensible-cal-icon-evt-del {
    background-image:url(../images/default/silk/cross.png) !important;
}
.extensible-cal-icon-evt-move {
    background-image:url(../images/default/silk/date_go.png) !important;
}

/*******************************************
 * 
 * CalendarList styles
 *
 ******************************************/
.x-calendar-list .x-panel-body {
    padding: 4px 2px 2px;
    background: #fff !important;
    font-family: helvetica, arial, sans-serif;
    font-size: 12px;
    border-bottom: 1px solid #99BBE8;
}
.x-calendar-list .x-panel-header-text {
    color: #555;
}
.x-calendar-list li {
    position: relative;
    margin-bottom: 2px;
    cursor: pointer;
}
.x-calendar-list li em {
    background-image: url(../images/default/calendar-sprites.gif);
    background-repeat: no-repeat;
    display: inline-block;
    position: absolute;
    height: 11px;
    line-height: 11px;
    width: 12px;
    top: 2px;
    background-position: -40px 0;
    right: 0;
}
.x-calendar-list .hover em {
    background-position: -28px 0;
    right: 2px;
    opacity:.7;
    -moz-opacity:.7;
}
.x-calendar-list .ext-cal-evr {
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
}
.x-calendar-list .ext-cal-hidden,
/* IE/Opera: */
.x-calendar-list .ext-cal-hidden .ext-cal-evi {
    background-image: url(../images/default/ext-cal-list-hidden.png);
    background-repeat: no-repeat;
    background-position: top right;
    opacity:.5;
    -moz-opacity:.5;
}
.ext-ie .x-calendar-list .ext-cal-hidden {
    filter: alpha(opacity=50);
    zoom: 1;
}
.ext-ie .x-calendar-list .ext-cal-hidden .ext-cal-evi  {
    /* the following works around an IE bug that won't apply the opacity filter correctly without dimensions */
    width: 100%;
    height: 100%;
}
.ext-ie6 .x-calendar-list .ext-cal-hidden .ext-cal-evi {
    background-image: url(../images/default/ext-cal-list-hidden-ie6.png);
}
.extensible-cal-icon-cal-show {
    background-image:url(../images/default/silk/calendar_view_month.png) !important;
}
.extensible-cal-icon-cal-colors {
    background-image:url(../images/default/silk/color_wheel.png) !important;
}
/*******************************************
 * 
 * Calendar event colors
 * 
 ******************************************/
/*
 * This is the text color for all-day and span events.
 * Changing this will affect all events across all calendars.
 */
.ext-cal-evr,
.ext-cal-evi,
.ext-cal-evt dl {
    color: #fff;
}

/*========================================================
 * The following block defines the default event styles 
 * used when no calendar info is available. It includes all
 * of the rules necessary to style a specific calendar.
 */
/* The text color for non-all-day events that have no background color */
.x-cal-default,
.x-cal-default-x .ext-cal-evb,
.ext-ie .x-cal-default-ad,
.ext-opera .x-cal-default-ad {
    color: #668CB3;
}
/* 
 * The background color for all-day and span events.  Sorry for all the rules,
 * they are mostly to accommodate browsers that do not handle border-radius.
 */
.ext-cal-day-col .x-cal-default,
.ext-dd-drag-proxy .x-cal-default,
.x-cal-default-ad,
.x-cal-default-ad .ext-cal-evm,
.x-cal-default .ext-cal-picker-icon,
.x-cal-default-x dl,
.x-calendar-list-menu li em .x-cal-default {
    background: #668CB3;
}
/*  END of default event styles
 * ========================================================
 */

/*
 * The block above defines the 3 rules required to style one calendar.
 * The following blocks are the exact same rules, but with different 
 * color definitions for each unique calendar.  Each specific calendar
 * has the default class name prefix "x-cal-" plus the calendar's unique class
 * id. To customize these colors you can simply alter the colors of existing
 * calendars, or you can create new style definitions as below, just making
 * sure that the class name you choose matches the StyleClass defined in your 
 * calendar store.
 */
/* ===== x-cal-1 ===== */
.x-cal-1,
.x-cal-1-x .ext-cal-evb,
.ext-ie .x-cal-1-ad,
.ext-opera .x-cal-1-ad {
    color: #fa7166;
}
.ext-cal-day-col .x-cal-1,
.ext-dd-drag-proxy .x-cal-1,
.x-cal-1-ad,
.x-cal-1-ad .ext-cal-evm,
.x-cal-1 .ext-cal-picker-icon,
.x-cal-1-x dl,
.x-calendar-list-menu li em .x-cal-1 {
    background: #fa7166;
}

/* ===== x-cal-2 ===== */
.x-cal-2,
.x-cal-2-x .ext-cal-evb,
.ext-ie .x-cal-2-ad,
.ext-opera .x-cal-2-ad {
    color: #cf2424;
}
.ext-cal-day-col .x-cal-2,
.ext-dd-drag-proxy .x-cal-2,
.x-cal-2-ad,
.x-cal-2-ad .ext-cal-evm,
.x-cal-2 .ext-cal-picker-icon,
.x-cal-2-x dl,
.x-calendar-list-menu li em .x-cal-2 {
    background: #cf2424;
}
.x-cal-2.ext-cal-evr,
.x-cal-2-x .ext-cal-evb,
.x-cal-2-x dl {
    xborder-color: #555;
}

/* ===== x-cal-3 ===== */
.x-cal-3,
.x-cal-3-x .ext-cal-evb,
.ext-ie .x-cal-3-ad,
.ext-opera .x-cal-3-ad {
    color: #a01a1a;
}
.ext-cal-day-col .x-cal-3,
.ext-dd-drag-proxy .x-cal-3,
.x-cal-3-ad,
.x-cal-3-ad .ext-cal-evm,
.x-cal-3 .ext-cal-picker-icon,
.x-cal-3-x dl,
.x-calendar-list-menu li em .x-cal-3 {
    background: #a01a1a;
}

/* ===== x-cal-4 ===== */
.x-cal-4,
.x-cal-4-x .ext-cal-evb,
.ext-ie .x-cal-4-ad,
.ext-opera .x-cal-4-ad {
    color: #7e3838;
}
.ext-cal-day-col .x-cal-4,
.ext-dd-drag-proxy .x-cal-4,
.x-cal-4-ad,
.x-cal-4-ad .ext-cal-evm,
.x-cal-4 .ext-cal-picker-icon,
.x-cal-4-x dl,
.x-calendar-list-menu li em .x-cal-4 {
    background: #7e3838;
}

/* ===== x-cal-5 ===== */
.x-cal-5,
.x-cal-5-x .ext-cal-evb,
.ext-ie .x-cal-5-ad,
.ext-opera .x-cal-5-ad {
    color: #ca7609;
}
.ext-cal-day-col .x-cal-5,
.ext-dd-drag-proxy .x-cal-5,
.x-cal-5-ad,
.x-cal-5-ad .ext-cal-evm,
.x-cal-5 .ext-cal-picker-icon,
.x-cal-5-x dl,
.x-calendar-list-menu li em .x-cal-5 {
    background: #ca7609;
}

/* ===== x-cal-6 ===== */
.x-cal-6,
.x-cal-6-x .ext-cal-evb,
.ext-ie .x-cal-6-ad,
.ext-opera .x-cal-6-ad {
    color: #f88015;
}
.ext-cal-day-col .x-cal-6,
.ext-dd-drag-proxy .x-cal-6,
.x-cal-6-ad,
.x-cal-6-ad .ext-cal-evm,
.x-cal-6 .ext-cal-picker-icon,
.x-cal-6-x dl,
.x-calendar-list-menu li em .x-cal-6 {
    background: #f88015;
}

/* ===== x-cal-7 ===== */
.x-cal-7,
.x-cal-7-x .ext-cal-evb,
.ext-ie .x-cal-7-ad,
.ext-opera .x-cal-7-ad {
    color: #eda12a;
}
.ext-cal-day-col .x-cal-7,
.ext-dd-drag-proxy .x-cal-7,
.x-cal-7-ad,
.x-cal-7-ad .ext-cal-evm,
.x-cal-7 .ext-cal-picker-icon,
.x-cal-7-x dl,
.x-calendar-list-menu li em .x-cal-7 {
    background: #eda12a;
}

/* ===== x-cal-8 ===== */
.x-cal-8,
.x-cal-8-x .ext-cal-evb,
.ext-ie .x-cal-8-ad,
.ext-opera .x-cal-8-ad {
    color: #d5b816;
}
.ext-cal-day-col .x-cal-8,
.ext-dd-drag-proxy .x-cal-8,
.x-cal-8-ad,
.x-cal-8-ad .ext-cal-evm,
.x-cal-8 .ext-cal-picker-icon,
.x-cal-8-x dl,
.x-calendar-list-menu li em .x-cal-8 {
    background: #d5b816;
}

/* ===== x-cal-9 ===== */
.x-cal-9,
.x-cal-9-x .ext-cal-evb,
.ext-ie .x-cal-9-ad,
.ext-opera .x-cal-9-ad {
    color: #e281ca;
}
.ext-cal-day-col .x-cal-9,
.ext-dd-drag-proxy .x-cal-9,
.x-cal-9-ad,
.x-cal-9-ad .ext-cal-evm,
.x-cal-9 .ext-cal-picker-icon,
.x-cal-9-x dl,
.x-calendar-list-menu li em .x-cal-9 {
    background: #e281ca;
}

/* ===== x-cal-10 ===== */
.x-cal-10,
.x-cal-10-x .ext-cal-evb,
.ext-ie .x-cal-10-ad,
.ext-opera .x-cal-10-ad {
    color: #bf53a4;
}
.ext-cal-day-col .x-cal-10,
.ext-dd-drag-proxy .x-cal-10,
.x-cal-10-ad,
.x-cal-10-ad .ext-cal-evm,
.x-cal-10 .ext-cal-picker-icon,
.x-cal-10-x dl,
.x-calendar-list-menu li em .x-cal-10 {
    background: #bf53a4;
}

/* ===== x-cal-11 ===== */
.x-cal-11,
.x-cal-11-x .ext-cal-evb,
.ext-ie .x-cal-11-ad,
.ext-opera .x-cal-11-ad {
    color: #9d3283;
}
.ext-cal-day-col .x-cal-11,
.ext-dd-drag-proxy .x-cal-11,
.x-cal-11-ad,
.x-cal-11-ad .ext-cal-evm,
.x-cal-11 .ext-cal-picker-icon,
.x-cal-11-x dl,
.x-calendar-list-menu li em .x-cal-11 {
    background: #9d3283;
}

/* ===== x-cal-12 ===== */
.x-cal-12,
.x-cal-12-x .ext-cal-evb,
.ext-ie .x-cal-12-ad,
.ext-opera .x-cal-12-ad {
    color: #7a0f60;
}
.ext-cal-day-col .x-cal-12,
.ext-dd-drag-proxy .x-cal-12,
.x-cal-12-ad,
.x-cal-12-ad .ext-cal-evm,
.x-cal-12 .ext-cal-picker-icon,
.x-cal-12-x dl,
.x-calendar-list-menu li em .x-cal-12 {
    background: #7a0f60;
}

/* ===== x-cal-13 ===== */
.x-cal-13,
.x-cal-13-x .ext-cal-evb,
.ext-ie .x-cal-13-ad,
.ext-opera .x-cal-13-ad {
    color: #542382;
}
.ext-cal-day-col .x-cal-13,
.ext-dd-drag-proxy .x-cal-13,
.x-cal-13-ad,
.x-cal-13-ad .ext-cal-evm,
.x-cal-13 .ext-cal-picker-icon,
.x-cal-13-x dl,
.x-calendar-list-menu li em .x-cal-13 {
    background: #542382;
}

/* ===== x-cal-14 ===== */
.x-cal-14,
.x-cal-14-x .ext-cal-evb,
.ext-ie .x-cal-14-ad,
.ext-opera .x-cal-14-ad {
    color: #7742a9;
}
.ext-cal-day-col .x-cal-14,
.ext-dd-drag-proxy .x-cal-14,
.x-cal-14-ad,
.x-cal-14-ad .ext-cal-evm,
.x-cal-14 .ext-cal-picker-icon,
.x-cal-14-x dl,
.x-calendar-list-menu li em .x-cal-14 {
    background: #7742a9;
}

/* ===== x-cal-15 ===== */
.x-cal-15,
.x-cal-15-x .ext-cal-evb,
.ext-ie .x-cal-15-ad,
.ext-opera .x-cal-15-ad {
    color: #8763ca;
}
.ext-cal-day-col .x-cal-15,
.ext-dd-drag-proxy .x-cal-15,
.x-cal-15-ad,
.x-cal-15-ad .ext-cal-evm,
.x-cal-15 .ext-cal-picker-icon,
.x-cal-15-x dl,
.x-calendar-list-menu li em .x-cal-15 {
    background: #8763ca;
}

/* ===== x-cal-16 ===== */
.x-cal-16,
.x-cal-16-x .ext-cal-evb,
.ext-ie .x-cal-16-ad,
.ext-opera .x-cal-16-ad {
    color: #b586e2;
}
.ext-cal-day-col .x-cal-16,
.ext-dd-drag-proxy .x-cal-16,
.x-cal-16-ad,
.x-cal-16-ad .ext-cal-evm,
.x-cal-16 .ext-cal-picker-icon,
.x-cal-16-x dl,
.x-calendar-list-menu li em .x-cal-16 {
    background: #b586e2;
}

/* ===== x-cal-17 ===== */
.x-cal-17,
.x-cal-17-x .ext-cal-evb,
.ext-ie .x-cal-17-ad,
.ext-opera .x-cal-17-ad {
    color: #7399f9;
}
.ext-cal-day-col .x-cal-17,
.ext-dd-drag-proxy .x-cal-17,
.x-cal-17-ad,
.x-cal-17-ad .ext-cal-evm,
.x-cal-17 .ext-cal-picker-icon,
.x-cal-17-x dl,
.x-calendar-list-menu li em .x-cal-17 {
    background: #7399f9;
}

/* ===== x-cal-18 ===== */
.x-cal-18,
.x-cal-18-x .ext-cal-evb,
.ext-ie .x-cal-18-ad,
.ext-opera .x-cal-18-ad {
    color: #4e79e6;
}
.ext-cal-day-col .x-cal-18,
.ext-dd-drag-proxy .x-cal-18,
.x-cal-18-ad,
.x-cal-18-ad .ext-cal-evm,
.x-cal-18 .ext-cal-picker-icon,
.x-cal-18-x dl,
.x-calendar-list-menu li em .x-cal-18 {
    background: #4e79e6;
}

/* ===== x-cal-19 ===== */
.x-cal-19,
.x-cal-19-x .ext-cal-evb,
.ext-ie .x-cal-19-ad,
.ext-opera .x-cal-19-ad {
    color: #2951b9;
}
.ext-cal-day-col .x-cal-19,
.ext-dd-drag-proxy .x-cal-19,
.x-cal-19-ad,
.x-cal-19-ad .ext-cal-evm,
.x-cal-19 .ext-cal-picker-icon,
.x-cal-19-x dl,
.x-calendar-list-menu li em .x-cal-19 {
    background: #2951b9;
}

/* ===== x-cal-20 ===== */
.x-cal-20,
.x-cal-20-x .ext-cal-evb,
.ext-ie .x-cal-20-ad,
.ext-opera .x-cal-20-ad {
    color: #133897;
}
.ext-cal-day-col .x-cal-20,
.ext-dd-drag-proxy .x-cal-20,
.x-cal-20-ad,
.x-cal-20-ad .ext-cal-evm,
.x-cal-20 .ext-cal-picker-icon,
.x-cal-20-x dl,
.x-calendar-list-menu li em .x-cal-20 {
    background: #133897;
}

/* ===== x-cal-21 ===== */
.x-cal-21,
.x-cal-21-x .ext-cal-evb,
.ext-ie .x-cal-21-ad,
.ext-opera .x-cal-21-ad {
    color: #1a5173;
}
.ext-cal-day-col .x-cal-21,
.ext-dd-drag-proxy .x-cal-21,
.x-cal-21-ad,
.x-cal-21-ad .ext-cal-evm,
.x-cal-21 .ext-cal-picker-icon,
.x-cal-21-x dl,
.x-calendar-list-menu li em .x-cal-21 {
    background: #1a5173;
}

/* ===== x-cal-22 ===== */
.x-cal-22,
.x-cal-22-x .ext-cal-evb,
.ext-ie .x-cal-22-ad,
.ext-opera .x-cal-22-ad {
    color: #1a699c;
}
.ext-cal-day-col .x-cal-22,
.ext-dd-drag-proxy .x-cal-22,
.x-cal-22-ad,
.x-cal-22-ad .ext-cal-evm,
.x-cal-22 .ext-cal-picker-icon,
.x-cal-22-x dl,
.x-calendar-list-menu li em .x-cal-22 {
    background: #1a699c;
}

/* ===== x-cal-23 ===== */
.x-cal-23,
.x-cal-23-x .ext-cal-evb,
.ext-ie .x-cal-23-ad,
.ext-opera .x-cal-23-ad {
    color: #3694b7;
}
.ext-cal-day-col .x-cal-23,
.ext-dd-drag-proxy .x-cal-23,
.x-cal-23-ad,
.x-cal-23-ad .ext-cal-evm,
.x-cal-23 .ext-cal-picker-icon,
.x-cal-23-x dl,
.x-calendar-list-menu li em .x-cal-23 {
    background: #3694b7;
}

/* ===== x-cal-24 ===== */
.x-cal-24,
.x-cal-24-x .ext-cal-evb,
.ext-ie .x-cal-24-ad,
.ext-opera .x-cal-24-ad {
    color: #64b9d9;
}
.ext-cal-day-col .x-cal-24,
.ext-dd-drag-proxy .x-cal-24,
.x-cal-24-ad,
.x-cal-24-ad .ext-cal-evm,
.x-cal-24 .ext-cal-picker-icon,
.x-cal-24-x dl,
.x-calendar-list-menu li em .x-cal-24 {
    background: #64b9d9;
}

/* ===== x-cal-25 ===== */
.x-cal-25,
.x-cal-25-x .ext-cal-evb,
.ext-ie .x-cal-25-ad,
.ext-opera .x-cal-25-ad {
    color: #a8c67b;
}
.ext-cal-day-col .x-cal-25,
.ext-dd-drag-proxy .x-cal-25,
.x-cal-25-ad,
.x-cal-25-ad .ext-cal-evm,
.x-cal-25 .ext-cal-picker-icon,
.x-cal-25-x dl,
.x-calendar-list-menu li em .x-cal-25 {
    background: #a8c67b;
}

/* ===== x-cal-26 ===== */
.x-cal-26,
.x-cal-26-x .ext-cal-evb,
.ext-ie .x-cal-26-ad,
.ext-opera .x-cal-26-ad {
    color: #83ad47;
}
.ext-cal-day-col .x-cal-26,
.ext-dd-drag-proxy .x-cal-26,
.x-cal-26-ad,
.x-cal-26-ad .ext-cal-evm,
.x-cal-26 .ext-cal-picker-icon,
.x-cal-26-x dl,
.x-calendar-list-menu li em .x-cal-26 {
    background: #83ad47;
}

/* ===== x-cal-27 ===== */
.x-cal-27,
.x-cal-27-x .ext-cal-evb,
.ext-ie .x-cal-27-ad,
.ext-opera .x-cal-27-ad {
    color: #2e8f0c;
}
.ext-cal-day-col .x-cal-27,
.ext-dd-drag-proxy .x-cal-27,
.x-cal-27-ad,
.x-cal-27-ad .ext-cal-evm,
.x-cal-27 .ext-cal-picker-icon,
.x-cal-27-x dl,
.x-calendar-list-menu li em .x-cal-27 {
    background: #2e8f0c;
}

/* ===== x-cal-28 ===== */
.x-cal-28,
.x-cal-28-x .ext-cal-evb,
.ext-ie .x-cal-28-ad,
.ext-opera .x-cal-28-ad {
    color: #176413;
}
.ext-cal-day-col .x-cal-28,
.ext-dd-drag-proxy .x-cal-28,
.x-cal-28-ad,
.x-cal-28-ad .ext-cal-evm,
.x-cal-28 .ext-cal-picker-icon,
.x-cal-28-x dl,
.x-calendar-list-menu li em .x-cal-28 {
    background: #176413;
}

/* ===== x-cal-29 ===== */
.x-cal-29,
.x-cal-29-x .ext-cal-evb,
.ext-ie .x-cal-29-ad,
.ext-opera .x-cal-29-ad {
    color: #0f4c30;
}
.ext-cal-day-col .x-cal-29,
.ext-dd-drag-proxy .x-cal-29,
.x-cal-29-ad,
.x-cal-29-ad .ext-cal-evm,
.x-cal-29 .ext-cal-picker-icon,
.x-cal-29-x dl,
.x-calendar-list-menu li em .x-cal-29 {
    background: #0f4c30;
}

/* ===== x-cal-30 ===== */
.x-cal-30,
.x-cal-30-x .ext-cal-evb,
.ext-ie .x-cal-30-ad,
.ext-opera .x-cal-30-ad {
    color: #386651;
}
.ext-cal-day-col .x-cal-30,
.ext-dd-drag-proxy .x-cal-30,
.x-cal-30-ad,
.x-cal-30-ad .ext-cal-evm,
.x-cal-30 .ext-cal-picker-icon,
.x-cal-30-x dl,
.x-calendar-list-menu li em .x-cal-30 {
    background: #386651;
}

/* ===== x-cal-31 ===== */
.x-cal-31,
.x-cal-31-x .ext-cal-evb,
.ext-ie .x-cal-31-ad,
.ext-opera .x-cal-31-ad {
    color: #3ea987;
}
.ext-cal-day-col .x-cal-31,
.ext-dd-drag-proxy .x-cal-31,
.x-cal-31-ad,
.x-cal-31-ad .ext-cal-evm,
.x-cal-31 .ext-cal-picker-icon,
.x-cal-31-x dl,
.x-calendar-list-menu li em .x-cal-31 {
    background: #3ea987;
}

/* ===== x-cal-32 ===== */
.x-cal-32,
.x-cal-32-x .ext-cal-evb,
.ext-ie .x-cal-32-ad,
.ext-opera .x-cal-32-ad {
    color: #7bc3b5;
}
.ext-cal-day-col .x-cal-32,
.ext-dd-drag-proxy .x-cal-32,
.x-cal-32-ad,
.x-cal-32-ad .ext-cal-evm,
.x-cal-32 .ext-cal-picker-icon,
.x-cal-32-x dl,
.x-calendar-list-menu li em .x-cal-32 {
    background: #7bc3b5;
}
/*******************************************
 * Extensible recurrence control styles
 *
 ******************************************/
.extensible-recur-ct .x-table-layout-ct {
    margin-top: 5px;
}
.extensible-recur-ct .x-table-layout-cell {
    padding-right: 5px;
    font-size: 12px;
}
.extensible-recur-ct .x-form-check-wrap {
    white-space: nowrap;
    margin-right: 10px;
}
.extensible-recur-ct .x-form-check-group .x-column {
    xmargin-right: 5px;
}
.extensible-recur-inner-ct {
    padding-left: 10px;
    border-left: 2px solid #ddd;
}
.x-panel-mc .extensible-recur-inner-ct {
    /* inside a framed panel with a blue bg */
    border-left: 2px solid #A7C5DF;
}