@charset "utf-8";
/* CSS Document */
.cleaner{
	font-size: 0px;
	padding: 0px;
	clear: both;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}

.text_zoe{
	margin-left:10px;
	padding-top:2px;
}

space_right{
	margin-right: 0px;
}

.text_30{
	margin-left:30px;
	padding-top:2px;
}

.form_zoe{
	margin:5px 2px 2px 5px;
	border:0px;

}

.space_zoe {
	padding-left: 5px;
}

.top_zoe {
	padding-top: 5px;
}
/*
.left_zoe {
	padding-right: 5px;
	float: left;*/

.left_zoe{
	margin-right:5px;
	float:left;
}

.right_zoe {
	padding-right: 5px;
	float: right;
}

.fila_zoe {
	clear: both;
	padding-top: 3px;
}

.titulo_zoe{
	font-weight:bold;
	font-family:Tahoma, Geneva, sans-serif;
	vertical-align:middle;
	font-size:12px;
}
.css-promo-inventario{
    color: #7125D8;
}

/*dataview
/*!
 * Ext JS Library 3.3.1
 * Copyright(c) 2006-2010 Sencha Inc.
 * licensing@sencha.com
 * http://www.sencha.com/license
 */
#images-view .x-panel-body{
	background: white;
	font: 11px Arial, Helvetica, sans-serif;
}
#images-view .thumb{
	background: #dddddd;
	padding: 3px;
}
#images-view .thumb img{
	height: 180px;
	width: 180px;
}
#images-view .thumb-wrap{
	float: left;
	margin: 4px;
	margin-right: 0;
	padding: 5px;
}
#images-view .thumb-wrap span{
	display: block;
	overflow: hidden;
	text-align: center;
}

#images-view .x-view-over{
    border:1px solid #dddddd;
    background: #efefef url(../../resources/images/default/grid/row-over.gif) repeat-x left top;
	padding: 4px;
}

#images-view .x-view-selected{
	background: #eff5fb url(images/selected.gif) no-repeat right bottom;
	border:1px solid #99bbe8;
	padding: 4px;
}
#images-view .x-view-selected .thumb{
	background:transparent;
}

#images-view .loading-indicator {
	font-size:11px;
	background-image:url('../../resources/images/default/grid/loading.gif');
	background-repeat: no-repeat;
	background-position: left;
	padding-left:20px;
	margin:10px;
}
.imagenpubli{
	float: left;
	width: 85px;
	height: 60px;
	margin-bottom: 3px;
	margin-top: 5px;
}
.textconatiner{
	float: left;
	width: 150px;
	margin-bottom: 3px;
	height: 50px;
	line-height: 10px;
	margin-right: 15px;
	margin-left: 3px;
	margin-top: 2px;
	color: black;
}
.footerk{
	height: 70px;margin-left: 30px;margin-right: 30px;	
}
.hbactivo{
	color:#0564D8;
	size:12px;
	font:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.texto_azul{
	color:#0150C5;
	size:12px;
	font:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}
.hbinactivo{
	color:#F2390B;
	size:12px;
	font:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.hbreserva{
	color:#3A7844;
	size:12px;
	font:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.hbocupado{
	color:#382798;
	size:12px;
	font:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}
.bmenu {
    background-image: url(menu-show.gif) !important;
}

.texto_login{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#666666;
	font-size:12px;
	line-height:120%;
	padding-left:5px;
	padding-right:5px;
	vertical-align:middle;
}

.reserva_texto{
	width:30px;
	font-family:Tahoma, Geneva, sans-serif;
	vertical-align:middle;
	font-size:11px;
}

.reserva_block{
	color:#E22605
}

.reserva_ocupa{
	color:#1E7337
}
.lista-promocion{
	width:910px;
	height:20px;
	border-bottom:2px solid #DADADA;;
}
.lista{
	float: left;
	width:558px;
}
.tipo-habitacion{
	float: left;
	width:125px;
}
.lista-fecha{
	float: left;
	width:125px;
}
.lista-hotel{
	float: left;
    width: 120px;
}
.label{
	font-weight: bold;
}
.lista-descripcion{
	width:910px;
}
.lista-descripcion1{
	width:920px;
    
}
.lista-content-desc{
	margin-top: 20px;
	height: 200px;
	border-bottom: 1px solid #CCC;
}
.lista-img{
	float: left;
	padding-right: 15px;
}
.lista-img a img{
    width: 170px;
}

.lista-content{
	float: left;
	width: 720px;
}
.listado-desc{
	float: left;
	width: 375px;
}
.titulo-lista span{
	display: block;
	font: bold 14px Arial;
	color: #000;
}
.content-lista-desc{
	float: left;
	width: 330px;
	margin-top: 25px;
}
.lista-desc-hotel p{
	font-size: 12px;
}
.lista-desc-hotel{
	margin-top: 10px;
}
.lista-habi-hotel{
	float: left;
	width: 125px;
}
.lista-habi-hotel p{
	font-size: 12px;
}
.lista-fecha-hotel{
	float: left;
	width: 130px;
}
.lista-fecha-hotel p{
	font-size: 12px;
}
.lista-nombre-hotel{
	float: left;
	width:120px;
}
.lista-nombre-hotel p{
	font-size: 12px;
}
.lista-bottom{
	float: left;
}
.lista-bottom input{
    background: #00B496;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 5px;
    padding-top: 5px;
    color: #fff;
    font: 10px Verdana,Arial,Helvetica,Sans-Serif;
	font-weight: bold;
	border: 1px solid white;
	margin: 1px;
	display: block;
}
.lista-bottom input:hover{
	border:1px solid white;
    background: #3EE2C7;
}
.separador{
	height:5px;
	background:#6F5B54;
}
.promociones{
	display: block;
	height:150px;	
}
.publi_title{
    
}
.publi_title h1{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}
.publi_desc{
    font-size: 13px;
    line-height: 20px;
    padding-right: 20px;
}
.publi_img img{
    margin-top: 60px;
    width: 220px;
}
.content_publi{
    margin-right: 5px;
    float: left;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 30px;
}
.lista-publi{
    width: 700px;
}
.lista-publi p{
    line-height: 20px;
    font-size: 15px;
}
.publi-titulo span a{
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #666;
    padding-bottom: 20px;
}
.publi-titulo{
    padding-bottom: 15px;
}
.paginationControl{
    padding-top: 10px;
    font-weight: bold;
    font-size: 12px;
}
.paginationControl span{
    font-size: 13px;
    font-weight: bold;
}
.pro-desc{
    width: 70%;
    float: left;
}
.pro-title{
    
}
.pro-title h1{
    font-size: 18px;
    font-weight: bold;
}
.pro-desc-cont{
    
}
.pro-desc-cont h2{
    font-size: 16px;
    padding-bottom: 10px;
    padding-top: 15px;
}
.pro-desc-cont p{
    line-height: 20px;
    padding-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.pro-desc-cont p strong{
    padding-top: 5px;
}
.pro-desc-cont ul{
    
}
.pro-desc-cont ul li{
    font-size: 12px;
    line-height: 20px;
    list-style: square;
}
.pro-desc-cont b{
    
}
.pro-img{
    float: left;
}
.pro-img img{
    margin: 0px 0px 0px 20px;
    border: 3px solid #666;
}
#cont-fomulario{
    
    color: white;
    text-align: center;
    overflow: hidden;
    width: 323px;
    background-color: #D2C8BF;
    height: auto;
    margin-left: 300px;
    margin-top: 300px
        
}
.content-img-desc{
    height: 210px;
    border-bottom: 2px solid #CCC;
    margin-top: 20px;
}