/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
}
a{
    font-family:Arial;
}
span{
    font-family:Arial;
}
body {
    line-height: 1;
    background-color: #705c55;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

/* remember to define focus styles! */
:focus {
    outline: 0;
}

del {
    text-decoration: line-through;
}
/* remember to highlight inserts somehow! */
ins {
    text-decoration: none;
}
input {
    padding: 1px 1px;
}

label, .label {
    font-size: 0.9em;
    margin-right: 4px;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}
fieldset {
    border: 0;
    margin: 0 0;
    padding: 0;
}
form dl, form dt, form dd {
    margin: 0;
    padding: 0;
}

#header{
    width:960px;
}

#footer{
    width: 960px;
    margin-bottom: 10px;
    height:75px;
}
.footer-direccion{
    width:810px;
    float: left;
    /*background: url("../../../img/hotel/images/footer-back.png") no-repeat;*/
}
.footer-direccion-supe{
    width:960px;
    float: left;
    background: url("../../../img/hotel/images/footer-back.png") no-repeat;
}
.direccion1{
    font-family: Arial;
    letter-spacing:0.3em;
    font-size:14px;
    color: #fbd7bb;
    padding-top:15px;
    padding-left: 10px;
    padding-bottom: 15px;
    float: left;
}
.terminos{
    font-family: Arial;
    color: #b6aca4;
    font-size:13px;
    padding-left:70px;
}
.footer-negrita{
    color: #000;
}
.footer-imagen{
    width:125px;
    height:75px;
    float: left;
    padding-left: 25px;
}
#main{
    width:100%;
    display: block;
    height:100%;
    background: #281E1C;
}

#wrapper{
    width: 960px;
    margin: 0px auto;
    height: auto;
    overflow: hidden;
}
.main-qphotels{
    width:100%;
    height:355px;
    margin-bottom: 7px;
    background: #705c55;
}
.main-qphotels-360{
    width:100%;
    height:390px;
    background: #281e1c;
    padding-bottom: 8px;
}
.logo-qp{
    width:145px;
    height:355px;
    float: left;
}
.logo-qp-205{
    width: 190px;
    height: 355px;
    float: left;
    padding-right: 15px;
    background: #281E1C url("../../../img/hotel/images/qp-lima.jpg") no-repeat;
}
.logo-qp-205-1{
    width: 190px;
    height: 355px;
    float: left;
    padding-right: 15px;
    background: #281E1C url("../../../img/hotel/images/qp-arequipa.jpg") no-repeat;
}

.img-home{
    width:540px;
    height:355px;
    float: left;
    overflow: hidden;
}
.reserva-qp{
    width:275px;
    height:355px;
    float: left;
    background: #b09e90 url("../../../img/hotel/images/qp-logo.png") no-repeat;
    /*text-align: center;*/
    overflow: hidden;
}
.reserva-qp-360{
    width:275px;
    height:390px;
    float: left;
    background: #b09e90 url("../../../img/hotel/images/qp-logo.png") no-repeat;
    overflow: hidden;
}

.enjoy-360{
    display: block;
    width:685px;
    height:390px;
    float: left;
}
.enjoy-content{
    display: block;
    width:685px;
    height:90px;
    background: #281e1c;
}
.enjoy-logo{
    width:205px;
    height:90px;
    float: left;
}
.enjoy-menu{
    width:480px;
    height:90px;
    float: left;
}
.enjoy-sub-menu{
    width:105px;
    height:90px;
    margin-right: 15px;
    float: left;
}
.enjoy-sub-menu *{
    position: relative;
    top:20px;
}
.titulo-banner-1{
    position: relative;
    z-index: 100;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    float: right;
    top: 5px;
    padding-right: 8px;
}
.titulo-banner-2{
    position: relative;
    z-index: 100;
    color: #e42625;
    font-weight: bold;
    font-size: 14px;
    float: right;
    top: 5px;
    padding-right: 8px;
}
.titulo-banner-3{
    position: relative;
    z-index: 100;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    float: right;
    top: 5px;
    padding-right: 8px;
}
.titulo-banner-4{
    position: relative;
    z-index: 100;
    color: #e42625;
    font-weight: bold;
    font-size: 14px;
    float: right;
    top: 5px;
    padding-right: 8px;
}
.color-enjoy1 p a{
    color: #fff;
    text-decoration:none;
    float: right;
    font-weight: bold;
    padding-right:5px;
    font-size:15px;
}
.color-enjoy2 p a{
    color: #e51e21;
    text-decoration:none;
    float: right;
    font-weight: bold;
    padding-right:5px;
    font-size:15px;
}
.color-enjoy3 p a{
    color: #fff;
    text-decoration:none;
    float: right;
    font-weight: bold;
    padding-right:5px;
    font-size:15px;
}
.color-enjoy4 p a{
    color: #e51e21;
    text-decoration:none;
    float: right;
    font-weight: bold;
    padding-right:5px;
    font-size:15px;
}
.hover_block li.enjoy-sub-menu a{text-align:center;}
.hover_block li.enjoy-sub-menu a span{float:none;padding:0px !important;}
.enjoy-back-1{
    background: url("../../../img/hotel/images/enjoy-sub-menu-1.png") repeat-x;
}
.enjoy-back-2{
    background: url("../../../img/hotel/images/enjoy-sub-menu-2.png") repeat-x;	
}
.enjoy-back-3{
    background: url("../../../img/hotel/images/enjoy-sub-menu-3.png") repeat-x;
}
.enjoy-back-4{
    background: url("../../../img/hotel/images/enjoy-sub-menu-4.png") repeat-x;
}
.enjoy-imagen{
    display: block;
    width:685px;
    height:300px;
}
.welcome{
    text-align: center;
}
.welcome-360{
    width:100%;
    display: block;
}
.welcome-cat{
    width:100%;
    display: block;
}
.welcome-letra-360{
    font-family: Arial;
    color: #fff;
    font-size:25px;
    font-weight:bold;
    margin-top: 15px;
    margin-left: 40px;
    margin-bottom: 10px;
}
.welcome-letra-360-dis{
    font-family: Arial;
    color: white;
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 40px;
    margin-bottom: 25px;
}
.welcome-letra-cat{
    font-family: Arial;
    color: #fff;
    font-size:25px;
    font-weight:bold;
    margin-top: 80px;
    margin-left: 40px;
    margin-bottom: 25px;
}
.welcome-parrafo-360{
    margin-left: 40px;
    margin-right: 45px;
    font-family:Arial;
    font-size:16px;
    color: #fff;
    text-align:justify;
    margin-bottom: 20px;
    line-height: 18px;
}
.welcome-parrafo-360-dis{
    margin-left: 40px;
    margin-right: 45px;
    font-family: Arial;
    font-size: 17px;
    color: white;
    text-align: justify;
    margin-bottom: 45px;
    line-height: 18px;
}
.welcome-parrafo-cat{
    margin-left: 40px;
    margin-right: 45px;
    font-family:Arial;
    font-size:17px;
    color: #fff;
    text-align:justify;
    margin-bottom: 45px;
    line-height: 18px;
}
.welcome-360 ul{
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    padding-left: 75px;
    list-style-image: url('../../../img/hotel/images/bullety.png');
}
.list-reserva li{
    padding-bottom: 8px;
}
.list-reserva-dis{
    list-style: none;
}
.list-reserva-dis li{                                        
    padding-bottom: 5px;
}
#activado{
    font-family: Arial;
    color: #705c55;
}
.list-reserva-dis li a{
    text-decoration: none;
    color: #fff;
    font-size:16px;
}
.list-reserva-dis li a:hover{
    color: #705c55;
}
.list-reserva li a{
    text-decoration: none;
    color: #fff;
    font-size:16px;
}
.list-reserva li a:hover{
    color: #705c55;
}
.welcome-letra{
    color: #fff;
    font-family:Arial;
    font-size:30px;
    letter-spacing:0.2em;
    line-height: 30px;
}
.welcome-letra2{
    color: #fff;
    font-family:Arial;
    font-size:22px;
    letter-spacing:0.2em;
    line-height: 22px;
}
.welcome-letra3{
    color: #fff;
    font-family:Arial;
    font-size:17px;
    letter-spacing:0.2em;
    line-height: 17px;
}
.welcome-parrafo{
    color: #fff;
    font-family:Arial;
    letter-spacing: 0.25em;
    line-height:20px;
    font-size:14px;
    padding-top: 5px;
}
.color-p{
    color: #c52222;
}
.best_rate{
    width:200px;
    height:25px;
    /*background: url("../../../img/hotel/images/warnig.png") no-repeat;*/
    margin-left: 35px;
}
.best_rate a{
    text-decoration: none;
}
.best_rate a p span{
	color:#000000;
	text-decoration:underline;
}
.best_rate-360{
    width:218px;
    height:25px;
    /*background: url("../../../img/hotel/images/warnig.png") no-repeat;*/
    margin-left: 38px;
}
.best_rate-360-1{
    width:200px;
    height:25px;
    /*background: url("../../../img/hotel/images/warnig.png") no-repeat;*/
    margin-left: 38px;
}
.best_rate-360 a{
	color:#ffffff;
    text-decoration: none;
}
.best_rate-360 a p span{
	color:#000000;
	text-decoration:underline;
}
.best_rate-360-1 a  p span{
	color:#000000;
	text-decoration:underline;
}
.best_rate p{
    padding-top:6px;
    color: #fff;
    font-size:12px;
    font-family:Arial;
}
.best_rate-360 p{
    padding-top:6px;
    color: #fff;
    font-size:12px;
    font-family:Arial;
    padding-left:12px;
}
.best_rate-360-1 p{
    padding-top:3px;
    color: #fff;
    font-size:12px;
    font-family:Arial;
    padding-left:12px;
}
.best_rate-360-1 a{
    text-decoration: none;
}
.mayu-rate{
    color: #000;
    font-size:12px;
    font-family:Arial;
    text-decoration:underline;
}
.best_rate .mayu-rate{ 
	text-decoration:underline;
}
.reserva-qp div.welcome {
    padding-top: 5px;
    padding-bottom:5px;
    border-bottom: 3px solid white;
}
#booking {
    display: block;
    padding: 15px 25px 0px 0px;
}
#booking-prin {
    display: block;
    padding: 15px 25px 0px 0px;
}
#booking1 {
    display: block;
    padding: 0px;
    width: 275px;
}
.w100 {
    width: 100%;
    /*text-align:center;*/
}
.w100-ser {
    width: 100%;
    text-align:center;
}
.dlgrid .w100 dl {
    width: 100%;
}
.dlgrid dl {
    float: left;
    margin: 0;
    padding-bottom: 10px;
}
#booking dt {
    color: white;
    font-size: 14px;
}
.dlinline dl.dt40 dt, .dlinline dl.dd40 dd {
    width: 40%;
}
.dlgrid .dlinline dl dt, .dlgrid .dlinline dl dd {
    float: left;
}
#booking dt label {
    text-align: right;
    font-family: Arial;
}
form {
    margin: 0;
    padding: 0;
    color: black;
}
dl {
    margin: 0 0 1.5em 0;
    padding: 0;
    line-height: 130%;
    font-size: 1em;
}
dl {
    line-height: 130%;
    font-size: 1em;
}
form dt label {
    display: block;
}	
#booking dd input, #booking dd select {
    font-size: 13px;
    font-family:Arial;
}
.dlgrid dl select {
    width: 90%;
    display: block;
    float: left;
}
.relative {
    position: relative !important;
}
select {
    font: 1em Arial, 'Trebuchet MS', Verdana, Helvetica, sans-serif;
    width: 126px;
    overflow: hidden;
    height: 1.9em;
    vertical-align: middle;
    margin-right: 4px;
    color: black;
}
.slcpais{
 margin:2px !important;
}
option {
    padding-right: 5px;
}
option {
    border-top: 1px solid #DDD;
    padding: 2px 5px;
    vertical-align: middle;
}
img, a img {
    border: 0;
}
fieldset, img {
    border: none;
}
form dd input.text {
    width: 60%;
    height:20px;
}
input.text, textarea, input.inputbox {
    background: white;
    border: 1px solid #7E9DB9;
}
input.text, textarea.text {
    border-color: #989898 #E7E7E7 #E7E7E7 !important;
    border-style: solid;
    border-width: 1px;
}
input.text, input.password {
    font: 1.1em Tahoma, Arial, Geneva, sans-serif;
    padding: 2px 4px;
    color: black;
}
#booking dd button {
    position: absolute;
    top: 0;
    right: -10px;
}
#booking dd button {
    right: -10px\9 
}
#main{
    padding-bottom: 1px\9
}
@-moz-document url-prefix() {
    #booking dd button {
    right: -10px;
}
}
@-moz-document url-prefix() {
    button {
    padding: 0px 0px 0px 0px;
}
}
button {   
    padding: 2px 3px 2px 3px\9
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    button {   
        padding: 2px 3px 2px 3px;
    }
}
@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0)
{
    head~body button { padding: 2px 3px 2px 3px }
}
button {
    cursor: pointer;
    font: 1em Arial, 'Trebuchet MS', Verdana, Helvetica, sans-serif;
    vertical-align: bottom;

}
button {
    cursor: pointer;
    font: 1em Arial, 'Trebuchet MS', Verdana, Helvetica, sans-serif;
}
.dlgrid .w100 dl {
    width: 100%;
}

input.button{
    padding: 2px 8px\9
}
@-moz-document url-prefix() {
    input.button {   
    padding:0;
}
}

@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0)
{
    head~body #main { padding-bottom: 1px; }
}
@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0)
{
    head~body input.button { padding: 2px 8px; }
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    input.button {   
        padding: 2px 8px;
    }
}
input.button {
    /*color: #1a171b;
    font-family: Arial;
    font-size: 0.9em;
    margin-bottom: 8px;*/
background: #a9a29c; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2E5YTI5YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijg1JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(top,  #a9a29c 0%, #ffffff 85%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a9a29c), color-stop(85%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #a9a29c 0%,#ffffff 85%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #a9a29c 0%,#ffffff 85%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #a9a29c 0%,#ffffff 85%); /* IE10+ */
background: linear-gradient(top,  #a9a29c 0%,#ffffff 85%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9a29c', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */

			border: 1px solid #AC9E96;
			border-radius: 5px 5px 5px 5px;
			color: #252120;
			display: inline-block;
			font:13px/18px Arial;
			margin-top: 10px;
			padding: 2px 5px;
			text-decoration: none;
			cursor:pointer;
}
input.button:hover{
				background: #ffffff; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijg1JSIgc3RvcC1jb2xvcj0iI2E5YTI5YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(top,  #ffffff 0%, #a9a29c 85%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(85%,#a9a29c)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#a9a29c 85%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#a9a29c 85%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#a9a29c 85%); /* IE10+ */
background: linear-gradient(top,  #ffffff 0%,#a9a29c 85%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#a9a29c',GradientType=0 ); /* IE6-8 */

			}
.button {
    /*color: #1a171b;
    font-family: Arial;
    font-size: 0.9em;
    margin-bottom: 8px;*/
background: #a9a29c; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2E5YTI5YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijg1JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(top,  #a9a29c 0%, #ffffff 85%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a9a29c), color-stop(85%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #a9a29c 0%,#ffffff 85%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #a9a29c 0%,#ffffff 85%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #a9a29c 0%,#ffffff 85%); /* IE10+ */
background: linear-gradient(top,  #a9a29c 0%,#ffffff 85%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9a29c', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */

			border: 1px solid #AC9E96;
			border-radius: 5px 5px 5px 5px;
			color: #252120;
			display: inline-block;
			font:13px/18px Arial;
			margin-top: 10px;
			padding: 2px 5px;
			text-decoration: none;
			cursor:pointer;
}
.button:hover{
				background: #ffffff; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijg1JSIgc3RvcC1jb2xvcj0iI2E5YTI5YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(top,  #ffffff 0%, #a9a29c 85%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(85%,#a9a29c)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#a9a29c 85%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#a9a29c 85%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#a9a29c 85%); /* IE10+ */
background: linear-gradient(top,  #ffffff 0%,#a9a29c 85%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#a9a29c',GradientType=0 ); /* IE6-8 */

			}
						
.dlinline dl.dt90 dt, .dlinline dl.dd90 dd {
    width: 89.8%;
}
form dd {
    width: 100%;
    margin-bottom: 5px;
}
.main-promocion-360{
    width:960px;
    display: block;
    background-color: #f2ede9;
    height: 232px;
}
.main-promocion-room{
    width:960px;
    display: block;
    background-color: #f2ede9;
    height: auto;
    overflow: hidden;
}
.main-promocion-360-content{
    display: block;
    padding-top: 20px;
    padding-left: 35px;
    padding-right: 45px;
    padding-bottom: 45px;
}
.main-promocion-360-content h3{
    padding-left: 18px !important;
    background-image: url('../../../img/hotel/images/bullety.png');
    background-repeat: no-repeat;
    background-position: left center;
    list-style-type: none;
    margin-bottom:20px;
    font-size:18px;
    font-family:Arial;
    font-weight:bold;
    color: #705c55;
}
.main-promocion-360-content p{
    padding-left:20px;
    color: #705c55;
    font-family: Arial;
    font-size:15px;
    text-align:justify;
    line-height:17px;
}
.main-promocion{
    width:966px;
    height:175px;
    padding-bottom: 7px;;
}
.promocion-img{
    width:315px;
    float: left;
    height:175px;
    padding-right:7px;
}
.main-menu{
    width:100%;
    height:20px;
    margin-bottom: 5px;
}

.main-menu h3{
    padding-left: 10px;
    padding-top:3px;
}
.main-menu h3 a{
    color: #fff;
    text-decoration:none;
    font-size:0.8em;
    font-weight:normal;
    padding-right: 170px;
}
.main-menu h3 a:hover{
    color: #D15600;
}
.menu-eventos{
    float: left;
    width:240px;
    height:20px;
    text-transform: lowercase;
}
.p1{
    background-color: #e42625;
}
.p1:hover{
    background-color: #D01F3C;
}
.p1 h3 a:hover{
    color: #e9612f;
}
.p2{
    background-color: #e6ddce;
}
.p2:hover{
    background-color: #dfd8d4;
}
.p2 h3 a{
    color: #4d3f38;
    padding-right: 155px;
}
.p2 h3 a:hover{
    color: #e2302f;                                        
}

.p3{
    background-color: #4d3f38;
}
.p3:hover{
    background-color: #36393D;
}
.p4{
    background-color: #ea602e;
}
.p4:hover{
    background-color: #D15600;
}
.p4 h3 a:hover{
    color: #f2ede9;
}

.top-location{
    width:960px;
    height:40px;
}
.about{
    width:315px;
    float: left;
}
.contac-right{
    float: right;
    padding-top: 14px;
}
.contac-right li{
    float: left;
    padding-left: 8px;
}
.contac-right li a{
    color: #dbdbd9;
    font-size:0.8em;
    text-transform:capitalize;
    text-decoration: none;
}
.contac-right li span{
    color: #dbdbd9;
    font-size: 1.0em;
}
.social-left{
    float: left;
    padding-top: 12px;
}
.social-left li{
    float: left;
    padding-left: 8px;
}

.idioma{
    width:275px;
    float: left;
}
.idioma ul{
    float: left;
    padding-top:14px;
}
.idioma ul li{
    float: left;
    padding-right:8px;
}
.idioma ul li a{
    color: #dbdbd9;
    font-size:0.8em;
    text-decoration: none;
}
.idioma ul li span{
    color: #dbdbd9;
    font-size: 1.0em;  
}
.location{
    width:365px;
    float: left;
    text-align:center;
    padding-top:10px;
}
.location span{
    color: #dbdbd9;
    font-size:14px;
    /*text-decoration: underline;*/
}
.top-menu{
    width:960px;
    height:62px;
    background-color: #f2ede9;
}
.top-ingreso{
    width:325px;
    float: left;
    height:62px;
}
.text-ing{
    color: #a2a29e;
    font-weight: bold;
    font-family:Arial;
    font-size:15px;
    padding-left: 20px;
    padding-right: 5px;
    float: left;
}
.input{
    padding-left: 0px;
    padding-right: 5px;
    float: left;
}
.top-ingreso form p.input{
    margin-top: 7px;
    width: 96px;
}
.top-ingreso form a, .top-ingreso form label {
    font-size: 11px;
    color: #87888a;
    font-family: arial;
}
.top-ingreso form input.shorttext {
    width: 90px;
}
.top-ingreso .down {
    position: relative;
    top: 20px;
}

.top-submenu{
    width:360px;
    float: left;
    height:62px;
}
.top-submenu ul{
    margin-top: 22px;
    margin-left: 20px;
}
.top-submenu ul li{
    float: left;
    padding-right: 12px;
}
.top-submenu ul li a{
    font-size:0.85em;
    color: #87888a;
    text-transform: lowercase;
    text-decoration: none;
}
.top-submenu ul li span{
    color: #87888a;
}
.field-hotel{
    padding-top: 20px;
}
.f-row label{
    color: #87888a;
    font-size: 0.85em;
    font-family: Arial;
}
.f-row select {
    font-family: Arial;
    overflow: hidden;
    height: 1.9em;
    vertical-align: middle;
    margin-right: 4px;
    color: black;
    width: 150px;
    color: #3e3d40;
    font-size: 0.8em;
}
.top-submenu-360{
    width:635px;
    float: left;
    height:62px;	
}
.top-submenu-360 ul{
    margin-top: 25px;
    padding-left:80px;
}
.top-submenu-360 ul li{
    float: left;
    padding-right: 20px;
}
.top-submenu-360 ul li a{
    font-size:14px;
    color: #848582;
    text-decoration:none;
}

.top-destino{
    width:275px;
    float: left;
    height:62px;
}
.top-lima{
    width:150px;
    float: left;
    background: #e15317 url(../../../img/hotel/images/qp-lima.png) no-repeat;
    height:30px;
    margin-top: 10px;
    cursor: pointer;
    padding-top:10px;
}
.top-lima a{
    text-decoration:none;
    color: #fff;
    text-transform:capitalize;
    padding-left:50px;
    font-size:18px;
}
.top-arequipa{
    width:150px;
    float: left;
    background: #ffdd00 url(../../../img/hotel/images/qp-arequipa.png) no-repeat;
    height:30px;
    margin-top: 10px;
    cursor: pointer;
    padding-top: 10px;
}
.top-arequipa a{
    text-decoration:none;
    color: #fff;
    text-transform:capitalize;
    padding-left:50px;
    font-size:18px;
}


/*Segunda pagina*/
.qp-descan{
    width:480px;
    display: block;
    height:355px;
    float: left;
    background: #281E1C;
}
.qp-descan p a{padding:0px !important;}
.qp-descan-1{
    width:105px;
    margin-right: 15px;
    height:355px;
    float: left;
    text-align:center;
    font-family:Arial;
    font-size:13px;
}
.fondo-descance1{
    background: url("../../../img/hotel/images/primera.png") repeat-x;
}
.fondo-descance2{
    background: url("../../../img/hotel/images/segunda.png") repeat-x;
}
.fondo-descance3{
    background: url("../../../img/hotel/images/tercera.png") repeat-x;
}
.fondo-descance4{
    background: url("../../../img/hotel/images/cuarta.png") repeat-x;
}
.qp-descan-1 * {
    position: relative;
    top: 63px;
}
.color-letter1 p{
    padding-top:5px;
}
.color-letter2 p{
    padding-top:5px;
}
.color-letter3 p{
    padding-top:5px;
}
.color-letter4 p{
    padding-top:5px;
}
.color-letter1 p a{
    color: #fff;
    text-decoration:none;
    font-weight:bold;
    padding-left: 20px;
}
.color-letter2 p a{
    color: #e51e21;
    text-decoration:none;
    font-weight:bold;
    padding-left: 20px;
}
.color-letter3 p a{
    color: #fff;
    text-decoration:none;
    font-weight:bold;
    padding-left: 20px;
}
.color-letter4 p a{
    color: #e51e21;
    text-decoration:none;
    font-weight:bold;
    padding-left: 20px;
}

/*Categoria*/
.main-descance{
    width: 195px;
    float: left;
    display: block;
    margin-left: 35px;
    padding-top: 25px;
}
.main-descance h3 {
    padding-left: 18px !important;
    background-image: url('../../../img/hotel/images/bullety.png');
    background-repeat: no-repeat;
    background-position: left center;
    list-style-type: none;
    margin-bottom: 20px;

}
.main-descance h3 a{
    font-size: 15px;
    font-family: Arial;
    font-weight: bold;
    color: #705c55;
    text-decoration: none;
}
.main-descance p {
    color: #705C55;
    font-family: Arial;
    font-size: 13px;
/*    text-align: justify;*/
    line-height: 15px;
}
.boton-descance{
    position: absolute;
    top: 670px;
}
.boton-descance a{
    font-family: Arial;
    font-size: 13px;
    color: #705c55;   
    text-decoration: underline;
}
.boton-descance a:hover{
    color: #000;   
}
.boton-descance p{
    padding-top:8px;
}
.boton-descance p input{
    font-family: Arial;
    font-size: 13px;
}

/*Div de formulario*/    
.content-form{
    position: absolute;
    top: 450px;
    width:275px;
}
.content-form1{
    position: absolute;
    top: 450px;
    width:275px;
}
.content-form10{
    position: absolute;
    top: 450px;
    width:275px;
}
.cont-w100{
    text-align: center;
    width: 100%;
}
/*Fin de Div de Formulario*/
.separador-room{
    background-color: #000;
    width: 1px;
    overflow: hidden;
    height: 100%;
}
.main-room{
    width: 584px;
    height: auto;
    float: left;
    margin-left: 35px;
    padding-top: 25px;
    margin-right: 65px;
    background-color: #f2ede9;
}  
.main-room h3 {
    padding-left: 18px !important;
    background-image: url('../../../img/hotel/images/bullety.png');
    background-repeat: no-repeat;
    background-position: left center;
    list-style-type: none;
    margin-bottom: 20px;
    color: #705c55;
    font-weight: bold;
    font-family: Arial;
    font-size: 18px;
}
.main-room p {
    color: #705c55;
    font-family: Arial;
    font-size: 14px;
    line-height: 17px;
    text-align:justify;
    padding-bottom: 25px;
}
.cont-boton-room p{
    padding-bottom: 20px;
}
.main-accesorio{
    float: left;
    width: 275px;
    background-color: #281e1c;
    padding-left: 1px;
}
.cont-acce{
    width: 240px;
    height: auto;
    background-color: #e7ded7;
    padding-right: 15px;
    padding-bottom: 35px;
    padding-left: 20px;
}
.main-accesorio h3{
    padding-top: 20px;
    color: #705c55;
    font-family: Arial;
    font-size: 18px;
    font-weight: inherit;
    padding-bottom: 20px;
}
.main-accesorio ul{
    height: 183px;
    overflow: auto;
}
.dlinline{
    width: 275px
}
.main-accesorio ul{
    display: block;
    list-style-type: disc;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    padding-left: 15px;
    list-style-image: url('../../../img/hotel/images/ul.png');  
}
.main-accesorio ul li{
    color: #705c55;
    font-weight: inherit;
    font-size: 14px;
    font-family: Arial;
    padding-bottom: 8px;
}
.direccion p{
    color: #666;
}
.top-ingreso p{
    float: left;
    padding-left:10px;
    color: #87888a;
    font-family:Arial;
    font-size:15px;
}
.left1{
    margin-left: 0px;
}
.left2{
    margin-left: 0px;
}
/*About y Contacts*/
.main-qphotels-all{
    width: 100%;
    background: #705C55;
    overflow: hidden;
}
.enjoy-all{
    display: block;
    width: 685px;
    height: 90px;
    float: left;
    background: #281E1C;
}
.reserva-all{
    width: 275px;
    height: 90px;
    float: left;
    background: #B09E90;
    overflow: hidden;
}
.content-form-all{
    position: absolute;
    top: 138px;
    width: 275px;
}
.form-all-bottom{
    text-align: center;
}
.content-about-contact{
    width:960px;
    overflow: hidden;
    display: block;
    background-color: #f2ede9;
}
.about-all{
    margin: 60px 210px 100px 260px;
}
.about-all h1{
    font-family:Arial;
    color: #6e5a53;
    font-weight:bold;
    font-size:20px;
    padding-bottom: 25px;
}
.about-all p{
    text-align:justify;
    font-family:Arial;
    color: #87888a;
    font-size:15px;
    line-height: 18px;
}

.content-datos-form{
    margin: 60px 120px 20px 155px;
}
.content-contacto h1{
    font-family:Arial;
    font-size:20px;
    color: #6e5a53;
    padding-bottom: 25px;
}
.content-contacto p{
    font-family:Arial;
    font-size:15px;
    color: #87888a;
}
.campos-contacto-left{
    margin: 25px 0px 25px 0px;
    float: left;
    padding-right: 30px;
}
.campos-contacto-left p{
    line-height:25px;
}
.campos-contacto-right{
    margin: 25px 0px 25px 0px;
    float: left;
    width:480px;	
}
.campos-contacto-right p{
    line-height:25px;
}
.left-cont p{
    padding-bottom: 5px;			
}
.left-cont p label{
    line-height:25px;
    color: #87888a;
    font-family:Arial;
    font-size:15px;
}
.left-cont p input{
    height:22px;
    width:175px;
    border:1px solid #a3a09d;
    color: #87888a;
}
.right-cont{
    width:415px;
}
.right-cont p textarea{
    width:410px;
    height:100px;
    color: #87888a;
    border:1px solid #a3a09d;
}
.enviar-borrar{
    float: left;
    margin-left: 300px;
    padding-top: 5px;
}
.enviar-borrar-1{
    padding-left: 10px;
    padding-right: 10px;
    color: #707173;
    font-size:15px;
}
.enviar-borrar-2{
    padding-left: 7px;
    padding-right: 7px;
    color: #707173;
    font-size: 11px;
    position: relative;
    top: -1px;
}
.formulario{
    padding-bottom: 30px;
}

.content-promocion{
    overflow: hidden;
    width:960px;
    display: block;
    background-color: #f2ede9;
}
.promocion-all{
    padding-top: 30px;
    padding-bottom: 25px;
    overflow: hidden;
}
.lista-promocion{
    border-bottom: 2px solid #b4a295;
    overflow: hidden;
}
.lista{
    float: left;
    font-family:Arial;
    color: #87888a;
    font-size:15px;
    width:650px;
    padding-bottom: 2px;
    padding-left: 30px;
}
.lista-promo-img{
    width: 285px;
    height: 200px;
    float: left;
}
.lista span{
    font-size: 15px;
    font-weight: bold;
}
.lista-hotel{
    float: left;
    font-family:Arial;
    color: #6E5A53;
    font-size:15px;
    width:100px;
    padding-bottom: 2px;
}
.lista-fecha{
    font-family:Arial;
    color: #6E5A53;
    font-size:15px;
    width:180px;
    float: left;
    padding-bottom: 2px;
}
.lista-descripcion{
    width:960px;
    display: block;
}
.lista-content-desc{
    border-bottom: 2px solid #b4a295;
    overflow: hidden;
    padding: 35px 10px 35px 30px;
}
.lista-img{
    padding-right: 20px;
    float: left;
}
.listado-desc{
    float: left;
    width: 270px;
    padding-right: 45px;
}
.lista-nombre-hotel{
    float: left;
    width: 100px;

}
.lista-nombre-hotel-1{
    float: left;
    width: 90px;
    padding-left: 20px;       
}
.lista-nombre-hotel-1 p{
    color: #3e3d40;
    font-family: Arial;
    font-size: 14px;
}
.lista-fecha-hotel{
    float: left;
}
.lista-fecha-hotel-1{
    float: left;
    width: 80px;
}
.lista-fecha-hotel-1 p{
    color: #3e3d40;
    font-family: Arial;
    font-size: 14px;
}
.pro-buttom{
    float: left;
}
.pro-buttom-1{
    float: left;
    padding-left: 15px;
}
.pro-buttom-1 input{
    color: #3e3d40;
    font-family: Arial;
    font-size: 13px;
    padding: 2px 5px 2px 5px;
    position: relative;
    top: -8px;
}
.titulo-lista{
    padding-bottom: 5px;
}
.titulo-lista span a{
    font-family:Arial;
    color: #6e5a53;
    font-weight:bold;
    text-decoration: none;
}
.titulo-lista span a:hover{
    font-family:Arial;
    color: #6e5a53;
    font-weight:bold;
    text-decoration: underline;
}
.lista-desc-hotel{
    padding-bottom: 22px;
    height: 110px;
    padding-top: 10px;
}
.lista-desc-hotel p{
    text-align:justify;
    font-family:arial;
    color: #756159;
    font-size:13px;
    line-height: 15px;
}
.lista-mas-hotel p{
    font-family:Arial;
    /*font-style:italic;*/
}
.lista-mas-hotel p a{
    color: #705c55;
    font-size:13px;
}
.lista-mas-hotel p a:hover{
    color: #000;
}
.lista-nombre-hotel p{
    font-family:Arial;
    color: #6E5A53;
    font-size:15px;
    margin-top: 5px;
}
.lista-fecha-hotel p{
    font-family:Arial;
    color: #6E5A53;	
    font-size:14px;
    margin-top: 5px;
}
.pro-buttom{
    /*margin-top: 1px;*/
    margin-left: 15px;
}
.pro-buttom input{
    /*color: #6E5A53;*/
    padding: 2px 5px 2px 5px\9
}
@-moz-document url-prefix() {
    .pro-buttom input {   
    /*color: #6E5A53;*/
}
}
@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0)
{
    head~body .pro-buttom input { 
        padding: 2px 5px 2px 5px; 
    }
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .pro-buttom input {   
        color: #6E5A53;
        padding: 2px 5px 2px 5px;
    }
}

.paginationControl{
    padding-left: 30px;
    padding-top: 8px;
}
.fila_zoe{
    display: block;
}
.paginationControl{
    font-family:Arial;
    color: #756159;
    font-size:14px;
}
.paginationControl span{
    font-family:Arial;
    color: #756159;
    font-size:14px;
}
.paginationControl a{
    font-family:Arial;
    color: #756159;
    font-size:14px;
}

.pro-desc{
    margin-left: 30px;
    margin-right: 30px;
    padding-bottom: 80px;
    width: 530px;
    float: left;
    padding-top: 25px;
}
.pro-desc-1{
    margin-left: 30px;
    margin-right: 30px;
    padding-bottom: 80px;
    width: 615px;
    float: left;
    padding-top: 25px;
}
.pro-img{
    padding-bottom: 20px;
    width: 350px;
    float: left;
    padding-top: 25px;
}
.pro-img-1{
    padding-bottom: 20px;
    width: 615px;
    float: left;
    padding-top: 25px;
}
.otros-eventos{
    display: block;
    float: right;
    padding-top: 45px;
}
.otros-eventos a{
    text-decoration: underline;
    font-family: Arial;
    font-size: 15px;
    color: #87888a;
    font-weight: bold;
}
.pro-title{
    display: block;
}
.pro-title h1{
    font-family:Arial;
    font-size:18px;
    color: #6e5a53;
    font-weight: bold;
    padding-bottom: 20px;
}
.pro-desc-cont{
    display: block;
}
.promocion-contenedor{
    display: block;
    padding-top: 30px;
    overflow: hidden;
}
.pro-desc-cont p{
    font-family:Arial;
    font-size:12px;
    color: #3e3d40;
    line-height:15px;
    text-align:justify;
}
.reservacion p span{
    text-decoration: underline;
}
.slide1{
    text-align: center;
}
.codigo{
    display: block;
    padding-top: 30px;
    padding-left: 15px;
}
.codigo p{
    color: #3e3d40;
    font-family: Arial;
    font-size: 18px;
}
.codigo p span{
    text-decoration: underline;
}
.reservacion{
    display: block;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 25px;
/*    padding-bottom: 380px;*/
}
.reservacion h3{
    color: #3e3d40;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 3px;
}
.reservacion p{
    color: #3e3d40;
    font-family: Arial;
    font-size: 11px;
    text-align: justify;
    line-height: 13px;
}
.otras-promos a{
    color: #87888a;
    font-family: Arial;
    font-weight: bold;
    font-size: 15px;
    padding-left: 15px;
}
.listado-desc-event{
    float: left;
    width: 430px;
    padding-right: 45px;
}
.lista-event{
    float: left;
    font-family: Arial;
    color: #87888A;
    font-size: 15px;
    width: 800px;
    padding-bottom: 2px;
    padding-left: 30px
}
.lista-fecha-event{
    font-family: Arial;
    color: #87888A;
    font-size: 15px;
    width: 120px;
    float: left;
    padding-bottom: 2px;
}
.promocion-all-servicios{
    margin: 80px 100px 70px 220px;
}
.promocion-all-servicios h1{
    font-family:Arial;
    font-weight:bold;
    color: #6e5a53;
    font-size:20px;
    padding-bottom:15px;
}
.promocion-all-servicios p{
    color: #87888a;
    font-size:15px;
    font-family:Arial;
    font-weight:bold;
    padding-bottom:15px;
}
.promocion-all-servicios ul li{
    color: #87888a;
    font-family:Arial;
    font-size: 17px;
    line-height: 20px;
    padding-left: 18px !important;
    background-image: url('../../../img/hotel/images/bullety.png');
    background-repeat: no-repeat;
    background-position: left;
    list-style-type: none;
}
.promocion-all-mapa{
    margin: 80px 120px 55px 175px;
}
.promocion-all-mapa h1{
    font-family:Arial;
    font-size:20px;
    color: #6e5a53;
    padding-bottom:15px;
}
.promocion-all-mapa p input{
    color: #181613;
}
.promocion-all-destino{
    margin:50px 50px 50px 50px;
}
.about-all p a{
    color: #666;
}
.content-trabajando{
    width: 960px;
    overflow: hidden;
    display: block;
    background-color: #fff;
}
.trabajando-all{
    margin: 100px 100px 100px 100px;
}
.comentarios-img{
    text-align: center;
}
.comentarios-img h1{
    color: #848582;
    padding-top: 20px;
    font-family: Arial;
    font-size: 18px;
}
.content-form-550{
    width: 300px;
    position: absolute;
    top: 710px;
    padding-bottom: 20px
}
.content-form-else {
    width: 300px;
}
.w100-100 {
    width: 100%;
}
@-moz-document url-prefix() {
    #main {
    padding-bottom: 1px;
}
}
#num_adults{
    width: 40px;
}
#num_ninios{
    width: 40px;
}
.left-form{
    float: left;
    width: 100px;
    padding-left: 55px;
}
.left-form label{
    font-size: 0.8em;
    font-family: Arial;
    color: #fff;
    margin-right: 0px;
}
.left-form select {
    font: 0.85em Arial, 'Trebuchet MS', Verdana, Helvetica, sans-serif;
    overflow: hidden;
    height: 1.9em;
    vertical-align: middle;
    margin-right: 4px;
    color: black;
}
.right-form{
    float: left;
    width: 100px;
}
.right-form label{
    font-size: 0.8em;
    font-family: Arial;
    color: #fff;
    margin-right: 0px;
}
.right-form select {
    font: 0.85em Arial, 'Trebuchet MS', Verdana, Helvetica, sans-serif;
    overflow: hidden;
    height: 1.9em;
    vertical-align: middle;
    margin-right: 4px;
    color: black;
}
.content-form-posi{
    width: 275px;
    overflow: hidden;
}
.bottom-1{
    padding-top: 10px;
    width: 100%;
    text-align: center;
}
.bottom-2{
    padding-top: 10px;
    text-align: center;
}
.footer-direccion-supe ul{
    float: left;
}
.footer-direccion-supe ul li{
    float: left;
    padding-right: 5px;
}
.footer-direccion-supe ul li a{
    text-decoration: none;
    color: #fbd7bb;
    font-family: Arial;
    font-size: 0.9em;
}
.footer-direccion-supe ul li span{
    color: #fbd7bb;
}
.call-footer{
    color: #fff;
    font-family: Arial;
    font-size: 0.7em;
    padding-left: 35px;
    padding-top: 5px;
}
.footer-ul{
    padding-top: 15px;
}
.content-sucursal{
    padding-top: 18px;
    padding-left: 210px;
}
.content-terminos{

}
.content-terminos ul{
    display: block;
    padding-top: 5px;
    margin-left: 299px;
}
.content-terminos ul li{
    float: left;
    padding-right: 5px;
}
.content-terminos ul li a{
    color: #b6aca4;
    font-family: Arial;
    font-size: 0.8em;
    text-decoration: none;
}
.content-terminos ul li span{
    color: #b6aca4;
    font-family: Arial;
    font-size: 0.8em;
}
.content-blog{

}
.content-blog ul{
    display: block;
    padding-top: 20px;
    padding-left: 180px;
}
.content-blog ul li{
    float: left;
    padding-right: 5px;
    color: #b6aca4;
    font-family: Arial;
    font-size: 0.8em;
}
.content-blog ul li a{
    color: #b6aca4;
    font-family: Arial;
}
.content-blog ul li span{
    color: #b6aca4;
    font-family: Arial;
}
.content-footer-inferior{
    display: block;
}
.contacto-formu{
    display: block;
    width: 100%;
    overflow: hidden;
}
.fondo-logo{
    width: 685px;
    height: 355px;
    background: url('../../../img/hotel/images/fon-logo.png') no-repeat;
    float: left;
}
.otras-promos{
    padding-top: 30px;
}
.bold{font-weight:bold;}
.lnk-nada{padding:10px 0px 0px 5px !important;}
.red-strong{color:red;font-weight:bold;font-size:14px !important;}
/*anuncement in built*/
#conteiner-built{width:958px;display:block;margin:0 auto;border:1px solid #FFD900;background-color:#FFEA73;}
#conteiner-built p{color:#453F20;text-align:center;font:14px/22px Arial;}
/*chat*/
#shortcut-chat, .offline{text-decoration:none;text-align:center;display:block;float:left;width:90px;height:30px;background:transparent url('../../../img/hotel/images/spr-status-chat.png') 0px -30px no-repeat;margin:10px 0px 0px 17px;}
.offline{background-position:0px 0px !important;}
#shortcut-chat #title, #shortcut-chat  #status-chat{text-decoration:none;font:9px Arial;color:#000;margin:2px 0px 0px;display:block;}
#shortcut-chat #status-chat{color:#fff;margin:-3px 0px 0px;}
/*custom buttons*/
#container-ingreso input.submit-proceso,
.hotel-reserva-item input.submit-proceso{padding:0px 15px;font-size:16px;color:#4f4f4f;}
.price-no-avaliable{color:#DDD;}

.left-reserva-lista{
    float: left;
}
.right-reserva-lista{
    float: right;
    padding-right: 20px;
}
.hasDatepicker{color:#705C55 !important;}
/*Ocultando Calendario*/
#ui-datepicker-div{
    display: none;
}