<?php
//We've included ../Includes/FusionCharts.php, which contains functions
//to help us easily embed the charts.

?>
        <SCRIPT LANGUAGE="Javascript" SRC="<?php echo $this->htmlHead()->urlSite()?>/FusionCharts/FusionCharts.js"></SCRIPT>

                    <div class="gen-chart-render">
                        <?php

                        //This page demonstrates the ease of generating charts using FusionCharts.
                        //For this chart, we've used a pre-defined Data.json (contained in /Data/ folder)
                        //Ideally, you would NOT use a physical data file. Instead you'll have
                        //your own PHP scripts virtually relay the JSON data document. Such examples are also present.
                        //For a head-start, we've kept this example very simple.

                        // set chart data	format to json
                        
                        //Create the chart - Column 3D Chart with data from Data/Data.json
                        echo renderChart($this->htmlHead()->urlSite()."/FusionCharts/Column3D.swf", "/test/graficos/json", "", "myFirst", 600, 300, false, true);
                        ?>
                    </div>
                  