<style>
    ul.hover_block1 li{
	list-style:none;
	float:left;
	width:145px; 
        position: relative;
	margin-right: 20px; 
    }
    ul.hover_block1 li a {
            display: block;
            position: relative;
            overflow: hidden;
            height: 355px;
            width: 145px;
            padding: 16px;
            color: #000;
    }
    ul.hover_block1 li a { text-decoration: none; }

    ul.hover_block1 li img {
            position: absolute;
            top: 0;left: 0;
            border: 0;
    }
</style>
<script>
    $(function() {
	$('ul.hover_block1 li').hover(function(){
		$(this).find('img').animate({left:'145px'},{queue:false,duration:500});
	}, function(){
		$(this).find('img').animate({left:'0px'},{queue:false,duration:500});
	});
    });
</script>
<div class="main-qphotels">
    <div class="fondo-logo">
        <div class="logo-qp">
            <ul class="hover_block1">
                <li><a href="#"><img src="<?php echo $this->htmlIndex()->img()?>/hotel/images/logo-qp.png" alt="alt" /></a></li>
            </ul>
        </div>
        <div class="img-home" id="s1">
            <?php echo $this->htmlIndex()->banner_imagen();?>
        </div>
    </div>
    <div class="reserva-qp">
            <div class="welcome">
                <p class="welcome-parrafo">
                    <?php echo $this->desc_home;?>
                </p>
            </div>
        <!--Inicio del Formulario-->
            <?php echo $this->partial('formulario.phtml');?> 
        <!--Fin del formulario-->
    </div>
</div>
<div class="main-promocion">
    <?php echo $this->htmlIndex()->promoIndex();?>
</div>
<div class="main-menu">
    <?php echo $this->htmlIndex()->menu_categorias($this->cat_id);?>
</div>