<link rel="stylesheet" type="text/css" media="screen" href="<?php echo $this->htmlHead()->urlSite()?>/styles/hotel/css/red.theme.css" />
<link rel="stylesheet" type="text/css" media="screen" href="<?php echo $this->htmlHead()->urlSite()?>/styles/hotel/css/fullbox.css" />
<link rel="stylesheet" href="<?php echo $this->htmlHead()->js()?>/img/css/lightbox.css" type="text/css" media="screen" />
<script src="<?php echo $this->htmlHead()->js()?>/img/js/prototype.js" type="text/javascript"></script>
<script src="<?php echo $this->htmlHead()->js()?>/img/js/scriptaculous.js?load=effects,builder" type="text/javascript"></script>
<script src="<?php echo $this->htmlHead()->js()?>/img/js/lightbox.js" type="text/javascript"></script>

<div style="clear: both;">
	<div id="content" class="hotelland">
		<div class="fullbox" style="width: '100%'">
			<div id="subtop">
				<?php
                    $sesion = new Zend_Session_Namespace('web');
                    $ciudad = $sesion->su_id;
                    if($ciudad == '00000001'){
                        echo '<a href="'.$this->htmlHead()->urlSite().'"><img class="logo" src="'.$this->htmlHead()->urlSite().'/img/hotel/img/hotels_logo.png" alt="Hotels"/></a>';
                    }else if($ciudad == '00000002'){
                        echo '<a href="'.$this->htmlHead()->urlSite().'"><img class="logo" src="'.$this->htmlHead()->urlSite().'/img/hotel/img/lima_logo.png" alt="Hotels Lima"/></a>';
                    }else if($ciudad == '00000003'){
                        echo '<a href="'.$this->htmlHead()->urlSite().'"><img class="logo" src="'.$this->htmlHead()->urlSite().'/img/hotel/img/arequipa_logo.png" alt="Hotels Arequipa"/></a>';
                    }
                ?>
				<ul>
					<?php echo $this->htmlIndex()->menu_publicacion('categoria');?>
				</ul>
			</div>
	
		</div>
	</div><!-- Content -->
	<div style="clear:both; padding: 20px 20px 30px 30px">

    	<?php 
			foreach($this->data as $value):
				?>
                <div id="arti" style="clear: both;">
                    <h1><?php echo $value['art_titulo']?></h1>
                    <p><?php if(!empty($value['art_contenido'])): echo $value['art_contenido']; else: echo ''; endif;?></p>
                </div>
                <div style="margin-top: 20px;">
                    <?php echo $this->htmlIndex()->articulos_imagenes($value);?>
                </div>
                <div style="clear:both; margin-bottom:5px;">&nbsp;</div>
                <?php
			endforeach;
		?>
		
	</div>	
	</div>	
</div>