<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
  <head>
    <title>Login</title>
	<link href="<?php echo $this->htmlHead()->urlSite()?>/assets/themes/default/stylesheets/dialog.css" rel="Stylesheet" type="text/css" /> 
	<meta http-equiv="content-type" content="text/html; charset=utf-8" /> 
	<link href="<?php echo $this->htmlHead()->urlSite()?>/favicon.ico" rel="shortcut icon" />
	  </head>
	  <body>
	    
			<?php  echo $this->layout()->content; ?>
	
	  </body>
</html>
