<div style="padding:7px">
<div class="user">

<table id="og_1304959675_996644-co" style="width:100%"><tbody><tr>
<td>
	<table style="width:100%;border-collapse:collapse;">
		<colgroup><col width="12px"><col width="36px"><col><col width="12px">
		</colgroup><tbody><tr><td></td><td></td><td></td><td style="width:12px"></td></tr>
		<tr>
			<td rowspan="2" colspan="2" class="coViewIcon">
								<div class="coViewIconImage ico-large-user" id="1Users_iconDiv"></div>
							</td>
			
			<td rowspan="2" class="coViewHeader">
				<div class="coViewTitle">
					<table><tbody><tr>
                    <td>
					   <?php echo $this->data['us_login'];?>
                    </td>
					
					</tr></tbody></table>
				</div>
				<div>
									</div>
				
				<a title="Close" onclick="og.closeView(); return false;" href="#" class="internalLink" target="account"><div style="cursor:pointer" class="coViewClose">Close&nbsp;&nbsp;X</div></a>
			</td>
			
			<td style="width:12px" class="coViewTopRight"></td>
		</tr>
		<tr><td style="width:12px" rowspan="2" class="coViewRight"></td></tr>
		
		<tr>
			<td colspan="3" class="coViewBody">
			<div style="padding-bottom:15px">
				<div class="card">
  <div class="cardIcon"><img alt="karito avatar" src="http://localhost/opengoo/public/assets/themes/default/images/avatar.gif"></div>
  <div class="cardData">
  
    <h2><?php echo $this->data['us_login'];?></h2>
    
    <div class="cardBlock">
    <div>
    <span>Title:</span> n/a</div>

      <div><span>Company:</span> <a href="http://localhost/opengoo/index.php?c=company&amp;a=card&amp;id=1" class="internalLink" target="account">cit</a></div>
    </div>
    
    <h2>Contacto En Linea</h2>
    
    <div class="cardBlock">
      <div><span>E_Mail:</span> <a href="mailto:<?php echo $this->data['pe_email'];?>">
      <?php echo $this->data['pe_email'];?></a></div>
      

    </div>
    
  
  </div>
</div>











			</div>
						</td>
		</tr>
		<tr>
			<td class="coViewBottomLeft"></td>
			<td colspan="2" class="coViewBottom"></td>
			<td style="width:12px" class="coViewBottomRight">&nbsp;</td>
		</tr>
	</tbody></table>
</td>


<!-- Actions Panel -->
<td style="width:250px; padding-left:10px">
<table style="width:240px;border-collapse:collapse">
	<colgroup><col width="12/"><col width="216/"><col width="12/">
	</colgroup><tbody><tr>
		<td rowspan="2" colspan="2" class="coViewHeader"><div class="coViewPropertiesHeader">Actions</div></td>
		<td class="coViewTopRight"></td>
	</tr>
		
	<tr><td rowspan="2" class="coViewRight"></td></tr>
	
	<tr>
		<td colspan="2" class="coViewBody">
					<div>
								<a href="http://localhost/opengoo/index.php?c=account&amp;a=edit_profile&amp;id=1" class="internalLink coViewAction ico-edit" style="display:block" target="account">
				Update profile</a>
								<a href="http://localhost/opengoo/index.php?c=account&amp;a=edit_avatar&amp;id=1" class="internalLink coViewAction ico-picture" style="display:block" target="account">
				Update avatar</a>
								<a href="http://localhost/opengoo/index.php?c=account&amp;a=edit_password&amp;id=1" class="internalLink coViewAction ico-password" style="display:block" target="account">
				Change password</a>
								<a href="javascript:if(confirm('Are you sure you want to create a contact with user data?')) og.openLink('http://localhost/opengoo/index.php?c=user&amp;a=create_contact_from_user&amp;id=1');" class="internalLink coViewAction ico-add" style="display:block">
				Create contact with user data</a>
								<a href="http://localhost/opengoo/index.php?c=user&amp;a=list_user_categories" class="internalLink coViewAction ico-administration" style="display:block" target="account">
				Edit preferences</a>
								<a href="http://localhost/opengoo/index.php?c=account&amp;a=update_permissions&amp;id=1" class="internalLink coViewAction ico-permissions" style="display:block" target="account">
				Permissions</a>
						</div>
				</td>
	</tr>
	
	<tr>
		<td style="width:12px;" class="coViewBottomLeft">&nbsp;</td>
		<td style="width:216px;" class="coViewBottom"></td>
		<td style="width:12px;" class="coViewBottomRight">&nbsp;&nbsp;</td>
	</tr>
</tbody></table>



<!-- Properties Panel -->
<table style="width:240px">
	<colgroup><col width="12/"><col width="216/"><col width="12/">
	</colgroup><tbody><tr>
		<td rowspan="2" colspan="2" class="coViewHeader"><div class="coViewPropertiesHeader">Properties</div></td>
		<td class="coViewTopRight"></td>
	</tr>
		
	<tr><td rowspan="2" class="coViewRight"></td></tr>
	
	<tr>
		<td colspan="2" class="coViewBody">
			<div style="width:200;" class="prop-col-div">
				<span style="color:333333;font-weight:bolder;">Unique Id:&nbsp;</span>us001			</div>
			
			<div style="width:200;" class="prop-col-div"><a id="object_linker" onclick="og.ObjectPicker.show(function (data) {if (data) {var objects = '';for (var i=0; i &lt; data.length; i++) {if (objects != '') objects += ',';objects += data[i].data.manager + ':' + data[i].data.object_id;} og.openLink('http://localhost/opengoo/index.php?c=object&amp;a=link_object&amp;object_id=1&amp;manager=Users&amp;objects=' + objects);}})" href="#">Link Objects</a></div>
		
	
	<div style="border:0px;width:200;" class="prop-col-div">
    	    	
    			
			</div>
	
				</td>
	</tr>
	
	<tr>
		<td style="width:12px;" class="coViewBottomLeft">&nbsp;&nbsp;</td>
		<td style="width:216px;" class="coViewBottom"></td>
		<td style="width:12px;" class="coViewBottomRight">&nbsp;&nbsp;</td>
	</tr>
	</tbody></table>
</td>
</tr></tbody></table>

</div>
</div>