<input type="hidden" name="save[]" id="save" value=""/>
<div class="form_zoe">
    <div id="contiene" class="left_zoe" style="width:29%"></div>
    <div id="bodyform" class="left_zoe" style="width:70%"></div>
</div>

<script>
    cit.tih_id='';
    cit.Id ='';
    cit.storeCategoriaCombo = <?php echo $this->categoria; ?>
    cit.storeEstado=<?php echo $this->estado; ?>
    cit.fecha = '<?php echo date('d/m/Y') ?>';

    cit.storePublic = new Ext.data.SimpleStore({
        fields: ['pub_tipo', 'state'],
        data :[ ['N', 'Noticias'],['E', 'Eventos'],['A','Nosotros'],['Q','QpShop'] ]});

    cit.storeCategoria=new Ext.data.Store({
        proxy:new Ext.data.HttpProxy({url:og.getUrl('mantenimiento-publicaciones', 'json',{'case':'getPublic'},'cms')}),
        reader:new Ext.data.JsonReader({
            fields: [{ name: 'pub_id'},
                { name: 'pub_titulo'},
                { name: 'pub_estado'},
                { name: 'pub_titulo'},
                { name: 'pub_contenido'},
                { name: 'pub_fecha'},
                { name: 'pub_tipo'}
            ],
            root:'matches'
        })
    });

    cit.storeCategoria.load();

    cit.changePublic = {
        select: function(combo, record, index){        //
            cit.storeCategoria.load({params: {'pub_tipo': record.data.pub_tipo}});
        }
    };

    cit.colModAula = new Ext.ux.grid.LockingColumnModel(
    [
        {dataIndex: 'pub_estado', header: 'Estado', width: 30,
            renderer: function(v, params, record){
                switch(v){
                    case '0':return '<img title="Oculto" src="'+og.domainName+'/assets/themes/default/images/16x16/wscolors/color6.png" width="13px"></img>';break;
                    case '1':return '<img title="Activo" src="'+og.domainName+'/assets/themes/default/images/16x16/wscolors/color11.png" width="13px"></img>';break;
                 }
            }   
	},
	{dataIndex: 'pub_titulo', header: 'Titulo', width: 230}
     ]);
	
    var categoriesPagingBar = new Ext.PagingToolbar( {
        pageSize: 400,
        displayInfo: false,
        store: cit.storeCategoria
    });  

    cit.gridPrin = new Ext.grid.GridPanel({
        store: cit.storeCategoria,
        colModel: cit.colModAula,
        width:'100%',
        height:330,
        stripeRows: true,
        columnLines: true,
        loadMask: true,
        bbar: categoriesPagingBar,
        bodyStyle:'border-top:1px solid #ccc;',
        loadMask: true,
        viewConfig: { forceFit: true }
    });

    cit.gridPrin.on('rowdblclick', function(e,i,j){//listening for the grid's 'validateedit' event
        cit.recordCliente = cit.storeCategoria.getAt(i);
        cit.recordCliente.data.action = 'edit';
        cit.formPrincipal.form.reset();
        cit.formPrincipal.form.loadRecord(cit.recordCliente);
        Ext.getCmp('hpub_id').setValue(cit.recordCliente.data.pub_id);

        storeImagepanel.load({params:{'idevento':cit.recordCliente.data.pub_id}});
    });

    //cit.gridPrin.render('contiene');
    cit.suEstado = <?php echo $this->suestado; ?>


    /**/
    /*********************************************************************************************/
    cit.formMantenimiento = new  Ext.form.FormPanel({                
        renderTo: 'contiene'
        ,name:'formMnto'
        ,autoHeight:true
        ,bodyStyle:'border:0px'
        ,border: false
        ,defaults:{anchor: 0}
        //,bodyStyle: 'padding:0 10px 0;margin-top:10px;'
        //	,layout: 'column'
        ,items : [
            {xtype:'combo', width:130,mode:'local',triggerAction:'all',forceSelection:true,fieldLabel:'Tipo ',editable:false,name:'pub_tipo',emptyText:'- Tipo -',
                hiddenName:'pub_tipo',displayField:'state',valueField:'pub_tipo',store: cit.storePublic,listeners:cit.changePublic
            },
            cit.gridPrin
        ]
    });
    /***********************************************************************************************/


    cit.itemsFormTabPrincipal = [
        {
            xtype: 'fieldset',
            title: 'Información Básica',
            collapsible: true,
            items: [
                {xtype:'hidden',name:'action',value:'add',id:'action'},
                {xtype:'hidden',name:'pub_id',id:'pub_id',value:'<?php echo $this->idarticulo; ?>'},            

                {"xtype":"compositefield","fieldLabel":"Codigo","combineErrors":false,
                    "items":[{"name":"hpub_id",id:"hpub_id","xtype":"textfield","width":230,maxLength:16,value:'<?php echo $this->idarticulo; ?>',disabled:true}
                    ]
                }, 
                {  xtype:'textarea',
                    name: 'pub_titulo',
                    fieldLabel: 'Título',
                    width: 230,
                    height: 40
                }, 
                {  xtype:'htmleditor',
                    name: 'pub_contenido',
                    fieldLabel: 'Contenino',
                    anchor: '90%',
                    height: 250
                },
                {xtype:"datefield",fieldLabel: 'Fecha',name:'pub_fecha',width:100,maxLength:10,allowBlank:false,format : 'd/m/Y', id:'pub_fecha', value:cit.fecha},
                {"xtype":"compositefield","fieldLabel":"Tipo","combineErrors":false,
                    "items":[
                        {"name":"pub_tipo",id:'pub_tipo',"xtype":"combo","width":230,allowBlank: false,hiddenName:"pub_tipo",displayField:"state",
                            valueField:"pub_tipo",mode:"local",value:'N' ,store:cit.storePublic,triggerAction:"all",forceSelection:true,resizable:true,emptyText:'Tipo...',
                            editable:false
                        }]
                },
                {"xtype":"compositefield","fieldLabel":"Estado","combineErrors":false,
                    "items":[
                        {"name":"pub_estado","xtype":"combo","width":230,allowBlank: false,hiddenName:"pub_estado",displayField:"state",
                            valueField:"pub_estado",mode:"local",value:'1' ,store:cit.storeEstado,triggerAction:"all",forceSelection:true,resizable:true,emptyText:'Estado...',
                            editable:false
                        }]
                } 
            ]
        }
    ]; //cit.formPrincipal 
  
             var storeImagepanel = new Ext.data.JsonStore({
                url: og.getUrl('mantenimiento-publicaciones', 'json',{'case':'imagen'},'cms'),
                root: 'images',
                fields: ['name', 'url', {name:'size', type: 'float'}, {name:'lastmod', type:'date', dateFormat:'timestamp'}, 'im_id']
            });
            var xd = Ext.data;   
     
           var tpl = new Ext.XTemplate(
		'<tpl for="." style="float:left;" >',
		    '<div class="thumb" style="float:left;margin:4px;"><img src="{url}" title="{name}">',
            '<input type="checkbox" id="{im_id}" title="Eliminar"> ',
            '</div>',
        '</tpl>',
        '<div class="x-clear"></div>'
	);

            var panelimagen = new Ext.Panel({
                width:'100%',
                autoHeight:true,
                bodyStyle:'padding:10px;',
                items:[
                    {"xtype":"compositefield","fieldLabel":"Imagen","combineErrors":false,
                        "items":[
                            {
                                xtype: 'fileuploadfield',
                                emptyText: 'Seleccionar Imagen',
                                name: 'imgevento',
                                buttonText: '',
                                id: 'imgevento',
                                buttonCfg: {
                                    iconCls: 'upload-icon'
                                },
                                "width":160
                            }
                 
                        ]
                    },
                    new Ext.DataView({
                        store: storeImagepanel,
                        tpl: tpl,
                        autoHeight:true,
                        multiSelect: true,
                        overClass:'x-view-over',
                        itemSelector:'div.thumb-wrap',
                        emptyText: 'No images to display',

                        plugins: [
                            new Ext.DataView.DragSelector(),
                            new Ext.DataView.LabelEditor({dataIndex: 'name'})
                        ],

                        prepareData: function(data){
                            data.shortName = Ext.util.Format.ellipsis(data.name, 20);
                            return data;
                        }
         
                    })
        
                ],
                buttons: [{
                        text:'Cargar Imagen',
                        handler: function(){
                            if($('#imgevento').attr('value') != 'Seleccionar Imagen' && $('#imgevento').attr('value')){
                              
                            cit.formPrincipal.getForm().submit(
                                {failure: function (form, action) {  
                                       
                                    },  
                                    success: function (form, request) {  
                                       storeImagepanel.load({params:{'idevento':cit.recordCliente.data.pub_id}});                                        
                                    } 
                                });
                          
                            }
                        }
                    },
                    {
                        text:'Eliminar',
                        handler: function(){
                            cit.dataPost = {};
                            cit.dataPost.imgids = '';
                            cit.dataPost.pub_id = Ext.getCmp('hpub_id').getValue();
                            var obj = Ext.select('input[type=checkbox]').elements;
                            for (i=0; i<obj.length; i++) {
                                if (storeImagepanel.findExact('im_id',obj[i].id) > -1 && obj[i].checked) {
                                    //alert(obj[i].id);
                                    cit.dataPost.imgids = cit.dataPost.imgids + "'" + obj[i].id + "',";
                                }
                            }
                            cit.dataPost.imgids = cit.dataPost.imgids.substr(0,cit.dataPost.imgids.length - 1);
                            if (cit.dataPost.imgids != ''){
                                Ext.Msg.confirm('Alerta', '¿Está Ud. seguro de eliminar las imágenes seleccionadas?', function(btn, text){
                                    if (btn == 'yes'){
                                        og.openLink(og.getUrl('mantenimiento-publicaciones', 'ajax',{'case':'delImgeve'},'cms'), {
                                            hideLoading: true,
                                            hideErrors: true,
                                            preventPanelLoad: true, 
                                            post: cit.dataPost,
                                            onSuccess:function(){
                                                 storeImagepanel.load({params:{'idevento':cit.recordCliente.data.pub_id}});
                                            }
                                        });

                                    }
                                });
                            }else{
                                Ext.Msg.alert('Aviso','Debe seleccionar al menos una imagen para eliminar')
                            }
                        }
                    }
                ]
            });

            cit.tabsCliente = new Ext.TabPanel({   
                width:'100%',
                deferredRender:false,
                border:false,
                layoutOnTabChange : true, 
                activeTab: 0,
                defaults:{autoHeight: true},
                items:
                    [
                    {
                        title:'Datos Principales',
                        items:[cit.itemsFormTabPrincipal]
                    },
                    {
                        title:'Imagenes',
                        items:[panelimagen]
                    }
                ]
            });


            cit.formPrincipal = new  Ext.form.FormPanel({
                renderTo: 'bodyform',
                fileUpload: true,
		url:og.getUrl('mantenimiento-publicaciones','ajax',{'case':'saveimage'},'cms'),
                name: cit.itemsFormTabPrincipal,
                autoHeight:true,
                width:"100%",
                bodyStyle: "padding-left: 5px;padding-right: 5px;border:0px;",
                defaults: {anchor:0},
                items:
                    [ cit.tabsCliente ]
            });


            function saveFormData(){
                var forms = cit.formMantenimiento.form.getValues();

                if (cit.formPrincipal.form.isValid()) {
                    cit.formEnvio = cit.formPrincipal.form.getValues();	    
                    //cit.formEnvio.cat_id = forms.cat_id;
                    og.openLink(og.getUrl('mantenimiento-publicaciones','ajax',{'case':'save'},'cms'), {
                        hideLoading: false,
                        preventPanelLoad: true, 
                        post:cit.formEnvio,
                        hideErrors:false,
                        actions:cit.formPrincipal,
                        onSuccess:cit.loadTipo                     
                    });
       
                }
            }

            cit.loadTipo = function(){
                cit.gridPrin.store.reload();
            } 

            cit.actionsConfig = function(cod,tabla){
                //alert(cod)
                cit.formPrincipal.getForm().setValues({
                    action:'edit',
                    art_id: cod, 
                    hart_id:cod
                });
            }

            function deleteFormData(){
                if(cit.gridPrin.getSelectionModel().getSelected())
                    Ext.MessageBox.confirm('Confirm', 'Está Ud. seguro de eliminar el evento seleccionada?.', confirmMessajeDel);
                else
                    alertExtjs('CIT', 'Eliminar-Debe Haber al menos un registro seleccionado..');
            }
            
            function confirmMessajeDel(){
                cit.records = cit.gridPrin.getSelectionModel().getSelected();
                og.openLink(og.getUrl('mantenimiento-publicaciones','ajax',{'case':'delete'},'cms'), {
                    hideLoading: false,
                    preventPanelLoad: true, 
                    post:{'pub_id':cit.records.data.pub_id},
                    hideErrors:false,
                    onSuccess:cit.loadClienteDelete                     
                });
            }
            
            cit.loadClienteDelete=function(){
                cit.gridPrin.store.reload();
                cit.formPrincipal.form.reset();
                storeImagepanel.load();
            }



            function newFormData(){
                cit.formPrincipal.form.reset();
                $.getJSON(og.getUrl('mantenimiento-publicaciones', 'json',{'case':'newart'},'cms'),{},function(data){
                    cit.formPrincipal.getForm().setValues({
                        action:'add',
                        art_id: data.art_id,
                        hart_id: data.art_id
                    }); 
                });
            }

</script>