<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
  <head>
    <title>Login</title>
<link href="<?php echo $this->htmlHead()->baseUrl()?>/assets/themes/default/stylesheets/dialog.css" rel="Stylesheet" type="text/css" /> 
<meta http-equiv="content-type" content="text/html; charset=utf-8" /> 
<link href="<?php echo $this->baseUrl();?>/favicon.ico" rel="shortcut icon" />
  </head>
  <body>
    <div id="dialog">
      <h1>Login</h1>

<form action="http://localhost/opengoo/index.php?c=access&a=login" method="post">


  <div id="loginUsernameDiv">
    <label for="loginUsername">Username:</label>
    <input id="loginUsername" class="medium" type="text" name="login[username]" value="" />  </div>
  <div id="loginPasswordDiv">
    <label for="loginPassword">Password:</label>
    <input id="loginPassword" class="medium" type="password" name="login[password]" value="" />  </div>

  <div class="clean"></div>
  <div style="margin-top: 6px">
    <input id="loginRememberMe" type="checkbox" class="checkbox" name="login[remember]" value="checked" />    <label class="checkbox" for="loginRememberMe">Remember me for 14 days</label>
  </div>
  
  
  <div id="loginSubmit"><button class="submit" type="submit" accesskey="s">Login</button><span>(<a class="internalLink" href="http://localhost/opengoo/index.php?c=access&a=forgot_password">Forgot password?</a>)</span></div>
  <!-- <p><a class="internalLink" href="http://localhost/opengoo/index.php?c=access&a=forgot_password">Forgot password</a></p> -->

</form>    </div>
  </body>
</html>