<div class="form_zoe">
	<div class="left_zoe" style="width:29%" id="contiene"></div>
	<div class="left_zoe"  style="width:70%" id="form"></div>
</div>
<div id="jmike">
<input type="hidden" name="save[]" id="save" value=""/>   

<script>
//Declaracion de Variables
	cit.paginaSize = 400; var pages=1;
	cit.saveFomsModal = '';
	cit.record = ''; cit.filtro = '';
	
	//Store ---------------
	cit.storeSucur = <?php echo $this->sucursal;?>;
	//Imagen
	cit.storeImages = new Ext.data.JsonStore({
        url: og.getUrl('asignacion-promocion-sucursal', 'json',{'case':'getImgPromo'},'cms'),
        root: 'images',
        //idProperty: 'name',
        fields: ['name', 'url', {name:'size', type: 'float'}, {name:'lastmod', type:'date', dateFormat:'timestamp'}, 'im_id']
    });

	//Tipo de Habitaciones ------------------------------------------- -+- //Primer Grid
	cit.fields =[
		{ name : 'lleva'},
		{ name : 'tih_id'},
		{ name : 'tih_estado'},
		{ name : 'tih_desc'},
		{ name : 'tih_stock'}
	];

	cit.proxy=new Ext.data.HttpProxy({
		//url:'/cms/asignacion-promocion-sucursal/json/case/listaTipohab',
		url:og.getUrl('asignacion-promocion-sucursal','json',{'case':'listaTipohab'},'cms'),
		method:'POST'
	});
	
	cit.reader=new Ext.data.JsonReader({
		fields: cit.fields, //['NEMO', 'nomcomp'],
		root:'matches'
	});
	
	cit.storePrin = new Ext.data.Store({
		proxy:cit.proxy,
		reader:cit.reader
		//autoLoad: {params:{start: 0, limit: 150}}
	});
	cit.storePrin.load({params:{su_id:'<?php echo $this->suid?>'}})
	//store.load();
    
	cit.columns =[ 
		{dataIndex: 'tih_estado', header: 'Est', width: 30,locked: true,align:'center',
			renderer: function(v, params, record){
                switch(v){
				    case 0:return '<img title="Oculto" src="'+og.domainName+'/assets/themes/default/images/16x16/wscolors/color6.png" width="13px"></img>';break;
                    case 1:return '<img title="Activo" src="'+og.domainName+'/assets/themes/default/images/16x16/wscolors/color11.png" width="13px"></img>';break;
				}
			}   
		
		},
		{dataIndex: 'tih_desc', header: 'Descripci&oacute;nes', width: 170,locked: true,align:'left'},
		{dataIndex: 'tih_stock', header: 'Stock', width: 60,locked: true,align:'center'}

	];
	
	cit.gridPrin = new Ext.grid.GridPanel({
		//renderTo: 'contiene',
		store: cit.storePrin,         
		columns: cit.columns,
		bodyStyle:'border:0px;border-top:solid 1px #ccc;',
		height:390, 
		frame: false,
		stripeRows: true,
		columnLines: true,
		trackMouseOver: true,
		sm: new Ext.grid.RowSelectionModel({
			singleSelect: true
		}),
        loadMask: true,
		viewConfig: { forceFit: true }
	});
	
	cit.gridPrin.on('rowdblclick', function(e,i,j){//listening for the grid's 'validateedit' event
		//og.loading();		
		var records = cit.storePrin.getAt(i);
		//alert(records.data.tih_id);
		cit.formPrin.getForm().setValues({
			tih_id : records.data.tih_id
		});
		
		var filtro = cit.formPrin.getForm().getValues();
		cit.gridSecun.store.load({params: {'tih_id': records.data.tih_id,'su_id':filtro.su_id}});
	});
	//Promociones ------------------------------------------- -+- //Segundo Grid
	cit.fieldSecun =[
		{ name : 'lleva'},
		{ name : 'an_id'},
		{ name : 'pro_id'},
		{ name : 'pro_titulo'},
		{ name : 'pro_dscto'},
		{ name : 'pro_fecini'},
		{ name : 'pro_fecfin'}
	];

	cit.proxySecun=new Ext.data.HttpProxy({
		//url:'/cms/asignacion-promocion-sucursal/json/case/listaPromoSucursal',
		url:og.getUrl('asignacion-promocion-sucursal','json',{'case':'listaPromoSucursal'},'cms'),
		method:'POST'
	});
	
	cit.readerSecun=new Ext.data.JsonReader({
		fields: cit.fieldSecun, //['NEMO', 'nomcomp'],
		root:'matches'
	});
	
	cit.storeSecun = new Ext.data.Store({
		proxy:cit.proxySecun,
		reader:cit.readerSecun
		//autoLoad: {params:{start: 0, limit: 150}}
	});
	
	var smlista = new Ext.grid.CheckboxSelectionModel({
		singleSelect: false,
		sortable: false,
		checkOnly: true
	});
	
	cit.columnSecun =[ 
		smlista,
		{dataIndex: 'pro_titulo', header: 'Descripci&oacute;n', width: 180,locked: true,align:'left'},
		{dataIndex: 'pro_fecini', header: 'F Ini', width: 70,locked: false,align:'center',
			renderer: function(v, params, record){            			 
				var fecha = og.fechaRender(v, params, record);
				record.data.pro_fecini = fecha;
				return fecha;
			}
		},
		{dataIndex: 'pro_fecfin', header: 'F Venc', width: 70,locked: false,align:'center',
			renderer: function(v, params, record){            			 
				var fecha = og.fechaRender(v, params, record);
				record.data.pro_fecfin = fecha;
				return fecha;
			}
		},
		{dataIndex: 'pro_dscto', header: 'Dscto %', width: 80,locked: true,align:'right',
			renderer: function(v, params, record){
				record.data.ac_precio = v;
				return v+'%';
			}
		},
		{xtype: 'actioncolumn', header: 'Contenido', width: 40, align:'center',
			items: [{
				icon   : og.domainName+'/images/icons/fam/plugin_add.gif',  // Use a URL in the icon config
				tooltip: 'Agregar Contenido',
				handler: function(grid, rowIndex, colIndex) {
					var record = cit.storeSecun.getAt(rowIndex);
					var filtro = cit.formPrin.getForm().getValues();
					cit.formModals = formModalDesc(record,filtro);
					cit.formModals.show();
				}
			}]
		},
                {xtype: 'actioncolumn', header: 'Imagen', width: 40, align:'center',
                items: [{
                    icon   : og.domainName+'/images/icons/fam/image_add.png',  // Use a URL in the icon config
                    tooltip: 'Imagen',
                    handler: function(grid, rowIndex, colIndex) {
                    cit.record = cit.storeSecun.getAt(rowIndex);
                    cit.filtro = cit.formPrin.getForm().getValues();
    //                var xd = Ext.data;   
    //                var storeImages = new Ext.data.JsonStore({
    //                    url: og.getUrl('mantenimiento-habitacion', 'json',{'case':'imagen'},'habitacion'),
    //                    root: 'images',
    //                    fields: ['im_id','name', 'url', {name:'size', type: 'float'}, {name:'lastmod', type:'date', dateFormat:'timestamp'}]
    //                });
                    var tpl = new Ext.XTemplate(
                        '<tpl for="." style="float:left;" >',
                            '<div class="thumb" style="float:left;margin:4px;"><img src="{url}" title="{name}">',
                                '<input type="checkbox" id="{im_id}" title="Eliminar"> ',
                            '</div>',
                        '</tpl>',
                        '<div class="x-clear"></div>'
                    );
                    cit.storeImages.load({params:{'su_id':cit.filtro.su_id,'tih_id':cit.filtro.tih_id,'an_id':cit.record.data.an_id,'pro_id':cit.record.data.pro_id}});
                    cit.panelImagen = new  Ext.Panel({
                        width:'auto',
                        autoHeight:true,
                        bodyStyle:'padding:10px;',
                        items:[
                            {"xtype":"compositefield","fieldLabel":"Imagen","combineErrors":false,
                               items:[
                                    {xtype:'hidden',name:'su_id',value : cit.filtro.su_id},
                                    {xtype:'hidden',name:'an_id',value : cit.record.data.an_id},
                                    {xtype:'hidden',name:'tih_id',value : cit.filtro.tih_id},
                                    {xtype:'hidden',name:'pro_id',value : cit.record.data.pro_id},
                                    {xtype: 'fileuploadfield',
                                        emptyText: 'Seleccionar Imagen',
                                        name: 'im_id',
                                        buttonText: '',
                                        id: 'im_id',
                                        buttonCfg: {
                                            iconCls: 'upload-icon'
                                        },
                                        "width":160
                                    } 
                                ]
                            },

                            new Ext.DataView({
                                store: cit.storeImages,
                                tpl: tpl,
                                autoHeight:true,
                                multiSelect: true,
                                overClass:'x-view-over',
                                itemSelector:'div.thumb-wrap',
                                emptyText: 'No images to display',

                                plugins: [
                                    new Ext.DataView.DragSelector(),
                                    new Ext.DataView.LabelEditor({dataIndex: 'name'})
                                ],
                                prepareData: function(data){
                                    data.shortName = Ext.util.Format.ellipsis(data.name, 20);
                                    return data;
                                }
                            })
                        ],
                        buttons: [
                            {text:'Guardar',
                                handler: function(){
                                    if (cit.formModal.form.isValid()) {
                                        if(Ext.getCmp('im_id').getValue() != ''){
                                            og.loading();
//                                            cit.dataPost = cit.formModal.getForm().getValues();
//                                            og.openLink(og.getUrl('asignacion-promocion-sucursal','ajax',{'case':'saveImagen'},'cms'), {
//                                                hideLoading: true,
//                                                hideErrors: true,
//                                                preventPanelLoad: true, 
//                                                post: cit.dataPost,
//                                                onSuccess: function(){
//                                                    cit.storeImages.load({params:{'su_id':cit.filtro.su_id,'tih_id':cit.filtro.tih_id,'an_id':cit.record.data.an_id,'pro_id':cit.record.data.pro_id}});
//                                                }
//                                            });
                                            cit.formModal.getForm().submit({
                                                waitMsg : 'Cargando Imagen...',  
                                                failure: function (form, action) {  
                                                    Ext.MessageBox.show({  
                                                        title: 'Error al salvar los datos',  
                                                        msg: 'Error al salvar los datos.',  
                                                        buttons: Ext.MessageBox.OK,  
                                                        icon: Ext.MessageBox.ERROR  
                                                    });  
                                                },  
                                                success: function (form, request) {
                                                    rpta= Ext.util.JSON.decode(request.response.responseText); 
                                                    cit.storeImages.load({params:{'su_id':cit.filtro.su_id,'tih_id':cit.filtro.tih_id,'an_id':cit.record.data.an_id,'pro_id':cit.record.data.pro_id}});
                                                    Ext.getCmp('im_id').setValue('');
                                                    og.hideLoading();
                                                }
                                            });
                                        }else{
                                           Ext.Msg.alert('Aviso','Debe seleccionar una imagen para iniciar proceso.');
                                        }
                                    }
                                }
                            }, 
                            {text:'Eliminar',
                                handler: function(){
                                    cit.dataPost = {};
                                    cit.dataPost = cit.formModal.getForm().getValues();
                                    cit.dataPost.imgids = '';
                                    var obj = Ext.select('input[type=checkbox]').elements;
                                    for (i=0; i<obj.length; i++) {
                                        if (cit.storeImages.findExact('im_id',obj[i].id) >= 0 && obj[i].checked) {
                                            cit.dataPost.imgids = cit.dataPost.imgids + "'" + obj[i].id + "',";
                                        }
                                    }

                                    cit.dataPost.imgids = cit.dataPost.imgids.substr(0,cit.dataPost.imgids.length - 1);
                                    if (cit.dataPost.imgids != ''){
                                        Ext.Msg.confirm('Alerta', '¿Está Ud. seguro de eliminar las imágenes seleccionadas?', function(btn, text){
                                            if (btn == 'yes'){
                                                og.openLink(og.getUrl('asignacion-promocion-sucursal','ajax',{'case':'deleteImagen'},'cms'), {
                                                    hideLoading: true,
                                                    hideErrors: true,
                                                    preventPanelLoad: true, 
                                                    post: cit.dataPost,
                                                    onSuccess: function(){
                                                        cit.storeImages.load({params:{'su_id':cit.filtro.su_id,'tih_id':cit.filtro.tih_id,'an_id':cit.record.data.an_id,'pro_id':cit.record.data.pro_id}});
                                                    }
                                                });

                                            }
                                        });
                                    }else{
                                        Ext.Msg.alert('Aviso','Debe seleccionar al menos una imagen para eliminar')
                                    }
                                }
                            }
                        ]
                    });
					
					
                    cit.formModal = new  Ext.form.FormPanel({
                            fileUpload: true,
                            url:og.getUrl('asignacion-promocion-sucursal','ajax',{'case':'saveImagen'},'cms'),
                            //renderTo: 'contiene',
                            autoHeight:true,
                            width:"100%",
                            bodyStyle: "border:0px;margin-top:10px;border-top: solid 1px #ccc;",
                            defaults: {anchor:0},
                            items:[ cit.panelImagen]

                    });

                        cit.formModals = new Ext.Window({
                            width: 390,
                            height:390,
                            minWidth: 200,
                            minHeight: 150,
                            //bodyStyle:'padding:5px;',
                            layout : 'fit',
                            closeAction: 'hide',
                            autoDestroy:true,
                            defaultType: 'textfield',
                            plain: true,
                            modal:true,
                            title  : 'Imagen '+cit.record.data.pro_id+'-'+cit.record.data.an_id,
                            items  : [ cit.formModal ]
                        });

                        cit.formModals.show();
                    }
                }]
        
            }
	];
	
	cit.gridSecun = new Ext.grid.EditorGridPanel({
		//renderTo: 'contiene',
		store: cit.storeSecun,         
		columns: cit.columnSecun,
		clicksToEdit: 1,
		bodyStyle:'border:0px;border-top:solid 1px #ccc;',
		width:'100%',
		height:420, 
		frame: false,
		stripeRows: true,
		columnLines: true,
		trackMouseOver: true,
        loadMask: true,
		sm: smlista,
		viewConfig: { forceFit: true },
		tbar: [
			{   
				text: 'Añadir',
				iconCls: 'silk-add',
				handler : function() {
					var filtro = cit.formPrin.getForm().getValues();
					if(filtro.su_id && filtro.tih_id){
						cit.formModals = formModal(filtro.su_id,filtro.tih_id);
						cit.formModals.show();
					}
				}
			}
			,{   text: 'Eliminar',
				iconCls: 'silk-delete',
				handler : function() {
					var filtro = cit.formPrin.getForm().getValues();
					//alert(filtro.tih_id);
					if(filtro.su_id && filtro.tih_id){
						var cont = smlista.getCount();
						if(cont == 0){
							alertExtjs('info','Seleccionar-Las &aacute;reas respectivas del nivel.');	       
							return false;
						}else
							Ext.MessageBox.confirm('Confirm', 'Desea eliminar las promociones seleccionados?.', confirmMessajeSecun);	
						
					}
					
				}
			}
		]
	});
	
	
	//OnChange
	cit.changeSucursal = {
		select: function(combo, record, index){
			cit.gridPrin.store.load({params: {'su_id': record.data.su_id}});
			
		}
	};
	
	function confirmMessajeSecun(btn){
		if(btn == 'yes'){
			cit.saveFomsModal = cit.formPrin.form.getValues();
			var sd = smlista.getSelections();
			cit.saveFomsModal.grid = cadenaGrid(sd);
			
			og.openLink(og.getUrl('asignacion-promocion-sucursal','ajax',{'case':'delPromoSucursal'},'cms'), {
				hideLoading: true,
				hideErrors: true,
				preventPanelLoad: true, 
				post: cit.saveFomsModal,
				onSuccess:cit.loadFormModal
			});
		}
	}
	
	cit.formPrin = new  Ext.form.FormPanel({
		renderTo: 'contiene',
		name:'formDcto',
		autoHeight:true,
		bodyStyle:"margin-left: 5px;padding-right: 3px;border:0px",
		//width:300,
		labelWidth: 80,
		defaults:{"anchor":0},
		items : [
			{xtype:'hidden',name:'tih_id'},
			{xtype:'combo', width:130,mode:'local',triggerAction:'all',forceSelection:true,fieldLabel:'Sucursal ',editable:false,name:'su_id',emptyText:'- Sucursal -',
				hiddenName:'su_id',displayField:'state',valueField:'su_id',store: cit.storeSucur,listeners:cit.changeSucursal,value:'<?php echo $this->suid?>'
			},
			{ items : [cit.gridPrin] }//gridSecun
		]
	});
	
	cit.formSecun = new  Ext.form.FormPanel({
		renderTo: 'form',
		name:'formDcto',
		autoHeight:true,
		bodyStyle:"border:0px",
		width:"98%",
		labelWidth: 80,
		defaults:{"anchor":0},
		items : [
			{ items : [cit.gridSecun]}

		]
	});
	
	//Asignar Tipo de Habitaciones
	function newFormData(){}
	
	function saveFormData(){}
	
	function deleteFormData(){}

	
	//Asignar Accesorios
	 cit.loadFormModal = function(){
		var filtro = cit.formPrin.getForm().getValues();
		cit.gridSecun.store.load({params: {'su_id': filtro.su_id,'tih_id':filtro.tih_id}});
		cit.formModals.hide();
	}
	
	//Modal Agregar o Eliminar : 
	function formModal(sucursal,tipo){
		//Cargando Grids
		var smAcc = new Ext.grid.CheckboxSelectionModel({
			singleSelect: false,
			sortable: false,
			checkOnly: true
		});
		
		cit.fieldModal =[
			{ name : 'lleva'},
			{ name : 'pro_id'},
			{ name : 'pro_titulo' },
			{ name : 'pro_dscto' }
		];
	
		cit.proxyModal=new Ext.data.HttpProxy({
			//url:'/cms/asignacion-promocion-sucursal/json/case/selPromocion',
			url:og.getUrl('asignacion-promocion-sucursal','json',{'case':'selPromocion'},'cms'),
			method:'POST'
		});
		
		cit.readerMod=new Ext.data.JsonReader({
			fields: cit.fieldModal, //['NEMO', 'nomcomp'],
			root:'matches'
		});
		
		cit.storeMod = new Ext.data.Store({
			proxy:cit.proxyModal,
			reader:cit.readerMod
			//autoLoad: {params:{start: 0, limit: 150}}
		});
		 
		cit.columnMod =[ 
			smAcc,
			{dataIndex: 'pro_titulo', header: 'Descripci&oacute;n', width: 180,locked: true,align:'left'},
			{dataIndex: 'pro_dscto', header: '%', width: 50,locked: true,align:'left',
					renderer: function(v, params, record){
					record.data.ac_precio = v;
					return cit.formatMon(v);
				}
			}
			
		];
		  
		cit.gridMod = new Ext.grid.EditorGridPanel({
			//renderTo: 'contiene',
			store: cit.storeMod,         
			columns: cit.columnMod,
			clicksToEdit: 1,      
			width:'100%',
			height:250, 
			frame: false,
			stripeRows: true,
			columnLines: true,
			trackMouseOver: true,
			bodyStyle:'border:0px;border-top:solid 1px #ccc;',
			sm: smAcc,
			viewConfig: { forceFit: true }
			//loadMask: true
		});
		
		cit.storeMod.load({params: {'su_id':sucursal,'tih_id': tipo}});
		
			
		//var winModal;
		cit.formModal = new  Ext.form.FormPanel({
			autoHeigh:true,
			width:"100%",
			bodyStyle:"padding: 5px",
			labelWidth: 68,
			plain:true,
			defaults:{"anchor":0,border:0},//autoCreate: {tag: "input", type: "text", autocomplete: "off", maxlength: 10 },
			items:[
					{ items : [cit.gridMod] }  
		],
		buttons: [{
			text:'Guardar',
			handler: function(){
				
				 if (cit.formModal.form.isValid()) {
					var s = '';
					Ext.iterate(cit.formModal.form.getValues(), function(key, value) {
						s += String.format("{0} = {1}<br />", key, value);
					}, this);
					
					var cont = smAcc.getCount();
					if(cont == 0){
						alertExtjs('info','Seleccionar-Las promociones que se asignaran.');	       
						return false;
					}
					
					cit.saveFomsModal = cit.formPrin.form.getValues();
					var sd = smAcc.getSelections();
					cit.saveFomsModal.grid = cadenaGrid(sd);
					
					og.openLink(og.getUrl('asignacion-promocion-sucursal','ajax',{'case':'savePromoSucursal'},'cms'), {
						hideLoading: true,
						hideErrors: true,
						preventPanelLoad: true, 
						post: cit.saveFomsModal,
						onSuccess:cit.loadFormModal
					});
					//cit.hide();
				 }
					   
				
			}
		},{
			text: 'Close',
			handler: function(){
				cit.formModal.form.reset();
				winModal.hide();
			}
		}]
	
		});
		winModal = new Ext.Window({
			width: 300,
			height:320,
			minWidth: 200,
			minHeight: 150,
			//bodyStyle:'padding:5px;',
			layout : 'fit',
			closeAction: 'hide',
			autoDestroy:true,
			defaultType: 'textfield',
			plain: true,
			modal:true,
			title  : 'Agregar Accesorios',
			items  : [ cit.formModal ]
		});
		return winModal;
	
	}
	
	// Modal para agregar la desc de las promociones --------------- -+-
	function formModalDesc(vrecord,vfiltro){
		//Cargando Grids	
		//var winModal;
		cit.formModal = new  Ext.form.FormPanel({
			autoHeigh:true,
			width:"100%",
			bodyStyle:"padding: 10px 10px 10px 3px",
			labelWidth: 0.5,
			plain:true,
			defaults:{"anchor":0,border:0},//autoCreate: {tag: "input", type: "text", autocomplete: "off", maxlength: 10 },
			items:[
				{xtype:'hidden',name:'su_id',value : vfiltro.su_id},
				{xtype:'hidden',name:'an_id',value : vrecord.data.an_id},
				{xtype:'hidden',name:'tih_id',value : vfiltro.tih_id},
				{xtype:'hidden',name:'pro_id',value : vrecord.data.pro_id},
				//{xtype:"fieldset",
				//items:[
					{xtype:'htmleditor',name:'pro_desc',allowBlank:false,blankText: 'Ingrese una Contenido… ',height: 300, anchor: '100%',style:'marign-top:2px; margin-right:2px'}
				//]}
		],
		buttons: [{
			text:'Guardar',
			handler: function(){
				 if (cit.formModal.form.isValid()) {
					
					cit.saveFomsModal = cit.formModal.form.getValues();
		
					og.openLink(og.getUrl('asignacion-promocion-sucursal','ajax',{'case':'saveContenido'},'cms'), {
						hideLoading: true,
						hideErrors: true,
						preventPanelLoad: true, 
						post: cit.saveFomsModal,
						onSuccess:cit.loadFormModal
					});
					//cit.hide();
				 }
			}
		},{
			text: 'Close',
			handler: function(){
				cit.formModal.form.reset();
				winModal.hide();
			}
		}]
	
		});
		
		cit.storeDesc = new Ext.data.JsonStore({
			fields : ['pro_desc'],
			url: og.getUrl('asignacion-promocion-sucursal','json',{'case':'Contenido'},'cms'),
			root: 'matches'
		});
		
		cit.storeDesc.load({params:{'su_id':vfiltro.su_id,'tih_id':vfiltro.tih_id,'pro_id':vrecord.data.pro_id,'an_id':vrecord.data.an_id}});
		
		cit.storeDesc.on('load', function(s, r) { 
			Ext.each(r, function(records) {
				cit.formModal.form.loadRecord(records);
			});
		});

		winModal = new Ext.Window({
			width: 540,
			height:380,
			minWidth: 200,
			minHeight: 150,
			//bodyStyle:'padding:5px;',
			layout : 'fit',
			closeAction: 'hide',
			autoDestroy:true,
			defaultType: 'textfield',
			plain: true,
			modal:true,
			title  : 'Agregar el Contenido Nº '+vrecord.data.pro_id+'-'+vrecord.data.an_id,
			items  : [ cit.formModal ]
		});
		return winModal;
	
	}
	

		
		


	//end imagen --------------------------------------------------------+
	/*
	function cadenaGrid(records){
		//var records = sm.getSelections();
		var datos = '';
		$.each(records, function(i){
			datos = datos + records[i].data.lleva;
			datos = datos+'**';
		});
		datos =  datos.substring(0,datos.length-2);	
		
		return datos;
	}*/
</script>
</div>
