<div class="form_zoe">
	<div>
        <p style="float: left; width: 120px;">Perfil de Us:</p>
        <p style="float: left;">
            <select id="per_id" style="margin-right: 10px;" onchange="cit.tipoUsuario();">
                <?php echo $this->tipousuario;?>
            </select>
        </p>
        
        <p style="float: left; width: 50px;">Sucursal:</p>
        <p style="float: left;">
            <select id="su_id" onchange="cit.tipoUsuario();">
                <?php echo $this->sucursal;?>
            </select>
        </p>
    </div>
    <div class="fila_zoe">
    	<div id="contiene" class="left_zoe" style="width:30%"></div>
		<div id="opciones" class="left_zoe" style="width:69%"></div>
    </div>
</div>
<script>
cit.tipoUsuario=function(){
  //alert($('#su_id').attr('value'));
   cit.storeUsuarios.load({params:{'per_id': $('#per_id').attr('value'),'su_id': $('#su_id').attr('value')}}) 
}
	cit.storeUsuarios = new Ext.data.Store({
		proxy:new Ext.data.HttpProxy({
    		url: og.getUrl('seguridad-nivel-acceso-usuario', 'json',{'case':'usuario'},'seguridad'),
    		method:'POST'
    	}),
		reader:new Ext.data.JsonReader({
    		fields: [
    			{ name : 'lleva'},
    			{ name : 'us_id' },
                { name : 'us_login' },
                { name : 'pe_id' },
                { name : 'pe_nomcomp' }
    		],
    		root:'matches'
    	}),
		autoLoad: {params:{start: 0, limit: 500,per_id:'<?php echo $this->tipuse;?>',su_id:'<?php echo $this->su_id;?>'}}
	});
	
  	var categoriesPagingBar = new Ext.PagingToolbar( {
    pageSize: 500,
    displayInfo: false,
    store: cit.storeUsuarios
    
}); 
  categoriesPagingBar.on('beforechange',function(bar,params){  
    params.per_id = $('#per_id').attr('value');
}); 
  
	cit.gridUsuario = new Ext.grid.GridPanel({
		renderTo: 'contiene',
		store: cit.storeUsuarios,         
		columns: [  
        		{dataIndex: 'us_login', header: 'Usuario', width: 100},
                {dataIndex: 'pe_nomcomp', header: 'Nombre', width: 210}
        	],      
		width:'100%',
		height:350, 
		stripeRows: true,
		trackMouseOver: true,
        loadMask: true,
        bbar: categoriesPagingBar,
        bodyStyle:'margin-right:8px;border-top:solid 1px #ccc;',
		viewConfig: { forceFit: true }
	});
	

    
	cit.gridUsuario.on('cellclick', function(e,i,j){//listening for the grid's 'validateedit' event 
		var records = cit.storeUsuarios.getAt(i);
            cit.divs = 'opciones';
	       cit.procesarAjax({'per_id':$('#per_id').attr('value'),'su_id':$('#su_id').attr('value'),'us_id':records.data.us_id,'us_login':records.data.us_login,'pe_id':records.data.pe_id},og.getUrl('seguridad-nivel-acceso-usuario', 'permisos',{},'seguridad'));
	   });

function saveFormData(){
        if($('#formpermisos')){
            var envios = $('#formpermisos').serialize();	    
            og.openLink(og.getUrl('seguridad-nivel-acceso-usuario','ajax',{'case':'save'},'seguridad'), {
        		hideLoading: false,
        		preventPanelLoad: true, 
        		post:envios,
                hideErrors:false                   
        	});
       }
    }

</script>
