
	<title>Sencha PHP</title>
	<link rel="stylesheet" href="<?php  echo $this->htmlHead()->js();?>/sencha/sencha-touch/resources/css/sencha-touch.css"/>
    <script type="text/javascript" src="<?php  echo $this->htmlHead()->js();?>/sencha/apps.js"></script>
    <script type="text/javascript" src="<?php  echo $this->htmlHead()->js();?>/sencha/sencha-touch/sencha-touch-debug.js"></script>
    <link rel="stylesheet" href="<?php  echo $this->htmlHead()->js();?>/sencha/css.css"/>

    <div id="guests" class="x-hidden-display">
        <tpl for=".">
            <div class="detail">
                <div class="clear">
                    <label class="label2 topleft">Enviar</label>
                    <span class="span2 topright">{name}</span>
                </div>
                <div class="clear">
                    <label class="label2">Url</label>
                    <span class="span2">{url}</span>
                </div>
                <div class="clear">
                    <label class="label2 bottomleft">Mensaje</label>
                    <span class="span2 bottomright">{message}</span>
                </div>
                <div class="clear"></div>
            </div>
        </tpl>
    </div>

