<div style="margin-left:5px; clear:both" id="form"></div>
<div  style="margin-left:15px;" id="div_render"></div>
    
<script type="text/javascript">
   Ext.apply(Ext.form.VTypes, {
        daterange : function(val, field) {
            var date = field.parseDate(val);

            if(!date){
                return false;
            }
            if (field.startDateField) {
                var start = Ext.getCmp(field.startDateField);
                if (!start.maxValue || (date.getTime() != start.maxValue.getTime())) {
                    start.setMaxValue(date);
                    start.validate();
                }
            }
            else if (field.endDateField) {
                var end = Ext.getCmp(field.endDateField);
                if (!end.minValue || (date.getTime() != end.minValue.getTime())) {
                    end.setMinValue(date);
                    end.validate();
                }
            }
            /*
             * Always return true since we're only using this vtype to set the
             * min/max allowed values (these are tested for after the vtype test)
             */
            return true;
        }
    });
    //Declaracion de Variables
    cit.storeSucur = <?php echo $this->sucursal;?>;
    cit.cbotarifa = new Ext.data.JsonStore({
        fields : ['ta_id', 'ta_desc'],
        //autoLoad: true,
        url: og.getUrl('reserva-room-avail','json',{'case':'tarifa'},'reserva'),
        root: 'matches'
    });
    
    
    
    cit.paginaSize = 400; var pages=1;
    cit.win;
    cit.idSelect = ''; 

   
	
    cit.changeFecha = {
        select: function(dates, value){
            var filtro = cit.formPrin.getForm().getValues();
//            if(filtro.fec_ini && filtrio.fec_fin)
//                cit.filtroReserva();
        }
    };

    cit.formPrin = new  Ext.form.FormPanel({
        renderTo: 'form',
        name:'formDcto',
        autoHeight:true,
        bodyStyle:"margin-left: 7px;padding-right: 10px;border:0px",
        width:"98%",
        labelWidth: 80,
        defaults:{"anchor":0},
        items : [
            {xtype:"fieldset",
            items:[
                {xtype:'compositefield',fieldLabel:'Sucursal ',combineErrors:false,
                items:[
                    {xtype:'combo', width:100,mode:'local',triggerAction:'all',forceSelection:true,editable:false,name:'su_id',emptyText:'- Sucursal -',allowBlank:false,
                        hiddenName:'su_id',value:'<?php echo $this->suid?>',displayField:'state',valueField:'su_id',store: cit.storeSucur,listeners: cit.changeSucursal,minListWidth:'160'
                    },
                    {xtype:'displayfield',value:'Fecha de :',width:80,style:'padding-top:+3px; margin-left:20px'},
                    {xtype:'datefield',id:'fec_ini',name:'fec_ini',width: 95,format:'d/m/Y',style:'text-align:center;',listeners: cit.changeFecha,
                        vtype: 'daterange',endDateField: 'fec_fin', allowBlank: false, value: '<?php echo $this->fecha?>'
                    },// id of the end date field},
                    {xtype:'displayfield',value:'hasta :',width:70,style:'padding-top:+3px; margin-left:20px'},
                    {xtype:'datefield',id:'fec_fin',name:'fec_fin',width: 95,format:'d/m/Y',style:'text-align:center;',listeners: cit.changeFecha,
                        vtype: 'daterange',startDateField: 'fec_ini', allowBlank: false
                    },
                    {xtype:'displayfield',width:10},
                    {
                    buttons: [{
                        text:'Limpiar',
                        handler: function(){
                            cit.formPrin.form.reset();
                        }
                    }
                ]}//end buttons
            ]}//end Compositefield
        ]}//Fieldset
    

        ]
    });
	
    cit.cbotarifa.load({callback:function(r){
        cit.divs = 'div_render';
        cit.procesarAjax({},og.getUrl('reserva-room-avail', 'render',{'su_id' : '<?php echo $this->suid?>'},'reserva'));
    }});
    
            
    function newFormData(){}

    function saveFormData(){}

    function deleteFormData(){}

    function confirmMessaje(btn){}

    cit.loadFormDel = function(){}
	
	//----------------------
</script>
