<div id="contiene"></div>
<script>
    cit.anio = <?php echo $this->form['anio']?>;
    cit.mes = '<?php echo $this->form['mes_id']?>';
    
    cit.fields =[ 
            { name : 'tih_id'}, { name : 'tih_desc'},
            { name : 'day1'},
            { name : 'day2'},
            { name : 'day3'},
            { name : 'day4'},
            { name : 'day5'},
            { name : 'day6'},
            { name : 'day7'},
            { name : 'save'}

        ];

    cit.proxy=new Ext.data.HttpProxy({
            //url:'/reserva/reserva-consulta/json/case/listaReservas',
            url:og.getUrl('reserva-room-avail','json',{'case':'lista'},'reserva'),
            method:'POST'
    });

    cit.reader=new Ext.data.JsonReader({
        fields: cit.fields, //['NEMO', 'nomcomp'],
        root:'matches'
    });

    cit.storePrin = new Ext.data.Store({
        proxy:cit.proxy,
        reader:cit.reader
        //autoLoad: true
    });
	
//    cit.group = new Ext.ux.grid.ColumnHeaderGroup({
//        rows: [ [ {header: '', colspan: 1, align: 'center'},<?php echo $this->form['header'];?> ] ]//{header: '', colspan: 2, align: 'center'}
//    });
	
    cit.group = new Ext.ux.grid.ColumnHeaderGroup({
        rows: [ [ {header: '', colspan: 1, align: 'center'},{header: 'Semana', colspan: 7, align: 'center'} ] ]//{header: '', colspan: 2, align: 'center'}
    });
    
    cit.columns = [
        {dataIndex: 'tih_desc', header: 'Tipo Hab.', width: 100, align:'left' },
        {dataIndex: 'ta_id', header: 'Tarifa', width: 45,locked: true,align:'center',
            editor: new Ext.form.ComboBox({
                store: cit.cbotarifa,displayField: 'ta_desc',valueField:'ta_id',
                typeAhead: true,   
                editable: true,
                mode: 'local',
                triggerAction: 'all',
                selectOnFocus:true            	    
            }),
            renderer: function(v, params, record){
                var datus = '-Selecionar-';
                $.each(cit.cbotarifa.data, function(index, value) {
                    var records = cit.cbotarifa.getAt(index);
                    if(records.data.ta_id == v){	
                        datus = records.data.ta_desc;
                        return true
                    }            		
                });
                return datus;
            }    
        },
        { 
            xtype: 'checkcolumn',
            header: 'Lunes',
            dataIndex: 'day1',
            width: 55,
            align:'center',
            value: 1
        },
        { 
            xtype: 'checkcolumn',
            header: 'Martes',
            dataIndex: 'day2',
            width: 55,
            align:'center',
            value: 2
        },
        { 
            xtype: 'checkcolumn',
            header: 'Miercoles',
            dataIndex: 'day3',
            width: 55,
            align:'center',
            value: 3
        },
        { 
            xtype: 'checkcolumn',
            header: 'Jueves',
            dataIndex: 'day4',
            width: 55,
            align:'center',
            value: 4
        },
        { 
            xtype: 'checkcolumn',
            header: 'Viernes',
            dataIndex: 'day5',
            width: 55,
            align:'center',
            value: 5
        },
        { 
            xtype: 'checkcolumn',
            header: 'Sábado',
            dataIndex: 'day6',
            width: 55,
            align:'center',
            value: 6
        },
        { 
            xtype: 'checkcolumn',
            header: 'Domingo',
            dataIndex: 'day7',
            width: 55,
            align:'center',
            value: 7
        },
        {
            xtype: 'actioncolumn',
            align:'center',
            width: 50,
            items: [{
                icon   : '<?php echo $this->htmlHead()->urlSite(); ?>/images/icons/fam/accept.png',  // Use a URL in the icon config
                tooltip: 'Guardar el CAmbio de Tarifa',
                handler: function(grid, rowIndex, colIndex) {
                    var rec = cit.storePrin.getAt(rowIndex);
                    
                    if (cit.formPrin.form.isValid()) {
                        var tarifa = '';
                        cit.formSave = cit.formPrin.form.getValues();
                        if(rec.get('ta_id')){
                            tarifa = rec.get('ta_id') + '**' + rec.get('day1') + '**' + rec.get('day2') + '**' + rec.get('day3') 
                                + '**' + rec.get('day4') + '**' + rec.get('day5') + '**' + rec.get('day6') + '**' + rec.get('day7');
                            cit.formSave.grid = tarifa;
                            cit.formSave.tih_id = rec.get('tih_id');
                            og.openLink(og.getUrl('reserva-room-avail','ajax',{'case':'roomAvail'},'reserva'), {
                                hideLoading: false,
                                hideErrors: false,
                                preventPanelLoad: true, 
                                post:cit.formSave
                                //onSuccess:cit.loadFormsPrinc
                            });
                        }else{
                            alertExtjs('CIT', 'Seleccionar-Un tipo de tarifa..');
                        }
                        
                    }else{
                        alertExtjs('CIT', 'Fechas-Debe seleccionar las fechas para proceder al cambio..');
                    }
                    
                }
            }]
        }
        
    ];

    cit.gridPrin = new Ext.grid.EditorGridPanel({
        renderTo: 'contiene',
        store: cit.storePrin,         
        columns: cit.columns,
        clicksToEdit: 1, 
        bodyStyle:'border:0px;border-top:solid 1px #ccc;',
        width:'100%',
        height:420, 
        frame: false,
        stripeRows: true,
        columnLines: true,
        trackMouseOver: true,
        loadMask: true,
        viewConfig: { forceFit: true },
        plugins: cit.group
    });
	
    cit.gridPrin.store.load({params: {'mes_id':'<?php echo $this->data['mes_id']?>','su_id':'<?php echo @$this->data['su_id'];?>'}});
	
	/*cit.gridPrin.on('cellclick', function(e,i,j){//listening for the grid's 'validateedit' event
		
		var records = cit.storePrin.getAt(i);
        formulario.form.reset(); 
        storeImages.load({params:{'hb_id':records.data.hb_id}});
        formulario.form.setValues({'hb_id':records.data.hb_id});
		cit.idSelect = records.data.hb_id;
	});*/
</script>


