<div class="form_zoe">
	<div id="contiene" style="width:29%;" class="left_zoe"> </div>
	<div id="bodyform" style="width: 69%;" class="left_zoe"></div>

</div>
<input type="hidden" name="save[]" id="save" value=""/>


<script>
cit.tih_id='';
 cit.Id ='';
cit.storeCategoria=new Ext.data.Store({
	proxy:new Ext.data.HttpProxy({url:og.getUrl('mantenimiento-categorias', 'json',{'case':'categorias'},'cms')}),
	reader:new Ext.data.JsonReader({
	fields: [{ name : 'cat_id'},
	         { name: 'cat_div'},
	         { name: 'cat_estado'},
	         { name: 'cat_titulo'},
             { name: 'cat_id_id'},
             { name: 'cat_public'}
             
            ],
		 root:'matches'
	})
});
cit.storeCategoria.load();

cit.storeTipoPublic = new Ext.data.JsonStore({
    idProperty: 'cat_public',
    root: 'categ',
    fields: ['cat_public','cat_desc'],
    data:{
        categ:[
            {cat_public: 'C', cat_desc:'Componente'},
            {cat_public: 'P', cat_desc:'Publicación'},
            {cat_public: 'E', cat_desc:'Email'}
        ]
    }
});

cit.colModAula = new Ext.ux.grid.LockingColumnModel(
	[
		//{dataIndex: 'cat_div', header: 'Div ', width: 80,css:'background-color: #FFF;'},
        {dataIndex: 'cat_estado', header: 'Est.', width: 30,
        renderer: function(v, params, record){
                switch(v){
				    case 0:return '<img title="Oculto" src="'+og.domainName+'/assets/themes/default/images/16x16/wscolors/color6.png" width="13px"></img>';break;
                    case 1:return '<img title="Activo" src="'+og.domainName+'/assets/themes/default/images/16x16/wscolors/color11.png" width="13px"></img>';break;
				}
			}   
        },
		{dataIndex: 'cat_titulo', header: 'Titulo', width: 170},
		
	]
);
var categoriesPagingBar = new Ext.PagingToolbar( {
    pageSize: 400,
    displayInfo: false,
    store: cit.storeCategoria
});  

cit.gridCategoria = new Ext.grid.EditorGridPanel({
	store: cit.storeCategoria,
	colModel: cit.colModAula,
	clicksToEdit: 1,
	width:'100%',
	height:380,
	stripeRows: true,
	columnLines: true,
    loadMask: true,
	bbar: categoriesPagingBar,
    loadMask: true,
	viewConfig: { forceFit: true }
});
 

 
cit.gridCategoria.on('rowdblclick', function(e,i,j){//listening for the grid's 'validateedit' event
	cit.recordCliente = cit.storeCategoria.getAt(i);
    cit.recordCliente.data.action = 'edit';
    cit.formPrincipal.form.reset();
    cit.formPrincipal.form.loadRecord(cit.recordCliente);
});



cit.gridCategoria.on('cellclick', function(e,i,j){//listening for the grid's 'validateedit' event
	cit.recordId = cit.storeCategoria.getAt(i);
    cit.Id = true;
    
});

cit.gridCategoria.render('contiene');
cit.suEstado = <?php echo $this->suestado;  ?>


cit.itemsFormTabPrincipal = [
	{
		xtype: 'fieldset',
		title: 'Información Básica',
        collapsible: true,
		items: [
            {xtype:'hidden',name:'action',value:'add',id:'action'},
            {xtype:'hidden',name:'cat_id',id:'cat_id'},            
            
            {"xtype":"compositefield","fieldLabel":"Codigo","combineErrors":false,
				"items":[{"name":"cat_id_id",id:"cat_id_id","xtype":"textfield","width":230,maxLength:16,value:'<?php echo $this->categoria;?>',disabled:true}
						]
			}, 
            {"xtype":"compositefield","fieldLabel":"Link","combineErrors":false,
				"items":[{name:"cat_div","xtype":"textfield","width":230,maxLength:32},
						]
			},
            {"xtype":"compositefield","fieldLabel":"Titulo","combineErrors":false,
				"items":[{name:"cat_titulo","xtype":"textfield","width":230,"allowBlank":false,maxLength:32},
						]
			},
            {"xtype":"compositefield","fieldLabel":"Estado","combineErrors":false,
				"items":[
							{"name":"cat_estado","xtype":"combo","width":230,allowBlank: false,hiddenName:"cat_estado",displayField:"state",valueField:"cat_estado",mode:"local",value:'1' ,store:cit.suEstado,triggerAction:"all",forceSelection:true,resizable:true,emptyText:'Estado...',editable:false}
						]
			},
            {"xtype":"compositefield","fieldLabel":"Tipo de Publicación","combineErrors":false,
				"items":[
							{"name":"cat_public","xtype":"combo","width":230,allowBlank: false,hiddenName:"cat_public",displayField:"cat_desc",valueField:"cat_public",mode:"local",value:'C' ,store:cit.storeTipoPublic,triggerAction:"all",forceSelection:true,resizable:true,emptyText:'Tipo Publicacion...',editable:false}
						]
			}
             
		]
	}
]; //cit.formPrincipal 
/**/
/*********************************************************************************************/

/***********************************************************************************************/
cit.tabsCliente = new Ext.TabPanel({   
    width:'100%',
    activeTab: 0,
    deferredRender:false,
    border:false,
    layoutOnTabChange : true, 
    defaults:{autoHeight: true},
    items:
        [
        	{
            	title:'Datos Principales',
            	items:[cit.itemsFormTabPrincipal]
			}
		]
});


cit.formPrincipal = new  Ext.form.FormPanel({
    renderTo: 'bodyform',
    name: cit.itemsFormTabPrincipal,
	autoHeight:true,
	width:"100%",
	bodyStyle: "padding-left: 5px;padding-right: 5px;border:0px",
	defaults: {anchor:0},
	items:
      [ cit.tabsCliente ]});
cit.formPrincipal.render('bodyform');

function saveFormData(){
    	if (cit.formPrincipal.form.isValid()) {
        cit.formEnvio = cit.formPrincipal.form.getValues();	    
        og.openLink(og.getUrl('mantenimiento-categorias','ajax',{'case':'save'},'cms'), {
    		hideLoading: false,
    		preventPanelLoad: true, 
    		post:cit.formEnvio,
            hideErrors:false,
            actions:cit.formPrincipal,
            onSuccess:cit.loadTipo                     
    	});
       
    }
}

    cit.loadTipo = function(){
     cit.gridCategoria.store.load();
        cit.Id='';
    } 

    cit.actionsConfig = function(cod,tabla){
           cit.formPrincipal.getForm().setValues({
                action:'edit',
                tih_id: cod, 
                tih_id_id:cod
            });
    }

function deleteFormData(){
	if( cit.Id){	   
	       og.openLink(og.getUrl('mantenimiento-categorias','ajax',{'case':'delete'},'cms'), {
    		hideLoading: false,
    		preventPanelLoad: true, 
    		post:{'cat_id':cit.recordId.data.cat_id},
            hideErrors:false,
            onSuccess:cit.loadClienteDelete                     
    	});
	}else{
		alertExtjs('CIT', 'Eliminar-Debe Haber al menos un registro seleccionado..');
	}
}
cit.loadClienteDelete=function(){
     cit.Id='';
    cit.gridCategoria.store.load();
   cit.formPrincipal.form.reset(); 
}



function newFormData(){
	cit.formPrincipal.form.reset();
    $.getJSON(og.getUrl('mantenimiento-categorias', 'json',{'case':'newtipo'},'cms'),{},function(data){
        cit.formPrincipal.getForm().setValues({
                action:'add',
                tih_id: data.tih_id,
                tih_id_id: data.tih_id
            }); 
    });
}

</script>