<?php 
	$redirect = Zend_Controller_Action_HelperBroker::getStaticHelper('Redirector');
	$interno = $redirect->getRequest()->getParam('interno',0);
	$tih_id = $redirect->getRequest()->getParam('tih',0);
	$sesion = new Zend_Session_Namespace('web');
?>
<div class="main-qphotels-360">
    <div class="enjoy-360">
        <div class="enjoy-content">
            <div class="enjoy-logo">
                <a href="<?php echo $this->htmlIndex()->urlSite();?>"><img src="<?php echo $this->htmlIndex()->img()?>/hotel/images/enjoy-logo.png"/></a>
            </div>
            <div class="enjoy-menu">
                <ul class="hover_block">
                    <?php echo $this->htmlIndex()->menu_publicacion('categoria');?>
                </ul>
            </div>
        </div>
        <div class="enjoy-imagen" id="s1">
            <?php echo $this->htmlIndex()->habitacion_imagen($this->habitacion['tih_id']);?>
        </div>
    </div>
    <div class="reserva-qp-360">
            <div class="welcome-360">
                <p class="welcome-letra-360"><?php echo $this->interno['cat_titulo']?> !</p>
                <p class="welcome-parrafo-360">
                    <?php echo $this->interno['cat_desc']?>
                </p>
                <ul class="list-reserva">
                    <?php echo $this->htmlIndex()->habitacion_lista($tih_id,$interno);?>
                </ul>	
            </div>
            <div class="content-form1">
                <div class="room-w100">
                    <div class="best_rate-360">
                        <?php echo $this->htmlIndex()->getDescripciones('VER');?>
                    </div>	
                </div>
            </div>
    </div>
</div>
<div class="main-promocion-room">
    <div class="main-room">
       <h3><?php echo @$this->habitacion['tih_desc'];?></h3>
        <p>
            <?php echo @$this->habitacion['tih_coment'];?>
        </p>
        <?php 
            if(strlen(@$this->habitacion['tih_coment'])<= 550){?>
                <div class="content-form-550">
                    <div class="w100-100">
                        <input type="submit" onClick="getReservar();" value="<?php echo Cit_Init::_('BOTON_RESERVA')?>" class="button left1"/>
                    </div>
                </div>
            <?php }else{?>
                <div class="content-form-else">
                    <div class="w100-100">
                        <input type="submit" onClick="getReservar();" value="<?php echo Cit_Init::_('BOTON_RESERVA')?>" class="button left1"/>
                    </div>
                </div>
            <?php }
        ?>
        
    </div>
    <div class="main-accesorio">
        <div class="cont-acce">
            <h3><?php echo Cit_Init::_('WEB_ACCESORIO')?></h3>
            <ul>
                <?php echo $this->htmlIndex()->habitacion_accesorios($this->habitacion['tih_id']);?>
            </ul>
        </div>
    </div>
</div>
<script type="text/javascript">
    function getReservar(){
        document.location.href = '<?php echo $this->htmlHead()->urlSite().'/proceso-reserva?ho_id='.$this->hotel.'&fecha_ini='.$this->fechas['hoy'].'&fecha_fin='.$this->fechas['man'].'&num_adults=1';?>';
    }
</script>