<div class="form_zoe">
    <div id="contiene" class="left_zoe" style="width:29%"></div>
    <div id="form" class="left_zoe" style="width:70%"></div>
</div>
<style>
    .silk-state {
    background-image: url("fam/user.gif") !important;
    background-repeat: no-repeat;
}
</style>

<div id="jmike">
    <input type="hidden" name="save[]" id="save" value=""/>    

    <script type="text/javascript">
        //Declaracion de Variables

        cit.paginaSize = 400; var pages=1;
        cit.win; winModal = '';
        cit.idtipo = ''; cit.edit = 'save';
        cit.idSelect = '';// cit.formModal = '';

        cit.storeSucur = <?php echo $this->sucursal; ?>;
        cit.storeTarifa = <?php echo $this->tarifa; ?>;

        cit.storeContenido = new Ext.data.JsonStore({
            fields : ['tih_desc'],
            url: og.getUrl('asignacion-tarifa-tipo-hab','json',{'case':'contenido'},'habitacion'),
            root: 'matches'
        });
    
        cit.storeImages = new Ext.data.JsonStore({
            url: og.getUrl('asignacion-tarifa-tipo-hab', 'json',{'case':'getImages'},'habitacion'),
            root: 'images',
            //idProperty: 'name',
            fields: ['name', 'url', {name:'size', type: 'float'}, {name:'lastmod', type:'date', dateFormat:'timestamp'}, 'im_id']
        });

        //Tipo de Habitaciones ------------------------------------------- -+- //Primer Grid
        cit.fields =[
            { name : 'su_id'},
            { name : 'su_estado'},
            { name : 'su_nombre'}
        ];

        cit.proxy=new Ext.data.HttpProxy({
            //url:'/habitacion/asignacion-tarifa-tipo-hab/json/case/listaSucursal',
            url:og.getUrl('asignacion-tarifa-tipo-hab','json',{'case':'listaSucursal'},'habitacion'),
            method:'POST'
        });

        cit.reader=new Ext.data.JsonReader({
            fields: cit.fields, //['NEMO', 'nomcomp'],
            root:'matches'
        });

        cit.storePrin = new Ext.data.Store({
            proxy:cit.proxy,
            reader:cit.reader
            //autoLoad: {params:{start: 0, limit: 150}}
        });

        cit.columns =[ 
            {dataIndex: 'su_estado', header: 'Est', width: 40,locked: true,align:'center',
                renderer: function(v, params, record){
                    switch(v){
                        case 0: return '<img title="Oculto" src="'+og.domainName+'/assets/themes/default/images/16x16/wscolors/color6.png" width="13px"></img>';break;
                            case 1: return '<img title="Activo" src="'+og.domainName+'/assets/themes/default/images/16x16/wscolors/color11.png" width="13px"></img>';break;
                            }
                        }   

                    },
                    {dataIndex: 'su_nombre', header: 'Sucursales', width: 200,locked: true,align:'left'}

                ];
	
                cit.gridPrin = new Ext.grid.GridPanel({
                    //renderTo: 'contiene',
                    store: cit.storePrin,         
                    columns: cit.columns,
                    bodyStyle:'border:0px;border-top:solid 1px #ccc;',
                    height:350, 
                    frame: false,
                    stripeRows: true,
                    columnLines: true,
                    trackMouseOver: true,
                    sm: new Ext.grid.RowSelectionModel({	// Permite que al momento de selecciona un campo, se seleccione toda la fila
                        singleSelect: true
                    }),
                    loadMask: true,
                    viewConfig: { forceFit: true }
                });

                cit.gridPrin.store.load();
	
                cit.gridPrin.on('cellclick', function(e,i,j){//listening for the grid's 'validateedit' event
                    //og.loading();
                    var records = cit.storePrin.getAt(i);
                    cit.idSelect = records.data.tih_id;
                });

                cit.gridPrin.on('rowdblclick', function(e,i,j){//listening for the grid's 'validateedit' event
                    //og.loading();
                    var records = cit.storePrin.getAt(i);
                    cit.formPrin.getForm().setValues({
                        su_id : records.data.su_id
                    });
                    cit.gridSecun.store.load({params: {'su_id': records.data.su_id}});
                });
	
                //Accesorios ------------------------------------------- -+- //Segundo Grid
                cit.fieldSecun =[
                    { name : 'lleva'},        
                    { name : 'su_id'},
                    { name : 'tih_id'},
                    { name : 'imagen'},
                    { name : 'tih_desc'},
                    { name : 'tih_abr'},
                    { name : 'tih_stock'},
                    { name : 'tih_state'},
                ];

                cit.proxySecun=new Ext.data.HttpProxy({
                    //url:'/habitacion/asignacion-tarifa-tipo-hab/json/case/listaTipohab',
                    url:og.getUrl('asignacion-tarifa-tipo-hab','json',{'case':'listaTipohab'},'habitacion'),
                    method:'POST'
                });
	
                cit.readerSecun=new Ext.data.JsonReader({
                    fields: cit.fieldSecun, //['NEMO', 'nomcomp'],
                    root:'matches'
                });
	
                cit.storeSecun = new Ext.data.Store({
                    proxy:cit.proxySecun,
                    reader:cit.readerSecun
                    //autoLoad: {params:{start: 0, limit: 150}}
                });
	
                var smlista = new Ext.grid.CheckboxSelectionModel({
                    singleSelect: false,
                    sortable: false,
                    checkOnly: true
                });
	
                cit.columnSecun =[ 
                    smlista,
                    {dataIndex: 'tih_desc', header: 'Descripci&oacute;n', width: 140,locked: true,align:'left'},
                    {dataIndex: 'tih_stock', header: 'Stock', width: 50,locked: true,align:'center'},
                    {xtype: 'actioncolumn', header: 'Imagen', width: 40, align:'center',
                        items: [{
                            icon   : og.domainName+'/images/icons/fam/image_add.png',  // Use a URL in the icon config
                            tooltip: 'Imagen',
                            handler: function(grid, rowIndex, colIndex) {
                                cit.record = cit.storeSecun.getAt(rowIndex);
                                cit.records = cit.gridPrin.getSelectionModel().getSelected();
                                var xd = Ext.data;   
//                                var storeImages = new Ext.data.JsonStore({
//                                    url: og.getUrl('asignacion-tarifa-tipo-hab', 'json',{'case':'imagen'},'habitacion'),
//                                    root: 'images',
//                                    fields: ['im_id','name', 'url', {name:'size', type: 'float'}, {name:'lastmod', type:'date', dateFormat:'timestamp'}]
//                                });
                                var tpl = new Ext.XTemplate(
                                    '<tpl for="." style="float:left;" >',
                                    '<div class="thumb" style="float:left;margin:4px;"><img src="{url}" title="{name}">',
                                    '<input type="checkbox" id="{im_id}" title="Eliminar"> ',
                                    '</div>',
                                    '</tpl>',
                                    '<div class="x-clear"></div>'
                                );
                                cit.storeImages.load({params:{'su_id':cit.records.data.su_id,'tih_id':cit.record.data.tih_id}});
                                cit.panelImagen = new  Ext.Panel({
                                    width:'auto',
                                    autoHeight:true,
                                    bodyStyle:'padding:10px;',
                                    items:[
                                        {"xtype":"compositefield","fieldLabel":"Imagen","combineErrors":false,
                                            items:[
                                                {xtype:'hidden',name:'su_id',value : cit.records.data.su_id},
                                                {xtype:'hidden',name:'tih_id',value : cit.record.data.tih_id},
                                                {xtype: 'fileuploadfield',
                                                    emptyText: 'Seleccionar Imagen',
                                                    name: 'im_id',
                                                    buttonText: '',
                                                    id: 'im_id',
                                                    buttonCfg: {
                                                        iconCls: 'upload-icon'
                                                    },
                                                    "width":160
                                                } 
                                            ]
                                        },

                                        new Ext.DataView({
                                            store: cit.storeImages,
                                            tpl: tpl,
                                            autoHeight:true,
                                            multiSelect: true,
                                            overClass:'x-view-over',
                                            itemSelector:'div.thumb-wrap',
                                            emptyText: 'No images to display',

                                            plugins: [
                                                new Ext.DataView.DragSelector(),
                                                new Ext.DataView.LabelEditor({dataIndex: 'name'})
                                            ],
                                            prepareData: function(data){
                                                data.shortName = Ext.util.Format.ellipsis(data.name, 20);
                                                return data;
                                            }
                                        })
                                    ],
                                    buttons: [
                                        {text:'Guardar',
                                            handler: function(){
                                                if (cit.formModal.form.isValid()) {
                                                    if(Ext.getCmp('im_id').getValue() != ''){
                                                        og.loading();
                                                        cit.formModal.getForm().submit({
                                                            waitMsg : 'Cargando Imagen...',  
                                                            failure: function (form, action) {  
                                                                Ext.MessageBox.show({  
                                                                    title: 'Error al salvar los datos',  
                                                                    msg: 'Error al salvar los datos.',  
                                                                    buttons: Ext.MessageBox.OK,  
                                                                    icon: Ext.MessageBox.ERROR  
                                                                });  
                                                            },  
                                                            success: function (form, request) { 
                                                                rpta= Ext.util.JSON.decode(request.response.responseText); 
                                                                cit.storeImages.load({params:{'su_id':cit.records.data.su_id,'tih_id':cit.record.data.tih_id}});
                                                                Ext.getCmp('im_id').setValue('');
                                                                og.hideLoading();
                                                            }
                                                        });
                                                    }else{
                                                        Ext.Msg.alert('Aviso','Debe seleccionar una imagen para iniciar proceso.');
                                                    }
                                                }
                                            }
                                        }, 
                                        {text:'Eliminar',
                                            handler: function(){
                                                cit.dataPost = {};
                                                cit.dataPost = cit.formModal.getForm().getValues();
                                                cit.dataPost.imgids = '';
                                                var obj = Ext.select('input[type=checkbox]').elements;
                                                for (i=0; i<obj.length; i++) {
                                                    if (cit.storeImages.findExact('im_id',obj[i].id) >= 0 && obj[i].checked) {
                                                        cit.dataPost.imgids = cit.dataPost.imgids + "'" + obj[i].id + "',";
                                                    }
                                                }

                                                cit.dataPost.imgids = cit.dataPost.imgids.substr(0,cit.dataPost.imgids.length - 1);
                                                if (cit.dataPost.imgids != ''){
                                                    Ext.Msg.confirm('Alerta', '¿Está Ud. seguro de eliminar las imágenes seleccionadas?', function(btn, text){
                                                        if (btn == 'yes'){
                                                            cit.dataPost.tih_id = cit.record.data.tih_id;
                                                            og.openLink(og.getUrl('asignacion-tarifa-tipo-hab','ajax',{'case':'deleteImagen'},'habitacion'), {
                                                                hideLoading: true,
                                                                hideErrors: true,
                                                                preventPanelLoad: true, 
                                                                post: cit.dataPost,
                                                                onSuccess: function(){
                                                                    cit.storeImages.load({params:{'su_id':cit.records.data.su_id,'tih_id':cit.record.data.tih_id}});
                                                                }
                                                            });
                                                        }
                                                    });
                                                }else{
                                                    Ext.Msg.alert('Aviso','Debe seleccionar al menos una imagen para eliminar')
                                                }
                                            }
                                        }
                                    ]
                                });


                                cit.formModal = new  Ext.form.FormPanel({
                                    fileUpload: true,
                                    url:og.getUrl('asignacion-tarifa-tipo-hab','ajax',{'case':'saveImagen'},'habitacion'),
                                    //renderTo: 'contiene',
                                    autoHeight:true,
                                    width:"100%",
                                    bodyStyle: "border:0px;margin-top:10px;border-top: solid 1px #ccc;",
                                    defaults: {anchor:0},
                                    items:[ cit.panelImagen]

                                });

                                cit.formModals = new Ext.Window({
                                    width: 390,
                                    height:390,
                                    minWidth: 200,
                                    minHeight: 150,
                                    //bodyStyle:'padding:5px;',
                                    layout : 'fit',
                                    closeAction: 'hide',
                                    autoDestroy:true,
                                    defaultType: 'textfield',
                                    plain: true,
                                    modal:true,
                                    title  : 'Imagen',
                                    items  : [ cit.formModal ]
                                });

                                cit.formModals.show();
                            }
                        }]
        
                    },
                    {xtype: 'actioncolumn',header: 'Tarifas', width: 40, align:'center',
                        items: [{
                                icon   : og.domainName+'/images/icons/fam/plugin_add.gif',  // Use a URL in the icon config
                                tooltip: 'Agregar Tarifas',
                                handler: function(grid, rowIndex, colIndex) {
                                    var record = cit.storeSecun.getAt(rowIndex);
                                    cit.records = cit.gridPrin.getSelectionModel().getSelected();
                                    cit.newFormModal = formModalTarifa(cit.records.data.su_id,record);
                                    cit.newFormModal.show();
                                }
                            }]
                    },
                    {xtype: 'actioncolumn',header: 'Descripción', width: 40, align:'center',
                        items: [{
                                icon   : og.domainName+'/images/icons/edit.png',  // Use a URL in the icon config
                                tooltip: 'Agregar Descripción',
                                handler: function(grid, rowIndex, colIndex) {
                                    var recordi = cit.storeSecun.getAt(rowIndex);
                      
                                    cit.formEditContenido = new Ext.FormPanel({
                                        labelAlign: 'top',
                                        //frame:true,
                                        title: '',
                                        bodyStyle:'padding:5px 5px 0',
                                        width: 600,
                                        items: [{
                                                xtype:'htmleditor',
                                                id:'tih_desc',
                                                name: 'tih_desc',
                                                fieldLabel:'',
                                                height:200,
                                                anchor:'98%'
                                            }],
                                        buttons: [{
                                                text: 'Guardar',
                                                handler: function(){
                                                    cit.dataPost = {}
                                                    cit.dataPost = cit.formEditContenido.form.getValues();
                                                    cit.dataPost.su_id = recordi.data.su_id;
                                                    cit.dataPost.tih_id = recordi.data.tih_id;
                                    
                                                    og.openLink(og.getUrl('asignacion-tarifa-tipo-hab','ajax',{'case':'saveContenido'},'habitacion'), {
                                                        hideLoading: true,
                                                        hideErrors: true,
                                                        preventPanelLoad: true, 
                                                        post: cit.dataPost,
                                                        onSuccess:cit.loadModalConten
                                                    });
                                                }
                                            },{
                                                text: 'Cancelar',
                                                handler: function(){
                                                    cit.formEditContenido.form.reset();
                                                    cit.modalContent.close();
                                                    cit.modalContent.destroy();
                                                }
                                            }]
                                    });
                        
                                    cit.storeContenido.load({params: {'su_id':recordi.data.su_id,'tih_id':recordi.data.tih_id},callback:function(r){
                                            Ext.each(r, function(records) {
                                                cit.formEditContenido.form.loadRecord(records);   
                                            });
                                            //                             cit.formEditContenido.getForm().setValues({
                                            //                                        tih_desc : records.data.tih_desc
                                            //                                });
                                        }});
                
                                    cit.modalContent = new Ext.Window({
                                        width: 600,
                                        height:320,
                                        minWidth: 200,
                                        minHeight: 150,
                                        //bodyStyle:'padding:5px;',
                                        layout : 'fit',
                                        //closeAction: 'hide',
                                        autoDestroy:true,
                                        defaultType: 'textfield',
                                        plain: true,
                                        closable:false,
                                        modal:true,
                                        title  : 'Contenido - ' + recordi.data.tih_abr,
                                        items  : [ cit.formEditContenido ]
                                    });
                        
                                    cit.modalContent.show();
                                    //s
                                }
                            }]
                    },
                    {xtype: 'actioncolumn',header: 'Habitaciones', width: 40, align:'center',
                        items: [{
                                icon   : og.domainName+'/images/icons/fam/house.png',  // Use a URL in the icon config
                                tooltip: 'Agregar Habitaciones',
                                handler: function(grid, rowIndex, colIndex) {
                                    var record = cit.storeSecun.getAt(rowIndex);
                                    cit.newFormModal = formNewHabitacion('Nueva habitacion',3,record);
                                    cit.newFormModal.show();
                                }
                            }]
                    },
                    {dataIndex: 'tih_state', header: 'Estado', width: 45,locked: true,align:'center',renderer: function(v, params, record){
                    //	alert(v)
                        switch(v){
                            case 1: return '<img title="Activo" src="'+og.domainName+'/images/icons/status_on.png" width="13px"></img>';break;
                          
                            default:
                               return '<img title="Desactivo" src="'+og.domainName+'/images/icons/status_off.png" width="13px"></img>';break;
                                break;
                        }
                    }},
		
                ];
	
                cit.gridSecun = new Ext.grid.EditorGridPanel({
                    //renderTo: 'contiene',
                    store: cit.storeSecun,         
                    columns: cit.columnSecun,
                    clicksToEdit: 1,
                    bodyStyle:'border:0px;border-top:solid 1px #ccc;',
                    width:'100%',
                    height:350, 
                    frame: false,
                    stripeRows: true,
                    columnLines: true,
                    trackMouseOver: true,
                    loadMask: true,
                    sm: smlista,
                    viewConfig: { forceFit: true },
                    tbar: [
                        {   
                            text: 'Añadir',
                            iconCls: 'silk-add',
                            handler : function() {
                                var filtro = cit.formPrin.getForm().getValues();
                                if(filtro.su_id){
                                    cit.formModals = formModal(filtro.su_id);
                                    cit.formModals.show();
                                }
                            }
                        }
                        ,{  text: 'Eliminar',
                            iconCls: 'silk-delete',
                            handler : function() {
                                var filtro = cit.formPrin.getForm().getValues();
                                //alert(filtro.tih_id);
                                if(filtro.su_id){
                                    var cont = smlista.getCount();
                                    if(cont == 0){
                                        alertExtjs('info','Seleccionar-Los tipos de habitación a eliminar.');	       
                                        return false;
                                    }else
                                        Ext.MessageBox.confirm('Confirm', 'Desea eliminar los tipos de habitación seleccionados?.', confirmMessajeDel);	
                                }

                            }
                        }
                        ,{  text: 'Estado',
                            iconCls: 'silk-state',
                            handler : function() {
                                var filtro = cit.formPrin.getForm().getValues();
                                //alert(filtro.tih_id);
                                if(filtro.su_id){
                                    var cont = smlista.getCount();
                                    if(cont == 0){
                                        alertExtjs('info','Seleccionar-Los tipos de habitación a eliminar.');	  
                                        return false;
                                    }else
                                        Ext.MessageBox.confirm('Confirm', 'Desea cambiar de estado los tipos de habitación seleccionados?.', confirmActionSate);	
                                }

                            }
                        }
                    ]
                });
	
                cit.formPrin = new  Ext.form.FormPanel({
                    renderTo: 'contiene',
                    name:'formDcto',
                    autoHeight:true,
                    bodyStyle:"margin-left: 7px;padding-right: 3px;border:0px",
                    //width:300,
                    labelWidth: 80,
                    defaults:{"anchor":0},
                    items : [
                        {xtype:'hidden',name:'su_id'},
                        { items : [cit.gridPrin] }//gridSecun
                    ]
                });
	
                cit.formSecun = new  Ext.form.FormPanel({
                    renderTo: 'form',
                    name:'formDcto',
                    autoHeight:true,
                    bodyStyle:"border:0px",
                    width:"98%",
                    labelWidth: 80,
                    defaults:{"anchor":0},
                    items : [
                        { items : [cit.gridSecun]}

                    ]
                });
	
                //Asignar Tipo de Habitaciones
                function newFormData(){}
	
                function saveFormData(){
                    var records = cit.storeSecun.getModifiedRecords();
                    if(records.length == 0 ){
                        alertExtjs('info','Modificar-Debe Haber al menos un registro modificado..');	       
                        return false;
                    }
                    var cad = '';
                    for(i=0;i<records.length;i++){
                        $.each(records[i].data, function(index, value) { 
                            cad = cad+index + '::'+value+",,";    
						   
                        });   
                        cad =  cad.substring(0,cad.length-2);  
                        cad = cad + '**';    	       
                    } 
                    datos =  cad.substring(0,cad.length-2);
		
                    cit.saveFomsModal = cit.formPrin.form.getValues();
                    cit.saveFomsModal.grid = datos;
                    og.openLink(og.getUrl('asignacion-tarifa-tipo-hab','ajax',{'case':'editTipohabSucursal'},'habitacion'), {
                        hideLoading: false,
                        hideErrors: false,
                        preventPanelLoad: true,  
                        post:cit.saveFomsModal
                    });
                }
	
                function deleteFormData(){}

                function confirmMessajeDel(btn){//Tipo de Habitaciones
                    if(btn == 'yes'){
                        cit.saveFomsModal = cit.formPrin.form.getValues();
                        var sd = smlista.getSelections();
                        cit.saveFomsModal.grid = cadenaGrid(sd);
                        og.openLink(og.getUrl('asignacion-tarifa-tipo-hab','ajax',{'case':'delTipohabSucursal'},'habitacion'), {
                            hideLoading: true,
                            hideErrors: true,
                            preventPanelLoad: true, 
                            post: cit.saveFomsModal,
                            onSuccess:cit.loadFormModal
                        });
                    }
                        
                }
                
                function confirmActionSate(btn){
                    if(btn == 'yes'){
                        cit.saveFomsModal = cit.formPrin.form.getValues();
                        var sd = smlista.getSelections();
                        cit.saveFomsModal.grid = cadenaGrid(sd);
                        og.openLink(og.getUrl('asignacion-tarifa-tipo-hab','ajax',{'case':'changeState'},'habitacion'), {
                            hideLoading: true,
                            hideErrors: true,
                            preventPanelLoad: true, 
                            post: cit.saveFomsModal,
                            onSuccess:cit.loadFormModal
                        });
                    }
                }
	
                //Asignar Accesorios
                cit.loadFormModal = function(){
                    var filtro = cit.formPrin.getForm().getValues();
                    cit.gridSecun.store.load({params: {'su_id': filtro.su_id}});
                    cit.formModals.hide();
                }
	
                cit.loadFormHab = function(){
                    var filtro = cit.formPrin.getForm().getValues();
                    cit.gridSecun.store.load({params: {'su_id': filtro.su_id,'tih_id' : cit.idSelect}});
                    cit.formHabitacion.form.reset();
                    cit.newFormModal.hide();
			
                }
	
	
                //Modal : asignar tipo de habitaciones por Sucursal
                //Modal Agregar o Eliminar : 
                function formModal(sucursal){
                    //Cargando Grids
                    var smAcc = new Ext.grid.CheckboxSelectionModel({
                        singleSelect: false,
                        sortable: false,
                        checkOnly: true
                    });
		
                    cit.fieldModal =[
                        { name : 'lleva'},
                        { name : 'tih_id'},
                        { name : 'tih_desc' }
                    ];
	
                    cit.proxyModal=new Ext.data.HttpProxy({
                        //url:'/habitacion/asignacion-accesorio-tipo-hab/json/case/selSucursalTipohab',
                        url:og.getUrl('asignacion-accesorio-tipo-hab','json',{'case':'selSucursalTipohab'},'habitacion'),
                        method:'POST'
                    });
		
                    cit.readerMod=new Ext.data.JsonReader({
                        fields: cit.fieldModal, //['NEMO', 'nomcomp'],
                        root:'matches'
                    });
		
                    cit.storeMod = new Ext.data.Store({
                        proxy:cit.proxyModal,
                        reader:cit.readerMod
                        //autoLoad: {params:{start: 0, limit: 150}}
                    });
		 
                    cit.columnMod =[ 
                        smAcc,
                        {dataIndex: 'tih_desc', header: 'Descripci&oacute;n', width: 180,locked: true,align:'left'}
                    ];
		  
                    cit.gridMod = new Ext.grid.EditorGridPanel({
                        //renderTo: 'contiene',
                        store: cit.storeMod,         
                        columns: cit.columnMod,
                        clicksToEdit: 1,      
                        width:'100%',
                        height:250, 
                        frame: false,
                        stripeRows: true,
                        columnLines: true,
                        trackMouseOver: true,
                        bodyStyle:'border:0px;border-top:solid 1px #ccc;',
                        sm: smAcc
                        //loadMask: true
                    });
                    cit.storeMod.load({params: {'su_id':sucursal}});
		
			
                    var winModal;
                    cit.formModal = new  Ext.form.FormPanel({
                        autoHeigh:true,
                        width:"100%",
                        bodyStyle:"padding: 5px",
                        labelWidth: 68,
                        plain:true,
                        defaults:{"anchor":0,border:0},//autoCreate: {tag: "input", type: "text", autocomplete: "off", maxlength: 10 },
                        items:[
                            { items : [cit.gridMod] }  
                        ],
                        buttons: [{
                                text:'Guardar',
                                handler: function(){
				
                                    if (cit.formModal.form.isValid()) {
					
                                        var cont = smAcc.getCount();
                                        if(cont == 0){
                                            alertExtjs('info','Seleccionar-Las &aacute;reas respectivas del nivel.');	       
                                            return false;
                                        }
					
                                        cit.saveFomsModal = cit.formPrin.form.getValues();
                                        var sd = smAcc.getSelections();
                                        cit.saveFomsModal.grid = cadenaGrid(sd);
					
                                        og.openLink(og.getUrl('asignacion-accesorio-tipo-hab','ajax',{'case':'saveSucursalTipha'},'habitacion'), {
                                            hideLoading: true,
                                            hideErrors: true,
                                            preventPanelLoad: true, 
                                            post: cit.saveFomsModal,
                                            onSuccess:cit.loadFormModal
                                        });
                                        //cit.hide();
                                    }
					   
				
                                }
                            },{
                                text: 'Close',
                                handler: function(){
                                    cit.formModal.form.reset();
                                    winModal.hide();
                                }
                            }]
	
                    });
		

                    winModal = new Ext.Window({
                        width: 300,
                        height:320,
                        minWidth: 200,
                        minHeight: 150,
                        //bodyStyle:'padding:5px;',
                        layout : 'fit',
                        closeAction: 'hide',
                        autoDestroy:true,
                        defaultType: 'textfield',
                        plain: true,
                        modal:true,
                        title  : 'Agregar Accesorios',
                        items  : [ cit.formModal ]
                    });
                    return winModal;
	
                }
	
                //Asignar las Capacidades y los precios -------------------------------------------------------------- -+-
                //---------------------------------------------------------------------------------------------------- -+-
	
                // Modal para agregar las tarifas de cada tipo --------------------------------------------------- -+-
                function formModalTarifa(vSucursal,vrecord){
		
                    // Tarficas D y F ----------------------------------------------------------------------------- -+-
                    cit.storeCant = new Ext.data.SimpleStore(
                    {fields: 
                            ['hb_capacidad', 'state'],
                        data : [
                            ['1', '1'],['2', '2'],['3', '3'],['4', '4'],['5', '5'],['6', '6'],['7', '7']
                        ]
                    });
		
                    cit.storePrecio = new Ext.data.JsonStore({
                        fields : <?php echo $this->form['fields']; ?>,
                        url: og.getUrl('asignacion-tarifa-tipo-hab','json',{'case':'precio'},'habitacion'),
                        root: 'matches'
                    });
                    //OnChange
                    cit.changeTarifa = {
                        select: function(combo, record, index){
                            var filtro = cit.formModal.getForm().getValues();
                            if(record.data.hb_capacidad){
                                cit.storePrecio.load({params: {'su_id': filtro.su_id,'tih_id': filtro.tih_id,'hb_capacidad': filtro.hb_capacidad}});//,'ta_id': filtro.ta_id
                                cit.storePrecio.on('load', function(s, r) { 
                                    Ext.each(r, function(records) {
                                        cit.formModal.form.loadRecord(records);
                                    });
                                });	
                            }
                        }
                    };
                    //Cargando Grids	
                    var winModal;
                    cit.formModal = new  Ext.form.FormPanel({
                        autoHeigh:true,
                        width:"100%",
                        autoScroll : true,
                        bodyStyle:"padding: 4px",
                        labelWidth: 72,
                        plain:true,
                        defaults:{"anchor":0,border:0},//autoCreate: {tag: "input", type: "text", autocomplete: "off", maxlength: 10 },
                        items:[
                            {xtype:'hidden',name:'su_id',value : vSucursal},
                            {xtype:'hidden',name:'tih_id',value : vrecord.data.tih_id},
                            {xtype:"fieldset",title  : 'Asignar ',
                                items:[
                                    /*{xtype:'combo', width:120,mode:'local',fieldLabel:'Tarifa ',triggerAction:'all',forceSelection:true,editable:false,name:'ta_id',emptyText:'- Tarifa -',
                                                    hiddenName:'ta_id',displayField:'state',valueField:'ta_id',store: cit.storeTarifa,allowBlank:false,listeners: cit.changeTarifa
                                            },*/
                                    {xtype:'combo', width:120,mode:'local',fieldLabel:'Capacidad ',triggerAction:'all',forceSelection:true,editable:false,name:'hb_capacidad',emptyText:'- Capacidad -',
                                        hiddenName:'hb_capacidad',displayField:'state',valueField:'hb_capacidad',store: cit.storeCant,allowBlank:false,listeners: cit.changeTarifa
                                    }
                                ]},
                            {xtype:"fieldset",title  : 'Precios',
                                items:[
                                    /*{xtype:'textfield',name:'hb_precio',fieldLabel:'Lun-Viernes ',allowBlank:false,width: 100,style:'text-align:right;'},
                                            {xtype:'textfield',name:'hb_precio_f',fieldLabel:'Sab - Dom ',width: 100,style:'text-align:right;'}*/
                                <?php echo $this->form['form']; ?>
                            ]}
                    ],
                    buttons: [{
                            text:'Guardar',
                            handler: function(){
                                if (cit.formModal.form.isValid()) {

                                    cit.saveFomsModal = cit.formModal.form.getValues();

                                    og.openLink(og.getUrl('asignacion-tarifa-tipo-hab','ajax',{'case':'savePrecio'},'habitacion'), {
                                        hideLoading: true,
                                        hideErrors: true,
                                        preventPanelLoad: true, 
                                        post: cit.saveFomsModal
                                        ,onSuccess:cit.loadFormTarifa
                                    });
                                    //cit.hide();
                                }
                            }
                        },{
                            text: 'Close',
                            handler: function(){
                                cit.formModal.form.reset();
                                winModal.hide();
                            }
                        }]

                });


                winModal = new Ext.Window({
                    width: 280,
                    height:250,
                    minWidth: 200,
                    minHeight: 150,
                    //bodyStyle:'padding:5px;',

                    layout : 'fit',
                    closeAction: 'hide',
                    autoDestroy:true,
                    defaultType: 'textfield',
                    plain: true,
                    modal:true,
                    title  : vrecord.data.tih_desc,
                    items  : [ cit.formModal ]
                });
                return winModal;
            }

            cit.loadModalConten = function(){
                cit.formEditContenido.form.reset();
                cit.modalContent.close();
                cit.modalContent.destroy();
            }
    </script>
</div>