<style>
    img{ border: 0; }
 
    .contentMap{
        width: 250px;
        border: 1px solid #336699;
        max-height:215px;
        overflow:auto;
    }
    .contentImg{
        float: left;
        width: 80px;
        margin-right: 10px;
        text-align: center;
    }
    .contentImg img{
        padding-top: 5px;
        padding-left: 5px;
        width: 80px;
        height: 80px;
        float: left;
    }
    .contentImg a{
        color: #369;
        font-size: 10px;
        float: left;
    }
    .contentTxt{
        float: left;
        width: 150px;
    }
    .contentTxt h2{
        font-size: 13px;
    }
    .contentTxt p{
        font-size: 11px;
    }
    .clear{ clear: both; }
    #map{
        width: 820px;
        height: 600px;
        margin-left: 20px;
        margin-bottom: 20px;
        border: 2px solid #ccc;
    }
</style>
<?php 

  
                

    $citObj = new CitDataGral();
    $dtaVerde = $citObj->getDataGral('vht_cms_descripciones', array('des_contenido'),"des_id = 'VER'",'U');
    //str_replace($search, $replace, $subject)

    $desc = str_replace('\"', '"', $dtaVerde['des_contenido']);
    $desc = str_replace("\'", "'", $desc);
?>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&amp;language=es"></script>
<div class="main-qphotels-all">
    <div class="enjoy-all">
        <div class="enjoy-logo">
            <a href="<?php echo $this->htmlIndex()->urlSite();?>"><img src="<?php echo $this->htmlIndex()->img()?>/hotel/images/enjoy-logo.png"/></a>
        </div>
        <div class="enjoy-menu">
            <ul class="hover_block">
                <?php echo $this->htmlIndex()->menu_publicacion($controller);?>
            </ul>
        </div>
    </div>
    <div class="reserva-all">
        <div class="content-form-all">
                <fieldset class="dlinline">
                    <div class="form-all-bottom">
                        <input type="submit" onClick="getReservar();" value="<?php echo Cit_Init::_('TARIFAS_DISPONIBLIDAD')?>" class="button left1"/>
                    </div>
                    <div class="w100">
                        <div class="best_rate-360">
                           <?php echo  $this->htmlIndex()->getDescripciones('VER'); // echo $desc;?>
                        </div>  
                    </div>
                </fieldset>
        </div>
    </div>
    <div class="content-promocion">
        <div class="promocion-all-destino">
            <div id="map"></div>
        </div>    
    </div>
</div>    
<script type="text/javascript">
    function promoOne(codigo){
        document.location.href = '<?php echo $this->htmlHead()->urlSite();?>/promociones/index/cod/'+codigo;
    }

    function getReservar(){
        document.location.href = '<?php echo $this->htmlHead()->urlSite().'/proceso-reserva?ho_id='.$this->hotel.'&fecha_ini='.$this->fechas['hoy'].'&fecha_fin='.$this->fechas['man'].'&num_adults=1';?>';
    }
</script>

<script type="text/javascript">
    window.onload = function(){
    var options = {
        zoom: 6
        , center: new google.maps.LatLng(-12.395825, -75.536188)
        , mapTypeId: google.maps.MapTypeId.ROADMAP
    };
 
    var map = new google.maps.Map(document.getElementById('map'), options);
 
    var n=1;
    var markers = [
        {
            'position':new google.maps.LatLng(-12.12066, -77.037129)
            , 'info':'<div id="contentInfoWindow' + n++ + '" class="contentMap">\
                        <div class="contentImg">\
                            <img src="http://qphotel.com/img/articulo/01/00000002/20110014/00000012/00000155/00000155_2.jpg" \n\
                                title="QP Hotels Lima" />\
                            <a href="http://http://qphotel.com/sucursal/index/suc/00000002/">QpHotels Lima</a>\
                        </div>\
                        <div class="clear"></div>\
                    </div>'
        },
        {
            'position':new google.maps.LatLng(-16.395078701684,-71.5381407737732)
            , 'info':'<div id="contentInfoWindow' + n++ + '" class="contentMap">\
                        <div class="contentImg">\
                            <img src="http://qphotel.com/img/articulo/01/00000003/20110014/00000012/00000059/00000059_2.png" \n\
                                 title="San Juan Parque de las Palomas" />\
                            <a href="http://qphotel.com/sucursal/index/suc/00000003">QpHotels Arequipa</a>\
                        </div>\
                        <div class="clear"></div>\
                    </div>'
        }
    ];
 
    n=1;
    for(var i in markers){
        marker = new google.maps.Marker({
            position: markers[i]['position']
            , map: map
            , zIndex: n
        });
        popup = new google.maps.InfoWindow({
            content: markers[i]['info']
            , zIndex: n
        });
        popup.open(map, marker);
        (function(id, popup){
            google.maps.event.addListener(popup, 'domready', function(){
                google.maps.event.addDomListener(document.getElementById('contentInfoWindow' + id), 'click', function(){
                    popup.setZIndex(n++);
                });
            })
        })(n++, popup);
    }
};
</script>