<link rel="stylesheet" type="text/css" media="all" href="<?php echo $this->htmlHead()->css() ?>/reserva/cssreserva.css" />
<link rel="stylesheet" type="text/css" media="all" href="<?php echo $this->htmlHead()->css() ?>/reserva/colorbox.css" />
<script type="text/javascript" src="<?php echo $this->htmlHead()->js() ?>/jquery/jquery.colorbox-min.js"></script>

<link rel="stylesheet" type="text/css" media="all" href="<?php echo $this->htmlHead()->css() ?>/container/fullbox.css" />


<?php
$redirect = Zend_Controller_Action_HelperBroker::getStaticHelper('Redirector');
$controller = $redirect->getRequest()->getControllerName();
?>
<script>
    var addtional = <?php echo (empty($this->additional['sum'])?0:$this->additional['sum'])?>;
</script>
<div id="content-proceso-one">
    <div class="singlebox">
        <div style="width:100%;background:#281e1c;">
            <div class="enjoy-content">
                <div class="enjoy-logo">
                    <a href="<?php echo $this->htmlIndex()->urlSite(); ?>"><img src="<?php echo $this->htmlIndex()->img() ?>/hotel/images/enjoy-logo.png"/></a>
                </div>
                <div class="enjoy-menu">
                    <ul class="hover_block">
                        <?php echo $this->htmlIndex()->menu_publicacion('categoria'); ?>
                    </ul>    
                </div>
            </div>                  
        </div>

        <div class="pbox1">
            <div class="progress">
                <div class="booking_1">
                    <a href="<?php echo $this->htmlHead()->urlSite(); ?>/proceso-reserva"><img alt="Booking step 1" src="<?php echo $this->htmlIndex()->img() ?>/hotel/img/booking_1.png"/></a>
                    <span class="step"><?php echo Cit_Init::_('PATH_DATE_ROOMS') ?></span>
                </div>
                <div class="booking_2">
                    <img alt="Booking step 1" src="<?php echo $this->htmlIndex()->img() ?>/hotel/img/booking_2.png"/>
                    <span class="step"><?php echo Cit_Init::_('PATH_GUEST') ?></span>
                </div>
                <div class="booking_3">
                    <img alt="Booking step 1" src="<?php echo $this->htmlIndex()->img() ?>/hotel/img/booking_3.png"/>
                    <span class="step"><?php echo Cit_Init::_('PATH_PAYMENT') ?></span>
                </div>
                <div class="booking_4">
                    <img alt="Booking step 1" src="<?php echo $this->htmlIndex()->img() ?>/hotel/img/booking_4.png"/>
                    <span class="step"><?php echo Cit_Init::_('PATH_CONFIRMATION') ?></span>
                </div>
            </div>
            <!--        <div>-->
            <div class="stats_container">
                <div id="ficha-hotel" class="theme-b step-3">
                    <div id="cnt-img">
                        <img width="98" height="148" src="<?php echo $this->htmlIndex()->img() . $this->images['im_image2']  ?>" /> 
                    </div>
                    <div id="cnt-context">
                        <div id="titulo">
                            <h2><?php echo $this->suc[0]['su_reserva'];?>:</h2>
                            <p><?php echo $this->suc[0]['su_direccion']; ?> <br />
                                Tel: <?php echo $this->suc[0]['su_telefono1']; ?> </p>
                            <div class="right r-content">
                                <ul>
                                    <li><span class="label"><?php echo Cit_Init::_('PRO_TWO_CHECK_IN') ?>:
                                        </span><span class="quant"><?php echo $this->fecini; ?></span>
                                    </li>
                                    <li><span class="label"><?php echo Cit_Init::_('PRO_TWO_CHECK_OUT') ?>:
                                        </span><span class="quant"><?php echo $this->fecfin; ?></span>
                                    </li>
                                    <li>1 <?php echo Cit_Init::_('PRO_ROOM') ?>, <?php echo $this->reserve_info['num_adults'] . ' ' . Cit_Init::_('RES_ADULT') ?>, 
                                        <?php echo $this->reserve_info['num_ninios'] . ' ' . Cit_Init::_('RES_CHILDREN') ?>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div id="desc">
                            <div id="search-content">
                                <strong><?php echo Cit_Init::_('RES_SEARCH') ?></strong>
                                <div class="info"> <?php echo $this->suc[0]['su_reserva'];?>, Perú |  
                                    <?php echo $this->fecini . ' a ' . $this->fecfin; ?> 
                                    |  1 <?php echo Cit_Init::_('PRO_GRID_ROOM') ?> | 
                                    <?php echo $this->reserve_info['num_adults'] . ' ' . Cit_Init::_('RES_ADULT') ?>, 
                                    <?php echo $this->reserve_info['num_ninios'] . ' ' . Cit_Init::_('RES_CHILDREN') ?>
                                </div>
                            </div>
                        </div>   
                    </div>
                    <div class="clear"></div>

                    <div class="hotel-reserva-item width-medium">
                        <?php
                        foreach ($this->data as $value) :
                            $dat = explode('**', $value->getDescription());
                            if((int)$dat[1]):
                                ?>
                                <div class="item-titulo">
                                    <h2><?php echo $value->getName() ?></h2>
                                </div>
                                <div class="item-cuerpo">
                                    <img src="<?php echo $this->domain.'/img/'.$dat[4]; ?>"                                          
                                         class="previewone"/>
                                    <div class="desc">
                                        <p style="text-align: justify">
                                            <?php //echo $this->htmlIndex()->getContenidoTipHabSuc($dat[5],$dat[6],$this->idioma);?>
                                        </p>
                                        <ul class="list-check">
                                            <?php
                                            echo $this->htmlIndex()->habitacion_accesorios($dat[5], 3);
                                            ?>
                                        </ul>	
                                    </div>
                                    <div class="price">
                                        <h4><?php echo Cit_Init::_('CONFIRM_AVERAGE_RATE') ?> *</h4>
                                        <strong><?php echo '$' . number_format($value->getPrice(), 2) ?></strong>
                                        <span class="money">USD</span>
                                        <a href="/proceso-reserva/boxdetail/id/<?php echo $this->reserve_info['tih_id']; ?>/pro/<?php echo $this->promo?>"  class="rate-deta">
                                            <?php echo Cit_Init::_('RES_RATE_DETAIL') ?></a>
                                    </div>	
                                </div>
                                <?php
                            endif;
                        endforeach;
                        ?>
                    </div>
                    <div class="clear"></div>
                    <form method="post" action="/proceso-reserva-one/addservices" name="services" id="services">
                        <div id="info-hotel-form" class="conteiner-full-2col">
                            <div class="col-first">
                                <div id="adittional-fees">
                                    <h3><?php echo Cit_Init::_('RESERVA_ADDITIONAL_FEES') ?></h3>
                                    <ul class="square-border">
                                        <?php
                                        echo $this->htmlIndex()->p_servicios_tiphab($this->reserve_info['ho_id'], $this->additional, $this->idioma);
                                        ?>
                                    </ul>
                                    
                                    <h3><?php 
                                    $additional = $this->htmlIndex()->p_accesorios_tiphab($this->reserve_info['ho_id'], $this->additional, $this->reserve_info['tih_id'], $this->idioma, $this->noches);
                                    echo (!empty($additional))?Cit_Init::_('RESERVA_ADDITIONAL_ROOM_FEES'):'' ?></h3>
                                    <ul class="square-border">
                                        <?php
                                        echo $additional;
                                        ?>
                                    </ul>
                                    
                                    <div id="asterisc">(*)<?php echo $this->htmlIndex()->getDescripciones('TAXI'); ?></div>	
                                    <div id="additional-info">
                                        <?php echo $this->htmlIndex()->getDescripciones('ADD2'); ?>
                                        <?php echo $this->htmlIndex()->getDescripciones('ADD'); ?>
                                    </div>
                                </div>
                            </div>
                            <div class="col-last">
                                <div id="room-cost-form">
                                    <h2 class="w100 ttitle"><?php echo Cit_Init::_('RESERVA_ROOM_COST'); ?></h2>
                                    <div id="content-room-cost">
                                        <?php
                                        $i = 0;
                                        $subtotal = 0;
                                        foreach ($this->detalle as $value) :
                                            ?>
                                            <div class="<?php echo ($i % 2 == 0) ? 'w100 bg-gray bborder' : 'w100' ?>">
                                                <span><?php echo $value['fecha'] ?></span>
                                                <span class="right"><?php echo '$' . number_format($value['hb_precio'], 2) ?> USD</span>
                                            </div>
                                            <?php
                                            $subtotal += $value['hb_precio'];
                                            $i++;
                                        endforeach;
                                        ?>

                                        <div id="room-subtotal" class="w100 bold bborder bg-gray">
                                            <span>Subtotal</span>
                                            <span class="right"><?php echo '$' . number_format($subtotal, 2); ?> USD</span>
                                        </div>
                                        <div class="w100 bg-gray" style="margin-top:10px;">
                                            <span><?php echo Cit_Init::_('RESERVA_ESTIMATED_FEES'); ?></span>
                                            <span class="right" id="cost-additional" >
                                                $<?php echo number_format($this->additional['sum'],2);?> USD
                                            </span>
                                        </div>
                                        <input type="hidden" name="sumtotal" id="sumtotal" value="<?php echo round($this->total, 2); ?>"/>
                                        <h2 class="w100 ttotal">Total <span class="right" id="vtotal">$<?php echo number_format($this->total, 2); ?> USD</span></h2>
                                        <p class="w100"><?php echo Cit_Init::_('RESERVA_ESTIMATED_COST'); ?><span class="right">USD</span></p>
                                        <p id="resume-cost">
                                            <?php echo $this->htmlIndex()->getDescripciones('COST'); ?>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="clear"></div>
                    <p id="resume-cost"><?php echo (empty($this->usid)) ? Cit_Init::_('RESERVA_REGISTER') : ''; ?></p>
                    <div id="container-ingreso" class="w100">
                        <div class="top-ingreso">
                            <?php if (empty($this->usid)) { ?>
                                <form method="post" action="/proceso-reserva-one/login" name="signin" onsubmit="return validarForm();">
                                    <p class="down sign_text text-ing">Ingrese</p>
                                    <p class="input">
                                        <label for="uname">Usuario:</label>
                                        <input type="text" class="shorttext" id="us_id_l" name="us_id_l">
                                        <a href="#">Registrar</a>
                                    </p>
                                    <p class="input">
                                        <label for="password">Contraseña:</label>
                                        <input type="password" class="shorttext" id="us_pass_l" name="us_pass_l">
                                        <a href="#">Olvido Contraseña?</a>
                                    </p>
                                    <p>
                                        <input width="20px" type="image" height="22px" value="submit" name="submit" class="down" src="<?php echo $this->htmlIndex()->img() ?>/hotel/images/ingresar.png" />
                                    </p>
                                </form>
                            <?php } ?>
                        </div>
                        <input type="submit" name="submit" value="Continue" 
                               class="button" style="margin-right: 18px; float: right; 
                               margin-top: 18px;" onclick="servicesSubmit()" 
                               src="<?php echo $this->htmlIndex()->img() ?>/hotel/img/continue.png">
                    </div>
                    <div class="clear"></div>
                    <div id="additional-info">
                        <p> <?php echo (empty($this->usid)) ? '* ' .Cit_Init::_('RESERVA_COST_PROM') : ''; ?></p>
                    </div>
                </div>

            </div>

            <!--        </div>-->

        </div>					
    </div>
</div>
<script type="text/javascript">
    function ftSubmit(){
        location.href = '<?php echo $this->htmlIndex()->urlSite(); ?>/proceso-reserva-two';
    }
    
    
    function servicesSubmit(){
        $('#services').submit();
    }
    
    function validarForm(){
        usuario = $('#us_id_l').attr('value');
        pass = $('#us_pass_l').attr('value');
        if(pass && usuario){
            return true;
        }else{
            return false;
        }
    }
    
    function sumServices(id){
        //alert(id.value);
        var total = $('#sumtotal').attr('value');
        if(id.checked){
            addtional = parseFloat(addtional) + parseFloat(id.value);
            total = parseFloat(total) + parseFloat(id.value); 
        }else{
            addtional = parseFloat(addtional) - parseFloat(id.value);
            total = parseFloat(total) - id.value; 
        }
        $('#sumtotal').attr('value',total);
        $('#vtotal').html('$' + formatMon(total) + ' USD');
        $('#cost-additional').html('$' + formatMon(addtional) + ' USD');
        
    }
</script>