<?php 
     $citObj = new CitDataGral();
    $dtaVerde = $citObj->getDataGral('vht_cms_descripciones', array('des_contenido'),"des_id = 'VER'",'U');
    //str_replace($search, $replace, $subject)

    $desc = str_replace('\"', '"', $dtaVerde['des_contenido']);
    $desc = str_replace("\'", "'", $desc);
?>
<link rel="stylesheet" type="text/css" media="print" href="<?php echo $this->htmlIndex()->urlSite();?>/styles/hotels/css/print.css">
<?php
    $sesion = new Zend_Session_Namespace('web');
    $ciudad = $sesion->su_id;
    if($ciudad == '00000002'){ ?>
     
        <div class="main-qphotels-all">
            <div class="enjoy-all">
                <div class="enjoy-logo">
                    <a href="<?php echo $this->htmlIndex()->urlSite();?>">
                        <img src="<?php echo $this->htmlIndex()->img()?>/hotel/images/enjoy-logo.png"/>
                    </a>
                </div>
                <div class="enjoy-menu">
                    <ul class="hover_block">
                        <?php echo $this->htmlIndex()->menu_publicacion($controller);?>
                    </ul>
                </div>
            </div>
            <div class="reserva-all">
                <div class="content-form-all">
                    <fieldset class="dlinline">
                        <div class="w100-ser">
                            <input type="submit" onClick="getReservar();" value="<?php echo Cit_Init::_('TARIFAS_DISPONIBLIDAD')?>" class="button left1"/>
                        </div>
                        <div class="w100">
                            <div class="best_rate-360">
                                <?php echo $desc;?>
                            </div>                                  
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="content-promocion">
                <div class="promocion-all-mapa">
                    <h1><?php echo Cit_Init::_('PAGE_MAP_DIREC')?></h1>
                    <p><input type="submit" value="<?php echo Cit_Init::_('PAGE_PRINT')?>" class="button" onclick="window.print();"></p>
                    <img src="<?php echo $this->htmlIndex()->urlSite();?>/img/hotel/images/mapa-lima.png" />
                </div>
            </div>
        </div>
    <?php      
    }else if($ciudad == '00000003'){?>
 <div class="main-qphotels-all">
       <div class="enjoy-all">
                <div class="enjoy-logo">
                    <a href="<?php echo $this->htmlIndex()->urlSite();?>">
                        <img src="<?php echo $this->htmlIndex()->img()?>/hotel/images/enjoy-logo.png"/>
                    </a>
                </div>
                <div class="enjoy-menu">
                    <ul class="hover_block">
                        <?php echo $this->htmlIndex()->menu_publicacion($controller);?>
                    </ul>
                </div>
            </div> 
              <div class="reserva-all">
                <div class="content-form-all">
                    <fieldset class="dlinline">
                        <div class="w100-ser">
                            <input type="submit" onClick="getReservar();" value="<?php echo Cit_Init::_('TARIFAS_DISPONIBLIDAD')?>" class="button left1"/>
                        </div>
                        <div class="w100">
                            <div class="best_rate-360">
                                <?php echo $desc;?>
                            </div>                                  
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="content-promocion">
                <div class="promocion-all-mapa">
                    <h1><?php echo Cit_Init::_('PAGE_MAP_DIREC')?></h1>
                    <p><input type="submit" value="<?php echo Cit_Init::_('PAGE_PRINT')?>" class="button" onclick="window.print();"></p>
                    <img width="710" src="<?php echo $this->htmlIndex()->urlSite();?>/img/hotel/images/mapa-arequipa.jpg" />
                </div>
            </div>
</div>
     <?php }
?>

<script type="text/javascript">
    function promoOne(codigo){
        document.location.href = '<?php echo $this->htmlHead()->urlSite();?>/promociones/index/cod/'+codigo;
    }

    function getReservar(){
        document.location.href = '<?php echo $this->htmlHead()->urlSite().'/proceso-reserva?ho_id='.$this->hotel.'&fecha_ini='.$this->fechas['hoy'].'&fecha_fin='.$this->fechas['man'].'&num_adults=1';?>';
    }
</script>