<div style="margin-left:5px;" id="form"></div>

<div style="margin-left:5px;" id="divcalendar"></div>

<input type="hidden" name="save[]" id="save" value=""/>
     
<script>
cit.winModal = '';
cit.storeSucur = <?php echo $this->sucursal;?>;
//cit.storeMeses = <php echo $this->meses;?>;
//cit.storeMesFin = <php echo $this->mesfin;?>;
//cit.storeAnio = <php echo $this->cboanio; ?>;

	cit.storeAnio = new Ext.data.JsonStore({
		url: og.getUrl('json', 'json',{'case':'anio'},'cms'),
		fields: ['an_id','state'],
		root: 'matches',
        autoLoad: true
	});
	cit.storeAnio.on('load', function(store){
	   Ext.getCmp('an_id').setValue('<?php echo $this->anio;?>'); 
    });
    

	cit.storeMeses = new Ext.data.JsonStore({
		url: og.getUrl('reserva-proceso-genera', 'json',{'case':'iniMes'},'reserva'),
		fields: ['mes_id','state'],
		root: 'matches',
        autoLoad: true
        
	});
	cit.storeMeses.on('load', function(store){
	   Ext.getCmp('mes_id').setValue('<?php echo $this->mesid;?>'); 
    });
    
	cit.storeMesFin = new Ext.data.JsonStore({
		url: og.getUrl('reserva-proceso-genera', 'json',{'case':'finMes'},'reserva'),
		fields: ['mes_fin','state'],
		root: 'matches',
		autoLoad: true
	});
	
	cit.storeTiphab = new Ext.data.JsonStore({
		url:og.getUrl('reserva-proceso-genera','json',{'case':'categoria'},'reserva'),
		fields: ['tih_id','tih_desc'],
		root: 'matches'
	});
	
	
	cit.storeTiphab.load({params: {'su_id': '<?php echo $this->suid?>'}});


    cit.changeSucursal = {
		select: function(combo, record, index){
			var filtro = cit.formPrin.getForm().getValues();
			cit.storeTiphab.reload({params: {'su_id': record.data.su_id}});
		}
	};
	
	cit.changeFiltro = {
		select: function(combo, record, index){
			
		}
	};

	cit.loadForm = function(){}
    
	cit.formPrin = new  Ext.form.FormPanel({
            renderTo: 'form',
            name:'formDcto',
            autoHeight:true,
            bodyStyle:"margin-left: 7px;padding-right: 10px;border:0px",
            width:"98%",
            labelWidth: 80,
            defaults:{"anchor":0},
            items : [
                {xtype:"fieldset",
                    items:[
                    {xtype:'compositefield',fieldLabel:'Sucursal ',combineErrors:false,
                        items:[
                            {xtype:'combo', width:100,mode:'local',triggerAction:'all',forceSelection:true,editable:false,name:'su_id',emptyText:'- Sucursal -',allowBlank:false,
                                    hiddenName:'su_id',value:'<?php echo $this->suid?>',displayField:'state',valueField:'su_id',store: cit.storeSucur,listeners: cit.changeSucursal,minListWidth:'160'
                            },
                            {xtype:'displayfield',width:10},
                            {xtype:'displayfield',value:'Tipo Hab :',width:70,style:'padding-top:+3px;'},
                            {xtype:'combo', width:100,mode:'local',triggerAction:'all',forceSelection:true,editable:false,name:'tih_id',emptyText:'- Tipo Hab -',
                                    hiddenName:'tih_id',displayField:'tih_desc',valueField:'tih_id',store: cit.storeTiphab,listeners: cit.changeFiltro,minListWidth:'160'
                            },
                            {xtype:'displayfield',width:10},
                            {xtype:'displayfield',value:'Año :',width:70,style:'padding-top:+3px;'},
                            {xtype:'combo', width:80,mode:'local',triggerAction:'all',forceSelection:true,editable:false,id: 'an_id', name:'an_id',emptyText:'- Año -',allowBlank:false,
                                hiddenName:'an_id',displayField:'state',valueField:'an_id',store: cit.storeAnio,
                                listeners:{
                                    select: function(combo, record, index){
                                        cit.formPrin.form.setValues({mes_id:'',mes_fin:''});
                                        cit.storeMeses.load({params: {'an_id': record.data.an_id}});
                                        cit.storeMesFin.load({params: {'an_id': record.data.an_id}});
                                    }
                                }
                            }
                            //]}//end buttons
                    ]},//end Compositefield
                    {xtype:'compositefield',fieldLabel:'Fecha Ini',combineErrors:false,
                        items:[
                            {xtype:'combo', width:100,mode:'local',triggerAction:'all',forceSelection:true,editable:false,id:'mes_id',name:'mes_id',emptyText:'- Meses -',
                                    hiddenName:'mes_id',displayField:'state',valueField:'mes_id',store: cit.storeMeses,listeners:cit.changeFiltro,allowBlank:false
                            },
                            {xtype:'displayfield',width:10},
                            {xtype:'displayfield',value:'Fecha Fin :',width:70,style:'padding-top:+3px;'},
                            {xtype:'combo', width:100,mode:'local',triggerAction:'all',forceSelection:true,editable:false,name:'mes_fin',emptyText:'- Meses -',
                                    hiddenName:'mes_fin',displayField:'state',valueField:'mes_fin',store: cit.storeMesFin,listeners:cit.changeFiltro
                            }//end xtype
                                //]}//end buttons
                        ]},//end Compositefield
                        {xtype:'displayfield',value:'<b>Generar un calendario de habitaciones para el mes indicado.</b>',width:'90%',style:'padding-top:+3px;'}
                ]}//end buttons
            ]});

	

	//----------------------
	function saveFormData(){
		var filtro = cit.formPrin.form.getValues();
		if (cit.formPrin.form.isValid()){
			if(filtro.mes_fin){
				if(parseInt(filtro.mes_id) > parseInt(filtro.mes_fin)){
					alertExtjs('info','Generar Calendario-Los meses no estan correctamente ingresados.');
					return false;
				}
			}
			Ext.MessageBox.confirm('Confirm', 'Desea el calendario de las habitaciones, una vez genera no se podrá revertir.', confirmMessaje);
			
		}
    }
	
	function confirmMessaje(btn){
		if(btn == 'yes'){
			cit.formSave = cit.formPrin.form.getValues();
			og.openLink(og.getUrl('reserva-proceso-genera','ajax',{'case':'saveGenera'},'reserva'), {
				hideLoading: false,
				hideErrors:false,
				preventPanelLoad: true,
				post: cit.formSave,
				onSuccess:cit.loadForms,
				timeout : 990000
			});
		}
	}
	
	cit.loadForms = function(){}
	
	
</script>
