<div id="bodyform"> 
</div>
<div id="contiene"> 
</div>

<script>

cit.storeAula = <?php echo $this->listaAula;  ?>
cit.storeSeccion = <?php echo $this->listaSeccion;  ?>
cit.storeNivel = <?php echo $this->listaNivel; ?>
cit.storeProfesor = <?php echo $this->listaProfesor;?>
cit.storeTurno = <?php echo $this->listaTurno;?>
        
cit.au_id2 = '';
cit.ar_id = '';
cit.gp_id = '';
cit.ni_id = '';
cit.gr_id = '';
cit.se_id = '';
cit.tu_id = '';
cit.bi_id = '';
   
cit.idSelect=''; //nn

cit.storeArea= new Ext.data.JsonStore({
    fields : ['ar_id', 'ar_desc']
    ,url: og.getUrl('asignacion-alumnos-grupos','json',{'case':'getArea'})
    ,root: 'matches'
});
        
cit.eventAula= {
   select: function(combo, record, index){
         cit.au_id2 = record.data.lleva;
        cit.storeDatAula= new Ext.data.JsonStore({                
                fields : ['lleva', 'an_id','ni_desc','gr_id','gr_desc','se_id','id_id','ni_id','tu_id','am_id','au_id2'],
                autoLoad: true,
                url: og.getUrl('json','json',{'case':'datosaula','lleva':record.data.lleva}),
                root: 'matchedatau'
             });
            //cit.storeDatAula.load({params: {'au_id2': record.data.au_id2}});
            cit.storeDatAula.on('load', function(s, r) { 
                Ext.each(r, function(record) {               
                            cit.formprincipals.getForm().setValues({
                             ni_desc: record.data.ni_desc,
                             gr_desc: record.data.gr_desc,
                             se_id: record.data.se_id,
                             gr_id: record.data.gr_id,
                             ni_id:record.data.ni_id,
                             tu_id:record.data.tu_id,
                             am_id:record.data.am_id,
                             gp_id:'',ar_id:'',bi_id:''
                             });
                             
                          	 cit.storeArea.load({params:{'au_id2' : record.data.lleva}});
                             cit.storeBimestre.load({params : {'au_id2':record.data.lleva}});
                   });
            });
        

        cit.eventLoadGridData();
//        cit.storeAlumnoAula.load({params : {'au_id2':cit.au_id2}});
        //cit.eventLoadGridAlumnoSalon();
   }
};
        
cit.storeGrupo = new Ext.data.JsonStore({
    fields : ['gp_id', 'gp_desc']
    ,url: og.getUrl('asignacion-alumnos-grupos','json',{'case':'getGrupo'})
    ,root: 'matches'
});
   
cit.eventGrupo= {
    select: function(combo, record, index){
        cit.ar_id = record.data.ar_id;
        cit.storeGrupo.load({params:{'au_id2' : cit.au_id2, 'ar_id' : cit.ar_id}});
        cit.eventLoadGridData();
        cit.storeProfe.load({params:{ar_id:record.data.ar_id}})
   }
};

cit.storeGrado= new Ext.data.JsonStore({
    fields : ['gr_id', 'gr_desc','ni_id'],
    url: og.getUrl('json','json',{'case':'grado'}),
    root: 'matches'
});        


cit.storeBimestre= new Ext.data.JsonStore({
    fields : ['bi_id', 'bi_desc'],
    url: og.getUrl('asignacion-alumnos-grupos','json',{'case':'getBimestre'}),
    root: 'matches'
});



cit.eventGpid = {
    select: function(combo, record, index){
        cit.gp_id = record.data.gp_id;
        cit.eventLoadGridData();
    }
}

cit.storeAulaId = new Ext.data.JsonStore({
    fields : ['au_id2'] 
    ,url : og.getUrl('asignacion-alumnos-grupos','json',{'case':'getAulaId'})
    ,root : 'matches'
});


cit.storeProfe = new Ext.data.JsonStore({
    fields : ['pr_id','pe_nomcomp'] 
    ,url : og.getUrl('asignacion-alumnos-grupos','json',{'case':'getProfes'})
    ,root : 'matches'
}); 

cit.storeBimestre = new Ext.data.JsonStore({
    fields : ['bi_id','bi_desc'] 
    ,url : og.getUrl('asignacion-alumnos-grupos','json',{'case':'getBimestre'})
    ,root : 'matches'
}); 

cit.eventBimestre = {
    select: function(combo, record, index){
        cit.bi_id = record.data.bi_id;
        cit.eventLoadGridData();
    }
};


cit.eventLoadGridData = function(){
    cit.storeAlumnoAula.removeAll();
    cit.storeAlumnoGrupo.removeAll();
    if (cit.au_id2 != '' && cit.ar_id != '' && cit.gp_id != '' && cit.bi_id != ''){
        cit.storeAlumnoAula.load({params : {'au_id2':cit.au_id2, 'ar_id':cit.ar_id, 'bi_id':cit.bi_id}});
        cit.storeAlumnoGrupo.load({params : {'au_id2':cit.au_id2, 'ar_id':cit.ar_id, 'gp_id':cit.gp_id, 'bi_id':cit.bi_id}});
    }
    //cit.storeAlumnoAula.reload();
};

cit.formprincipals = new  Ext.form.FormPanel({
    renderTo: 'bodyform'
    ,name:'formGrupoProfesores'
    ,"autoHeight":true
    ,"width":"100%"
    ,labelWidth: 108
    ,bodyStyle : "padding-left: 5px;padding-right: 5px;border:0px"
    ,defaults:{"anchor":0}
    ,items: [
        {xtype:'fieldset',title:'',collapsible:true
            ,items:[
					{xtype:'compositefield',fieldLabel:'Aula', combineErrors :false
					   ,items:[
                           {xtype:'combo', width:130,mode:'local',triggerAction:'all',forceSelection:true,editable:false,name:'lleva',hiddenName:'lleva',displayField:'state',valueField:'lleva',emptyText:'Salon...',
                           store: cit.storeAula,listeners:cit.eventAula,minListWidth:cit.minListWidth},
                           {xtype:'combo', width:100,mode:'local',triggerAction:'all',forceSelection:true,editable:false,name:'ni_id',hiddenName:'ni_id',displayField:'state',valueField:'ni_id',emptyText:'Nivel...',
                           store: cit.storeNivel,listeners: cit.eventNivel,disabled:true},
						   {xtype:'combo', width:130,mode:'local',triggerAction:'all',forceSelection:true,editable:false,name:'gr_id',hiddenName:'gr_id',displayField:'gr_desc',valueField:'gr_id',emptyText:'Grado...',
                           store: cit.storeGrado,listeners:cit.eventGrado,disabled:true},                          
                           {xtype:'combo', width:100,mode:'local',triggerAction:'all',forceSelection:true,editable:false,name:'se_id',hiddenName:'se_id',displayField:'state',valueField:'se_id',emptyText:'Sección...',
                           store: cit.storeSeccion,listeners:cit.eventSeccion,disabled:true},
                           {xtype:'displayfield',value:'Curso:',width:98,style:'padding-top:+3px; margin-left:30px;'},
                           {xtype:'combo', width:190,mode:'local',triggerAction:'all',forceSelection:true,editable:false,name:'ar_id',hiddenName:'ar_id',displayField:'ar_desc',valueField:'ar_id',emptyText:'Curso...',
                               store:  cit.storeArea, listeners: cit.eventGrupo,minListWidth:cit.minListWidth},
					   ]
					},
                   
                    {"xtype":"compositefield","fieldLabel":"Grupo","combineErrors":false,
					"items":[
                                {xtype:'combo', width:190,mode:'local',triggerAction:'all',forceSelection:true,editable:false,name:'gp_id',hiddenName:'gp_id',displayField:'gp_desc',valueField:'gp_id',emptyText:'Grupo...',
                               store:  cit.storeGrupo,listeners: cit.eventGpid},
                               {xtype:'displayfield',value:'Duración:',width:98,style:'padding-top:+3px; margin-left:30px;'},                                
                               {xtype:'combo', width:177,mode:'local',triggerAction:'all',forceSelection:true,editable:false,name:'bi_id',hiddenName:'bi_id',displayField:'bi_desc',valueField:'bi_id',emptyText:'Duración...',
                               store:  cit.storeBimestre,listeners: cit.eventBimestre},
                               {xtype:'displayfield',value:'Profesor:',width:98,style:'padding-top:+3px; margin-left:30px;'},
                               {xtype:'combo', width:190,mode:'local',triggerAction:'all',forceSelection:true,editable:false,name:'pr_id',hiddenName:'pr_id',displayField:'pe_nomcomp',valueField:'pr_id',emptyText:'Profesor...',
                               store:  cit.storeProfe,listeners: cit.eventoAreaPrin,minListWidth:cit.minListWidth}                                                                             
							]
					}
				]
        }
    
   ]});
           
    //bo DragDrop
    cit.fieldStoreAlumno = [
        {name: 'al_id', mapping : 'al_id'}
		,{name: 'pe_nomcomp', mapping : 'pe_nomcomp'}
		,{name: 'pe_sexo', mapping : 'pe_sexo'}
    ];

    cit.storeAlumnoAula = new Ext.data.JsonStore({
        fields : cit.fieldStoreAlumno
    //    fields : ['al_id', 'pe_nomcomp', 'pe_sexo']
        ,url: og.getUrl('asignacion-alumnos-grupos','json',{'case':'getAlumnoGrado'})
        ,root: 'matches'
    });
    cit.storeAlumnoGrupo = new Ext.data.JsonStore({
        fields : cit.fieldStoreAlumno
        ,url: og.getUrl('asignacion-alumnos-grupos','json',{'case':'getAlumnoGrupo'})
        ,root   : 'matches'
    });
    
    cit.columnGrid = [
        {id : 'al_id', header: "Cód.", width: 60, sortable: true, dataIndex: 'al_id'}
		,{header: "Nombre", width: 300, sortable: true, dataIndex: 'pe_nomcomp'}
		,{header: "Sexo", width: 50, sortable: true, dataIndex: 'pe_sexo'}
    ];
    
    cit.gridAlumnoAula = new Ext.grid.GridPanel({
        ddGroup : 'gridAlumnoGrupoDD'
        ,store : cit.storeAlumnoAula
        ,columns : cit.columnGrid 
        ,enableDragDrop : true
        ,stripeRows : true
        ,loadMask: true
        //,autoExpandColumn : 'al_id'
        ,title : 'Alumnos del Salón'
    });
    
    cit.gridAlumnoGrupo = new Ext.grid.GridPanel({
        ddGroup : 'gridAlumnoAulaDD'
        ,store : cit.storeAlumnoGrupo
        ,columns : cit.columnGrid
        ,enableDragDrop : true
        ,stripeRows : true,
        loadMask: true
        //,autoExpandColumn : 'al_id'
        ,title : 'Alumnos del Grupo'
    });
    
    //cit.storeAlumnoAula.load();
    
    cit.panelAlumnoGrupo = new Ext.Panel({
		width        : '100%',
		height       : 300,
		layout       : 'hbox',
		renderTo     : 'bodyform',
		defaults     : { flex : 1 }, //auto stretch
		layoutConfig : { align : 'stretch' },
        bodyStyle    :'margin : 5px;border:0px;',
		items        : [
			cit.gridAlumnoAula
			,cit.gridAlumnoGrupo
		]
        ,bbar    : [
			'->' // Fill
			,{
				text    : 'Varones',
				handler : function() {
				    cit.gridAlumnoAula.store.each(function(record){
				        if(record.data.pe_sexo == 'M'){
				            cit.gridAlumnoAula.store.remove(record);
				            cit.gridAlumnoGrupo.store.add(record);
				        }
				    })
				}
			}
            ,{
				text    : 'Mujeres',
				handler : function() {
				    cit.gridAlumnoAula.store.each(function(record){
				        if(record.data.pe_sexo == 'F'){
				            cit.gridAlumnoAula.store.remove(record);
				            cit.gridAlumnoGrupo.store.add(record);
				        }
				    })

				}
			}
            ,{
				text    : 'Todos',
				handler : function() {
				    cit.gridAlumnoAula.store.each(function(record){
			            cit.gridAlumnoAula.store.remove(record);
			            cit.gridAlumnoGrupo.store.add(record);
				    })
				}
			}
		]
	});
//    cit.panelAlumnoGrupo.renderTo('bodyform');

    cit.blankRecordAlumno =  Ext.data.Record.create(cit.fieldStoreAlumno);
    cit.gridAlumnoAulaDropTargetEl =  cit.gridAlumnoAula.getView().scroller.dom;
    
    cit.gridAlumnoAulaDropTarget = new Ext.dd.DropTarget(cit.gridAlumnoAulaDropTargetEl, {
                ddGroup    : 'gridAlumnoAulaDD',
                notifyDrop : function(ddSource, e, data){
                        var records =  ddSource.dragData.selections;
                        Ext.each(records, ddSource.grid.store.remove, ddSource.grid.store);
                        cit.gridAlumnoAula.store.add(records);
//                        cit.gridAlumnoAula.store.sort('pe_nomcomp', 'ASC');
                        return true
                }
    });
    
    cit.gridAlumnoGrupoDropTargetEl = cit.gridAlumnoGrupo.getView().scroller.dom;
     
    cit.gridAlumnoGrupoDropTarget = new Ext.dd.DropTarget(cit.gridAlumnoGrupoDropTargetEl,{
        ddGroup : 'gridAlumnoGrupoDD'
        , notifyDrop : function (ddSource, e, data){
            records = ddSource.dragData.selections;
            Ext.each(records, ddSource.grid.store.remove, ddSource.grid.store);
            cit.gridAlumnoGrupo.store.add(records);
            //cit.gridAlumnoGrupo.sort('pe_nomcomp','ASC');
            return true
        }
    });
    
function saveFormData(){
    cit.modifiedRecord = cit.storeAlumnoGrupo.getModifiedRecords();
    cit.modifiedRecord1 = cit.storeAlumnoAula.getModifiedRecords();
   //alert(cit.modifiedRecord.length + cit.modifiedRecord1.length);
    //alert('au_id2->' + cit.au_id2 + ' • gp_id->' + cit.gp_id + ' • ar_id->' + cit.ar_id + ' • bi_id->' + cit.bi_id );
    if ((cit.modifiedRecord.length + cit.modifiedRecord1.length == 0 )||(cit.au_id2 == '') || (cit.gp_id == '') || (cit.ar_id == '') || (cit.bi_id == '')){
        alertExtjs('info','Modificar-Debe Haber al menos un registro modificado..');      
        return 0;
    };
    //[{al_id:'00001',au_id2:'0009'}]
    cit.cadal_id = '';
    cit.gridAlumnoGrupo.store.each(function(record){
        cit.cadal_id = cit.cadal_id + record.data['al_id'] + '::';
    });
    //alert('cantidad---'+cit.gridAlumnoGrupo.store.getCount());
    cit.formSave = cit.formprincipals.form.getValues();
    cit.formSave.alid = cit.cadal_id.substring(0,cit.cadal_id.length - 2);
    cit.formSave.nreg =  cit.storeAlumnoGrupo.getCount();
    
    og.openLink(og.getUrl('asignacion-alumnos-grupos','ajax',{'case':'save'}), {
        hideLoading: false,
        hideErrors: false,
        preventPanelLoad: true, 
        post: cit.formSave
    });
};
       
</script>