<style>
    .fila{
        clear: both;
        margin-bottom: 5px;
    }
</style>
<div class="main-qphotels-all">
    <div class="enjoy-all">
        <div class="enjoy-logo">
            <a href="<?php echo $this->htmlIndex()->urlSite();?>"><img src="<?php echo $this->htmlIndex()->img()?>/hotel/images/enjoy-logo.png"/></a>
        </div>
        <div class="enjoy-menu">
            <ul class="hover_block">
                <?php echo $this->htmlIndex()->menu_publicacion($controller);?>
            </ul>    
        </div>
    </div>
    <div class="reserva-all">
        <div class="content-form-all">
            <div class="form-all-bottom">
                <input type="submit" onClick="getReservar('','','');" value="<?php echo Cit_Init::_('TARIFAS_DISPONIBLIDAD')?>" class="button left1"/>
            </div>
            <div class="w100">
                <div class="best_rate-360">
                    <?php echo $this->htmlIndex()->getDescripciones('VER');?>
                </div>                          
            </div>
        </div>
    </div>
    <div class="content-promocion">
        <div class="promocion-all">
            <?php
            if(empty($this->codigo)){
            ?>
                <div class="lista-promocion">
                    <p class="lista">
                        <span class="label">
                            <?php echo Cit_Init::_('PROMOCION_WEB')?></span>
                    </p>
<!--                    <p class="lista-hotel"><span class="label" ><?php //echo Cit_Init::_('PROMOCION_UBICACION')?></span></p>
                    <p class="lista-fecha"><span class="label" ><?php //echo Cit_Init::_('PROMOCION_ULTIMA_FECHA')?></span></p>-->
                </div>
                <div class="lista-descripcion">
                    <?php
                    $fecObj = new Cit_Db_CitFechas();
                    foreach ($this->data as $value):
                        $codigo = $value['su_id'].'*'.$value['an_id'].'*'.$value['pro_id'];
                        $datos = $this->htmlIndex()->returnImagen($value);
                        $fecObj->setFecha($value['pro_fecfin']);    
                        $value['pro_fecfin'] = $fecObj->renders('open');
                        $desc = (!empty($value['desc']))?$value['desc']:$value['pro_desc'];
                        if(strlen($desc) > 400)
                            $value['pro_desc'] = substr($desc, 0, 280).'...';
                        else
                             $value['pro_desc'] = $desc;
                        ?> 
                        <div class="lista-content-desc">
                            <div class="lista-img">
                                <a href="<?php echo $this->htmlHead()->urlSite()?>/promociones/index/cod/<?php echo $codigo;?>">
                                    <img src="<?php echo $datos['image'];?>" width="315" height="175" />
                                </a>
                            </div>
                            <div class="listado-desc">
                                <div class="titulo-lista">
                                    <span><a href="<?php echo $this->htmlHead()->urlSite()?>/promociones/index/cod/<?php echo $codigo;?>"><?php echo substr($value['pro_titulo'], 0, 32).'...';?></a></span>
                                </div>
                                <div class="lista-desc-hotel">
                                        <p><?php echo $value['pro_desc'];?></p>
                                </div>
                                <div class="lista-mas-hotel">
                                    <p><a class="highlight" href="<?php echo $this->htmlHead()->urlSite()?>/promociones/index/cod/<?php echo $codigo;?>"><?php echo Cit_Init::_('RES_MASDET')?></a></p>
                                </div>
                            </div>
                            <div class="lista-nombre-hotel">
                                <p><?php echo $value['su_nombre'];?></p>
                            </div>
                            <div class="lista-fecha-hotel">
                                <p><?php echo $value['pro_fecfin'];?></p>
                            </div>
                            <div class="pro-buttom">
                                <?php
                                   if($value['promo'] == 1){
                                       ?>
                                       <input type="button" value="<?php echo Cit_Init::_('BOTON_RESERVA')?>" onclick="getReservar('<?php echo $value['su_id'];?>','<?php echo $codigo;?>','<?php echo $value['tih_id'];?>');" class="button"/>
                                       <?php
                                   }else{
                                       ?>
                                       Caducado
                                       <?php
                                   }
                                ?>
                                
                            </div>
                        </div>   
            
                        <?php
                    endforeach;
                    ?>
                </div>
                <div class="fila_zoe">
                    <?php
                        echo $this->paginationControl($this->data,'Sliding','/promociones/paginator.phtml'); 
                    ?>
                </div>
                    <?php
                    }else{
                    ?>
                        <div class="lista-promocion">
                            <p class="lista"><span class="label"><?php echo Cit_Init::_('PROMOCION_WEB')?></span> - <?php echo $this->promo['titulo']?></p>
<!--                            <p class="lista-hotel">
                                <span class="label" >
                                <?php //echo Cit_Init::_('PROMOCION_INICIO_FECHA')?>
                                </span>
                            </p>
                            <p class="lista-fecha">
                                <span class="label" >
                                <?php //echo Cit_Init::_('PROMOCION_ULTIMA_FECHA')?>
                                </span>
                            </p>-->
                        </div>
                        <div class="pro-desc-1">
                            <div class="pro-img-1">
                                <?php echo $this->htmlIndex()->promo_imagenes($this->promo);?>
                            </div>
                            <div class="pro-desc-cont">
                                <p>
                                <?php
                                    $this->promo['contenido'] = str_replace('\"', '', $this->promo['contenido']);
                                    echo $this->promo['contenido'];
                                ?>
                                </p>
                            </div>
                        </div>
                        <div class="lista-promo-img">
                            <div class="promocion-contenedor">
                                <div class="fila" style="background:#B09E90">
                                    <?php echo $this->partial('formulario.phtml');?>
                                </div>
                                <div class="lista-nombre-hotel-1">
                                    <p><?php echo $this->promo['nombre']?></p>
                                </div>
                                <div class="lista-fecha-hotel-1">
                                    <p><?php //echo $this->promo['fecha']?></p>
                                </div>
                                <div class="pro-buttom-1" style="margin-left: 50px; margin-top: 20px;">
                                    <input type="button" value="<?php echo Cit_Init::_('BOTON_RESERVA')?>" onclick="getReservarDate('<?php echo $this->promo['su_id'];?>', '<?php echo $this->codigo;?>', '<?php echo $this->promo['tih_id'];?>');" />
                                </div>
                            </div>
                            <div class="codigo">
                                <p><?php echo Cit_Init::_('CODIGO_PROMO')?>: <span><?php echo $this->promo['idpromo']?></span></p>
                            </div>
                            <div class="reservacion">
                                <h3><?php echo Cit_Init::_('PROMO_RESERVACION')?></h3>
                                <p><?php echo Cit_Init::_('PROMO_CONTENIDO1')?><span><?php echo $this->promo['idpromo']?></span><?php echo Cit_Init::_('PROMO_CONTENIDO2')?></p>
                            </div>
                            <div class="reservacion">
                                <h3><?php echo Cit_Init::_('PROMODET_FECHA')?></h3>
                                <p>
                                    <?php echo Cit_Init::_('PROMO_FROM')?>&nbsp;
                                    <span><b><?php echo $this->promo['fecha_ini']?></b></span>&nbsp;
                                    <?php echo Cit_Init::_('PROMO_TO')?>
                                    <span><b><?php echo $this->promo['fecha_fin']?></b></span>&nbsp;
                                </p>
                            </div>
                            <div class="otras-promos">
                                <a href="<?php echo $this->htmlIndex()->urlSite();?>/promociones/index"><?php echo Cit_Init::_('OTRA_PROMOCION')?></a>
                            </div>
                        </div>

                        
                    <?php
                }
                ?>
            </div>
    </div>   
</div>
<script type="text/javascript">
    function promoOne(codigo){
        document.location.href = '<?php echo $this->htmlHead()->urlSite();?>/promociones/index/cod/'+codigo;
    }
    function getReservar(su_id, codigo, tipo){
        url = '<?php echo $this->htmlHead()->urlSite().'/proceso-reserva?ho_id='?>' + su_id + '<?php echo '&fecha_ini='.$this->fechas['hoy'].'&fecha_fin='.$this->fechas['man'].'&num_adults=1';?>'
        if(codigo){
            url = url + '&pro_id=' + codigo
        }
        if(tipo){
            url = url + '&pro_tih_id=' + tipo
        }
        document.location.href = url;
    }
    
    function getReservarDate(su_id, codigo, tipo){
        var date_ini = $('#fecha_ini').val();
        var date_end = $('#fecha_fin').val();
        var sucursal = $('#ho_id').val();
        if(date_ini && date_end && sucursal){
          
            url = '<?php echo $this->htmlHead()->urlSite().'/proceso-reserva?ho_id='?>' + sucursal + '&fecha_ini=' + date_ini + '&fecha_fin=' + date_end + '<?php echo '&num_adults=1';?>'
            if(codigo){
                url = url + '&pro_id=' + codigo
            }
            if(tipo){
                url = url + '&pro_tih_id=' + tipo
            }
            document.location.href = url;
        }
        
    }
</script>



