<input type="hidden" name="save[]" id="save" value=""/>
<div class="form_zoe">
	<div id="contiene" class="left_zoe" style="width:29%"></div>
    <div id="bodyform" class="left_zoe" style="width:70%"></div>
</div>

<script>
cit.tih_id='';
cit.Id ='';
cit.storeCategoriaCombo = <?php echo $this->categoria;?>
cit.artEstado=<?php echo $this->estado;?>

cit.storeCategoria=new Ext.data.Store({
	proxy:new Ext.data.HttpProxy({url:og.getUrl('mantenimiento-articulo', 'json',{'case':'getDataArt'},'cms')}),
	reader:new Ext.data.JsonReader({
	fields: [{ name: 'art_id'},
	         { name: 'art_titulo'},
	         { name: 'art_est'}                          
            ],
		 root:'matches'
	})
});

cit.storeCategoria.load();

cit.eventCategoria = {
    select: function(combo, record, index){        //
        cit.storeCategoria.load({params: {'cat_id': record.data.cat_id}});
    }
};

cit.colModAula = new Ext.ux.grid.LockingColumnModel(
	[
		{dataIndex: 'art_est', header: 'Estado', width: 30,
        renderer: function(v, params, record){
                switch(v){
				    case 0:return '<img title="Oculto" src="'+og.domainName+'/assets/themes/default/images/16x16/wscolors/color6.png" width="13px"></img>';break;
                    case 1:return '<img title="Activo" src="'+og.domainName+'/assets/themes/default/images/16x16/wscolors/color11.png" width="13px"></img>';break;
				}
			}   
        },
        {dataIndex: 'art_titulo', header: 'Titulo', width: 230}
	]
);
var categoriesPagingBar = new Ext.PagingToolbar( {
    pageSize: 500,
    displayInfo: false,
    store: cit.storeCategoria
});  

cit.gridPrin = new Ext.grid.GridPanel({
	store: cit.storeCategoria,
	colModel: cit.colModAula,
	width:'100%',
	height:330,
	stripeRows: true,
	columnLines: true,
    loadMask: true,
	bbar: categoriesPagingBar,
    bodyStyle:'border-top:1px solid #ccc;',
    loadMask: true,
	viewConfig: { forceFit: true }
});
 

 
cit.gridPrin.on('rowdblclick', function(e,i,j){//listening for the grid's 'validateedit' event
	cit.recordCliente = cit.storeCategoria.getAt(i);
    cit.recordCliente.data.action = 'edit';
    cit.formPrincipal.form.reset();
    cit.formPrincipal.form.loadRecord(cit.recordCliente);
    Ext.getCmp('hart_id').setValue(cit.recordCliente.data.art_id);
});


//cit.gridPrin.render('contiene');
cit.suEstado = <?php echo $this->suestado;  ?>



/**/
/*********************************************************************************************/
cit.formMantenimiento = new  Ext.form.FormPanel({
    renderTo: 'contiene'
    ,name:'formMnto'
    ,autoHeight:true
    ,bodyStyle:'border:0px'
    ,border: false
    ,defaults:{anchor: 0}
	//,bodyStyle: 'padding:0 10px 0;margin-top:10px;'
//	,layout: 'column'
	,items : [
        /*{   xtype:'compositefield',
            fieldLabel:'Categoría',
            combineErrors:false,
			items: [{	xtype:'combo', 
                    width: 130,
                    mode: 'local',
                    triggerAction: 'all',
                    forceSelection: true,
                    editable: false,
                    name: 'cat_id',
                    id: 'cat_id',
                    hiddenName: 'cat_id',
                    displayField:'state',
                    valueField:'cat_id',
                    emptyText:'Categoria...',
                    store: cit.storeCategoriaCombo,
                    listeners:cit.eventCategoria,
                    minListWidth: 150
                    }
			]
            
        }*/
        cit.gridPrin
    ]
 });
/***********************************************************************************************/
    cit.itemsFormTabPrincipal = [
    {
        xtype: 'fieldset',
        title: 'Información Básica',
        collapsible: true,
        items: [
            {xtype:'hidden',name:'action',value:'add',id:'action'},
            {xtype:'hidden',name:'art_id',id:'art_id',value:'<?php echo $this->idarticulo;?>'},            

            {"xtype":"compositefield","fieldLabel":"Código","combineErrors":false,
            "items":[
                {"name":"hart_id",id:"hart_id","xtype":"textfield","width":120,maxLength:16,value:'<?php echo $this->idarticulo;?>',disabled:true}
            ]}, 
            {  xtype:'textarea',
                name: 'art_titulo',
                fieldLabel: 'Título',
                width: 300,
                height: 60
            },            
            {"xtype":"compositefield","fieldLabel":"Estado","combineErrors":false,
            "items":[
                    {"name":"art_est","xtype":"combo","width":120,allowBlank: false,hiddenName:"art_est", 
                        displayField:"state",valueField:"art_est",mode:"local",value:'1' ,store:cit.artEstado, 
                        triggerAction:"all",forceSelection:true,resizable:true,emptyText:'Estado...',editable:false}
            ]} 
        ]}
    ]; //cit.formPrincipal 
    
    cit.tabsCliente = new Ext.TabPanel({   
        width:'100%',
        deferredRender:false,
        border:false,
        layoutOnTabChange : true, 
        activeTab: 0,
        defaults:{autoHeight: true},
        items:
        [
            {
            title:'Datos Principales',
                items:[cit.itemsFormTabPrincipal]
            }
        ]
    });

    cit.formPrincipal = new  Ext.form.FormPanel({
        renderTo: 'bodyform',
        name: cit.itemsFormTabPrincipal,
        autoHeight:true,
        width:"100%",
        bodyStyle: "padding-left: 5px;padding-right: 5px;border:0px;",
        defaults: {anchor:0},
        items:
        [ cit.tabsCliente ]
    });


    function saveFormData(){
        var forms = cit.formMantenimiento.form.getValues();

        if (cit.formPrincipal.form.isValid()) {
            cit.formEnvio = cit.formPrincipal.form.getValues();	    
            //cit.formEnvio.cat_id = forms.cat_id;
            og.openLink(og.getUrl('mantenimiento-articulo','ajax',{'case':'save'},'cms'), {
                hideLoading: false,
                preventPanelLoad: true, 
                post:cit.formEnvio,
                hideErrors:false,
                actions:cit.formPrincipal,
                onSuccess:cit.loadTipo                     
            });

        }
    }

    cit.loadTipo = function(){
        cit.gridPrin.store.reload();
    } 

    cit.actionsConfig = function(cod,tabla){
    //alert(cod)
        cit.formPrincipal.getForm().setValues({
            action:'edit',
            art_id: cod, 
            hart_id:cod
        });
    }

    function deleteFormData(){
        if( cit.gridPrin.getSelectionModel().getSelected() ){
            cit.records = cit.gridPrin.getSelectionModel().getSelected();
            og.openLink(og.getUrl('mantenimiento-articulo','ajax',{'case':'delete'},'cms'), {
                hideLoading: false,
                preventPanelLoad: true, 
                post:{'art_id':cit.records.data.art_id},
                hideErrors:false,
                onSuccess:cit.loadClienteDelete                     
            });
        }else{
            alertExtjs('CIT', 'Eliminar-Debe Haber al menos un registro seleccionado..');
        }
    }
    
    cit.loadClienteDelete=function(){
       cit.gridPrin.store.reload();
       cit.formPrincipal.form.reset(); 
    }

    function newFormData(){
        cit.formPrincipal.form.reset();
        $.getJSON(og.getUrl('mantenimiento-articulo', 'json',{'case':'newart'},'cms'),{},function(data){
            cit.formPrincipal.getForm().setValues({
                action:'add',
                art_id: data.art_id,
                hart_id: data.art_id
            }); 
        });
    }

</script>