<div style="margin-left:5px;" id="form"></div>

<div style="margin-left:5px;" id="divcalendar"></div>

<input type="hidden" name="save[]" id="save" value=""/>

<script>
    cit.winModal = '';
    cit.storeSucur = <?php echo $this->sucursal; ?>;
    cit.storeMeses = <?php echo $this->meses; ?>;

    cit.storeAnio = new Ext.data.JsonStore({
        url: og.getUrl('json', 'json',{'case':'anio'},'cms'),
        fields: ['an_id','state'],
        root: 'matches',
        autoLoad: true
    });
    cit.storeAnio.on('load', function(store){
        Ext.getCmp('an_id').setValue('<?php echo $this->anio; ?>'); 
    });
	
    cit.storeVerifica = new Ext.data.JsonStore({
        url: og.getUrl('reserva-inventario', 'json',{'case':'mesActivo'},'reserva'),
        fields: ['res_item'],
        root: 'matches'
    });
	
    cit.changeSucursal = {
        select: function(combo, record, index){
			
        }
    };
	
    cit.changeFiltro = {
        select: function(combo, record, index){
            i=0;
            var filtro = cit.formPrin.getForm().getValues();
            if(filtro.su_id && filtro.mes_id){	
                cit.divs = 'divcalendar';
                cit.procesarAjax({'su_id':filtro.su_id,'mes_id':filtro.mes_id, 'an_id': filtro.an_id},og.getUrl('reserva-inventario-tipo-hab', 'render',{},'reserva'));
            }//end select
			
        }
    };
    
    
    cit.formPrin = new  Ext.form.FormPanel({
        renderTo: 'form',
        name:'formDcto',
        autoHeight:true,
        bodyStyle:"margin-left: 7px;padding-right: 10px;border:0px",
        width:"98%",
        labelWidth: 80,
        defaults:{"anchor":0},
        items : [
            {xtype:"fieldset",
                items:[
                    {xtype:'compositefield',fieldLabel:'Sucursal ',combineErrors:false,
                        items:[
                            {xtype:'combo', width:90,mode:'local',triggerAction:'all',forceSelection:true,editable:false,name:'su_id',emptyText:'- Sucursal -',
                                hiddenName:'su_id',displayField:'state',valueField:'su_id',store: cit.storeSucur,listeners:cit.changeFiltro,minListWidth:'160'
                            },
                            {xtype:'displayfield',width:1},
                            {xtype:'displayfield',value:'Mes :',width:35,style:'padding-top:+3px;'},
                            {xtype:'combo', width:100,mode:'local',triggerAction:'all',forceSelection:true,editable:false,name:'mes_id',emptyText:'- Meses -',value:'<?php echo $this->mesid; ?>',
                                hiddenName:'mes_id',displayField:'state',valueField:'mes_id',store: cit.storeMeses, listeners:cit.changeFiltro
                            },//end xtype
                            {xtype:'combo', width:80,mode:'local',triggerAction:'all',forceSelection:true,editable:false,id: 'an_id', name:'an_id',emptyText:'- Año -',allowBlank:false,
                                hiddenName:'an_id',displayField:'state',valueField:'an_id',store: cit.storeAnio, listeners:cit.changeFiltro
                            },
                            {xtype:'displayfield',width:5},
                            {xtype:'displayfield',value:'<b>Reserva</b>',width:60,style:'padding-top:+3px; color:#1E7337;'},
                            {xtype:'displayfield',value:'<b>|</b>',style:'padding-top:+3px;'},
                            {xtype:'displayfield',value:'<b>Activo</b>',width:60,style:'padding-top:+3px; color:#0564D8;'},
                            {xtype:'displayfield',value:'<b>|</b>',style:'padding-top:+3px;'},
                            {xtype:'displayfield',value:'<b>Bloqueado</b>',width:60,style:'padding-top:+3px; color:#E22605;'}
                        ]}//end Compositefield
				
                ]}//end fieldset
        ]});

	

    //----------------------
    function saveFormData(){}
    function newFormData(){}
    function deleteFormData(){}
    //Modal Agregar o Eliminar : 
    function formModal(fecha,tih_id){
        //Cargando Grids
        cit.fieldModal =[
            { name : 'lleva'},
            { name : 'res_id'},
            { name : 'pe_nomcomp'},
            { name : 'res_fecha'},
            { name : 'res_total'},
            { name : 'su_nombre'},
            { name : 'res_promo' }
        ];
        cit.proxyModal=new Ext.data.HttpProxy({
            //url:'/reserva/reserva-consulta/json/case/listaReservas',
            url:og.getUrl('reserva-inventario','json',{'case':'reservasDia'},'reserva'),
            method:'POST'
        });
		
        cit.readerMod=new Ext.data.JsonReader({
            fields: cit.fieldModal, //['NEMO', 'nomcomp'],
            root:'matches'
        });
		
        cit.storeModPrin = new Ext.data.Store({
            proxy:cit.proxyModal,
            reader:cit.readerMod
            //autoLoad: true
        });
		
        //store.load();
		
        cit.columnMod =[ 
            {dataIndex: 'res_id', header: 'ID', width: 70,locked: true,align:'center'},
            {dataIndex: 'pe_nomcomp', header: 'Nombre', width: 250,locked: true,align:'left'},
            {dataIndex: 'res_fecha', header: 'Fecha', width: 70,locked: false,align:'center',
                renderer: function(v, params, record){            			 
                    var fecha = og.fechaRender(v, params, record);
                    record.data.res_fecha = fecha;
                    return fecha;
                }
            },
            {dataIndex: 'res_total', header: 'Precio', width: 70,locked: true,align:'right',
                renderer: function(v, params, record){
                    return cit.formatMon(v);
                }
            },
            {xtype: 'actioncolumn', width: 40, align:'center',
                items: [{
                        icon   : og.domainName+'/images/icons/view.png',  // Use a URL in the icon config
                        tooltip: 'Ver Detalle',
                        handler: function(grid, rowIndex, colIndex) {
                            var records = cit.storeModPrin.getAt(rowIndex);	
                            cit.formModals = modalDetalleRes(records.data.res_id);
                            cit.formModals.show();
                        }
                    }]
            }
			
        ];

        cit.gridMod = new Ext.grid.GridPanel({
            //renderTo: 'contiene',
            store: cit.storeModPrin,         
            columns: cit.columnMod,   
            width:'100%',
            height:335, 
            frame: false,
            stripeRows: true,
            columnLines: true,
            trackMouseOver: true,
            bodyStyle:'border:0px;border-top:solid 1px #ccc;'
			
            //loadMask: true
        });
        var filtro = cit.formPrin.getForm().getValues();
		
        cit.storeModPrin.load({params: {'fecha':fecha,'su_id':filtro.su_id,'tih_id':tih_id}});//{params: {'su_id':sucursal,'tih_id': tipo}}

        var winModal;
        cit.formModal = new  Ext.form.FormPanel({
            autoHeigh:true,
            width:"100%",
            bodyStyle:"padding: 5px",
            labelWidth: 68,
            plain:true,
            defaults:{"anchor":0,border:0},//autoCreate: {tag: "input", type: "text", autocomplete: "off", maxlength: 10 },
            items:[
                { items : [cit.gridMod] }  
            ],
            buttons: [{
                    text: 'Close',
                    handler: function(){
                        cit.formModal.form.reset();
                        cit.winModal.hide();
                    }
                }]
	
        });
		

        cit.winModal = new Ext.Window({
            width: 560,
            height:410,
            minWidth: 200,
            minHeight: 150,
            //bodyStyle:'padding:5px;',
            layout : 'fit',
            closeAction: 'hide',
            autoDestroy:true,
            defaultType: 'textfield',
            plain: true,
            modal:true,
            title  : 'Reservas en el Día',
            items  : [ cit.formModal ]
        });
        cit.winModal.show();
	
    }
</script>
