<form name="enviar" method="post" id="enviar">
<div style="width: 100%;">
    <?php
    $link = $this->htmlHead()->urlSite().'/images/icons/view.png';
    $estado_hab = array('R','A','B');
    foreach($this->diasd as $indice => $valdia){
        ?>
        <div style="padding-top: 5px;color: #fff;font-weight:  bold;text-align: center;float: left;width: 13.5%;border: solid 1px #ccc;margin: 1px;height: 25px;background: #455678;">
        <?php echo $indice?></div>
        <?php
    }
        foreach($this->dias as $value){
            ?>
            <div style="<?php if($value['desc']=='domingo' or utf8_decode($value['desc'])=='sábado'){ echo 'background: #BDFABC;';}?>float: left;width: 13.5%;border: solid 1px #ccc;margin: 1px;height: 140px;">
            <?php if(!empty($value['num'])){?>
                <div style="margin: 2px;color: blue;font-weight: bold; background:#E0E0E0;"><?php echo $value['num'];?></div>
                <div> <?php 
               // if(!empty($value['num'])){
                   // foreach($this->habitaciones as $values){
                    ?>
                    <div style="float: left;width: 90%;">
                    <?php 
                        $array = $this->estado;
                        $i = 0; $to_reserva = 0;$to_activo = 0;
                        $to_off = 0;
                        foreach($value['data'] as $result):
                            $img = '';
                            $css = 'class = "hbactivo"';
                            //texto amplio
                            $texto = $result['tih_abr'];

                            //ver Detalles
                            if(!empty($result['reserva'])):
                                //$img = '<img width="13" style="cursor:pointer" src="'.$link.'" '.$function.' />';
                                $function = ' onclick="formModal('."'{$value['fecha']}'".','."'{$result['tih_id']}'".')"';
                                $texto = '<span title="Ver Reserva" '.$function.' style="cursor:pointer"><b>'.$texto.'</b></span>';
                            else:
                                $img = '';
                            endif;
                            ///Final class="reserva_texto"
                            $to_reserva += (int)$result['reserva'];
                            $to_activo += (int)$result['count'];
                            $to_off += (int)$result['inactivo'];
                            if($result['reserva'] > 0)
                                $reservado = '<b>&nbsp;'.str_pad($result['reserva'],2,'0',STR_PAD_LEFT).'&nbsp;</b>';
                            else
                                $reservado = '&nbsp;'.str_pad($result['reserva'],2,'0',STR_PAD_LEFT).'&nbsp;';

                            if($result['count'] > 0)
                                $activo = '<b>&nbsp;'.str_pad($result['count'],2,'0',STR_PAD_LEFT).'&nbsp;</b>';
                            else
                                $activo = '&nbsp;'.str_pad($result['count'],2,'0',STR_PAD_LEFT).'&nbsp;';

                            if($result['inactivo'] > 0)
                                $block = '<b>&nbsp;'.str_pad($result['inactivo'],2,'0',STR_PAD_LEFT).'&nbsp;</b>';
                            else
                                $block = '&nbsp;'.str_pad($result['inactivo'],2,'0',STR_PAD_LEFT).'&nbsp;';

                            if(!empty($result['promo']))
                                $csspro = 'class="css-promo-inventario"';
                            else
                                $csspro = '';
                            $html = '';
                            $html .= '<div '.$css.' style="clear:both;">';
                            $html .= '<table width="100%" border="0">
                                        <tr>
                                            <td width="40">&nbsp;'.$texto.'</td>
                                            <td class="reserva_ocupa" align="right">'.$reservado.'</td>
                                            <td align="right">'.$activo.'</td>
                                            <td class="reserva_block" align="right">'.$block.'</td>
                                            <td width="35" ' . $csspro . ' align="right"> $'.  number_format($result['hb_precio'],0).'</td>
                                        </tr>
                                    </table>';
                                    //<b>'.$result['count'].'</b>&nbsp;&nbsp;'.$img.'</div>
                            $html .= '</div>';
                            echo $html;
                            $i++;
                        endforeach;
                        $html = '';
                        $html .= '<div style="clear:both; background:#C2BEBE;">';
                        $html .= '<table width="100%" border="0">
                                    <tr>
                                        <td width="40">&nbsp;'.'Total'.'</td>
                                        <td  align="right"><b>'.str_pad($to_reserva,2,'0',STR_PAD_LEFT).'</b></td>
                                        <td align="right"><b>'.str_pad($to_activo,2,'0',STR_PAD_LEFT).'</b></td>
                                        <td align="right"><b>'.str_pad($to_off,2,'0',STR_PAD_LEFT).'&nbsp;</b></td>
                                        <td width="35">&nbsp;</td>
                                    </tr>
                                </table>';
                                //<b>'.$result['count'].'</b>&nbsp;&nbsp;'.$img.'</div>
                        $html .= '</div>';
                        echo $html;
                    ?>
                    </div>
                    <?php
                //}
                //}?>
                </div>
               
                    <?php
                    }
                 ?>
            </div>
            <?php
        }
     ?>
</div>
<div style="clear:both; margin-bottom:20px;"></div>
</form>