@charset "utf-8";
.progress .step{font:10px/11px Arial;position:absolute;color:#cccccc;}
.progress .active .step{font-weight:bold;color:#504340;}
.content-proceso{
	width:960px;
	overflow: hidden;
	display: block;
	background-color: #b09e90;
}
.content-left{
		width:660px;
		overflow: hidden;
		height:auto;
		float: left;
		background-color: #fff;
}	
.booking_1 {
	width: 123px;
	height: 40px;
	float: left;
	position:relative;
}
.booking_1 .step{
	left:17px;bottom:4px;
}
.booking_2 {
	width: 123px;
	height: 40px;
	float: left;
	position:relative;
}
.booking_2 .step{
	left:33px;bottom:4px;
}
.booking_3 {
	width: 123px;
	height: 40px;
	float: left;
	position:relative;
}
.booking_3 .step{
	left:49px;bottom:4px;
}
.booking_4 {
	width: 123px;
	height: 40px;
	float: left;
	position:relative;
}
.booking_4 .step{
	left:50px;bottom:4px;
}
.progress {
	display: block;
	width: 492px;
	height: 40px;
	padding-top:20px;
	padding-bottom:10px;
	position:relative;
}
.pbox p {
	font-size: 11pt;
	padding-left: 10px;
	font-family: Arial;
}
.rtitle {
	color: red;
	font-weight: bold;
	padding: 10px 0px;
}
#rtitle {
	color: red;
	font-weight: bold;
	padding: 2px 0px;
}
div.booking_stats {
	background: #F3EFEE;
}
.booking_stats {	
	padding: 10px 10px;
	margin: 10px 20px;
}
div.booking_stats p {
	margin: 2px 0px;
	padding: 0px 0px;
	font-family: Arial;
	color: #666;
	font-size: 15px;
	line-height: 1.3em;
}
strong, b {
	font-weight: bold;
}
#reserve_form {
	width: 660px;
	margin: 20px 0px 0px 0px;

}
#reserve_form {
	background: #D2C8BF;
}
#reserve_form {
	font-size: 10pt;
	padding: 0px 0px;
	border: none;
	font-family: Arial;
}
.pbox form table {
	text-align: left;
	margin: 15px auto;
	padding: 5px 10px;
}
#reserve_form tfoot tr td {
	text-align: left;
	border-top: 1px solid #372825;
	padding: 4px 4px;
}
#reserve_form .button {
	padding: 5px 10px;
}
#reserve_form tbody th, #reserve_form tbody td {
	text-align: center;
	padding-left: 5px;
}
#reserve_form tbody th {
	padding-top: 15px;
	padding-bottom: 5px;
	border-bottom: 1px solid #372825;
	font-family: Arial;
	font-weight: bold;
	color: #666;
	font-size: 16px;
	padding-left: 20px;
}
.fullbox form table tbody tr td, .fullbox form table tbody tr th {
	padding: 2px 5px;
}
form table tr th, table.center_form tr th {
	font-weight: normal;
	font-size: 12pt;
	text-align: right;
	padding: 0px 5px 5px 0px;
}
#reserve_form tr.even {
	background: white;
}
#reserve_form tbody td {
	border: none;
	padding: 10px 0px;
}
form table select {
	padding: 0px;
	font-size: 13px;
	font-family:Arial;
}
option {
	padding-right: 5px;
}
#reserve_form .price {
	font-weight: bold;
	color: black;
}
#reserve_form tbody th, #reserve_form tbody td {
	text-align: center;
}
.bottom-tbody{
	padding-bottom:15px;
}

/*Reserva one*/
#content-proceso-one{
	background-color: #fff;
}
#content-proceso-one .singlebox .pbox1 {
	margin-left: 80px;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 650px;
}
.pbox1 p {
	font-size: 11pt;
	font-family: Arial;
}
.booking_stats1 {
	width: 90%;
	padding: 10px 10px;
	margin: 10px 0px;
}
div.booking_stats1 {
	background: #F3EFEE;
}
div.booking_stats1 p {
	margin: 2px 0px;
	padding: 0px 0px;
	font-family: Arial, Helvetica, sans-serif;
	color: #666;
	line-height: 1.3em;
	font-size:15px;
}
.dark {
	color: #6F5B54;
	font-weight: bold;
}
div.booking_stats1 table {
	padding: 5px 0px;
}
div.booking_stats1 table tbody tr td:first-child {
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	color: #666;
	font-size:13px;
}
.booking_stats1 form td input{
	margin-right: 10px;
	margin-left: 0px;
}
.booking_stats1 form td label{
	font-family:Arial;
	font-size:14px;
	color: #705c55;
	margin-right: 10px;
}
.content-user{
	border: 2px solid white;
	border-right: none;
	border-left: none;
}
.stats_container {
	border: 1px solid black;
	padding: 3px 3px;
	width: 800px;
	padding: 5px 5px;
	margin: 15px 0px;
	overflow: hidden;
	font-family:Arial;
}
.stats_container .title {
	font-size: 10pt;
	color: red;
	margin: 10px 0px;
	border-bottom: 1px solid #D2C8BF;
}
.stats_container .booking_stats1 {
	width: auto;
}
#small {
	font-size: 11px;
}	
td.bold_input input {
	border: 2px solid #444;
}
.cont{
	width:770px;
	padding-bottom: 20px;
}
.cont input{
	float: right;
}
table.price_list {
	width: 100%;
	margin: 0px auto;
}
table.price_list tr th {
	font-size: 9pt;
	padding: 5px 10px;
	font-family: Arial, Helvetica, sans-serif;
	color: #666;
}
table.price_list tr td, table.price_list tr th {
	text-align: center;
}
th {
	font-weight: bold;
	text-align: left;
}
table.price_list tfoot tr td {
	font-size: 9pt;
	font-style: italic;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	color: #666;
}
table.price_list tbody tr td {
	background-color: #FFFFCB;
	padding: 5px 15px;
	font-size: 10pt;
	font-family: Arial, Helvetica, sans-serif;
	color: #666;
}
table.price_list tbody tr td {
	font-size: 10pt;
}
.twocol {
	padding: 10px 0px;
	overflow: hidden;
}
.twocol .leftcol, .twocol .rightcol {
	width: 48%;
	float: left;
	margin: 0px 6px;
}
.content-user tr td{
	padding-bottom:5px;
	font-family:Arial;
	color: #666;
	font-size:13px;
}
.medium{
	font-size:13px;        
}
.medium1{
	font-size:13px;
        width: 257px;
}
.meses_form{font-size:13px; height: 20px;  }
.anio_form{font-size:13px;height: 20px; width: 124px}

.tright {
	text-align: right !important;
}
.fila table tbody{
	border: 2px solid white;
	border-right: none;
	border-left: none;
}
.fila table tbody tr td{
	font-family:Arial;
}
.fila table tbody tr td b{
	font-family:Arial;
	color: #666;
	font-weight:bold;
}
#myModal h1{
	font-size: 1.2em;
	font-family:Arial;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	color: #666;
}
.texto_titulo {
	font-family: Arial;
	vertical-align: middle;
	font-size: 12px;
	font-weight: bold;
}
.texto_titulo td{
	color: #666;
	font-size:15px;
}
.texto_feriado {
	font-family: Arial;
	vertical-align: middle;
	font-size: 15px;
	color: #E31515;
}

.texto td{
	color: #666;
	font-size:15px;
	font-family:Arial;
}
.rightcol tr td p{
	font-weight:bold;
}
.leftcol tr td p{
	font-weight:bold;
}
#tema-small{
	font-size:12px;
	font-weight:normal;

}
.rightcol tbody tr td span{
	font-family:Arial;
	line-height:15px;
}
.content-envio{
	float: right;
	padding-top:15px;
}
.table-style{
	font-size:12px;
	color: #666;
	font-family:Arial;
}
table {
	margin: 0 0 1.5em 0;
	font-size: 1em;
}

.style2 table tbody tr td{
	line-height:15px;
}
.letra p{
	color: #666;
	font-family: arial;
	line-height:20px;
}