<link rel="stylesheet" type="text/css" media="screen" href="<?php echo $this->htmlHead()->css()?>/hotel/css/normal.theme.css" />

<div id="content" class="clearfix hotelland">
    <div class="vbarbox">
        <div id="regbox">
            <div class="welcome">
                <p class="center"><?php echo Cit_Init::_('WEB_HOME')?></p>
                <p><?php echo Cit_Init::_('WEB_HOME2')?></p>
            </div>						
            <form id="booking" action="/reserva/buscar" method="post" class="dlgrid" >
                <fieldset class="dlinline">
                    <div class="w100">
                        <dl class="dt40 dd40">
                            <dt><label><?php echo Cit_Init::_('RES_LOCATION')?> : </label></dt>
                            <dd>
                                <select class="text" name="reserve_info[hotel_id]" id="reserve_info_hotel_id">
                                    <?php
                                        echo $this->sucursal;
                                    ?>
                                </select>
                            </dd>
                        </dl>									
                    </div>
                    <div class="w100">
                        <dl class="dt40 dd40">
                            <dt><label><?php echo Cit_Init::_('RES_CHECKIN')?> : </label></dt>
                            <dd class="relative">
                                <input class="text date_input" type="text" name="reserve_info[reserve_dates][from]" id="reserve_info_reserve_dates_from" />
                            </dd>
                        </dl>									
                    </div>
                    <div class="w100">
                        <dl class="dt40 dd40">
                            <dt><label><?php echo Cit_Init::_('RES_CHECKOUT')?> : </label></dt>
                            <dd  class="relative">
                                <input class="text date_input" type="text" name="reserve_info[reserve_dates][to]" id="reserve_info_reserve_dates_to" />
                            </dd>
                        </dl>									
                    </div>
                    <div class="w100">
                        <dl class="dt40 dd40">
                            <dt><label><?php echo Cit_Init::_('RES_ADULT')?> : </label></dt>
                            <dd>
                                <select class="text" name="reserve_info[num_adults]" id="reserve_info_num_adults">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>

                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                </select>	
                            </dd>
                        </dl>									
                    </div>
                    <div class="w100">
                        <dl class="dt10 dd90">
                            <dt></dt>
                            <dd>
                                <input type="submit" value="Check Rates & Availability" class="button"/>
                            </dd>
                        </dl>									
                    </div>
                    <div class="w100">
                        <dl class="dt10 dd90">
                            <dt></dt>
                            <dd>
                                <div class="best_rate">
                                    <h6><strong>he best online rates <a class="highliht" href="/page/best-rate-guaranteed">GUARANTEED</a></strong>	</h6>
                                    <p class="small">lowest rates you'll find anywehre</p>
                                </div>	
                            </dd>
                        </dl>									
                    </div>
                </fieldset>
            </form>						
        </div>
        <div class="frontslideshow" id="s1" >
    <?php echo $this->htmlIndex()->banner_imagen();?>
        </div>
    </div>
</div><!-- Content -->


<div id="bottom">
    <div class="block322">
        <ul class="list_reset menuitems">
            <?php echo $this->htmlIndex()->menu_categorias($this->cat_id);?>
        </ul>
    </div>
    <?php echo $this->htmlIndex()->menu_articulos($this->cat_id);?>
    <a name="hotel_detail"></a>	
    <div class="clear"></div>	
</div>