    <!--
    See http://developer.yahoo.com/ypatterns/pattern.php?pattern=itempagination
    -->
     
    <?php if ($this->pageCount): ?>
    <div class="paginationControl">
    <?php echo $this->firstItemNumber; ?> - <?php echo $this->lastItemNumber; ?>
    of <?php echo $this->totalItemCount; ?>
     
    <!-- First page link -->
    <?php if (isset($this->previous)): ?>
      <a href="<?php echo $this->url(array('page' => $this->first)); ?>">
        <?php echo Cit_Init::_('PAGINATION_FIRST')?>
      </a> |
    <?php else: ?>
      <span class="disabled"><?php echo Cit_Init::_('PAGINATION_FIRST')?></span> |
    <?php endif; ?>
     
    <!-- Previous page link -->
    <?php if (isset($this->previous)): ?>
      <a href="<?php echo $this->url(array('page' => $this->previous)); ?>">
        &lt; <?php echo Cit_Init::_('PAGINATION_PREVIOUS')?>
      </a> |
    <?php else: ?>
      <span class="disabled">&lt; <?php echo Cit_Init::_('PAGINATION_PREVIOUS')?></span> |
    <?php endif; ?>
     
    <!-- Next page link -->
    <?php if (isset($this->next)): ?>
      <a href="<?php echo $this->url(array('page' => $this->next)); ?>">
        <?php echo Cit_Init::_('PAGINATION_NEXT')?> &gt;
      </a> |
    <?php else: ?>
      <span class="disabled"><?php echo Cit_Init::_('PAGINATION_NEXT')?> &gt;</span> |
    <?php endif; ?>
     
    <!-- Last page link -->
    <?php if (isset($this->next)): ?>
      <a href="<?php echo $this->url(array('page' => $this->last)); ?>">
        <?php echo Cit_Init::_('PAGINATION_LAST')?>
      </a>
    <?php else: ?>
      <span class="disabled"><?php echo Cit_Init::_('PAGINATION_LAST')?></span>
    <?php endif; ?>
     
    </div>
    <?php endif; ?>