<div class="detail-night" style="margin: 5px 8px 4px 6px">
    <div id="container-detail">
        <h2 id="tdetail"><?php echo Cit_Init::_('DETAIL_NIGHT')?></h2>
        <div id="top" class="w100">
            <h2><?php echo $this->info['su_reserva'];?></h2>
            <p><?php echo $this->info['su_direccion'];?><br />
                Phone: <?php echo $this->info['su_telefono1'];?> </p>
        </div>
        <div class="clear"></div>	
        <div class="left">
            <h3>PREMIUM RATE - full and flexible</h3>
            <p><?php echo $this->nameRoom;?> - 1 queen - size bed</p>	
        </div>
        <div class="right">
            <ul>
                <li><?php echo Cit_Init::_('DETAIL_RESERVA')?>: 
                    <?php echo $this->fechaini;?> to <?php echo $this->fechafin;?></li>
                <li><?php echo Cit_Init::_('DETAIL_NUM_NIGHT')?>: <strong><?php echo $this->dias;?></strong></li>
                <li><?php echo Cit_Init::_('DETAIL_ADULT')?>: <strong><?php echo $this->adultos;?></strong>
                <?php echo Cit_Init::_('DETAIL_CHILDREN')?>: <strong><?php echo $this->children;?></strong></li>
            </ul>
        </div>
        <div class="clear"></div>
        <table class="detail-night">
            <tr class="ttheader">
                <th class="white"></th>
                <th><?php echo Cit_Init::_('DETAIL_ROOM_PRICE')?></th>
                <th><?php echo Cit_Init::_('DETAIL_BREAKFAST')?></th>
            </tr>
            <?php foreach($this->detail as $value) :
                ?>
                <tr>
                    <td <?php echo ($value['ta_id']=='F')?'style="font-weight: bold;"':'' ?>><?php echo $value['dia']?></td>
                    <td>$<?php echo number_format($value['hb_precio'],2)?></td>
                    <td>$ 0.00</td>
                </tr>
                <?php
            endforeach;
            ?>
            <tr class="ttotal">
                <th colspan="1" class="no-border"><span class="right">Total</span></th>
                <td><strong>$<?php echo number_format($this->total,2);?></strong></td>
                <td><strong>$ 0.00</strong></td>
            </tr>
        </table>
    </div>
</div>