<div id="gallery">
    <ul>
        <?php
        if (!empty($this->images)):
            $base = $this->htmlIndex()->img();
            foreach ($this->images as $value):
                ?>
                <li><a href="#">
                        <img width="500" src="<?php echo $base . $value['im_image4'] ?>" />
                    </a>
                </li>
                <?php
            endforeach;
        else:
            ?>
            <div class="reserve-not-image">
                <h3><?php echo Cit_Init::_('RES_NOT_IMAGE'); ?></h3>
            </div>
        <?php
        endif;
        ?>
    </ul>
</div>