<link rel="stylesheet" type="text/css" media="all" href="<?php echo $this->htmlHead()->css() ?>/reserva/cssreserva.css" />
<link rel="stylesheet" type="text/css" media="all" href="<?php echo $this->htmlHead()->css() ?>/reserva/colorbox.css" />
<script type="text/javascript" src="<?php echo $this->htmlHead()->js() ?>/jquery/jquery.colorbox-min.js"></script>
<link rel="stylesheet" type="text/css" media="all" href="<?php echo $this->htmlHead()->css() ?>/container/fullbox.css" />
<script type="text/javascript" src="<?php echo $this->htmlHead()->js() ?>/jquery/lightbox/jquery.lightbox-0.5.js"></script>
<script type="text/javascript" src="<?php echo $this->htmlHead()->js() ?>/jquery/lightbox/jquery.lightbox-0.5.pack.js"></script>
<script type="text/javascript" src="<?php echo $this->htmlHead()->js() ?>/jquery/lightbox/jquery.lightbox-0.5.js"></script>
<?php
    $redirect = Zend_Controller_Action_HelperBroker::getStaticHelper('Redirector');
    $controller = $redirect->getRequest()->getControllerName();
?>
<style>
    .item-body-blank{
        background-color: white;
        overflow: hidden;
    }
    .item-title-blank{
        background: -moz-linear-gradient(center top , #EEEEEE 0%, #D7C9BF 87%) repeat scroll 0 0 transparent;
        overflow: hidden;
        padding: 5px 0 5px 15px;
        height: 15px;
    }
    .item-content-blank{
        line-height: 40px;
        font-size: 14px;
        margin-left: 20px;
        font-weight: bold;
    }
</style>
<div class="content-proceso">
    <div class="content-left">
        <div class="enjoy-content">
            <div class="enjoy-logo">
                <a href="<?php echo $this->htmlIndex()->urlSite(); ?>"><img src="<?php echo $this->htmlIndex()->img() ?>/hotel/images/enjoy-logo.png"/></a>
            </div>
            <div class="enjoy-menu">
                <ul class="hover_block">
                    <?php echo $this->htmlIndex()->menu_publicacion('categoria'); ?>
                </ul>
            </div>
        </div>                              
        <div class="pbox theme-b">
            <div class="progress">
                <div class="booking_1 active">
                    <img alt="Booking step 1" src="<?php echo $this->htmlIndex()->img() ?>/hotel/img/booking_1.png"/>
                    <span class="step"><?php echo Cit_Init::_('PATH_DATE_ROOMS') ?></span>
                </div>
                <div class="booking_2">
                    <img alt="Booking step 1" src="<?php echo $this->htmlIndex()->img() ?>/hotel/img/booking_2.png"/>
                    <span class="step"><?php echo Cit_Init::_('PATH_GUEST') ?></span>
                </div>
                <div class="booking_3">
                    <img alt="Booking step 1" src="<?php echo $this->htmlIndex()->img() ?>/hotel/img/booking_3.png"/>
                    <span class="step"><?php echo Cit_Init::_('PATH_PAYMENT') ?></span>
                </div>
                <div class="booking_4">
                    <img alt="Booking step 1" src="<?php echo $this->htmlIndex()->img() ?>/hotel/img/booking_4.png"/>
                    <span class="step"><?php echo Cit_Init::_('PATH_CONFIRMATION') ?></span>
                </div>
            </div>
            <?php $base = $this->htmlIndex()->img();?>
            <p class="rtitle"><?php echo Cit_Init::_('PRO_BOOKING') ?>: <?php echo Cit_Init::_('PRO_ROOM') ?></p>
            <div id="ficha-hotel-1">
                <div id="cnt-img">
                    <img width="98" height="148" 
                         src="<?php echo $base.$this->images['im_image2']  ?>" /> 
                </div>
                <div id="cnt-context">
                    <div id="titulo">
                        <h2><?php echo $this->suc[0]['su_reserva'];?>:</h2>
                        <p><?php echo $this->suc[0]['su_direccion']; ?> <br />
                            Tel: <?php echo $this->suc[0]['su_telefono1']; ?> </p>
                        <script type="text/javascript">
                            $(document).ready(function(){
                                $(".preview-hotel").colorbox({rel:'preview-hotel'});
                                $(".show-rooms-thumbs").colorbox();
                            });
                        </script>
                        <?php
                        
                        $i = 1;
                        foreach ($this->images as $values):
                            if ($i == 1) {
                                ?>
<!--                                <a class="right preview-hotel" href="<?php //echo $base . $values['im_image4'] ?>" 
                                   title="preview <?php //echo $this->suc[0]['su_reserva']; ?>">
                                    PREVIEW HOTEL PHOTO
                                </a>-->
                                <?php
                            } else {
                                ?>
                                <a class="preview-hotel" href="<?php echo $base . $values['im_image4'] ?>" style="display:none" title="preview <?php echo $this->suc[0]['su_reserva']; ?> <?php echo $i; ?>"></a>
                                <?php
                            }
                            $i++;
                        endforeach;
                        ?>
                    </div>
                    <div id="desc">
                        <dl class="row-1">
                            <dt><?php echo Cit_Init::_('PRO_AVAILIABILITY') ?> : </dt>
                            <dd> <strong><?php echo $this->fechainis2 ?></strong> 
                              to <strong> <?php echo $this->fechafins2 ?></strong></dd>
                        </dl>
                        <dl class="row-2">
                            <dt><?php echo Cit_Init::_('PRO_NIGHTS') ?> : <strong><?php echo $this->noches ?></strong> </dt>
                            <dd>&nbsp;<?php echo Cit_Init::_('PRO_ADULTS') ?> :  <strong><?php echo $this->adultos ?></strong></dd>
                        </dl>
                    </div>   
                </div>
            </div>
            <div class="clear"></div>

            <?php
            if(!empty($this->data)):
                foreach ($this->data as $indice => $value) { ?>
                    <div class="hotel-reserva-item width-short first-reserva">
                        <div class="item-titulo">
                            <div class="left-reserva-lista">
                                <h2><?php echo $value['tih_desc']; ?></h2>
                            </div>
                            <div class="right-reserva-lista" style="color: #FF3016">
                                <span style="font-size: 15px;">
                                    <strong>
                                    <?php echo (!empty($value['pro_name']))? Cit_Init::_('RES_PROMO_1'):'';  ?>
                                </strong>
                                </span>
                                <span style="font-size: 18px;">
                                    <b><?php //echo $value['pro_name'];  ?></b>
                                </span>
                                <span style="font-size: 15px;">
                                    <strong>
                                    <?php echo (!empty($value['pro_name']))? Cit_Init::_('RES_PROMO'):'';  ?>
                                    </strong>
                                </span>
                            </div>

                        </div>
                        <div class="item-cuerpo">
                            <?php
                            if (!empty($value['im_image3'])) {
                                $cb = true;
                                $img = $this->htmlIndex()->img() . $value['im_image3'];
                            } else {

                                $cb = false;
                                $img = $this->htmlHead()->img() . '/default/sin-imagen-prewiew.png';
                            }
                            ?>
                            <?php if ($cb): ?>
                                <a href="/proceso-reserva/boximages/id/<?php echo $value['tih_id']?>" 
                                   class="show-rooms-thumbs">	
                                    <img src="<?php echo $img; ?>" class="preview" width="104"/>
                                </a>
                            <?php else: ?>
                                <img src="<?php echo $img; ?>" class="preview" width="104"/>
                                    <?php endif; ?>
                            <div class="desc">
                                <p style="text-align: justify">
                                    <?php
                                    if (strlen($value['tih_coment']) > 240)
                                        echo substr($value['tih_coment'], 0, 240) . '...';
                                    else
                                        echo $value['tih_coment'];
                                    ?>
                                </p>
                                <ul class="list-check">
                                    <?php
                                    echo $this->htmlIndex()->habitacion_accesorios($value['tih_id'], 3);
                                    ?>

                                </ul>	
                            </div>
                            <div class="price">
                                <h3><?php echo Cit_Init::_('PRO_LOWES_RATE') ?>:</h3>
                                <strong <?php if (empty($value['cn'])): ?>class="price-no-avaliable"<?php endif; ?>><?php echo '$' . $value['hb_precio']; ?></strong>
                                <span class="money">USD</span>
                                <a href="/proceso-reserva/boxdetail/id/<?php echo $value['tih_id']; ?>/pro/<?php echo $value['pro_id']; ?>" class="rate-deta"><?php echo Cit_Init::_('RES_RATE_DETAIL') ?></a>
                                <?php
                                if (!empty($value['cn'])):
                                    ?>
                                <a href="javascript:void(0)" class="button" onclick="ftReservar('<?php echo $value['tih_id'] ?>','<?php echo $value['tih_desc']; ?>','<?php echo $value['pro_id']; ?>','<?php echo $value['im_image2']; ?>')">
                                        <?php echo Cit_Init::_('BOTON_RESERVA') ?>
                                    </a>
                                    <?php
                                else:
                                    ?>
                                    <p href="#" class="lnk-nada red-strong">NO DISPONIBLE</p>
                                <?php
                                endif;
                                ?>
        <!--                                <a href="#" class="<php echo (empty($value['cn']))?'nada':'lnk-reservas'?>">Reservas</a>-->
                            </div>	
                        </div>
                    </div>
                <?php }
            else:
                ?>
                <div style="height: 400px; margin-left: 50px; margin-right: 50px;">
                    <div class="item-title-blank"></div>
                    <div class="item-body-blank" style="height: 50px;">
                        <div class="item-content-blank">
                            <?php echo Cit_Init::_('PROCESS_RES_NOT_AVIABLE') ?>
                        </div>
                        
                    </div>  
                </div>
                <?php
            endif;
            ?>
            <br /><br />
        </div>
    </div>
    <div class="reserva-qp">
        <div style="height:40px;width:300px;"></div>
        <?php echo $this->partial('formulario.phtml'); ?>                                                
    </div>
    <div class="line-white-3px"></div>
    <div id="hotel-garentees">
        <h2><?php echo Cit_Init::_('RES_GARANTEES') ?></h2>
        <ul class="check-list-b">
            <li><?php echo Cit_Init::_('RES_GARANTEES_1'); ?></li>
            <li><?php echo Cit_Init::_('RES_GARANTEES_2'); ?></li>
            <li><?php echo Cit_Init::_('RES_GARANTEES_3'); ?></li>
            <li><?php echo Cit_Init::_('RES_GARANTEES_4'); ?></li>
        </ul>	
    </div>
    <?php if(!empty($this->promotions)):?>
    <div id="hotel-garentees">
        <h2><?php echo Cit_Init::_('PROMOCION_WEB') ?></h2>

        <?php
        foreach ($this->promotions as $value):
            $image = (empty($value['image'])) ? $this->htmlHead()->img() . '/default/promo-sin-imagen.png' : $this->htmlIndex()->img() . $value['image'];
            ?>
            <div class="check-list-b" style="text-align: center; margin-bottom: 2px;">
                <a href="/promociones/index/cod/<?php echo $value['su_id'].'*'.$value['an_id'].'*'.$value['pro_id'] ?>">
                <img src="<?php echo $image ?>" width="220" 
                     title="COD: <?php echo $value['pro_id']; ?>"/>
                </a>
            </div>
                <?php
            endforeach;
            ?>

    </div>
    <?php endif;?>
</div>

<script type="text/javascript">
    $(function() {
        $('#gallery a').lightBox();
    });
</script>
<style type="text/css">
    /* jQuery lightBox plugin - Gallery style */
    #gallery {
            background-color: #444;
            /*padding: 10px;*/
            width: 520px;
            min-height: 270px;
    }
    #gallery ul { list-style: none; }
    #gallery ul li { display: inline; }
    #gallery ul img {
            border: 5px solid #3e3e3e;
            border-width: 5px 5px 20px;
    }
    #gallery ul a:hover img {
            border: 5px solid #fff;
            border-width: 5px 5px 20px;
            color: #fff;
    }
    #gallery ul a:hover { color: #fff; }
    
    .reserve-not-image{
        width: 90%;
        text-align: center;
        padding-top: 90px;
        color: #ffffff;
    }
</style>
<script>
    function reserve(){
        var contador=false;
        $.each($('.classreserve'), function(i, n){
            if($(n).attr('value')>0){
                contador =true    
            }
        });
        if(contador){
            return true
        }
        else{
            alert('Debe selecionar por lo menos una habitacion');
            return false;        
        }
    
    }
    function precios(id,ti){
        $.getJSON(
        "<?php echo $this->htmlHead()->urlSite() ?>/proceso-reserva/json/case/tarifa/date/"+ti.id+'/value/'+ti.value+'/fechaini/<?php echo $this->fechaini ?>/fechafin/<?php echo $this->fechafin ?>/', 
        {},
        function(json){
            $('#'+id).text(json.precio);
            $('#karito'+id).attr('value',json.precio);
            if(parseFloat(json.price)>0){
                $('#btn_reserve').attr('disabled',false);
            }
        }
    );
    }
    
    function ftReservar(id,nombre,promo,imagen){
        $.ajax({
            async:true,
            type: "POST",
            dataType: "html",
            data:'id=' + id + '&desc=' + nombre + '&promo=' + promo+'&img='+imagen,
            contentType: "application/x-www-form-urlencoded",
            url:'/proceso-reserva/cargar',
            //beforeSend:g_inicomboalum,
            success:sucess_reserva,
            timeout:30000
            //error:problemagral
        });
    }
    
    function sucess_reserva(dato){
        if(dato){
            location.href = dato;
        }
    }
    $(".rate-deta").colorbox();

    /*.colorbox({
                href:$(this).attr("href"),
                inline:true
        });*/
</script>