<?php
$redirect = Zend_Controller_Action_HelperBroker::getStaticHelper('Redirector');
$su_id = $redirect->getRequest()->getParam('suc', '00000001');
$interna = $redirect->getRequest()->getParam('interno', 0);
$controller = $redirect->getRequest()->getControllerName();
$direc = $_SERVER["REQUEST_URI"];
$get = '';
$direc = explode('/lg/', $direc);
$temp = explode('?', @$direc[1]);
$get = @$temp[1];

if ($controller == 'index' or $controller == ''):
    $url = '/index/index';
else:
    $existe = strpos($direc[0], '/index');

    if ($existe) {
        $url = $direc[0];
    } else {
        $link = '/' . $controller . '/index';
        $url = $link;
    }
endif;
?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <?php echo $this->headTitle(); ?>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" type="text/css" media="all" href="<?php echo $this->htmlHead()->css() ?>/style.css" />
        <link rel="stylesheet" type="text/css" href="<?php echo $this->htmlHead()->js() ?>/jquery/validation/css/smoothness/jquery-ui-1.7.2.custom.css" />
        <script type="text/javascript" src="<?php echo $this->htmlHead()->js() ?>/jquery/jquery-1.4.2.min.js"></script>
        <script type="text/javascript" src="<?php echo $this->htmlHead()->js() ?>/jquery/jquery-ui-1.7.2.custom.min.js"></script>
        <script type="text/javascript" src="<?php echo $this->htmlHead()->js() ?>/jquery/jquery.cycle.all.js"></script>
        <script type="text/javascript" src="<?php echo $this->htmlHead()->js() ?>/main.js"></script>
        <script type="text/javascript" src="<?php echo $this->htmlHead()->js() ?>/scripts.js"></script>

        <script type="text/javascript" language="JavaScript">
            var url_host = '<?php echo $this->htmlHead()->urlSite() ?>'; 
            var lang = "<?php echo (Cit_Init::_('MES_RESERVA')) == 'Mes' ? 'ES' : 'EN'; ?>" ;
        </script>

        <style>

            ul.hover_block li{
                list-style:none;
                float:left;
                width:105px; 
                position: relative; 
            }
            ul.hover_block li a {
                display: block;
                position: relative;
                overflow: hidden;
                height: 70px;
                width: 105px;
                color: black;
            }
            ul.hover_block li a { text-decoration: none; }

            ul.hover_block li img {
                position: absolute;
                top: 0;left: 0;
                border: 0;
            }
        </style>    
        <script>
            $(function() {
                $('ul.hover_block li').hover(function(){
                    $(this).find('img').animate({top:'90px'},{queue:false,duration:500});
                }, function(){
                    $(this).find('img').animate({top:'0px'},{queue:false,duration:500});
                });
                $('ul.hover_block li').hover(function(){
                    $(this).find('span').animate({top:'50px'},{queue:false,duration:500});
                }, function(){
                    $(this).find('span').animate({top:'0px'},{queue:false,duration:500});
                });
            });
        </script> 
    </head>
    <body class="step-paym">
        <div id="wrapper">
            <div style="background-color: #E9BE31; text-align: center; width: 100%; height: 25px; padding-top: 3px; color: #0150C5">
                <b>Página en Construcción</b>
            </div>
            <div id="header">
                <div class="top-location">
                    <div class="idioma">
                        <ul>
                            <li><a href="<?php echo $this->htmlHead()->urlSite() . $url ?>/lg/EN<?php echo '?' . $get ?>"><?php echo Cit_Init::_('WEB_EN') ?></a></li>
                            <li><span>|</span></li>
                            <li><a href="<?php echo $this->htmlHead()->urlSite() . $url ?>/lg/ES<?php echo '?' . $get ?>"><?php echo Cit_Init::_('WEB_ES') ?></a></li>
                        </ul>	
                    </div>
                    <div class="location">
                        <span></span>
                    </div>
                    <div class="about">
                        <ul class="social-left">
                            <li><a href="http://www.facebook.com/qpHotelsPeru" target="_blank">
                                    <img width="21" height="20" src="<?php echo $this->htmlIndex()->img() ?>/hotel/images/facebook.png"/>
                                </a>
                            </li>
                            <li><a href="https://twitter.com/qphotelsperu" target="_blank">
                                    <img width="21" height="20" src="<?php echo $this->htmlIndex()->img() ?>/hotel/images/twitter.jpg"/>
                                </a>
                            </li>
                            <li>
                                <a href="http://pinterest.com/qphotels" target="_blank">
                                    <img width="21" height="20" src="<?php echo $this->htmlIndex()->img() ?>/hotel/images/pinterest-logo.jpg"/>
                                </a>
                            </li>
                            <li><a href="https://es.foursquare.com/v/qp-hotels/4cba2916a33bb1f768c68cfd" target="_blank">
                                    <img width="21" height="20" src="<?php echo $this->htmlIndex()->img() ?>/hotel/images/foursquare-logo.jpg"/>
                                </a>
                            </li>
                            <li><a href="http://www.youtube.com/qphotelslima" target="_blank">
                                    <img width="21" height="20" src="<?php echo $this->htmlIndex()->img() ?>/hotel/images/youtube.jpg"/>
                                </a>
                            </li>
                            
                        </ul>
                        <ul class="contac-right">
                            <li><a href="<?php echo $this->htmlHead()->urlSite(); ?>/about"><?php echo Cit_Init::_('WEB_ABOUT') ?></a></li>
                            <li><span>|</span></li>
                            <li><a href="<?php echo $this->htmlHead()->urlSite(); ?>/contact"><?php echo Cit_Init::_('WEB_CONTACT') ?></a></li>
                        </ul>	
                    </div>
                </div>
                <div class="top-menu">
                    <!--Top del menu ("ingreso de usuario")-->
                    <?php echo $this->partial('top.phtml', array('suid' => $su_id,
                        'interna' => $interna, 'post' => $_POST)); ?>
                    <!--Final del top menu-->
                </div>
            </div>
            <div id="main">
                <!--Inicio del contenido-->
                <?php echo $this->layout()->content; ?>
                <!--Final del Contenido-->
            </div>
            <div id="footer">
                <div class="footer-direccion-supe">
                    <ul class="content-sucursal">
                        <li><a href="<?php echo $this->htmlHead()->urlSite(); ?>/sucursal/index/suc/00000002">qp Hotels Lima</a></li>
                        <li><span>|</span></li>
                        <li><a href="<?php echo $this->htmlHead()->urlSite(); ?>/sucursal/index/suc/00000003">qp Hotels Arequipa</a></li>
                        <li><span>|</span></li>
                        <li><a href="#">qp Hotels Trujillo</a></li>
                    </ul>
                    <p class="direccion1"><img src="<?php echo $this->htmlIndex()->img() ?>/hotel/images/tele.png"/>  511 319 2929 </p>
                    <!--
                        <ul class="footer-ul">
                            <li class="call-footer">call us free with</li>
                            <li><a href="#"><img src="<?php echo $this->htmlIndex()->img() ?>/hotel/images/skype.png"/></a></li>
                        </ul>
                    -->
                    <a href="#" id="shortcut-chat" class="offline">
                        <span id="title">live asistance</span>
                        <span id="status-chat">offline</span>
                    </a>

                </div>
                <div class="content-footer-inferior">
                    <div class="footer-direccion">
                        <div class="content-terminos">
                            <ul>
                                <li><a href="<?php echo Cit_Init::_('WEB_TERMS_LINK') ?>"
                                       target="_blank">
                                    <?php echo Cit_Init::_('WEB_TERMS') ?></a>
                                </li>
                                <li><span>|</span></li>
                                <li><a href="#"><?php echo Cit_Init::_('WEB_PRIVACY') ?></a></li>
    <!--                            <li><span>|</span></li>-->
                                <!-- <li><a href="#">Información del clima brindada por weather.com®</a></li>-->
                            </ul>
                        </div>
                        <div class="content-blog">
                            <ul>
                                <li><a href="http://www.360loungebar.com/es/index.php">360 loungebar.com</a></li>
                                <li><span>|</span></li>
                                <li><a href="<?php echo $this->htmlHead()->urlSite(); ?>/franchise/terms">Franchise information</a></li>
                                <li><span>|</span></li>
                                <li><a href="http://qphotelsperu.blogspot.com">qp blog</a></li>
                                <li><span>|</span></li>
                                <li>© 2012 qp Hotels. <?php echo Cit_Init::_('WEB_RESERVED') ?></li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-imagen">
    <!--                        <img src="<?php echo $this->htmlIndex()->img() ?>/hotel/images/water.png" />-->
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>