

<div style="margin-left:5px;" id="form"></div>
<form id="formcalendar" method="post">
<div style="margin-left:5px;" id="divcalendar"></div>
</form>
<script>

cit.storeSucur = <?php echo $this->sucursal;?>;
cit.storeMeses = <?php echo $this->meses;?>;

    
    
    
	cit.formPrin = new  Ext.form.FormPanel({
		renderTo: 'form',
		name:'formDcto',
		autoHeight:true,
		bodyStyle:"margin-left: 7px;padding-right: 10px;border:0px",
		width:"98%",
		labelWidth: 80,
		defaults:{"anchor":0},
		items : [
			{xtype:"fieldset",
				items:[
					{xtype:'compositefield',fieldLabel:'Sucursal ',combineErrors:false,
					items:[
						{xtype:'combo', width:90,mode:'local',triggerAction:'all',forceSelection:true,editable:false,name:'su_id',emptyText:'- Sucursal -',
							hiddenName:'su_id',displayField:'state',valueField:'su_id',store: cit.storeSucur,minListWidth:'160',
							listeners:{select: function(combo, record, index){
                        		    var filtro = cit.formPrin.getForm().getValues();
									if(filtro.mes_id){
 		                       			cit.divs = 'divcalendar';
        	                            cit.procesarAjax({'su_id':filtro.su_id,'tih_id':filtro.tih_id,'mes_id':filtro.mes_id},og.getUrl('reserva-gestion-tipo-hab', 'render',{},'reserva'));
									}
                        		}
                            }
						},					
						{xtype:'displayfield',width:1},
						{xtype:'displayfield',value:'Mes :',width:35,style:'padding-top:+3px;'},
						
                        {xtype:'combo', width:100,mode:'local',triggerAction:'all',forceSelection:true,editable:false,name:'mes_id',emptyText:'- Meses -',
							hiddenName:'mes_id',displayField:'state',valueField:'mes_id',store: cit.storeMeses,value:'<?php echo $this->mesid;?>',
                            listeners:{select: function(combo, record, index){
                        		    var filtro = cit.formPrin.getForm().getValues();
									if(filtro.mes_id){
 		                       			cit.divs = 'divcalendar';
        	                            cit.procesarAjax({'su_id':filtro.su_id,'tih_id':filtro.tih_id,'mes_id':filtro.mes_id},og.getUrl('reserva-gestion-tipo-hab', 'render',{},'reserva'));
									}
                        		}
                            }
						}
						
					]}//end buttons
				]}//end Compositefield
			]});

	

	//----------------------
function saveFormData(){
        var data = $('#formcalendar').serialize();
        var param = cit.formPrin.form.getValues();
         data = data+'&mes_id='+param.mes_id+'&tih_id='+param.tih_id+'&su_id='+param.su_id;
         og.openLink(og.getUrl('reserva-gestion-tipo-hab','ajax',{'case':'save'},'reserva'), {
    		hideLoading: false,
    		preventPanelLoad: true, 
    		post:data,
            hideErrors:false, 
            onSuccess:cit.loadConfiguration                     
    	});
        
    }
cit.loadConfiguration=function(){
    cit.storePrin.reload();
}
</script>
