<div id="contiene"></div>
<script>
	cit.fields =[
		{ name : 'hhb_id'},{ name : 'su_id'},
		{ name : 'tih_id'},{ name : 'pi_id'},
		{ name : 'hb_estado'},	 
		{ name : 'hb_id'},
		{ name : 'tih_desc' },
		{ name : 'tih_stock' },
		{ name : 'hb_numero'}<?php echo $this->field; ?>
        
	];

	cit.proxy=new Ext.data.HttpProxy({
		url: og.getUrl('reserva-gestion-tipo-hab','json',{'case':'dias'},'reserva'),
		method:'POST'
	});
	
	cit.reader=new Ext.data.JsonReader({
		fields: cit.fields, //['NEMO', 'nomcomp'],
		root:'matches'
	});
	
	cit.storePrin = new Ext.data.Store({
		proxy:cit.proxy,
		reader:cit.reader,
		//autoLoad: true
	});
     var filtro = cit.formPrin.getForm().getValues();
	cit.storePrin.load({params:{'su_id':filtro.su_id,'tih_id':filtro.tih_id,'mes_id':filtro.mes_id}});
	//store.load();
    cit.colModels = new Ext.ux.grid.LockingColumnModel(
    [
	    {dataIndex: 'tih_id', header: 'N', width: 30,align:'center',locked: true},
		{dataIndex: 'tih_desc', header: 'Descripci&oacute;n', width: 180,locked: true,align:'left',
            renderer: function(v, params, record){              
		    return '<p style="height:38px;">'+v+'</p>';
               // return('<span style="height:50px;">'+v+'</span>')
            }
        },
		{dataIndex: 'tih_stock', header: 'Total', width: 30,align:'center',locked: true}
        <?php echo $this->fieldgrid ?>
		
	]);
	var categoriesPagingBar = new Ext.PagingToolbar( {
        //pageSize: 500,
        displayInfo: false,
        store: cit.storeCliente
    });  
	cit.gridPrin = new Ext.grid.EditorGridPanel({
	    renderTo: 'contiene',
		store: cit.storePrin,         
		colModel:  cit.colModels,
		clicksToEdit: 1,      
		width:'100%',
		height:300, 
		frame: false,
		stripeRows: true,
		columnLines: true,
		//trackMouseOver: true,
        bodyStyle:'border:0px;border-top:solid 1px #ccc;',
        loadMask: true,
        view: new Ext.ux.grid.LockingGridView()
        //bbar: categoriesPagingBar
	});
	
	/*cit.gridPrin.on('cellclick', function(e,i,j){//listening for the grid's 'validateedit' event
		
		var records = cit.storePrin.getAt(i);
        formulario.form.reset(); 
        storeImages.load({params:{'hb_id':records.data.hb_id}});
        formulario.form.setValues({'hb_id':records.data.hb_id});
		cit.idSelect = records.data.hb_id;
	});*/

</script>


