
<link rel="stylesheet" type="text/css" href="http://cit.cit/scripts/ext-3.3.1/resources/css/ext-all.css" />     
<script type="text/javascript" src="http://cit.cit/scripts/ext-3.3.1/adapter/ext/ext-base.js"></script>
<script type="text/javascript" src="http://cit.cit/scripts/ext-3.3.1/ext-all.js"></script>

<script> Ext.BLANK_IMAGE_URL = 'http://cit.cit/scripts/ext-3.3.1/resources/images/default/s.gif';</script>

<script type ="text/javascript">
Ext.ns('rcc.practica.ajax');
rcc.practica.ajax = {
	inicio: function(){
		Ext.fly('json').on('click', function(){
				Ext.Ajax.request({
						url: 'http://new.cit.cit/test/extjsx/ajax',
						method: 'POST',
						params: {formato: 'json'},
						success: this.exito,
						failure: this.falla,
						scope: this
					});
				//console.info('click en json');
			}, this);
		Ext.fly('html').on('click', function(){
				console.info('click en html');
			});
		Ext.fly('xml').on('click', function(){
				console.info('click en xml');
			});
	},
	exito: function(rpta){
		console.info(Ext.get(rpta));
		Ext.Msg.alert('Hello this is the title', 'sdgdsfdsjf');
	},
	falla: function(response){
		console.info('fail');
	}	
}

Ext.onReady(rcc.practica.ajax.inicio, rcc.practica.ajax)
</script>
<style type="text/css">
#frame{
	width:800px;
	margin:0px auto;
	padding:20px;
}
#response{
	height:400px;
	overflow:auto;
	margin-top:20px;
	border:1px solid #aaa;
	color:#444;
}
#response p{
	padding:1px 5px;
}
#response strong{
	font-weight:bold;
}
</style>
</head>
<body>

<div id="frame">
	<input type="button" value="get HTML" id="html" />
	<input type="button" value="get XML" id="xml" />
	<input type="button" value="get JSON" id="json" />
	
	<div id="response"></div>
</div>

</body>
</html>