<?php 
    $redirect = Zend_Controller_Action_HelperBroker::getStaticHelper('Redirector');
    $interno = $redirect->getRequest()->getParam('interno',0);
    $tih_id = $redirect->getRequest()->getParam('tih',0);
    $sesion = new Zend_Session_Namespace('web');
?>
<div class="main-qphotels-all">
    <div class="enjoy-all">
        <div class="enjoy-logo">
            <a href="<?php echo $this->htmlIndex()->urlSite();?>"><img src="<?php echo $this->htmlIndex()->img()?>/hotel/images/enjoy-logo.png"/></a>
        </div>
        <div class="enjoy-menu">
            <ul class="hover_block">
            <?php echo $this->htmlIndex()->menu_publicacion($controller);?>
            </ul>    
        </div>
    </div>
    <div class="reserva-all">
        <div class="content-form-all">
            <div class="form-all-bottom">
                <input type="submit" onClick="getReservar();" value="<?php echo Cit_Init::_('TARIFAS_DISPONIBLIDAD')?>" class="button left1"/>
            </div>
            <div class="w100">
                <div class="best_rate-360">
                    <?php echo $this->htmlIndex()->getDescripciones('VER');?>
                </div>                         
            </div>
        </div>
    </div>
    <div class="content-promocion">
        <div class="promocion-all">
            <?php
            if(empty($this->codigo)){
            ?>
                <div class="lista-promocion">
                   <p class="lista-event"><span class="label">QpShop</span></p>
                    
                </div>
                <div class="lista-descripcion">
                    <?php
                    $fecObj = new Cit_Db_CitFechas();
                    foreach ($this->paginator as $value):

                        if(strlen($value['pub_contenido'])>400)
                                $value['pub_contenido'] = substr($value['pub_contenido'], 0, 450).'...';

                        $fecObj->setFecha($value['pub_fecha']); 
                        $value['pub_fecha'] = $fecObj->renders('open');
                        
                        $url = $this->htmlIndex()->public_images($value['pub_id']);
                    ?> 
                        <div class="lista-content-desc">
                            <?php
                            if(!empty($url)){
                                ?>
                                <div class="lista-img">
                                    <a href="<?php echo $this->htmlHead()->urlSite()?>/comentarios/index/cod/<?php echo $value['pub_id'];?>"><img src="<?php echo $this->htmlIndex()->public_images($value['pub_id']);?>" width="315" height="175" /></a>
                                </div>
                                <?php
                            }
                            ?>
                            <div class="listado-desc-event">
                                <div class="titulo-lista">
                                    <span><a href="<?php echo $this->htmlHead()->urlSite()?>/comentarios/index/cod/<?php echo $value['pub_id'];?>"><?php echo substr($value['pub_titulo'], 0, 52).'...';?></a></span>
                                </div>
                                <div class="lista-desc-hotel">
                                        <p><?php echo $value['pub_contenido'];?></p>
                                </div>
                                <div class="lista-mas-hotel">
                                    <p><a href="<?php echo $this->htmlHead()->urlSite()?>/comentarios/index/cod/<?php echo $value['pub_id'];?>"><?php echo Cit_Init::_('RES_MASDET')?></a></p>
                                </div>
                            </div> 
                            
                        </div>
                        <?php
                        endforeach;
                        ?>
                </div>
                <div class="fila_zoe">
                    <?php
                        echo $this->paginationControl($this->data,
                                            'Sliding','/promociones/paginator.phtml'); 
                    ?>
                </div>
                <?php
                }else{
                ?>
                    <div class="lista-promocion">
                        <p class="lista"><span class="label"><?php echo $this->data['pub_titulo']?></span></p>
                    </div>
                    <div class="pro-desc">
                        <div class="pro-desc-cont">
                            <p>
                            <?php echo $this->data['pub_contenido']?>
                            </p>
                        </div>
                    </div>
                    <div class="pro-img">
                        <div class="slide1">
                            <img src="<?php echo $this->htmlIndex()->public_images($this->codigo);?>" width="350" />
                        </div>
                        <div class="otros-eventos">
                            <a href="<?php echo $this->htmlHead()->urlSite()?>/comentarios"><?php echo Cit_Init::_('OTROS_EVENTOS')?></a>
                        </div>
                    </div>  
                <?php
                }
                ?>
        </div>
    </div>        
</div>

