<?php
$redirect = Zend_Controller_Action_HelperBroker::getStaticHelper('Redirector');
$hoid = $redirect->getRequest()->getParam('ho_id', '00000002');
$su_id = $redirect->getRequest()->getParam('suc', $hoid);
$adulto = $redirect->getRequest()->getParam('num_adults', 1);
//var_dump($su_id);exit;
?>
<script type="text/javascript" language="JavaScript">
    $(function() {
        $.datepicker.setDefaults($.extend({
            numberOfMonths: 2,
            showButtonPanel: false,
            minDate: new Date(),
            showAnim: 'slideDown',
            showOn: 'both',
            buttonImage: '/images/calendar_icon.png'
        }, $.datepicker.regional['']));
        $('#regbox .date_input').datepicker().focus(function() {
            $('#ui-datepicker-div').css('left', $(this).offset().left - $(this).width()*4);
        });
        $('.singlebox .date_input').datepicker().focus(function() {
            //$('#ui-datepicker-div').css('left', $(this).offset().left - $(this).width()*4);
        });
        //set the date back to english so the validator doesn't trip
        $('.date_input').datepicker('option', 'dateFormat', 'dd/mm/yy')
    });
</script> 
<form id="booking" action="<?php echo $this->htmlHead()->urlSite() ?>/proceso-reserva" method="get" class="dlgrid" onsubmit="return validarFechas()" >
    <fieldset class="dlinline">
        <div class="w100">
            <dl class="dt40 dd40">
                <dt><label><?php echo Cit_Init::_('RES_LOCATION') ?> : </label></dt>
                <dd>
                    <select class="text" name="ho_id" id="ho_id">
                        <?php
                        echo $this->htmlIndex()->combo_reserva($su_id);
                        ?>
                    </select>
                </dd>
            </dl>									
        </div>
        <div class="w100">
            <dl class="dt40 dd40">
                <dt><label><?php echo Cit_Init::_('RES_CHECKIN') ?> : </label></dt>
                <dd class="relative">
                    <input class="text date_input" type="text" name="fecha_ini" id="fecha_ini" />
                </dd>
            </dl>									
        </div>
        <div class="w100">
            <dl class="dt40 dd40">
                <dt><label><?php echo Cit_Init::_('RES_CHECKOUT') ?> : </label></dt>
                <dd  class="relative">
                    <input class="text date_input" type="text" name="fecha_fin" id="fecha_fin" />
                </dd>
            </dl>									
        </div>
        <div class="w100">
            <dl class="dt40 dd40">
                <dt><label><?php echo Cit_Init::_('RES_ADULT') ?> : </label></dt>
                <dd>
                    <select class="text" name="num_adults" id="num_adults">
                        <option value="1">1</option>
                        <option value="2">2</option>                        
                    </select>	
                </dd>
            </dl>									
        </div>
        <div class="w100">
            <dl class="dt10 dd90">
                <dt></dt>
                <dd>
                    <input type="submit" value="Check Rates & Availability" class="button"/>
                </dd>
            </dl>									
        </div>
        <div class="w100">
            <dl class="dt10 dd90">
                <dt></dt>
                <dd>
                    <div class="best_rate"  style="margin-top: 20px;">
                        <h6>
                            <strong>he best online rates <a class="highliht" href="/page/best-rate-guaranteed">GUARANTEED</a></strong>	
                        </h6>
                        <p class="small">lowest rates you'll find anywehre</p>
                    </div>	
                </dd>
            </dl>									
        </div>
    </fieldset>
</form>

<script type="text/javascript">
    function compare_dates(fecha, fecha2)  
    {  
        var xMonth=fecha.substring(3, 5);  
        var xDay=fecha.substring(0, 2);  
        var xYear=fecha.substring(6,10);  
        var yMonth=fecha2.substring(3, 5);  
        var yDay=fecha2.substring(0, 2);  
        var yYear=fecha2.substring(6,10);  
        if (xYear> yYear)  
        {  
            return(true)  
        }  
        else  
        {  
            if (xYear == yYear)  
            {   
                if (xMonth> yMonth)  
                {  
                    return(true)  
                }  
                else  
                {   
                    if (xMonth == yMonth)  
                    {  
                        if (xDay> yDay)  
                            return(true);  
                        else  
                            return(false);  
                    }  
                    else  
                        return(false);  
                }  
            }  
            else  
                return(false);  
        }  
    }  

   
    function validarFechas(){
        var fec_ini = $('#fecha_ini').attr('value');
        var fec_fin = $('#fecha_fin').attr('value');
        if(fec_fin && fec_fin){
            if (compare_dates(fec_ini, fec_fin)){
                alert("la fecha de ingreso es mayor que la de salida"); 
                return false;
            }
            if(fec_ini == fec_fin){
                alert("la fecha de ingreso es igual ala de salida"); 
                return false;
            }
        }
        else{
            return false;
        }
		
    }
</script>