<?php $sesion = new Zend_Session_Namespace('web');
    if(!empty($sesion->su_id) and $sesion->su_id != '00000001')
        $this->suid = $sesion->su_id;
?>
<div class="top-ingreso">
    <?php
    if (!empty($_POST['us_id']) or !empty($sesion->usid)):
        echo $this->htmlIndex()->sesion_user($_POST);
    else:
        ?>
        <form name="signin" action="" method="post" onsubmit="return loginDefault();">
            <p class="down sign_text text-ing"><?php echo Cit_Init::_('LOGIN_SING') ?></p>
            <p class="input">
                <label for="uname"><?php echo Cit_Init::_('LOGIN_USER') ?>:</label>
                <input name="us_id" id="us_id" type="text" class="shorttext" />
                <a href="#"><?php echo Cit_Init::_('LOGIN_REGISTER') ?></a>
            </p>
            <p class="input">
                <label for="password"><?php echo Cit_Init::_('LOGIN_PASSWORD') ?>:</label>
                <input type="password" name="us_pass" id="us_pass" class="shorttext" />
                <a href="#"><?php echo Cit_Init::_('LOGIN_FORGOT') ?></a>
            </p>
            <p>
                <input type="image" src="<?php echo $this->htmlIndex()->img() ?>/hotel/images/ingresar.png" width="20px" height="22px" class="down" name="submit" value="submit" />
            </p>
        </form>
    <?php
    endif;
    ?>
</div>
<div class="top-submenu">
    <ul>
        <?php echo $this->htmlIndex()->menu_horizontal($this->suid); ?>
    </ul>	
</div>
<div class="top-destino"> 
    <fieldset class="field-hotel">
        <div class="f-row" style="text-align: center; line-height: 20px;">
            <label><?php echo Cit_Init::_('WEB_HOTEL')?>:</label>
            <select name="sucursal" id="sucursal" onchange="myChangeHandler.apply(this)">
                <?php echo $this->htmlIndex()->combo_sucursal($this->suid); ?>
            </select>
        </div>
    </fieldset>
</div>

<script language="javascript">    
    function myChangeHandler() 
    {
        if(this.options[this.selectedIndex].value=='00000001'){
            window.open('<?php echo $this->htmlHead()->urlSite(); ?>', '_self');
            this.form.submit();
        }else{
            window.open('/sucursal/index/suc/'+this.options[this.selectedIndex].value, '_self');
            this.form.submit();
        }
    }
</script>



