<?php 
    $redirect = Zend_Controller_Action_HelperBroker::getStaticHelper('Redirector');
    $controller = $redirect->getRequest()->getControllerName();
?>
<script type="text/javascript" src="<?php echo $this->htmlHead()->js() ?>/jquery/validation/jquery.validate.min.js"></script>
<script type="text/javascript" src="<?php echo $this->htmlHead()->js() ?>/jquery/validation/validate_send.js"></script>
<style>
    .contacto-text{
        color: #87888A;
        font-family: Arial;
        font-size: 11px;
    }
    .fila{
        clear: both;
    }
    .clear{
        clear: both;
        margin: 0px;
        line-height: 0px;
    }
    
    #form-contact label.error {
        color: red;
        float: right;
        font-size: 11px;
    }
</style>
<div class="main-qphotels-all">
    <div class="enjoy-all">
        <div class="enjoy-logo">
            <a href="<?php echo $this->htmlIndex()->urlSite();?>"><img src="<?php echo $this->htmlIndex()->img()?>/hotel/images/enjoy-logo.png"/></a>
        </div>
        <div class="enjoy-menu">
            <ul class="hover_block">
                <?php echo $this->htmlIndex()->menu_publicacion($controller);?>
            </ul>
        </div>
    </div>
    <div class="reserva-all">
        <div class="content-form-all">            
            <fieldset class="dlinline">
                <div class="form-all-bottom">
                    <input type="submit" onClick="getReservar();" value="<?php echo Cit_Init::_('TARIFAS_DISPONIBLIDAD')?>" class="button left1"/>
                </div>
                <div class="w100">
                    <div class="best_rate-360">
                        <?php echo $this->htmlIndex()->getDescripciones('VER');?>
                    </div>                         
                </div>
            </fieldset>
        </div>
    </div>
    <div class="content-about-contact">
        <div class="content-datos-form">
            <div class="datos-contacto">
                <div class="content-contacto">
                    <h1><?php echo Cit_Init::_('WEB_CONTACT')?></h1>
                    <p><?php echo Cit_Init::_('CONTACT_DESCRIPCION')?></p>
                    <div class="campos-contacto-left">
                        <p class="campos-contacto"><?php echo Cit_Init::_('CONTACT_RESER_LIMA')?>:</p>
                        <p class="campos-contacto"><?php echo Cit_Init::_('CONTACT_RESER_USA')?>:</p>
                        <p class="campos-contacto"><?php echo Cit_Init::_('CONTACT_CLIENTE')?>:</p>
                        <!-- <p class="campos-contacto"><?php echo Cit_Init::_('CONTACT_LLAMAR')?>:</p> -->
                    </div>
                    <div class="campos-contacto-right">
                        <p class="campos-contacto1">[511] 319.2900 (24 <?php echo Cit_Init::_('CONTACT_HORAS')?>)</p>
                        <p class="campos-contacto1">[510] 295.4963 (9.00a.m. - 5.00p.m. (<?php echo Cit_Init::_('CONTACT_CENTRAL')?>)</p>
                        <p class="campos-contacto1">[511] 319.2929</p>
                     <!--   <p class="campos-contacto1"><img src="<?php echo $this->htmlIndex()->img()?>/hotel/images/skype-contact.png"/></p> -->
                    </div>
                    
                </div>
            </div>
            <div class="contacto-formu">
                <div class="formulario">
                    <form name="form-contact" id="form-contact" class="contacto" action="/contact/send" method="post">
                        <div class="left-cont">
                            <div style="float:left;width: 90px;">
                                <p><label><?php echo Cit_Init::_('CONTACT_NAME')?> :</label></p>
                                <p><label><?php echo Cit_Init::_('CONTACT_ASUNTO')?> :</label></p>
                                <p><label><?php echo Cit_Init::_('CONTACT_EMAIL')?> :</label></p>
                            </div>
                            <div style="float:left;width: 310px;">
                                <p><input type="text" name="nombre" id="nombre" value=""/></p>
                                <p><input type="text" name="asunto" id="asunto" value=""/></p>
                                <p><input type="text" name="email" id="email" value=""/></p>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="right-cont">
                            <label class="contacto-text">(Max 500)</label>
                            <p><textarea rows="6" name="contenido" id="contenido" value="Escribir y Enviar" maxlength="500" style="width: 450px;"></textarea></p>
                        </div>
                        <div class="clear"></div>
                        <div class="fila">
                            <div class="enviar-borrar">
                                <input class="enviar-borrar-1" type="submit" value="<?php echo Cit_Init::_('CONTACT_ENVIAR')?>"/>
                                <input class="enviar-borrar-2" type="button" value="<?php echo Cit_Init::_('CONTACT_BORRAR')?>" onclick="resetFormEmpty(this.form)"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function promoOne(codigo){
        document.location.href = '<?php echo $this->htmlHead()->urlSite();?>/promociones/index/cod/'+codigo;
    }

    function getReservar(){
        document.location.href = '<?php echo $this->htmlHead()->urlSite().'/proceso-reserva?ho_id='.$this->hotel.'&fecha_ini='.$this->fechas['hoy'].'&fecha_fin='.$this->fechas['man'].'&num_adults=1';?>';
    }
</script>