<?php if($this->sendEmail){ ?>
    <div class="main-qphotels-all">
        <div class="enjoy-all">
            <div class="enjoy-logo">
                <a href="<?php echo $this->htmlIndex()->urlSite();?>"><img src="<?php echo $this->htmlIndex()->img()?>/hotel/images/enjoy-logo.png"/></a>
            </div>
            <div class="enjoy-menu">
                <ul class="hover_block">
                    <?php echo $this->htmlIndex()->menu_publicacion($controller);?>
                </ul>    
            </div>
        </div>
        <div class="reserva-all">
            <div class="content-form-all">
                <div class="form-all-bottom">
                    <input type="submit" onClick="getReservar('','','');" value="<?php echo Cit_Init::_('TARIFAS_DISPONIBLIDAD')?>" class="button left1"/>
                </div>
                <div class="w100">
                    <div class="best_rate-360">
                        <?php echo $this->htmlIndex()->getDescripciones('VER');?>
                    </div>                          
                </div>
            </div>
        </div>
        <div class="content-about-contact">
            <div class="about-all">
                <p>Tu mensaje ha sido enviado, Le responderemos lo antes posible.</p>
                <p></p>
                <p>Seguir navegando en <a href="<?php echo $this->htmlIndex()->urlSite();?>">Qp Hotels</a></p>
            </div>
        </div>
    </div>
    <?php  }else{ ?>
    <div class="main-qphotels-all">
        <div class="enjoy-all">
            <div class="enjoy-logo">
                <a href="<?php echo $this->htmlIndex()->urlSite();?>"><img src="<?php echo $this->htmlIndex()->img()?>/hotel/images/enjoy-logo.png"/></a>
            </div>
            <div class="enjoy-menu">
                <ul class="hover_block">
                    <?php echo $this->htmlIndex()->menu_publicacion($controller);?>
                </ul>    
            </div>
        </div>
        <div class="reserva-all">
            <div class="content-form-all">
                <div class="form-all-bottom">
                    <input type="submit" onClick="getReservar('','','');" value="<?php echo Cit_Init::_('TARIFAS_DISPONIBLIDAD')?>" class="button left1"/>
                </div>
                <div class="w100">
                    <div class="best_rate-360">
                        <?php echo $this->htmlIndex()->getDescripciones('VER');?>
                    </div>                          
                </div>
            </div>
        </div>
        <div class="content-about-contact">
            <div class="about-all">
                <p>Hubo un error en el envio de tu mensaje, intentalo de nuevo.</p>
                <p></p>
                <p><a href="<?php echo $this->htmlIndex()->urlSite();?>/contact">Regresar al formulario</a>&nbsp&nbsp o puede seguir navegando en <a href="<?php echo $this->htmlIndex()->urlSite();?>">Qp Hotels</a></p>
            </div>
        </div>
    </div>
    <?php }
    ?>