<?php 
    $redirect = Zend_Controller_Action_HelperBroker::getStaticHelper('Redirector');
    $controller = $redirect->getRequest()->getControllerName();
?>
<style>
    ul.hover_block li{
	list-style:none;
	float:left;
	width:105px; 
        position: relative; 
    }
    ul.hover_block li a {
            display: block;
            position: relative;
            overflow: hidden;
            height: 70px;
            width: 105px;
            color: black;
    }
    ul.hover_block li a { text-decoration: none; }

    ul.hover_block li img {
            position: absolute;
            top: 0;left: 0;
            border: 0;
    }
</style>    
<script>
    $(function() {
	$('ul.hover_block li').hover(function(){
		$(this).find('img').animate({top:'90px'},{queue:false,duration:500});
	}, function(){
		$(this).find('img').animate({top:'0px'},{queue:false,duration:500});
	});
        $('ul.hover_block li').hover(function(){
		$(this).find('span').animate({top:'50px'},{queue:false,duration:500});
	}, function(){
		$(this).find('span').animate({top:'0px'},{queue:false,duration:500});
	});
    });
</script>
<div class="main-qphotels-all">
    <div class="enjoy-all">
        <div class="enjoy-logo">
            <a href="<?php echo $this->htmlIndex()->urlSite();?>"><img src="<?php echo $this->htmlIndex()->img()?>/hotel/images/enjoy-logo.png"/></a>
        </div>
        <div class="enjoy-menu">
            <ul class="hover_block">
                <?php echo $this->htmlIndex()->menu_publicacion($controller);?>
            </ul>    
        </div>
    </div>
    <div class="reserva-all">
        <div class="content-form-all">
                <fieldset class="dlinline">
                    <div class="form-all-bottom">
                        <input type="submit" onClick="getReservar();" value="<?php echo Cit_Init::_('TARIFAS_DISPONIBLIDAD')?>" class="button left1"/>
                    </div>
                    <div class="w100">
                        <div class="best_rate-360">
                            <?php echo $this->htmlIndex()->getDescripciones('VER');?>
                        </div>                         
                    </div>
                </fieldset>
        </div>
    </div>
    <div class="content-about-contact">
        <div class="about-all">
            <h1><?php echo $this->textonom;?></h1>
            <p><?php echo $this->htmlIndex()->getDescripciones('NOS');?></p>
        </div>
    </div>
</div>
<script type="text/javascript">
    function promoOne(codigo){
        document.location.href = '<?php echo $this->htmlHead()->urlSite();?>/promociones/index/cod/'+codigo;
    }

    function getReservar(){
        document.location.href = '<?php echo $this->htmlHead()->urlSite().'/proceso-reserva?ho_id='.$this->hotel.'&fecha_ini='.$this->fechas['hoy'].'&fecha_fin='.$this->fechas['man'].'&num_adults=1';?>';
    }
</script>