<div style="margin-left:5px; clear:both" id="form"></div>
<div  style="margin-left:15px;" id="div_render"></div>



<input type="hidden" name="save[]" id="save" value=""/>
     
<script>
//Declaracion de Variables
	cit.paginaSize = 400; var pages=1;
	cit.win;
	cit.idSelect = ''; cit.mes = '<?php echo $this->mes_id;?>';
	cit.storeSucur = <?php echo $this->sucursal;?>;
	//OnChange
	cit.changeSucursal = {
		select: function(combo, record, index){
			var filtro = cit.formPrin.getForm().getValues();
			cit.divs = 'div_render';
			cit.procesarAjax({'su_id':filtro.su_id,'mes_id':filtro.mes_id},og.getUrl('reserva-inventario-meses', 'render',{},'reserva'));
		}
	};
	
	cit.changeMes = function(tipo){
            var filtro = cit.formPrin.getForm().getValues();
            switch(tipo){
                case 'S':
                    cit.mes = parseFloat(cit.mes) + 1;
                    if(cit.mes.length == 1)
                        mes = '0' + cit.mes;
                    else
                        mes = cit.mes;

                break;
                case 'R':
                    cit.mes = parseFloat(cit.mes) - 1;
                    if(cit.mes == 0){
                        cit.mes = 12;
                        cit.anio = cit.anio-1;
                    }
                    if(cit.mes.length == 1)
                        mes = '0' + cit.mes;
                    else
                        mes = cit.mes;

                break;

            }
            cit.divs = 'div_render';
            cit.procesarAjax({'su_id':filtro.su_id,'mes_id':mes,'an_id':cit.anio},og.getUrl('reserva-inventario-meses', 'render',{},'reserva'));
	};
	
	cit.formPrin = new  Ext.form.FormPanel({
		renderTo: 'form',
		name:'formDcto',
		autoHeight:true,
		bodyStyle:"margin-left: 7px;padding-right: 10px;border:0px",
		width:"98%",
		labelWidth: 80,
		defaults:{"anchor":0},
		items : [
                    //{xtype:'hidden',name:'mes_id',value:'<?php echo $this->mes_id;?>'},
                    {xtype:"fieldset",
                        items:[
                            {xtype:'compositefield',fieldLabel:'Sucursal ',combineErrors:false,
                            items:[
                                {xtype:'combo', width:100,mode:'local',triggerAction:'all',forceSelection:true,editable:false,name:'su_id',emptyText:'- Sucursal -',
                                        hiddenName:'su_id',displayField:'state',valueField:'su_id',store: cit.storeSucur,listeners: cit.changeSucursal,minListWidth:'160'
                                },
                                {xtype:'displayfield',width:10},
                                {icon:  og.domainName+'/images/icons/bt_preview.png', iconCls: 'textIcons',xtype: 'tbbutton', handler: function (btn){
                                        cit.changeMes('R');
                                }},
                                {xtype:'displayfield',value:' | ',width:5},
                                {icon:  og.domainName+'/images/icons/bt_next.png', iconCls: 'textIcons',xtype: 'tbbutton', handler: function (btn){
                                        cit.changeMes('S');			
                                }}
                                    //]}//end buttons
                            ]}//end Compositefield
                    ]}//Fieldset
                    //{ items : [cit.gridPrin] }
		]
	});
	
	cit.divs = 'div_render';
	cit.procesarAjax({},og.getUrl('reserva-inventario-meses', 'render',{},'reserva'));

	function newFormData(){}
	
	function saveFormData(){}

	function deleteFormData(){}
	
	function confirmMessaje(btn){}
	
	
	
	cit.loadFormDel = function(){}
	
</script>
