<div id="contiene"></div>
<script>
	cit.anio = <?php echo $this->form['anio']?>;
	cit.mes = '<?php echo $this->form['mes_id']?>';
	cit.fields =[ 
		{ name : 'su_nombre'}, { name : 'tih_desc'},		 
		<?php echo $this->form['field'];?> ];

	cit.proxy=new Ext.data.HttpProxy({
		//url:'/reserva/reserva-consulta/json/case/listaReservas',
		url:og.getUrl('reserva-inventario-meses','json',{'case':'lista'},'reserva'),
		method:'POST'
	});
	
	cit.reader=new Ext.data.JsonReader({
		fields: cit.fields, //['NEMO', 'nomcomp'],
		root:'matches'
	});
	
	cit.storePrin = new Ext.data.Store({
		proxy:cit.proxy,
		reader:cit.reader
		//autoLoad: true
	});
	

    cit.group = new Ext.ux.grid.ColumnHeaderGroup({
        rows: [ [ {header: '', colspan: 2, align: 'center'},<?php echo $this->form['header'];?> ] ]//{header: '', colspan: 2, align: 'center'}
    });
	
	cit.columns = [
		{dataIndex: 'su_nombre', header: 'Sucursal', width: 70, align:'left'},
		{dataIndex: 'tih_desc', header: 'Tipo Hab.', width: 70, align:'left' },
		<?php echo $this->form['colum'];?> ];
	
	cit.gridPrin = new Ext.grid.GridPanel({
		renderTo: 'contiene',
		store: cit.storePrin,         
		columns: cit.columns,
		clicksToEdit: 1, 
		bodyStyle:'border:0px;border-top:solid 1px #ccc;',
		width:'100%',
		height:420, 
		frame: false,
		stripeRows: true,
		columnLines: true,
		trackMouseOver: true,
        loadMask: true,
		plugins: cit.group
	});
	
	cit.gridPrin.store.load({params: {'mes_id':'<?php echo $this->data['mes_id']?>','su_id':'<?php echo @$this->data['su_id'];?>'}});
	
	/*cit.gridPrin.on('cellclick', function(e,i,j){//listening for the grid's 'validateedit' event
		
		var records = cit.storePrin.getAt(i);
        formulario.form.reset(); 
        storeImages.load({params:{'hb_id':records.data.hb_id}});
        formulario.form.setValues({'hb_id':records.data.hb_id});
		cit.idSelect = records.data.hb_id;
	});*/

</script>


