<div class="form_zoe">
	<div id="contiene" class="left_zoe" style="width:30%"></div>
	<div id="opciones" class="left_zoe" style="width:69%"></div>
</div>
<script type="text/javascript">
	cit.storePerfil = new Ext.data.Store({
		proxy:new Ext.data.HttpProxy({
    		url: og.getUrl('seguridad-nivel-acceso-perfil', 'json',{'case':'perfil'},'seguridad'),
    		method:'POST'
    	}),
		reader:new Ext.data.JsonReader({
    		fields: [
    			{ name : 'lleva'},
    			{ name : 'per_id' },
                { name : 'per_desc' },
                { name : 'per_estado' }
    		],
    		root:'matches'
    	}),
		autoLoad: {params:{start: 0, limit: 400}}
	});
	
  	var categoriesPagingBar = new Ext.PagingToolbar( {
		pageSize: 400,
		displayInfo: false,
		store: cit.storePerfil
		
	}); 
	
	  categoriesPagingBar.on('beforechange',function(bar,params){  
		params.per_id = $('#per_id').attr('value');
	}); 
  
	cit.gridUsuario = new Ext.grid.GridPanel({
		renderTo: 'contiene',
		store: cit.storePerfil,         
		columns: [  
			{dataIndex: 'per_id', header: 'Usuario', width: 100},
			{dataIndex: 'per_desc', header: 'Nombre', width: 210}
		],      
		width:'100%',
		height:350, 
		stripeRows: true,
		trackMouseOver: true,
        loadMask: true,
        bbar: categoriesPagingBar,
        bodyStyle:'margin-right:8px;border-top:solid 1px #ccc;',
		viewConfig: { forceFit: true }
	});
	

    
	cit.gridUsuario.on('cellclick', function(e,i,j){//listening for the grid's 'validateedit' event 
		var records = cit.storePerfil.getAt(i);
	   cit.divs = 'opciones';
	   cit.procesarAjax({'per_id':records.data.per_id},og.getUrl('seguridad-nivel-acceso-perfil', 'permisos',{},'seguridad'));
	});
	cit.tipoUsuario=function(id){
	   cit.storePerfil.load({params:{'per_id':id.value}}) 
	}
	
	function saveFormData(){
		if($('#formpermisos')){
			var envios = $('#formpermisos').serialize();	    
			og.openLink(og.getUrl('seguridad-niveles-acceso-perfil','ajax',{'case':'save'}), {
				hideLoading: false,
				preventPanelLoad: true, 
				post:envios,
				hideErrors:false                   
			});
	   }
	}

</script>
