<form action="" id="formpermisos">
    <div id="tabsopciones" style="float: left;width: 100%;">
                <div id="sistema">  
                    <div style="background-color: #D0E0F1; height: 20px; ">
							<div style="float: left;font-weight: bold;padding-left: 10px;">Menu</div>
							<div style="float: right; width: 30px">Es.</div>
							<div style="float: right; width: 16px">SL</div>
							<div style="float: right; width: 16px">LE</div>
							<div style="float: right; width: 16px">AT</div>
					</div> 
                    <div  style="height: 350px;overflow: auto;">
                    <?php echo $this->menus;?>
                    </div>	
                </div>
    </div> 
    <input type="hidden" name="us_id" value="<?php echo $this->usid;?>" />
</form>
<script>
cit.tabsPermisos = new Ext.TabPanel({   
    width:'100%',
    activeTab:0,
    deferredRender:false,
    border:false,
    layoutOnTabChange : true,
    defaults:{autoHeight: true},
    renderTo:'tabsopciones',
    items:[     
           {title:'Permisos',contentEl:'sistema'}
         ]
});

</script>