<div class="form_zoe">
	<div id="contiene"> </div>
</div>

<script>
//Declaracion de Variables
	//cit.paginaSize = 400; var pages=1;
	//cit.win; cit.saveFomsModal = '';
	//cit.idtipo = ''; cit.edit = 'save';
	cit.idSelect = '';         
  
		var fields =[
            { name : 'per_id'},
			{ name : 'per_desc'}
		];

        cit.proxy=new Ext.data.HttpProxy({
			url: og.getUrl('seguridad-perfiles', 'json',{'case':'perfil'},'seguridad'),
			method:'POST'
            
		});
        
		cit.reader=new Ext.data.JsonReader({
			fields: fields, 
			root:'matches'
		});
        
		cit.stSegManPerfiles=new Ext.data.Store({
			proxy:cit.proxy,
			reader:cit.reader
		});
       
		cit.stSegManPerfiles.load();
        
		cit.columns =new Ext.grid.ColumnModel([
   			{dataIndex: 'per_id', header: 'Código', width: 200, sortable: true, align: 'center'},
      	    {dataIndex: 'per_desc', header: 'Descripción', width: 400,
           	        renderer : function(v, p, record){
			        record.data.tip_desc = v;
			        return v;
		        	}
                    ,
                	editor: new Ext.form.TextField({
    				allowBlank: true,
    				style: 'text-align:left'
    			     })
            
            }
		]);
		cit.gridSegManPerfiles = new Ext.grid.EditorGridPanel({
			renderTo: 'contiene',
			store: cit.stSegManPerfiles,         
			colModel: cit.columns,
			clicksToEdit: 1, 
            bodyStyle:'margin-left:8px;margin-right:8px;' ,    
			width:'100%',
			height:300, 
			stripeRows: true,
			columnLines: true,
            loadMask: true,
			viewConfig: { forceFit: true }
            
		});
        
        
        cit.gridSegManPerfiles.on('cellclick', function(e,i,j){//listening for the grid's 'validateedit' event 
			var record = cit.stSegManPerfiles.getAt(i);	
			cit.idSelect = record.data.per_id;
            
        });
      
      function saveFormData(){
	
    	var m = cit.stSegManPerfiles.getModifiedRecords();
        if(m.length == 0 ){
        	alertExtjs('info','Modificar-Debe Haber al menos un registro modificado..');      
           return 0;
        }
        console.log(m);
        var cad = '';
        for(i=0;i<m.length;i++){
       	    cad = cad + m[i].data.per_id+'::'+m[i].data.tip_desc;
			cad = cad+'**';
        }
        datos =  cad.substring(0,cad.length-2);
        og.openLink(og.getUrl('seguridad-perfiles','ajax',{'case':'save'},'seguridad'), {
			hideErrors: false,
			preventPanelLoad: true, 
			hideLoading:false, 
			post:'data='+datos
		});
	}
    function deleteFormData(){
    
    	if(cit.idSelect){
    		deleteExtjs();
    	}else{
    		alertExtjs('info','CIT-Eliminar-Debe Haber al menos un registro seleccionado..');
    	}
    }
    
    
    function confirmMessaje(btn){
        if(btn == 'yes'){
            og.openLink(og.getUrl('seguridad-perfiles','ajax',{'case':'deleteSegPerfil'},'seguridad'), {
				hideLoading: true,
				hideErrors: false,
				preventPanelLoad: true, 
				post:'id='+cit.idSelect,
				onSuccess:cit.loadDelete
			});
        }
        
    }
    
    cit.loadDelete = function(){
       	cit.stSegManPerfiles.load();
               
    };

	function newFormData(){
     cit.formSegUsuarioCreacion = new  Ext.form.FormPanel({
			autoHeigh:true,
			width:"100%",
			bodyStyle:"padding: 15px",
			labelWidth: 120,
       		
			defaults:{"anchor":0},//autoCreate: {tag: "input", type: "text", autocomplete: "off", maxlength: 10 },
			items:[  
            
                	{"xtype":"textfield",name:"tip_id","width":180,"allowBlank":false,fieldLabel:'Codigo',maxLength:4},
                    {"xtype":"textfield",name:"tip_desc","width":180,"allowBlank":false,fieldLabel:'Descripcion',maxLength:128}
                			
        		],
        		buttons: [{
        			text:'Guardar',
        			handler: function(){
        			
        				 if (cit.formSegUsuarioCreacion.form.isValid() ) {
        					var s = '';
        					Ext.iterate(cit.formSegUsuarioCreacion.form.getValues(), function(key, value) {
        						s += String.format("{0} = {1}<br />", key, value);
        					}, this);
        					og.openLink(og.getUrl('seguridad-perfiles','ajax',{'case':'saveSegPerfil'},'seguridad'), {
        						hideLoading: true,
        						hideErrors: true,
        						preventPanelLoad: true, 
        						hideLoading:false, 
        						post:cit.formSegUsuarioCreacion.form.getValues()
        					});
			         	    cit.stSegManPerfiles.load();
        				 }
                               
        				
        			}
        		},{
        			text: 'Close',
        			handler: function(){
        				cit.win.hide();
        			}
        		}]

		});
		cit.win = new Ext.Window({
			width: 400,
			height:160,
			minWidth: 300,
			minHeight: 150,
            closeAction: 'hide',
            plain: true,
            autoDestroy:true,
			bodyStyle:'padding:5px;',
			layout : 'fit',
			defaultType: 'textfield',
			title  : 'Insertar Perfil',
			items  : [ cit.formSegUsuarioCreacion ]
		});
		cit.win.show();

	}
    
</script>