<div class="form_zoe">
    <div id="contiene" style="width:90%" class="left_zoe"></div>
</div>

<div id="jmike">
    <input type="hidden" name="save[]" id="save" value=""/>     
    <script>
        //Declaracion de Variables
        var tabla; var tbaDetalle; cit.paginaSize = 400; var pages=1;
        cit.win; winModal = '';
        cit.idSelect = '';
        og.module = 'habitacion';
        cit.storeSucur = <?php echo $this->sucursal; ?>;

        cit.storeTiphab = new Ext.data.JsonStore({
            fields : ['tih_id', 'state'],
            url: og.getUrl('mantenimiento-habitacion','json',{'case':'tipHabModal'},'habitacion'),
            root: 'matches'
        });
           
        cit.fields =[
            { name : 'hhb_id'},{ name : 'su_id'},
            { name : 'tih_id'},{ name : 'pi_id'},
            { name : 'hb_estado'},	 
            { name : 'hb_id'},
            { name : 'hb_desc' },
            { name : 'tih_desc'},
            { name : 'hb_capacidad'},
            { name : 'hb_numero' },
            { name : 'hb_precio'},
            { name : 'pi_desc'},
            { name : 'tih_desc'},
            { name : 'su_nombre'},
            { name : 'hb_estado'}
        
        ];

        cit.proxy=new Ext.data.HttpProxy({
            url:og.getUrl('mantenimiento-habitacion','json',{'case':'listaHabitacion'},'habitacion'),//'/habitacion/mantenimiento-habitacion/json/case/listaHabitacion',
            method:'POST'
        });
	
        cit.reader=new Ext.data.JsonReader({
            fields: cit.fields, //['NEMO', 'nomcomp'],
            root:'matches'
        });
	
        cit.storePrin = new Ext.data.Store({
            proxy:cit.proxy,
            reader:cit.reader,
            autoLoad: true
        });
	
        //store.load();
        cit.colModels = new Ext.ux.grid.LockingColumnModel(
        [
            {dataIndex: 'hb_estado', header: 'Est', width: 30,locked: true,align:'center',locked:true ,
                renderer: function(v, params, record){
                    switch(v){
                        case '0':return '<img height="10px" title="Oculto" src="'+og.domainName+'/assets/themes/default/images/16x16/wscolors/color6.png" width="12px"></img>';break;
                            case '1':return '<img height="10px" title="Activo" src="'+og.domainName+'/assets/themes/default/images/16x16/wscolors/color11.png" width="12px"></img>';break;
                            }
                        }   
                    },
                    {dataIndex: 'hb_desc', header: 'Descripci&oacute;n', width: 180,locked: true,align:'left'},
                    {dataIndex: 'hb_capacidad', header: 'Capacidad', width: 30,align:'center'},
                    {dataIndex: 'hb_numero', header: 'Nº', width: 30,align:'center'},
                    //{dataIndex: 'hb_precio', header: 'Precio', width: 60,locked: true,align:'right'},
                    {dataIndex: 'pi_desc', header: 'Piso', width: 80,align:'left'},
                    {dataIndex: 'tih_desc', header: 'Tipo H', width: 150,align:'left'},
                    {dataIndex: 'su_nombre', header: 'Tipo H', width: 90,align:'left'}
		
                ]);
                var categoriesPagingBar = new Ext.PagingToolbar( {
                    pageSize: 500,
                    displayInfo: false,
                    store: cit.storeCliente
                });  
                cit.gridPrin = new Ext.grid.GridPanel({
                    //renderTo: 'contiene',
                    store: cit.storePrin,         
                    colModel:  cit.colModels,     
                    width:'100%',
                    height:300, 
                    frame: false,
                    stripeRows: true,
                    columnLines: true,
                    trackMouseOver: true,
                    bodyStyle:'border:0px;border-top:solid 1px #ccc;',
                    loadMask: true,
                    view: new Ext.ux.grid.LockingGridView({forceFit: true }),
                    bbar: categoriesPagingBar
                });
	
                cit.gridPrin.on('cellclick', function(e,i,j){//listening for the grid's 'validateedit' event
                    var records = cit.storePrin.getAt(i);
                    cit.idSelect = records.data.hb_id;
                });
	
                cit.gridPrin.on('rowdblclick', function(e,i,j){//listening for the grid's 'validateedit' event
                    //og.loading();
                    cit.record = cit.storePrin.getAt(i);
                    cit.newFormModal = formNewHabitacion('Editar habitacion',1,cit.record);
                    cit.newFormModal.show();
                });
	
                cit.storePisos = new Ext.data.JsonStore({
                    fields : ['pi_id', 'pi_desc'],
                    url: og.getUrl('mantenimiento-habitacion','json',{'case':'pisos'},'habitacion'),
                    root: 'matchpiso'
                });
	
                //OnChange
                cit.changeSucursal = {
                    select: function(combo, record, index){
                        var filtro = cit.formPrin.getForm().getValues();
                        cit.storePisos.load({params: {'su_id': record.data.su_id}});
                        cit.storeTiphab.load({params: {'su_id': filtro.su_id}});
                        storeImages.load({params:{'hb_id':''}});
                        cit.filtroHabitacion();
                    }
                };
	
                cit.changeFiltro = {
                    select: function(combo, record, index){
                        cit.filtroHabitacion();
                    }
                };
	
                cit.formPrin = new  Ext.form.FormPanel({
                    renderTo: 'contiene',
                    name:'formDcto',
                    labelWidth: 65,
                    autoHeight:true,
                    width:"100%",
                    bodyStyle:"padding-left: 5px;padding-right: 5px;border:0px",
                    defaults:{"anchor":0},
                    items : [
                        {xtype:"fieldset",
                            items:[
                                {xtype:'compositefield',fieldLabel:'Sucursal ',combineErrors:false,
                                    items:[
                                        {xtype:'combo', width:90,mode:'local',triggerAction:'all',forceSelection:true,editable:false,name:'su_id',emptyText:'- Sucursal -',
                                            hiddenName:'su_id',displayField:'state',valueField:'su_id',store: cit.storeSucur,listeners: cit.changeSucursal,minListWidth:'160'
                                        },
                                        {xtype:'displayfield',width:1},
                                        {xtype:'displayfield',value:'Tipo Hab :',width:70,style:'padding-top:+3px;'},
                                        {xtype:'combo', width:100,mode:'local',triggerAction:'all',forceSelection:true,editable:false,name:'tih_id',emptyText:'- Tipo Hab -',
                                            hiddenName:'tih_id',displayField:'state',valueField:'tih_id',store: cit.storeTiphab,listeners: cit.changeFiltro,minListWidth:'160'
                                        },
                                        {xtype:'displayfield',width:1},
                                        {xtype:'displayfield',value:'Piso :',width:35,style:'padding-top:+3px;'},
                                        {xtype:'combo', width:100,mode:'local',triggerAction:'all',forceSelection:true,editable:false,name:'pi_id',emptyText:'- Piso -',
                                            hiddenName:'pi_id',displayField:'pi_desc',valueField:'pi_id',store: cit.storePisos,listeners: cit.changeFiltro
                                        },
                                        {xtype:'displayfield',width:10},
                                        {
                                            buttons: [{
                                                    text:'Limpiar',
                                                    handler: function(){
                                                        cit.formPrin.form.reset();
                                                        cit.storePrin.load();
                                                    }
                                                }]}
                                    ]}
                                /*{xtype:'compositefield',fieldLabel:'Periodo ',combineErrors:false,
                                    items:[	]}*/
                            ]},
                        { items : [cit.gridPrin] }
                    ]
                });
    
                /*********************************************************************************************/

                cit.filtroHabitacion = function(){
                    var filtro = cit.formPrin.getForm().getValues();
                    cit.storePrin.load({params: {'su_id': filtro.su_id,'tih_id' : filtro.tih_id,'pi_id' : filtro.pi_id}});
                };
	
                function newFormData(){
                    cit.newFormModal = formNewHabitacion('Nueva habitacion',0,'');
                    cit.newFormModal.show();
                }
	
                function saveFormData(){}
	
                function deleteFormData(){
                    if(cit.idSelect)
                        deleteExtjs();
                    else
                        alertExtjs('info','Informaci&oacute;n-Seleccione un registro.');
                    return false;
                }
	
                function confirmMessaje(btn){
                    if(btn == 'yes'){
                        og.openLink(og.getUrl('mantenimiento-habitacion','ajax',{'case':'delHabitacion'},'habitacion'), {
                            hideLoading: true,
                            hideErrors: true,
                            preventPanelLoad: true, 
                            post:'id='+cit.idSelect,
                            onSuccess:cit.loadDeletePrin
                        });

                    }
                }
	
                cit.loadDeletePrin = function(){
                    var filtro = cit.formPrin.getForm().getValues();
                    cit.gridPrin.store.load({params: {'su_id': filtro.su_id,'tih_id' : filtro.tih_id,'pi_id' : filtro.pi_id}});
                }
                cit.loadFomsModal2 = function(){
                    var filtro = cit.formPrin.getForm().getValues();
                    cit.storePisosModal.load({params: {'su_id': filtro.su_id}});
                    winModal.hide();
                }
                cit.loadFormHab = function(){
                    var filtro = cit.formPrin.getForm().getValues();
                    cit.gridPrin.store.load({params: {'su_id': filtro.su_id,'tih_id' : filtro.tih_id,'pi_id' : filtro.pi_id}});
                    /*if(filtro.repite){
                            cit.formInsertar.getForm().setValues({
                                    tih_id : '', pi_id : ''
                            });
                            cit.storeNew.load();
                            cit.storeNew.on('load', function(s, r) { 
                                    Ext.each(r, function(records) {
                                            cit.formInsertar.form.loadRecord(records);
                                    });
                            });
                    }else{*/
                    //cit.formInsertar.form.reset();
                    cit.newFormModal.hide();
                    //}
		
                }
	
	
	
                //Modal de Piso ------------------------------------------------------------------------ --+-- 
                function formModal2(sucursal){
		
                }

                //----------------------
    </script>
</div>