<div class="form_zoe">
    <div id="contiene" class="left_zoe" style="width:29%"></div>
    <div id="form" class="left_zoe" style="width:70%"></div>
</div>
<div id="jmike">
    <input type="hidden" name="save[]" id="save" value=""/>


    <script>
        //Declaracion de Variables
        cit.paginaSize = 400; var pages=1;
        cit.win; cit.saveFomsModal = '';
        cit.idtipo = ''; cit.edit = 'save';
        cit.cadArtId = '';
        cit.art_id = '';
        cit.su_id = '<?php echo $this->suid; ?>';
        cit.cat_id= '';
        cit.dataPost = {};
	
        cit.storeSucur = <?php echo $this->sucursal; ?>;
        
        //Categoria
        cit.storePrin = new Ext.data.JsonStore({
            url: og.getUrl('asignacion-articulo-categoria-sucursal', 'json',{'case':'getListaCategoria'},'cms'),
            root: 'matches',
            idProperty: 'name',
            fields: ['cat_id','cat_titulo','cat_estado']
        });
        cit.storePrin.load({params:{su_id:'<?php echo $this->suid ?>'}}) 
        //Lista de Articulos en modal
        cit.storeMod = new Ext.data.JsonStore({
            url: og.getUrl('asignacion-articulo-categoria-sucursal', 'json',{'case':'getListaArtNoAsignados'},'cms'),
            root: 'matches',
            idProperty: 'name',
            fields: ['art_id', 'art_titulo','art_estado']
        });
        //Lista de Categorias en modal
        cit.storeCat = new Ext.data.JsonStore({
            url: og.getUrl('asignacion-articulo-categoria-sucursal', 'json',{'case':'getListaCatxSuc'},'cms'),
            root: 'matches',
            idProperty: 'name',
            fields: ['cat_id', 'cat_titulo']
        });
        //Lista de imágenes
    
        cit.storeImages = new Ext.data.JsonStore({
            url: og.getUrl('asignacion-articulo-categoria-sucursal', 'json',{'case':'getListaImages'},'cms'),
            root: 'images',
            //idProperty: 'name',
            fields: ['name', 'url', {name:'size', type: 'float'}, {name:'lastmod', type:'date', dateFormat:'timestamp'}, 'im_id']
        });
        //Detalle de la descripción
    
        cit.storeContenido = new Ext.data.JsonStore({
            url: og.getUrl('asignacion-articulo-categoria-sucursal', 'json',{'case':'getContArticulo'},'cms'),
            root: 'matches',
            fields: ['art_id','id_id','su_id','cat_id','art_contenido']
        });
    
        cit.storeContenido.on('load',function(s,r,o){
       
            //cit.editContenido.form.render();
            cit.formEditContenido.form.loadRecord(r[0]);
            //alert(Ext.type(Ext.getCmp('art_contenido')));
            //alert(Ext.getCmp('art_contenido').getValue());
        });
    
        cit.columns =[ 
            {dataIndex: 'cat_estado', header: 'Est', width: 40,locked: true,align:'center',
                renderer: function(v, params, record){
                    switch(v){
                        case 0:return '<img title="Oculto" src="'+og.domainName+'/assets/themes/default/images/16x16/wscolors/color6.png" width="13px"></img>';break;
                            case 1:return '<img title="Activo" src="'+og.domainName+'/assets/themes/default/images/16x16/wscolors/color11.png" width="13px"></img>';break;
                            }
                        }   
		
                    },
                    {dataIndex: 'cat_titulo', header: 'Descripci&oacute;n', width: 200,locked: true,align:'left'}

                ];
	
                cit.gridPrin = new Ext.grid.GridPanel({
                    //renderTo: 'contiene',
                    store: cit.storePrin,         
                    columns: cit.columns,
                    height:320,
                    bodyStyle:'border:0px;border-top:solid 1px #ccc;',
                    frame: false,
                    stripeRows: true,
                    columnLines: true,
                    trackMouseOver: true,
                    loadMask: true,
                    viewConfig: { forceFit: true }
                });

                cit.gridPrin.on('rowdblclick', function(e,i,j){//listening for the grid's 'validateedit' event
                    //og.loading();
                    cit.record = cit.storePrin.getAt(i);
                    cit.cat_id = cit.record.data.cat_id;
                    cit.gridSecun.store.load({params: {'cat_id': cit.cat_id, 'su_id':cit.su_id}});
                });

                //Articulos
                cit.storeSecun = new Ext.data.JsonStore({
                    url: og.getUrl('asignacion-articulo-categoria-sucursal', 'json',{'case':'getListaArticulos'},'cms'),
                    root: 'matches',
                    idProperty: 'name',
                    fields: ['art_est', 'art_id', 'art_titulo', 'cat_id', 'su_id', 'art_orden', 'art_link']
                });
	
                //Accesorios ------------------------------------------- -+- //Segundo Grid
	
                var smlista = new Ext.grid.CheckboxSelectionModel({
                    singleSelect: false,
                    sortable: false,
                    checkOnly: true
                });
	
                cit.columnSecun =[ 
                    smlista,
                    {dataIndex: 'art_est', header: 'Est.', width: 40,locked: true,align:'left'},
                    {dataIndex: 'art_titulo', header: 'Descripci&oacute;n', width: 180,locked: true,align:'left'},
                    {dataIndex: 'art_orden', header: 'Orden', width: 60,align:'left',
                        renderer : function(v, p, record){
                            record.data.art_orden = v;
                            return v;
                        },
                        editor: new Ext.form.TextField({
                            allowBlank: true,
                            style: 'text-align:left'
                        })
                    },
                    {xtype: 'actioncolumn', header: 'Imagen', width: 40, align:'center',
                        items: [{
                                icon   : og.domainName+'/images/icons/fam/image_add.png',  // Use a URL in the icon config
                                tooltip: 'Imagen',
                                handler: function(grid, rowIndex, colIndex) {
                                    //cit.record = cit.storeSecun.getAt(rowIndex);
                                    //cit.art_id = cit.record.data.art_id;
                                    cit.storeImages.load({params:{'art_id':cit.art_id,'cat_id':cit.cat_id,'su_id':cit.su_id }}); 
                                    //alert (cit.storeImages.getAt(1).data.url);
                    
                                    cit.formImagenes = new  Ext.form.FormPanel({ 
                                        fileUpload: true,
                                        url:og.getUrl('asignacion-articulo-categoria-sucursal','ajax',{'case':'saveImage'},'cms'),
                                        //renderTo: 'contiene',
                                        autoHeight:true,
                                        width:"100%",
                                        bodyStyle: "border:0px;margin-top:10px;border-top: solid 1px #ccc;",
                                        defaults: {anchor:0},
                                        items:
                                            [ cit.panelImagen ]
                                    });
                         
                                    cit.winModalImagen = new Ext.Window({
                                        width: 300,
                                        height:320,
                                        minWidth: 200,
                                        minHeight: 150,
                                        //bodyStyle:'padding:5px;',
                                        layout : 'fit',
                                        closeAction: 'hide',
                                        autoDestroy:true,
                                        defaultType: 'textfield',
                                        plain: true,
                                        modal:true,
                                        title  : 'Agregar Articulo',
                                        items  : [ cit.formImagenes ]
                                    });
                    
                                    cit.winModalImagen.show();
                                }
                            }]
        
                    },
                    {xtype: 'actioncolumn', header: 'Contenido', width: 65, align:'center',
                        items: [{
                                icon   : og.domainName+'/images/icons/lista.png',  // Use a URL in the icon config
                                tooltip: 'Contenido',
                                handler: function(grid, rowIndex, colIndex) {
				  
                  
                                    cit.formEditContenido = new Ext.FormPanel({
                                        labelAlign: 'top',
                                        //frame:true,
                                        title: '',
                                        bodyStyle:'padding:5px 5px 0',
                                        width: 600,
                                        items: [{
                                                xtype:'htmleditor',
                                                id:'art_contenido',
                                                name: 'art_contenido',
                                                fieldLabel:'',
                                                height:200,
                                                anchor:'98%'
                                            }],
            
                                        buttons: [{
                                                text: 'Guardar',
                                                handler: function(){
                                                    cit.dataPost = {}
                                                    cit.dataPost = cit.formEditContenido.form.getValues();
                                                    cit.dataPost.su_id = cit.su_id;
                                                    cit.dataPost.cat_id = cit.cat_id;
                                                    cit.dataPost.art_id = cit.art_id;
                                                    og.openLink(og.getUrl('asignacion-articulo-categoria-sucursal','ajax',{'case':'saveContArticulo'},'cms'), {
                                                        hideLoading: true,
                                                        hideErrors: true,
                                                        preventPanelLoad: true, 
                                                        post: cit.dataPost,
                                                        onSuccess:cit.loadModalConten
                                                    });
                                                }
                                            },{
                                                text: 'Cancelar',
                                                handler: function(){
                                                    cit.formEditContenido.form.reset();
                                                    cit.modalContent.close();
                                                    cit.modalContent.destroy();
                                                }
                                            }]
                                    });
                
                
                                    cit.modalContent = new Ext.Window({
                                        width: 600,
                                        height:320,
                                        minWidth: 200,
                                        minHeight: 150,
                                        //bodyStyle:'padding:5px;',
                                        layout : 'fit',
                                        //closeAction: 'hide',
                                        autoDestroy:true,
                                        defaultType: 'textfield',
                                        plain: true,
                                        closable:false,
                                        modal:true,
                                        title  : 'Contenido de artículo',
                                        items  : [ cit.formEditContenido ]
                                    });
                                    cit.modalContent.show();
                  
                                }
                            }]
                    },
                    {dataIndex: 'art_link', header: 'Link', width: 200,align:'left', value: '',
                        editor: new Ext.form.TextField({
                            allowBlank: true,
                            style: 'text-align:left'
                        })
                    }
                ];
	
                cit.gridSecun = new Ext.grid.EditorGridPanel({
                    //renderTo: 'contiene',
                    store: cit.storeSecun,         
                    columns: cit.columnSecun,
                    clicksToEdit: 1,
                    bodyStyle:'border:0px;border-top:solid 1px #ccc;',
                    width:'100%',
                    height:380, 
                    frame: false,
                    stripeRows: true,
                    columnLines: true,
                    trackMouseOver: true,
                    loadMask: true,
                    sm: smlista,
                    viewConfig: { forceFit: true },
                    tbar: [
                        {   
                            text: 'Añadir',
                            iconCls: 'silk-add',
                            //iconCls: 'silk-add',
                            handler : function() {
                                cit.cadArtId = "'0',";
                                Ext.each(cit.gridSecun.store.getRange(0,cit.gridSecun.store.getCount()),function(record){
                                    cit.cadArtId = cit.cadArtId + "'" + record.data.art_id +"'" + ',';
                                });
					
                                if (cit.cadArtId.length != 0) cit.cadArtId = cit.cadArtId.substr(0,cit.cadArtId.length - 1);
                                if(!cit.gridPrin.getSelectionModel().getSelected()){
                                    alertExtjs('info','Info-Debe seleccionar una categoría');	
                                }else{
                                    cit.records = cit.gridPrin.getSelectionModel().getSelected();
                                    var filtro = cit.formPrin.getForm().getValues();
                                    if (filtro.su_id != '' && cit.records.data.cat_id != ''){
                                        cit.formModals = formModal(cit.cadArtId);
                                        cit.formModals.show();
                                    };	
                                }
						
					
                            }
                        }
                        ,{  text: 'Eliminar',
                            iconCls: 'silk-delete',
                            handler : function() {
                                var filtro = cit.formPrin.getForm().getValues();
                                if(cit.su_id != '' && cit.cat_id != ''){
                                    var cont = smlista.getCount();
                                    if(cont == 0){
                                        alertExtjs('info','Debe seleccionar al menos un artículo');	       
                                        return false;
                                    }else
                                        Ext.MessageBox.confirm('Confirm', 'Desea eliminar los artículos seleccionados?.', confirmMessaje);	
                                }
    
                            }
                        }
                        ,{  text: 'Grabar',
                            iconCls: 'silk-save',
                            handler : function() {
				    
                                cit.record = cit.gridSecun.store.getModifiedRecords();
                                if (cit.record.length != 0){
                                    cit.dataPost = {};
                                    cit.dataPost.regmod = '';
                                    cit.dataPost.su_id = cit.su_id;
                                    cit.dataPost.cat_id = cit.cat_id;
                                    Ext.each(cit.record,function(record){
                                        cit.dataPost.regmod = cit.dataPost.regmod + 'art_id::' + record.data.art_id + ',,' + 'art_orden::' + record.data.art_orden + ',,' + 'art_link::' + record.data.art_link + '**';
                                    });
                                    cit.dataPost.regmod = cit.dataPost.regmod.substr(0,cit.dataPost.regmod.length - 2);
                                    og.openLink(og.getUrl('asignacion-articulo-categoria-sucursal', 'ajax',{'case':'updateOrdenArt'},'cms'), {
                                        hideLoading: true,
                                        hideErrors: true,
                                        preventPanelLoad: true, 
                                        post: cit.dataPost,
                                        onSuccess:cit.updateStoreSecun
                                    });
                        
                                }
                            }
                        }
                    ]
                });
	
                cit.updateStoreSecun = function(){
                    cit.gridSecun.store.commitChanges();
                };
    
                cit.gridSecun.on('cellclick', function(g,f,c){//listening for the grid's 'validateedit' event
                    cit.record = cit.storeSecun.getAt(f);
                    cit.art_id = cit.record.data.art_id;
                    if (c == 5){
                        cit.storeContenido.load({params:{'su_id':cit.su_id, 'cat_id':cit.cat_id, 'art_id':cit.art_id}});
                    }
                });
                //Administrador de imágenes
    
                cit.tpl = new Ext.XTemplate(
                '<tpl for="." style="float:left;" >',
                '<div class="thumb" style="float:left;margin:4px;"><img src="{url}" title="{name}">',
                '<input type="checkbox" id="{im_id}" title="Eliminar">',
                '</div>',
                '</tpl>',
                '<div class="x-clear"></div>'
            );
    
                cit.panelImagen = new Ext.Panel({
                    width:'auto',
                    autoHeight:true,
                    bodyStyle:'padding:10px;',
                    items:[
                        {"xtype":"compositefield","fieldLabel":"Imagen","combineErrors":false,
                            "items":[
                                {xtype:'hidden',name:'su_id',id:'su_id',value:cit.su_id},
                                {xtype:'hidden',name:'cat_id',id:'cat_id',value:cit.cat_id},
                                {xtype:'hidden',name:'art_id',id:'art_id',value:cit.art_id},
                                {
                                    xtype: 'fileuploadfield',
                                    emptyText: 'Seleccionar Imagen',
                                    name: 'articulo',
                                    buttonText: '',
                                    id: 'articulo',
                                    buttonCfg: {
                                        iconCls: 'upload-icon'
                                    },
                                    "width":160
                                }
                 
                            ]
                        },
                        new Ext.DataView({
                            store: cit.storeImages,
                            tpl: cit.tpl,
                            autoHeight:true,
                            multiSelect: true,
                            overClass:'x-view-over',
                            itemSelector:'div.thumb-wrap',
                            emptyText: 'No images to display',
    
                            plugins: [
                                new Ext.DataView.DragSelector(),
                                new Ext.DataView.LabelEditor({dataIndex: 'name'})
                            ],
    
                            prepareData: function(data){
                                data.shortName = Ext.util.Format.ellipsis(data.name, 20);
                                return data;
                            }
             
                        })
        
                    ],
                    buttons: [{
                            text:'Cargar Imagen',
                            handler: function(){
                                Ext.getCmp('su_id').setValue(cit.su_id);
                                Ext.getCmp('cat_id').setValue(cit.cat_id);
                                Ext.getCmp('art_id').setValue(cit.art_id);
                                if (Ext.getCmp('articulo').getValue() != ''){
                                    og.loading();
                                    cit.formImagenes.getForm().submit();
                                    setTimeout(function() {
                                        cit.storeImages.load({params:{'art_id':cit.art_id,'cat_id':cit.cat_id,'su_id':cit.su_id}});
                                        Ext.getCmp('articulo').setValue('');
                                        og.hideLoading();
                                    }, 3000);	 
                                }else{
                                    Ext.Msg.alert('Aviso','Debe seleccionar una imagen para iniciar proceso.');
                                }
                            }
                        },
                        {
                            text:'Eliminar',
                            handler: function(){
                                dataPost = {};
                                cit.dataPost.imgids = '';
                                var obj = Ext.select('input[type=checkbox]').elements;
                                for (i=0; i<obj.length; i++) {
                                    if (cit.storeImages.findExact('im_id',obj[i].id) > -1 && obj[i].checked) {
                                        cit.dataPost.imgids = cit.dataPost.imgids + "'" + obj[i].id + "',";
                                    }
                                }
                                cit.dataPost.su_id = cit.su_id;
                                cit.dataPost.cat_id = cit.cat_id;
                                cit.dataPost.art_id = cit.art_id;
                                cit.dataPost.imgids = cit.dataPost.imgids.substr(0,cit.dataPost.imgids.length - 1);
                                if (cit.dataPost.imgids != ''){
                                    Ext.Msg.confirm('Alerta', '¿Está Ud. seguro de eliminar las imágenes seleccionadas?', function(btn, text){
                                        if (btn == 'yes'){
                                            og.openLink(og.getUrl('asignacion-articulo-categoria-sucursal', 'ajax',{'case':'delImgArtCatSuc'},'cms'), {
                                                hideLoading: true,
                                                hideErrors: true,
                                                preventPanelLoad: true, 
                                                post: cit.dataPost,
                                                onSuccess:cit.updateStoreImages
                                            });

                                        }
                                    });
                                }else{
                                    Ext.Msg.alert('Aviso','Debe seleccionar al menos una imagen para eliminar')
                                }
                            }
                        }
                    ]
                });
    
                cit.updateStoreImages = function(){
                    cit.storeImages.load({params:{'art_id':cit.art_id,'cat_id':cit.cat_id,'su_id':cit.su_id}}); 
                }
    
    
     
                // fin administrador de imágenes
    
    
    
                //OnChange
                cit.changeSucursal = {
                    select: function(combo, record, index){
                        cit.su_id = record.data.su_id;
                        cit.gridSecun.store.removeAll();
                        cit.gridPrin.store.load({params: {'su_id': cit.su_id}});
			
                    }
                };
	
                function confirmMessaje(btn){
                    if(btn == 'yes'){
                        cit.recSelected = smlista.getSelections();
                        cit.cadPost =  '';
                        Ext.each(cit.recSelected,function(record){
                            cit.cadPost = cit.cadPost + "'" + record.data.art_id + "',";
                        })
                        cit.dataPost = {};
                        cit.dataPost.artids = cit.cadPost.substr(0,cit.cadPost.length - 1); 
                        cit.dataPost.su_id = cit.su_id;
                        cit.dataPost.cat_id = cit.cat_id;

                        og.openLink(og.getUrl('asignacion-articulo-categoria-sucursal', 'ajax',{'case':'delArtCatSuc'},'cms'), {
                            hideLoading: true,
                            hideErrors: true,
                            preventPanelLoad: true, 
                            post: cit.dataPost,
                            onSuccess:cit.loadForm
                        });

                    }
                }
	
                cit.formPrin = new  Ext.form.FormPanel({
                    renderTo: 'contiene',
                    name:'formDcto',
                    autoHeight:true,
                    bodyStyle:"margin-left: 7px;padding-right: 3px;border:0px",
                    //width:300,
                    labelWidth: 80,
                    defaults:{"anchor":0},
                    items : [
                        //{xtype:'textfield',name:'Sucursal',fieldLabel:'Tipo ',allowBlank:false,width: 100,blankText: 'Ingrese el tipo… '},
                        {xtype:'combo', width:130,mode:'local',triggerAction:'all',forceSelection:true,fieldLabel:'Sucursal ',editable:false,name:'su_id',emptyText:'- Sucursal -',
                            hiddenName:'su_id',displayField:'state',valueField:'su_id',store: cit.storeSucur,listeners:cit.changeSucursal,value:'<?php echo $this->suid ?>'
                        },
                        {xtype:'label', text:'Categorias'},
                        { items : [cit.gridPrin] }//gridSecun
                    ]
                });
	
                cit.formSecun = new  Ext.form.FormPanel({
                    renderTo: 'form',
                    name:'formDcto',
                    autoHeight:true,
                    bodyStyle:"border:0px",
                    width:"98%",
                    labelWidth: 80,
                    defaults:{"anchor":0},
                    items : [
                        { items : [cit.gridSecun]}

                    ]
                });
	
                function deleteFormData(){
                    if(cit.gridPrin.getSelectionModel().getSelected())
                        Ext.Msg.confirm('Aviso', '¿Está seguro de eliminar la categoria seleccionada?:', function(btn, text){
                            if (btn == 'yes'){
                                cit.records = cit.gridPrin.getSelectionModel().getSelected()
                                cit.dataPost = {};
                                cit.dataPost.su_id = cit.su_id;
                                cit.dataPost.cat_id = cit.records.data.cat_id;;
                                og.openLink(og.getUrl('asignacion-articulo-categoria-sucursal', 'ajax',{'case':'delCatSuc'},'cms'), {
                                    hideLoading: true,
                                    hideErrors: true,
                                    preventPanelLoad: true, 
                                    post: cit.dataPost,
                                    onSuccess:cit.loadDelete
                                });
                            }
                    });
                    else
                        Ext.Msg.alert('Aviso', 'debe al menos seleccionar una categoria.');

                    return false;
                }  
    
                function newFormData(){
                    if (cit.su_id != ''){
                        cit.formModalCat = formModalCat();
                        cit.formModalCat.show();
            
                    }else Ext.Msg.alert('Aviso','Debe seleccionar sucursal.')
                }
	
                function saveFormData(){}
        
                cit.loadDelete = function(){
                    //var filtro = cit.formPrin.getForm().getValues();
                    //cit.grid.store.reset();
                    cit.gridSecun.store.removeAll();        
                    cit.gridPrin.store.load({params: {'su_id': cit.su_id}});        
                }
        
                cit.loadFormModal = function(){
                    cit.gridSecun.store.load({params: {'su_id': cit.su_id,'cat_id':cit.cat_id}});
                }
	
                cit.loadFormModal = function(){
                    //var filtro = cit.formPrin.getForm().getValues();
                    //cit.grid.store.reset();
                    cit.gridSecun.store.load({params: {'su_id': cit.su_id,'cat_id':cit.cat_id}});
                    cit.formModals.hide();
                }
    
                cit.loadFormModalCat = function(){
                    cit.gridPrin.store.load({params: {'su_id': cit.su_id}});
                    cit.formModalCat.hide();
                }
                cit.loadModalConten = function(){
                    cit.formEditContenido.form.reset();
                    cit.modalContent.close();
                    cit.modalContent.destroy();
                }
                //Modal Agregar o Eliminar : 
                //cit.su_id, cit.cat_id, cit.cadArtId
    
                function formModal(cadArt){
                    //Cargando Grids
                    var smAcc = new Ext.grid.CheckboxSelectionModel({
                        singleSelect: false,
                        sortable: false,
                        checkOnly: true
                    });
			 
                    cit.columnMod =[ 
                        smAcc,
                        {dataIndex: 'art_id', header: 'Código', width: 60,locked: true,align:'left'},
                        {dataIndex: 'art_titulo', header: 'Título', width: 180,locked: true,align:'left'}
                    ];
		  
                    cit.gridMod = new Ext.grid.EditorGridPanel({
                        //renderTo: 'contiene',
                        store: cit.storeMod,         
                        columns: cit.columnMod,
                        clicksToEdit: 1,      
                        width:'100%',
                        height:270, 
                        frame: false,
                        stripeRows: true,
                        columnLines: true,
                        trackMouseOver: true,
                        bodyStyle:'border:0px;border-top:solid 1px #ccc;',
                        sm: smAcc,
                        viewConfig: { forceFit: true }
                        //loadMask: true
                    });
                    cit.storeMod.load({params: {'cad_art':cadArt}});
		
			
                    var winModal;
                    cit.formModal = new  Ext.form.FormPanel({
                        autoHeigh:true,
                        width:"100%",
                        bodyStyle:"padding: 5px",
                        labelWidth: 68,
                        plain:true,
                        defaults:{"anchor":0,border:0},//autoCreate: {tag: "input", type: "text", autocomplete: "off", maxlength: 10 },
                        items:[ 
                            { items : [cit.gridMod] }  
                        ],
                        buttons: [{
                                text:'Guardar',
                                handler: function(){
                                    if (cit.formModal.form.isValid()) {
                                        cit.recSelected = smAcc.getSelections();
                    
                                        if(smAcc.getCount() == 0){
                                            alertExtjs('info','Seleccionar-Las &aacute;reas respectivas categoría.');	       
                                            return false;
                                        }
					
                                        cit.cadPost =  '';
                                        Ext.each(cit.recSelected,function(record){
                                            cit.cadPost = cit.cadPost + record.data.art_id + '**';
                                        })
                                        cit.dataPost = {};
                                        cit.dataPost.artids = cit.cadPost.substr(0,cit.cadPost.length - 2); 

                                        cit.dataPost.su_id = cit.su_id;
                                        cit.dataPost.cat_id = cit.cat_id;

					
                                        og.openLink(og.getUrl('asignacion-articulo-categoria-sucursal', 'ajax',{'case':'addArtCatSuc'},'cms'), {
                                            hideLoading: true,
                                            hideErrors: true,
                                            preventPanelLoad: true, 
                                            post: cit.dataPost,
                                            onSuccess:cit.loadFormModal
                                        });
					
                                    }
					   
				
                                }
                            },{
                                text: 'Close',
                                handler: function(){
                                    cit.formModal.form.reset();
                                    winModal.hide();
                                }
                            }]
	
                    });
		

                    winModal = new Ext.Window({
                        width: 360,
                        height:330,
                        minWidth: 200,
                        minHeight: 150,
                        layout : 'fit',
                        closeAction: 'hide',
                        autoDestroy:true,
                        defaultType: 'textfield',
                        plain: true,
                        modal:true,
                        title  : 'Agregar Articulo',
                        items  : [ cit.formModal ]
                    });
                    return winModal;
	
                }
	
                function cadenaGrid(records){
                    //var records = sm.getSelections();
                    var datos = '';
                    $.each(records, function(i){
                        datos = datos + records[i].data.ac_id;
                        datos = datos+'**';
                    });
                    datos =  datos.substring(0,datos.length-2);	
		
                    return datos;
                }
	
                function formModalCat(){
                    //Cargando Grids
                    var smAcc = new Ext.grid.CheckboxSelectionModel({
                        singleSelect: false,
                        sortable: false,
                        checkOnly: true
                    });
		
                    cit.columnMod =[ 
                        smAcc,
                        {dataIndex: 'cat_titulo', header: 'Descripci&oacute;n', width: 180,locked: true,align:'left'}
                    ];
		  
                    cit.gridMod = new Ext.grid.EditorGridPanel({
                        //renderTo: 'contiene',
                        store: cit.storeCat,         
                        columns: cit.columnMod,
                        clicksToEdit: 1,      
                        width:'100%',
                        height:250, 
                        frame: false,
                        stripeRows: true,
                        columnLines: true,
                        trackMouseOver: true,
                        bodyStyle:'border:0px;border-top:solid 1px #ccc;',
                        sm: smAcc
                        //loadMask: true
                    });
        
        
                    cit.cadCatId = "'0',";
                    Ext.each(cit.gridPrin.store.getRange(0,cit.gridPrin.store.getCount()),function(record){
                        cit.cadCatId = cit.cadCatId + "'" + record.data.cat_id +"'" + ',';
                    });
        
                    if (cit.cadCatId.length != 0) cit.cadCatId = cit.cadCatId.substr(0,cit.cadCatId.length - 1);

                    cit.storeCat.load({params: {'su_id':cit.su_id, 'cad_cat':cit.cadCatId}});
        
                    //var winModal;
        
                    cit.formModal = new  Ext.form.FormPanel({
                        autoHeigh:true,
                        width:"100%",
                        bodyStyle:"padding: 5px",
                        labelWidth: 68,
                        plain:true,
                        defaults:{"anchor":0,border:0},//autoCreate: {tag: "input", type: "text", autocomplete: "off", maxlength: 10 },
                        items:[
                            { items : [cit.gridMod] }  
                        ],
                        buttons: [{
                                text:'Guardar',
                                handler: function(){
    				
                                    if (cit.formModal.form.isValid()) {
    					
                                        var cont = smAcc.getCount();
                                        if(cont == 0){
                                            alertExtjs('info','Seleccionar-Las categorias respectivas de la sucursal.');	       
                                            return false;
                                        }
    					
                                        cit.recSelected = smAcc.getSelections();
                    
                                        if(smAcc.getCount() == 0){
                                            alertExtjs('info','Seleccionar-Las categorias respectivas de la sucursal.');	       
                                            return false;
                                        }
					
                                        cit.cadPost =  '';
                                        Ext.each(cit.recSelected,function(record){
                                            cit.cadPost = cit.cadPost + record.data.cat_id + '**';
                                        })
                                        cit.dataPost = {};
                                        cit.dataPost.catids = cit.cadPost.substr(0,cit.cadPost.length - 2); 

                                        cit.dataPost.su_id = cit.su_id;
                                        og.openLink(og.getUrl('asignacion-articulo-categoria-sucursal','ajax',{'case':'addCatSuc'},'cms'), {
                                            hideLoading: true,
                                            hideErrors: true,
                                            preventPanelLoad: true, 
                                            post: cit.dataPost,
                                            onSuccess:cit.loadFormModalCat
                                        });
                                        //cit.hide();
                                    }
    					   
    				
                                }
                            },{
                                text: 'Close',
                                handler: function(){
                                    cit.formModal.form.reset();
                                    winModal.hide();
                                }
                            }]
	
                    });
		

                    winModal = new Ext.Window({
                        width: 300,
                        height:320,
                        minWidth: 200,
                        minHeight: 150,
                        //bodyStyle:'padding:5px;',
                        layout : 'fit',
                        closeAction: 'hide',
                        autoDestroy:true,
                        defaultType: 'textfield',
                        plain: true,
                        modal:true,
                        title  : 'Agregar Categoria',
                        items  : [ cit.formModal ]
                    });
                    return winModal;
	
                }
	
                function cadenaGrid(records){
                    //var records = sm.getSelections();
                    var datos = '';
                    $.each(records, function(i){
                        datos = datos + records[i].data.lleva;
                        datos = datos+'**';
                    });
                    datos =  datos.substring(0,datos.length-2);	
		
                    return datos;
                }
    
                /*function winContenido(){
            Ext.QuickTips.init();
        cit.formEditContenido = new Ext.FormPanel({
            labelAlign: 'top',
            //frame:true,
            title: '',
            bodyStyle:'padding:5px 5px 0',
            width: 600,
            items: [{
                xtype:'htmleditor',
                id:'art_contenido',
                name: 'art_contenido',
                fieldLabel:'',
                height:200,
                anchor:'98%'
            }],

            buttons: [{
                text: 'Guardar',
                handler: function(){
                    cit.dataPost = {}
                    cit.dataPost = cit.formEditContenido.form.getValues();
                    cit.dataPost.su_id = cit.su_id;
                    cit.dataPost.cat_id = cit.cat_id;
                    cit.dataPost.art_id = cit.art_id;
                    og.openLink(og.getUrl('asignacion-articulo-categoria-sucursal','ajax',{'case':'saveContArticulo'},'cms'), {
                                    hideLoading: true,
                                    hideErrors: true,
                                    preventPanelLoad: true, 
                                    post: cit.dataPost
                            });
                }
            },{
                text: 'Cancelar',
                handler: function(){
                    cit.formEditContenido.form.reset();
                    cit.modalContent.hide();
                            }
            }]
        });
    
    
        cit.modalContent = new Ext.Window({
                    width: 600,
                    height:320,
                    minWidth: 200,
                    minHeight: 150,
                    //bodyStyle:'padding:5px;',
                    layout : 'fit',
                    //closeAction: 'hide',
                    autoDestroy:true,
                    defaultType: 'textfield',
                    plain: true,
                    modal:true,
                    title  : 'Contenido de artículo',
                    items  : [ cit.formEditContenido ]
            });
        return cit.modalContent;
        }
                 */
    </script>
</div>