<?php 
	$redirect = Zend_Controller_Action_HelperBroker::getStaticHelper('Redirector');
	$su_id = $redirect->getRequest()->getParam('suc','00000001');
?>
<style>
    ul.hover_block1 li{
	list-style:none;
	float:left;
	width:190px; 
        position: relative;
	margin-right: 20px; 
    }
    ul.hover_block1 li a {
            display: block;
            position: relative;
            overflow: hidden;
            height: 355px;
            width: 190px;
            color: #000;
    }
    ul.hover_block1 li a { text-decoration: none; }

    ul.hover_block1 li img {
            position: absolute;
            top: 0;left: 0;
            border: 0;
    }
</style>
<script>
    $(function() {
	$('ul.hover_block1 li').hover(function(){
		$(this).find('img').animate({left:'190px'},{queue:false,duration:500});
	}, function(){
		$(this).find('img').animate({left:'0px'},{queue:false,duration:500});
	});
    });
</script>
<script type="text/javascript" language="JavaScript">
	$(function() {
                //set the date back to english so the validator doesn't trip
                $('.date_input').datepicker('option', 'dateFormat', 'dd/mm/yy')
	});
</script>
<div class="main-qphotels">
    <div class="<?php echo $this->sucursal;?>">
         <ul class="hover_block1">
            <li><a href="#"><img src="<?php echo $this->htmlIndex()->img()?>/hotel/images/logo-qp-190.jpg" alt="alt" /></a></li>
        </ul>
    </div>
    <div class="qp-descan" style="cursor: pointer;">
        <?php echo $this->htmlIndex()->banner_sucursal();?>
    </div>
    <div class="reserva-qp">
            <div class="welcome">
                <?php echo $this->desc_home?>
            </div>						
            <!-- Inicio del Formulario-->
            <?php echo $this->partial('formulario.phtml');?> 
            <!-- Fin del formulario-->
    </div>
</div>
<div class="main-promocion">
    <?php echo $this->htmlIndex()->promoIndex($su_id);?>
</div>
<div class="main-menu">
    <?php echo $this->htmlIndex()->menu_categorias($this->cat_id);?>
</div>