<div class="form_zoe">
	<div id="contiene" class="left_zoe" style="width:29%"></div>
	<div id="form" class="left_zoe" style="width:70%"></div>
</div>

<script>

cit.storeTipoServ = <?php echo $this->tipoServicio;?>;
cit.RecordServ = ''; cit.formModals = '';
//Sucursal ------------------------------------------- -+- //Primer Grid

	cit.storePrin = new Ext.data.Store({
		proxy:new Ext.data.HttpProxy({
		//url:'/servicios/asignacion-servicio-sucursal/json/case/sucursal',
		url:og.getUrl('asignacion-servicio-sucursal','json',{'case':'sucursal'},'servicios'),
		method:'POST'
	}),
		reader:new Ext.data.JsonReader({
    		fields: [
    		{ name : 'su_id'},
    		{ name : 'su_nombre'},
    		{ name : 'su_estado'},
            { name : 'ub_id'}
    	], 
    		root:'matches'
    	}),
		autoLoad: {params:{start: 0, limit: 150}}
	});
    
	cit.columns =[ 
		{dataIndex: 'su_estado', header: 'Est', width: 40,locked: true,align:'center',
			renderer: function(v, params, record){
                switch(v){
				    case 0:return '<img title="Oculto" src="'+og.domainName+'/assets/themes/default/images/16x16/wscolors/color6.png" width="13px"></img>';break;
                    case 1:return '<img title="Activo" src="'+og.domainName+'/assets/themes/default/images/16x16/wscolors/color11.png" width="13px"></img>';break;
				}
			}   
		
		},
		{dataIndex: 'su_nombre', header: 'Sucursales', width: 200,locked: true,align:'left'}

	];
	
	cit.gridPrin = new Ext.grid.GridPanel({
		//renderTo: 'contiene',
		store: cit.storePrin,         
		columns: cit.columns,
		height:350, 
		frame: false,
		stripeRows: true,
        bodyStyle:'border:0px;',
		columnLines: true,
		sm: new Ext.grid.RowSelectionModel({	// Permite que al momento de selecciona un campo, se seleccione toda la fila
			singleSelect: true
		}),
		trackMouseOver: true,
        loadMask: true,
		viewConfig: { forceFit: true }
	});

    cit.gridPrin.on('rowdblclick', function(e,i,j){//listening for the grid's 'validateedit' event
		var records = cit.storePrin.getAt(i);
		cit.gridSecun.store.load({params: {'su_id': records.data.su_id}});
		cit.formPrin.getForm().setValues({
			su_id : records.data.su_id
		});
        cit.RecordServ = records; 
	});
	//Servicios ------------------------------------------- -+- //Segundo Grid
	cit.storeSecun = new Ext.data.Store({
		proxy: new Ext.data.HttpProxy({
			//url:'/servicios/asignacion-servicio-sucursal/json/case/listaServicioSucursal',
			url:og.getUrl('asignacion-servicio-sucursal','json',{'case':'listaServicioSucursal'},'servicios'),
			method:'POST'
		}),
		reader:new Ext.data.JsonReader({
			fields: [
				{ name : 'lleva'},
				{ name : 'su_id'},
				{ name : 'ser_razsocial'},
				{ name : 'ser_titulo'},
				{ name : 'set_titulo'}
				], //['NEMO', 'nomcomp'],
			root:'matchacc'
		})
	});
	
	var smlista = new Ext.grid.CheckboxSelectionModel({
		singleSelect: false,
		sortable: false,
		checkOnly: true
	});
	
	cit.columnSecun =[ 
		smlista,
		{dataIndex: 'ser_razsocial', header: 'Razon S.', width: 120,locked: true,align:'left'},
        {dataIndex: 'ser_titulo', header: 'Nombre', width: 180,locked: true,align:'left'},
        {dataIndex: 'set_titulo', header: 'Tipo', width: 180,locked: true,align:'left'}
		
	];
	
	cit.gridSecun = new Ext.grid.GridPanel({
		//renderTo: 'contiene',
		store: cit.storeSecun,         
		columns: cit.columnSecun,
		bodyStyle:'border:0px;border-top:solid 1px #ccc;',
		width:'100%',
		height:350, 
		frame: false,
		stripeRows: true,
		columnLines: true,
		trackMouseOver: true,
        loadMask: true,
		sm: smlista,
		viewConfig: { forceFit: true },
		tbar: [
			{   
				text: 'Añadir',
				iconCls: 'silk-add',
				handler : function() {
				    if(cit.RecordServ){
    					cit.formModals = formModal(cit.RecordServ.data.su_id,cit.RecordServ.data.ub_id);
    					cit.formModals.show();
					}
                    else{
                       alertExtjs('CIT', 'info-Seleccionar un Servicio'); 
                    }
				}
			}
			,{   text: 'Eliminar',
				iconCls: 'silk-delete',
				handler : function() {
					var filtro = cit.formPrin.getForm().getValues();
					if(filtro.su_id ){
						var cont = smlista.getCount();
						if(cont == 0){
							alertExtjs('info','Seleccionar-Al menos un registro.');	       
							return false;
						}else
							Ext.MessageBox.confirm('Confirm', 'Desea eliminar los accesorios seleccionados?.', confirmMessaje);	
						
					}
				}
			}
		]
	});


cit.formSecun = new  Ext.form.FormPanel({
		renderTo: 'form',
		name:'formDcto',
		autoHeight:true,
		bodyStyle:"border:0px",
		width:"98%",
		labelWidth: 80,
		defaults:{"anchor":0},
		items : [
			{ items : [cit.gridSecun]}

		]
	});
    
 cit.formPrin = new  Ext.form.FormPanel({
		renderTo: 'contiene',
		name:'formSuc',
		autoHeight:true,
		bodyStyle:"margin-left: 7px;padding-right: 3px;border:0px",
		//width:300,
		labelWidth: 80,
		defaults:{"anchor":0},
		items : [
            {xtype : 'hidden' , name : 'ub_id'},
             {xtype : 'hidden' , name : 'su_id'},
			{ items : [cit.gridPrin]}

		]
		
	});


	function confirmMessaje(btn){
		if(btn == 'yes'){
			cit.saveFomsModal = cit.formPrin.form.getValues();
			var sd = smlista.getSelections();
			cit.saveFomsModal.grid = cadenaGrid(sd);
			
			og.openLink(og.getUrl('asignacion-servicio-sucursal','ajax',{'case':'delServSucursal'},'servicios'), {
				hideLoading: true,
				hideErrors: true,
				preventPanelLoad: true, 
				post: cit.saveFomsModal,
				onSuccess:cit.loadFormModalDel
			});
		}
	}
	//Asignar Servicios
	 cit.loadFormModal = function(){
		var filtro = cit.formPrin.getForm().getValues();
		cit.gridSecun.store.load({params: {'su_id': filtro.su_id}});
		cit.formModals.hide();
	}
	
	cit.loadFormModalDel = function(){
		var filtro = cit.formPrin.getForm().getValues();
		cit.gridSecun.store.load({params: {'su_id': filtro.su_id}});
	}
	
//Modal Agregar o Eliminar : 
	function formModal(su_id,ub_id){		
		//Cargando Grids
		var smAcc = new Ext.grid.CheckboxSelectionModel({
			singleSelect: false,
			sortable: false,
			checkOnly: true
		});
		
		
		cit.storeMod = new Ext.data.Store({
			proxy:new Ext.data.HttpProxy({
			//url:'/servicios/asignacion-servicio-sucursal/json/case/selServicio',
			url:og.getUrl('asignacion-servicio-sucursal','json',{'case':'selServicio'},'servicios'),
			method:'POST'
    		}),
			reader:new Ext.data.JsonReader({
			fields: [
    			{ name : 'lleva'},
    			{ name : 'ser_id' },
                { name : 'ser_razsocial'},
    			{ name : 'ser_titulo' },
                { name : 'ub_id'},
                { name : 'su_id'}
    			
    		], //['NEMO', 'nomcomp'],
			root:'matchacc'
    		})
		});
		 
		cit.columnMod =[ 
			smAcc,
			{dataIndex: 'ser_razsocial', header: 'Nombre', width: 200,locked: true,align:'left'},
            {dataIndex: 'ser_titulo', header: 'Tipo', width: 165,locked: true,align:'left'}
			
		];
		  
		cit.gridMod = new Ext.grid.EditorGridPanel({
			//renderTo: 'contiene',
			store: cit.storeMod,         
			columns: cit.columnMod,
			clicksToEdit: 1,      
			width:'100%',
			height:230, 
			frame: false,
			stripeRows: true,
			columnLines: true,
			trackMouseOver: true,
			 bodyStyle:'border:0px;border-top:solid 1px #ccc;',
			sm: smAcc
			//loadMask: true
		});
        
		cit.storeMod.load({params: {'ub_id':ub_id, 'su_id':su_id}});
       
        cit.filraservicios = {
            select: function(combo, record, index){   
                //alert("hola");
                cit.storeMod.load({params: {'set_id': record.data.set_id,su_id:cit.RecordServ.data.su_id}});
            }
        };
     
		
		cit.formFiltservicio = [
        
            {
        		xtype: 'fieldset',
        		title: 'Listado de Servicios',
                collapsible: true,
        		items: [
                    {xtype:"compositefield",fieldLabel:"Tipo Serv.",combineErrors:false,
        				items:[
        							{name:"set_id",xtype:"combo",width:130,hiddenName:"set_id",displayField:"state",valueField:"tad_id",mode:"local",triggerAction:"all",forceSelection:true ,emptyText:'Tipo.',resizable:true,editable:false, store: cit.storeTipoServ,listeners:cit.filraservicios}  
        						]
        			} 
        		]
        	}
	   ]
        	
		var winModal;
        
		cit.formModal = new  Ext.form.FormPanel({
			autoHeigh:true,
			width:"100%",
			bodyStyle:"padding: 5px;border:0px;",
			labelWidth: 68,
			plain:true,
			defaults:{"anchor":0,border:0},//autoCreate: {tag: "input", type: "text", autocomplete: "off", maxlength: 10 },
			items:[
				     
					{xtype:'hidden',name:'ub_id',value:cit.idSelect},
                    {xtype:'hidden',name:'su_id',value:cit.idSelect},
                    {items : [cit.formFiltservicio]},    
					{ items : [cit.gridMod] }  
		],
		buttons: [{
			text:'Guardar',
			handler: function(){
				
				 if (cit.formModal.form.isValid()) {
					
					
					var cont = smAcc.getCount();
					if(cont == 0){
						alertExtjs('info','Seleccionar-Las &aacute;reas respectivas del nivel.');	       
						return false;
					}
					
					cit.saveFomsModal = {};
					var sd = smAcc.getSelections();
					cit.saveFomsModal.grid = cadenaGrid(sd);
					cit.saveFomsModal.su_id=cit.RecordServ.data.su_id
					og.openLink(og.getUrl('asignacion-servicio-sucursal','ajax',{'case':'saveServSucursal'},'servicios'), {
						hideLoading: true,
						hideErrors: true,
						preventPanelLoad: true, 
						post: cit.saveFomsModal,
						onSuccess:cit.loadFormModal
					});
					//cit.hide();
				 }
					   
				
			}
		},{
			text: 'Close',
			handler: function(){
				cit.formModal.form.reset();
				winModal.hide();
			}
		}]
		});

		winModal = new Ext.Window({
			width: 430,
			height:380,
			minWidth: 200,
			minHeight: 150,
			bodyStyle:'border:0px;',
			layout : 'fit',
			closeAction: 'hide',
			autoDestroy:true,
			defaultType: 'textfield',
			plain: true,
			modal:true,
			title  : 'Agregar Servicios',
			items  : [ cit.formModal ]
		});
		return winModal;
	
	}
	
	
    
</script>