#gallery{
	/* CSS3 Box Shadow */
	-moz-box-shadow:0 0 3px #AAAAAA;
	-webkit-box-shadow:0 0 3px #AAAAAA;
	box-shadow:0 0 3px #AAAAAA;
	
	/* CSS3 Rounded Corners */
	
	-moz-border-radius-bottomleft:4px;
	-webkit-border-bottom-left-radius:4px;
	border-bottom-left-radius:4px;
	
	-moz-border-radius-bottomright:4px;
	-webkit-border-bottom-right-radius:4px;
	border-bottom-right-radius:4px;
	
	border:1px solid white;
	
	background:url(../../../img/img/panel.jpg) repeat-x bottom center #ffffff;
	
	/* The width of the gallery */
	width:920px;
	overflow:hidden;
}

#slides1{
	/* This is the slide area */
	height:400px;
	
	/* jQuery changes the width later on to the sum of the widths of all the slides. */
	width:920px;
	overflow:hidden;
}

.slide1{
	float:left;
}

#menu{
	/* This is the container for the thumbnails */
	height:55px;
    text-align: center;
}

#menu ul{
	margin:0px;
	padding:0px;
}

#menu li{
	/* Every thumbnail is a li element */
	width:62px;
	display:inline-block;
	list-style:none;
	height:55px;
	overflow:hidden;
    margin: 0;
    padding: 0px 5px 0px 5px;
}

#menu li.inact:hover{
	/* The inactive state, highlighted on mouse over */
	background:url(../../../img/img/pic_bg.png) repeat;
}

#menu li.act,#menu li.act:hover{
	/* The active state of the thumb */
	background:url(../../../img/img/active_bg.png) no-repeat;
}

#menu li.act a{
	cursor:default;
}

.fbar{
	/* The left-most vertical bar, next to the first thumbnail */
	width:2px;
	background:url(../../../img/img/divider.png) no-repeat right;
}

#menu li a{
	display:block;
	/*background:url(../../../img/img/divider.png) no-repeat right;*/
	height:35px;
	padding-top:10px;
}

#menu a img{
	border:none;
}
#arti h1{
    font-family: "Myriad Pro",Arial,Helvetica,sans-serif;
    font-size: 35px;
    font-weight: normal;
    margin-bottom: 10px;
    text-align: center;
    color: #444;
}
#arti p{
    color: #444;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-bottom: 10px;
}

/* The styles below are only necessary for the demo page */

