@charset "utf-8";
#lmask{
	background-color:#fff;
	/*position:relative;*/
	right:323px;
}

#content, #regbox{
	/*min-height:300px;*/
}

#content .vbarbox{
	width:100%;
	background-color:#D2C8BF;
}

#regbox{
	width:323px;
	background-color:#D2C8BF;
	height:auto;
}

#regbox{
	padding-top:40px;
}

.caption{
	text-align:left;
	width:80%;
	margin:0px auto;
}

.caption h2{
	padding-bottom:8px;
	font-size:20pt;
	font-family:"Times New Roman", Times, serif; 
}

.caption p{
	padding:8px 0px;
	font-size:9pt;
	letter-spacing:1.5pt;
}

.fullbox{
	/*padding:20px 0px 20px 20px;*/
	overflow:hidden;
	float:left;
	background:#fff;
}

.fullbox p{
	font-size:11pt;
	padding-left:3px;
}

.fullbox h3{
	padding-left:10px;
	color:#FF3016;
}

.fullbox .pbox{
	padding:20px 0px 20px 12px;
}
.fullbox1{
	/*padding:20px 0px 20px 20px;*/
	width:960px;
	overflow:hidden;
	float:left;
	background:#fff;
}

.fullbox1 p{
	font-size:11pt;
	padding-left:3px;
}

.fullbox1 h3{
	padding-left:10px;
	color:#FF3016;
}

.fullbox1 .pbox{
	padding:20px 0px 20px 12px;
}

table.catlist{
	margin:0px auto;
}

table.catlist td{
	padding:0px 18px;
}

table.catlist td p{
	width:90%;
	font-size:9pt;
}

#bottom{
	padding:10px 0px 30px 0px;
	background:#EEEEEE;
}

table.packagelist thead tr{
	background:#D2C8BF;
}

table.packagelist thead tr th{
	padding:10px 0px;
}

table.packagelist thead tr th, table.packagelist tr td{
	text-align:center;
}
table.packagelist{
	margin:5px 20px;
	padding:0px 0px 15px 0px;
}

table.packagelist td{
	padding:5px 15px;
	width:100px;
}
/*text containers*/
.fullbox p.strong{
	font-weight: bold;
	font-size:15pt; 
	color:#666;
	margin:10px 0px;
	padding:0px 0px;
}
