@charset "utf-8";
#content.hotelland{
	background-image:url('red_background.png');
}

#vbar_1{
	background-image:url('col1.png');
}

#vbar_2{
	background-image:url('col2.png');
}

#vbar_3{
	background-image:url('col3.png');
}

#vbar_4{
	background-image:url('col4.png');
}

#subtop ul li.stay_link{
    background-image: url('stay_background.png');
}

#subtop ul li.enjoy_link{
    background-image: url('enjoy_background.png');
}

#subtop ul li.enjoy_link a{
    color:#333;
}

#subtop ul li.work_link{
    background-image: url('work_background.png');
}

#subtop ul li.explore_link{
    background-image: url('explore_background.png');
}
#subtop1 ul li.stay_link{
    background-image: url('stay_background.png');
}

#subtop1 ul li.enjoy_link{
    background-image: url('enjoy_background.png');
}

#subtop1 ul li.enjoy_link a{
    color:#333;
}

#subtop1 ul li.work_link{
    background-image: url('work_background.png');
}

#subtop1 ul li.explore_link{
    background-image: url('explore_background.png');
}