@charset "utf-8";
/*form styles*/


.texto{
	font-family:Verdana, Geneva, sans-serif;
	vertical-align:middle;
	font-size:12px;
}

.texto_7{
	font-family:Verdana, Geneva, sans-serif;
	vertical-align:middle;
	font-size:7px;
}

.texto_feriado{
	font-family:Verdana, Geneva, sans-serif;
	vertical-align:middle;
	font-size:12px;
	color:#E31515;
}

.texto_titulo{
	font-family:Verdana, Geneva, sans-serif;
	vertical-align:middle;
	font-size:12px;
	font-weight:bold;
}

.fullbox form table tbody tr td, .fullbox form table tbody tr th{
	padding:2px 5px;
}


.fullbox form table{
	text-align:left;
	margin:15px auto;
	/*background:#D2C8BF;*/
	padding:5px 10px;
}

.rbox p{
	font-size:9pt;
}

.fullbox form table tr th{
	text-align:left;
}

.fullbox form table tfoot tr td{
	text-align:right;
}


.rightform tr th {
	font-size:8pt;
}

.rightform .button{
	font-size:8pt;
}

.rightform .date_input, .rightform select{
	padding:0px 0px;
}

#reserve_form{
	font-size:10pt;
	padding:0px 0px;
	border:none;
}

#reserve_form thead td{
	padding:0px 0px;
}

#reserve_form tbody td{
	border:none;
	padding:10px 0px;
}

#reserve_form tbody th{
	padding-top:15px;
	padding-bottom:5px;
	border-bottom:1px solid #372825;
}

#reserve_form tfoot tr td{
	text-align:left;
	border-top:1px solid #372825;
	padding:4px 4px;
}

#reserve_form tbody th, #reserve_form tbody td{
	text-align:center;
	padding-left:5px;
}

#reserve_form{
	background:#d2c8bf; 
}

#reserve_form{
	width:615px;
	margin:20px 0px 0px 0px;
}

#reserve_form tr.odd{
	background:#fff8cc
}

#reserve_form tr.even{
	background: #fff;
}

#reserve_form .button{
	padding:5px 10px;
}

#reserve_form .price{
	font-weight:bold;
	color:#000;
}

.stats_container{
	border:1px solid #000;
	padding:3px 3px;
	width:800px;
	padding:5px 5px;
	margin:15px 0px;
}

.stats_container .title{
	font-size:10pt;
	color:#f00;
	margin:10px 0px;
	border-bottom:1px solid #d2c8bf;
}

ul.booking_price_list{
	list-style-type:none;
}

ul.booking_price_list li{
	padding-left:15px;
}
	
ul.booking_price_list li.total{
	font-weight:bold;
}

.booking_stats{
	width:90%;
	padding:10px 10px;
	margin:10px 0px;
}

.booking_stats .booking_stats{
	margin:0px auto;
}

div.booking_stats{
	background:#f3efee;
}

div.booking_stats p{
	margin:2px 0px;
	padding:0px 0px;
}

div.booking_stats table{
	padding:5px 0px;
}

div.booking_stats table tr td{
}

div.booking_stats table tr td.note{
	background-color:#D2C8BF;
	font-size:8pt;
	padding:4px 5px;
}

div.booking_stats table tbody tr td:last-child{
	text-align:right;
}

div.booking_stats table.subform tbody tr td{
	text-align:left;
	padding-left:30px;
}

div.booking_stats table.subform tfoot tr td{
	padding-right:75px;
}

div.booking_stats table tbody tr td:first-child{
	text-align:left;
}

.stats_container .booking_stats{
	width:auto;
}

.three_col_form table{
	padding:5px 5px !important;
	overflow:hidden;
}

.three_col_form tbody tr td{
	padding:5px 100px 5px 20px;
	text-align:left !important;
	font-size:9pt !important;
}

.three_col_form table tfoot tr td{
	text-align:right;
}

.three_col_form tbody tr td input{
}

table.price_list{
	width:98%;
	margin:0px auto;
}

table.price_list tr td, table.price_list tr th{
	text-align:center;
}

table.price_list tr th{
	font-size:9pt;
	padding:5px 10px;
}

table.price_list tbody tr td{
	background-color:#ffffcb;
	padding:5px 15px;
	font-size:10pt;
}

table.price_list tfoot tr td{
	font-size:9pt;
	font-style:italic;
	text-align:left;
}

