@charset "utf-8";
@import url("base.css");
body,
html { padding: 0; margin: 0; background:none; }
body { background-color:#fff;font-family: "trebuchetMS","trebuchet MS", helvetica,arial; }
body {
	background:#6f5b54;
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
}
a img{
	border:none;
}
option{
	padding-right:5px;
}
h2{
	margin-top:8px;
}
h3{
    padding:4px 0px;
}
.container{
    width:98%;
    margin:0px auto;
}
.listheading{
    font-size:11pt;
}
.bullet_list li{
    font-size:10pt;
}
.bullet_list li a{
    color: #fff;
}
.listheading, .bullet_list li{
	color: #6E5C6E;
	padding-left:18px !important;
	background-image:url('../css/bullet.png');
	background-repeat:no-repeat;
	background-position:left center;
        list-style-type:none;
}
.hscrollbox{
    height:150px;
    overflow-y:auto;
}
input{
	padding:1px 1px;
}
a.preview{
	color:#666;
	text-decoration:none;
}
.tright{
	text-align:right !important;
}
ul.error_list{
	list-style-type:none;
}

ul.error_list li{
	background:#fcc;
	padding:2px 2px 2px 4px;
	font-size:10pt;
	font-weight:bold;
	color:#000;
}

#wrapper{
	width:968px;
	margin:0px auto;
	overflow:hidden;
	height:auto;
}

/* header */
#header{
	text-align:left;
	overflow:hidden;
	padding:20px 0px 10px 0px;
}

.list_idioma{float:left;}
.list_idioma li{display:inline;}
.list_idioma li a{}

.list_links{float:right;}
.list_links li{display:inline;}
.list_links li a{}


#header img{
	margin:0px 3px;
}

#header p, #header a{
	color:#fff;
	font-size:9pt;
}

#header  a{
	margin:0px 5px;
}





td.left{
	text-align:left;
}

td.right{
	text-align:right;
}

#top{
	width:inherit;
	height:66px;
        overflow:hidden;
}

#top a, a.highlight{
	color:#6f5b54;
}

.bbox a.highlight{
	color:#000;
	font-size:10pt;
}

#top, #top.left, #top.right{
	background:#fff;
}

#top .left, #top .right{
}

#top .left{
}

#top  form p{
	padding-left:14px;
	padding-right:5px;
	float:left;
}

#top  form p.input{
    margin-top:7px;
	width:96px;
}

#top  form a, #top  form label{
	font-size:8pt;
	color:#666;
}

#top  form input.shorttext{
	width:90px;
}
#top  form  .sign_text{
font-size:16px;
}


#top  p{
	float:left;
}

#top  p input{
}

#top  ul{
	list-style-type:none;
	float:right;
}

#top  ul li{
	display:inline;
	margin-left:10px;
	font-size:11pt;
	float:left;
	padding-top:3px;
}

#top .right{
	width:327px;
	text-align:right;
	float:right;
}

#top .right *{
	vertical-align:bottom;
}

#top .right img{
	margin-left:4px;
}

#top  .down{
	position:relative;
	top:20px;
}


#top .uinfo{
	margin-top:15px;
	padding-left:20px;
	font-size:10pt;
}

#subtop{
	height:59px;
	background:#372825;
	padding:5px 0px;
	margin:0px 0px;
    overflow:hidden;
}

#subtop ul{
	list-style-type:none;
	display:inline;
}

#subtop ul li{
	float:left;
        width:83px;
        height:59px;
	margin:0px 10px;
        text-align:center;
        padding-top:15px;
        overflow:hidden;
        background-repeat: no-repeat;
}

#subtop ul li a{
    color:#fff;
    font-size:11pt;
    font-weight:bold;
}

#subtop .logo{
        float:left;
	margin:0px 35px;
}

div.hotel_badges{
	padding-top:20px;
	float:right;
}

#main{
	background:#fff;
	clear:both;
}

#main a, #bottom a{
	text-decoration: none;
}

#content{
	background:#fff;
}

#content .vbarbox{
	width:968px;
	float:right;
}

#content .vbar{
	width:96px;
	margin-right:20px;
	text-align:right;
}

#content .vbar *{
	position:relative;
	top:72px;
}

#content .vbar p{
	padding:10px 8px 0px 0px;
}

#content .vbar p a{
	text-decoration: none;
	font-size:13pt;
	font-weight:bold;
	letter-spacing: 1.5pt;
	color: #fff;
}

#content .singlebox .pbox{
    margin-left: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 650px;
}

#content .singlebox .pbox1{
	padding:20px 20px;
	margin:30px 30px;
}

.pbox h1{
    padding-top: 50px;
    text-transform: none;
    padding-bottom: 10px;
    color: #6C5B51;
    font-weight: bold;
    text-decoration: underline;
    font-size: 20px;
    line-height: 20px;
}
.pbox-about{
    padding-bottom: 20px;
    padding-top: 20px;
    line-height: 20px;
    font-size: 13px;
    color: #3D3E42;
    font-weight: bold;
}

.content-pbox{
    background: #C1AEA0;
    width: 100%;
    height: 370px;    
}

#content .singlebox .pbox .form_container{
    margin-top:10px;
    padding-left:30px;
}
#content .singlebox .pbox1 .form_container{
    margin-top:10px;
    padding-left:30px;
}

#content .singlebox .pbox .form_container .mainform tbody tr th,
#content .singlebox .pbox .form_container .mainform tbody tr td,
#content .singlebox .pbox .form_container .mainform tfoot tr th,
#content .singlebox .pbox .form_container .mainform tfoot tr td{
    padding-top:4px;
    padding-bottom:4px;
}
#content .singlebox .pbox1 .form_container .mainform tbody tr th,
#content .singlebox .pbox1 .form_container .mainform tbody tr td,
#content .singlebox .pbox1 .form_container .mainform tfoot tr th,
#content .singlebox .pbox1 .form_container .mainform tfoot tr td{
    padding-top:4px;
    padding-bottom:4px;
}

p.attention{
	width:90%;
	background-color:#ffffc1;
	border:1px solid #eeee66;
	padding:15px 10px;
	font-size:10pt;
	text-align:center;
	margin:10px auto;
}

#hidden-image{
	width:207px;
	height:392px;
}

.rbox{
	background:#D2C8BF;
	width:98%;
}

#regbox{
	width:297px;
	color:#fff;
	text-align:center;
	overflow:hidden;
}

#regbox div.welcome{
	padding:15px 0px;
	border-bottom:2px solid #fff;
	height:71px;
}

#regbox div.welcome p{
font-size:18px;
}
#regbox, #content .vbar{
	height:392px;
	float:right;
}

/*#regbox table{
	margin:20px auto;
}

#regbox table tfoot tr td{
	padding-bottom: 5px;
        padding-top: 1px;
}

#regbox table.calendar tfoot tr td{
	padding:0px 0px;
}
*/

#bottom{
	background:#fff;
}

#bottom .block322{
	background: #fff;
	float:left;
	height:200px;
}

#bottom .block322 p a img{
	float:right;
	margin:0px 0px 5px 5px;
}

ul.menuitems{
	list-style-type:none
}

ul.menuitems li{
	background:#f2f3ee;
	text-align:left;
	float:left;
	width:25%;
	
}

ul.menuitems li.active{
	background:#fff;
	border-right:none;
}

ul.menuitems h3{
	letter-spacing:2px;
	font-size:11pt;
}

.menuitems h3{
	border:1px solid #d1d0ce;
	padding: 3px 0 3px 2%;
	margin: 0;
}

h3 a, #bottom h4 a{
	color:#8d8683;
	text-decoration:none;
}

#bottom div p, #bottom div h4{
	
	margin-left:20px;
}

#bottom div p{
	margin-top:10px;
	font-size:13px;
}

#bottom div h4{
	margin-top:20px;
	font-size:11pt;
	font-weight:bold;
	color:#372825;
}

#footer{
	background: none repeat scroll 0 0 #6F5B54;
    color: #FFFFFF;
    font-size: 10pt;
    height: auto;
    overflow: hidden;
    text-align: center;
    width: 100%;
}

#footer p{
    font-size: 1em;
}

.scroll-accesorio{
    height: 150px;
    overflow: auto;
}

#footer p{
	padding:10px 10px;
}

#footer p.highlight{
	color:#FCDA9D;
	border-bottom:3px solid #fff;
}

#footer div.form{
	text-align:left;
}

.twocol{
	padding:10px 0px;
}

/*two columns container */
.twocol .leftcol, .twocol .rightcol{
	width:48%;
	float:left;
	margin:0px 6px;
}

.twocol table thead p{
	font-weight:bold;
	font-size:11pt;
}

table.twocol_form{
	margin:0px auto;
	padding-right:15px;
}

table.twocol_form tr td{
	padding:5px 40px 5px 10px;
}

table.twocol_form tr td label{
	font-size:10pt;
}

table.twocol_form tr td x, table.twocol_form tr td select{
	margin-left:10px;
}

/*utility classes*/
.clear{
	clear:both; /*for clearing floats*/
}


img.ui-datepicker-trigger{
	margin-left:10px;
	vertical-align:top;
}

/*form styles*/
table.center_form{
	margin:0px auto;
}

form table select{
	padding:2px 0px 2px 5px;
}

form table tr th, table.center_form tr th{
	font-weight:normal;
	font-size:12pt;
	text-align:right;
	padding: 0px 5px 5px 0px;
	
}

form table tr td{
	text-align:left;
}

form table .mainform tr td{
	text-align:right;
}

form table.mainform tbody tr td input,
form table.rightform tbody tr td input{
	border:1px solid #372825;
}

tbody{
	border:2px solid #fff;
	border-right: none;
	border-left: none;
}

tfoot input{
	padding:5px 10px;
}

input.button{
	padding:2px 5px;
}

input.button:hover{
	color:#372825;
}

td.full_right{
	text-align:right;
	padding:5px 2px 5px 0px;
}

/*form on the right side inside # */

table.rightform{
	margin:35px auto 15px auto;
}

.rightform tr td, .rightform tr th{
	padding:0px 0px 10px 0px;
}

.rightform tr td *{
	vertical-align:middle;
}

.rightform tr th{
	font-size:11pt;
	margin-right:5px;
}

.rightform .date_input{
	padding:2px 0px;
	width:90px;
	margin-right:5px;
}
/*small forms on the main pages*/
.subform{
	padding:10px 0px;
	margin:0px auto;
}

.subform tr td{
	padding:1px 0px;
	text-align:left;
}

.subform tr th{
	text-align:right;
}

.subform label{
	font-size:10pt;
	color:#372825;
}


/*special text containers*/
.rtitle{
	color:#f00;
	font-weight:bold;
	padding:10px 0px;
}

.dark{
	color:#6f5b54;
	font-weight:bold;
}

.dtitle{
	font-weight:bold;
	padding:10px 0px;
}

.spaced{
	padding:10px 10px;
}

/*slideshow containers for Jquery Cycle*/
.slideshowbox{
	width:inherit;
	height:350px;
	overflow:hidden;
}

#content .vbarbox .frontslideshow{
	height:392px;
	width:465px;
	float:right;
	overflow:hidden;
}

#content .vbarbox .frontslideshow a img{
	height:392px;
	width:465px;
}

/* style for popup images */
#imgPreviewWithStyles{
    background: #fff;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 15px;
    z-index: 999;
    border: none;
}

.small{
	font-size:11px;
	margin-right:5px;
}

.medium{
	font-size:10pt;
}

.italic{
	font-style:italic;
}

#ui-datepicker-div{
	z-index:1000;
}

table.calendar{
	margin:10px auto 0px auto;
	font-size:8pt;
	background: #fff;
	border:2px solid #707173;
	border-bottom:none;
	margin-bottom:0px;
}

#regbox table.calendar{
	margin-bottom:0px;
}

#regbox table.keys{
	margin-top:0px;
}

.calendar thead tr td{
	color:#6f5b54;
	padding:5px 0px;
	background-color:#fff;
	border-bottom:3px solid #fff;
}

.calendar tbody tr td{
	background:#d2c8bf;
	padding:0px 10px;
	border:3px solid #fff;
}

.calendar tfoot tr td{
	color:#000;
	text-align:left;
	border:3px solid #fff;
	padding:0px 10px;
}



.calendar tr td.full, div.key_full{
	background-color:#f00;
}

.calendar tr td.avail, div.key_avail{
	background-color:#0f0;
}

.calendar tr td.promo, div.key_promo{
	background-color:#5596d7;
}

table.keys{
	margin:0px auto;
	border:2px solid #707173;
	border-top:none;
	width:270px;
}

.key_container{
	margin:0px auto;
	font-size:9pt;
	color:#372825;
	text-align:left;
}

.key_container a{
	color:#372825;
}

table.keys td{
	padding:2px 4px;
}

.key_container div.key_avail, .key_container div.key_full, .key_container div.key_promo{
	width:14px;
	height:14px;
	border:1px solid #372825;
	margin-right:5px;
	float:left;
}

table.promo_table{
	width:97%;
	margin:0px auto;
}

table.promo_table tr td img{
	border:1px solid #372825;
	padding:0px 0px;
}

table.promo_table tr td p.promo_desc{
	text-align:center;
	font-size:9pt;
	color:#000;
	padding:2px 0px;
}

table.promo_table tr td{
	padding:3px 0px;
}

/*the booking progress bar*/
.progress{
    display: block;
	width: 492px;
    height: 40px;
}
.booking_1{
    width: 123px;
    height: 40px;
    float: left;
}
.booking_2{
    width: 123px;
    height: 40px;
    float: left;
}
.booking_3{
    width: 123px;
    height: 40px;
    float: left;
}
.booking_4{
    width: 123px;
    height: 40px;
    float: left;
}

/*checkbox list*/
ul.checkbox_list, .radio_list{
	list-style-type:none;
	margin:13px auto;
	text-align:center;
}

ul.checkbox_list li, ul.radio_list li{
	display:inline;
	margin:0px 20px;
	font-size:10pt;
	color:#372825;
}

td.bold_input input{
	border:2px solid #444;
}

.country_select{
	width:140px !important;
}


.points_container{
	background:#f3efee;
	padding:15px 10px;
}

.page_contents{
	width:97%;
	margin:15px auto;
}

/*best rate box*/
.best_rate{
	text-align:center;
	background:#a6de54;
	padding:5px 0px;
	width:244px;
    margin-left: 40px;
}

.best_rate a:link{
	color:#000;
}

.best_rate a:visited{
	color:#000;
}

.best_rate a:hover{
	color:#000;
	text-decoration:underline;
}

.best_rate a:active{
	color:#000;
}

.best_rate p{
	padding:0px 0px;
	margin-right:0px;
}

.best_rate h6, .best_rate p{
	color:#fff;
}

/*jqModal styles*/
/* jqModal base Styling courtesy of;
  Brice Burgess <bhb@iceburg.net> */

/* The Window's CSS z-index value is respected (takes priority). If none is supplied,
  the Window's z-index value will be set to 3000 by default (in jqModal.js). You
  can change this value by either;
    a) supplying one via CSS
    b) passing the "zIndex" parameter. E.g.  (window).jqm({zIndex: 500}); */

.jqmWindow {
    display: none;

    position: fixed;
    top: 8%;
    left: 37%;

    margin-left: -300px;
    width: 900px;
    color: #372825;

    background-color: #F3EFEE;
    border: 5px solid #372825;
    padding: 12px;
    text-align: right;
}

.jqmClose{
    color: #372825;
    text-align:right;
}

.jqmOverlay { background-color: #000; }

/* Fixed posistioning emulation for IE6
     Star selector used to hide definition from browsers other than IE6
     For valid CSS, use a conditional include instead */
* html .jqmWindow {
     position: absolute;
     top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(17 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px');
}

/*product table*/
.product_table{
    margin:20px auto;
}

.product_table tr td{
    padding:3px 7px;
    text-align: center;
    font-size: 9pt;
}

.product_table tr td p{
    width:160px;
}

.product_table tr td .name, .product_table tr td a, .product_table tr td a:visited{
    color:#FE3016;
    font-size:10pt;
}

.product_table tr td .price{
    font-weight:bold;
}

.product_table tr td .p_image{
    border: 1px solid #000;
}

/* Refined */

.block242{width:242px;float:left;}
.block242 .inner{
    padding: 15px 15px;
    height: 110px;
}
.inner1{
    display: block;
    width: 200px;
}
.inner1 a{
    color: #6E5C52;
    font-size: 12px;
    padding-left: 30px;
    font-style: italic;
}
.inner1 a:hover{
    text-decoration: underline;
}
.inner1 p{
    padding-left: 10px;
}
.inner1 p input{
    padding: 3px 3px;
}
.block242 .inner1{
    padding-bottom: 10px;
    
}
.block322{width:322px;float:left;}
.block322 .inner{padding: 15px 15px;}
.block644{width:644px;float:left;}
.block644 .inner{padding: 15px 15px;}


#booking{display:block;padding:15px 25px 0 0px;}
#booking dt{color: #fff;font-size:14px;}
#booking dd button{position:absolute;top: 0;right: -40px;}
#booking dd  input,#booking dd select{font-size:14px;}
#booking dt label{text-align:right;}



/* new clearfix */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

.buy_img {
    width: 127px !important;
    height: 30px;
    float: left;
    background: url('../css/spanish_buy-now.png') no-repeat;
}
.buy_img:hover{
    width:127px !important;
    height:30px;
    float:left;
    background:url('../css/spanish_buy-now_h-_over.png') no-repeat;
}
.content-button{
    padding-left: 35px;
}

/********************contacto*****************/
.datos-contacto{
    width: 100%;
    height: 250px;
    background: #C1AEA0;
}
.datos-contacto h2{
    padding-top: 20px;
    padding-bottom: 20px;
    color: #715D54;
    text-decoration: underline;
}
.content-contacto h3{
    color: #443C39;
    width: 600px;
}
.content-contacto{
    width: 80%;
    padding-left: 120px;
    padding-top: 10px;
}
.campos-contacto{
    font-size: 13px;
    color: #443C39;
    padding: 2px;
    line-height: 20px;
    font-family: Geneva, Arial, Helvetica, sans-serif;
}
.campos-contacto1{
    font-size: 13px;
    color: #443C39;
    padding: 2px;
    line-height: 20px;
    font-family: Geneva, Arial, Helvetica, sans-serif;
}
.campos-contacto-left{
    float: left;
    width: 150px;
}
.campos-contacto-right{
    float: left;
    width: 600px;
}

.contacto-formu{
    width: 100%;
    height: 220px;
    background: #ccc;
}
.formulario-space{
    padding-top: 10px;
    padding-left: 120px;
    height: 200px;
}
.left-cont{
    float: left;
    width: 250px;
}
.right-cont{
    float: left;
    width: 466px;
}
.left-cont label{
    float: left;
}
.left-cont input{
    float: left;
}
.left-cont p{
    padding-top: 18px;
    padding-bottom: 22px;
    font-size: 12px;
}
.right-cont p{
    padding-top: 18px;
    padding-bottom: 12px;
    font-size: 12px;
}
.right-cont p textarea{
    width: 466px;
    height: 130px;
    border: 2px solid #BBA9A9;
    overflow: auto;
}
.left-cont p input{
    border: 2px solid #BBA9A9;
    height: 28px;
}

.adjuntar{
    padding-top: 20px;
    float: right;
}
.enviar-borrar{
    float: right;
}
.adjuntar input{
    padding: 5px 7px;
	text-align: center;
	border: 1px solid #B2A8A6;
	background: #F3F4F7;
	background-color: #D9CFCD;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#ffffff), to(#D9CFCD));
	background: -moz-linear-gradient(#ffffff, #D9CFCD);
	-pie-background: linear-gradient(#ffffff, #D9CFCD);
	-webkit-box-shadow: #c6c9cd 0px 1px 3px;
	-moz-box-shadow: #c6c9cd 0px 1px 3px;
	box-shadow: #c6c9cd 0px 1px 3px;
	-webkit-border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	border-radius: 4px 4px 4px 4px;
    color: #949391;
    font-size: 13px;
}
.adjuntar input:hover{
    border: 1px solid #F1C43F!important;
	background: #F1C43F!important;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#fef9c9), to(#fee486))!important;
	background: -moz-linear-gradient(#fef9c9, #fee486)!important;
	-pie-background: linear-gradient(#fef9c9, #fee486)!important;	
	cursor: pointer!important;
}
.enviar-borrar input{
    
    padding: 5px 15px;
	text-align: center;
	border: 1px solid #B2A8A6;
	background: #F3F4F7;
	background-color: #D9CFCD;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#ffffff), to(#D9CFCD));
	background: -moz-linear-gradient(#ffffff, #D9CFCD);
	-pie-background: linear-gradient(#ffffff, #D9CFCD);
	-webkit-box-shadow: #c6c9cd 0px 1px 3px;
	-moz-box-shadow: #c6c9cd 0px 1px 3px;
	box-shadow: #c6c9cd 0px 1px 3px;
	-webkit-border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	border-radius: 4px 4px 4px 4px;
    color: #949391;
    font-size: 13px;
    font-weight: bold;
}
.enviar-borrar input:hover{
    border: 1px solid #F1C43F!important;
	background: #F1C43F!important;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#fef9c9), to(#fee486))!important;
	background: -moz-linear-gradient(#fef9c9, #fee486)!important;
	-pie-background: linear-gradient(#fef9c9, #fee486)!important;	
	cursor: pointer!important;
}
/****************fin de contacto**********/
.logo-vbar{
    position: absolute;
    width: 127px;
    height: 110px;
    margin-left: 40px;
    margin-top: 160px;
}

/******************About*********************/
.contiene-about{
   
}
.content_best{
    width: 300px;
    float: left;

}

#subtop1{
	height:59px;
	background:#372825;
	padding:5px 0px;
	margin:0px 0px;
    overflow:hidden;
    width: 650px;
    float: left;
}

#subtop1 ul{
	list-style-type:none;
	display:inline;
}

#subtop1 ul li{
	float:left;
        width:83px;
        height:59px;
	margin:0px 10px;
        text-align:center;
        padding-top:15px;
        overflow:hidden;
        background-repeat: no-repeat;
}

#subtop1 ul li a{
    color:#fff;
    font-size:11pt;
    font-weight:bold;
}

#subtop1 .logo{
        float:left;
	margin:0px 35px;
}
