
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

</head>
<body>	
	<div class="contenedor <?php echo $this->classContainer?>">		
	<?php  echo $this->layout()->content;	?>		
	</div>
</body>
</html>
