
<div style="float:left; margin-left:4px; width:210px; margin-top:7px;" id="contiene"></div>

<div style="float:left; margin-left:10px; width:250px; margin-top:7px;" id="tablas"></div>

<div style="float:left; margin-left:10px; width:250px; margin-top:7px;" id="detalle"></div>

 <script >$('#jmike').html('');</script>
<div id="jmike">
<input type="hidden" name="save[]" id="save" value=""/> 
   
<script type="text/javascript">
//Declaracion de Variables
var tabla; var tbaDetalle; cit.paginaSize = 400; var pages=1;
cit.win; cit.tablaSis = ''; nombreAr = [];
cit.tipoSave = '';
cit.formSave = '';
cit.guardar = false; cit.lleva = '';
cit.idSelect = ''; cit.codSave;

    cit.storeEstado = new Ext.data.SimpleStore(
        {fields: 
            ['set_estado', 'state'],
        data : [
            ['1', 'Activo'],
            ['0', 'Inactivo']
        ]
    });
/*----------------	 Tabla Sistema ------------------------------*/ 
    cit.fields =[
            { name : 'lleva'},
            { name : 'tas_desc' }
    ];

    cit.proxy=new Ext.data.HttpProxy({
        url: og.getUrl('mantenimiento-tablas','json',{'case':'modulo', 'tipo':'modulo'},'seguridad'),
            //url:'/seguridad/mantenimiento-tablas/json/tipo/modulo/case/modulo',
        method:'POST'
    });

    cit.reader=new Ext.data.JsonReader({
            fields: cit.fields, //['NEMO', 'nomcomp'],
            root:'matches'
    });

    cit.storeTbaSis = new Ext.data.Store({
            proxy:cit.proxy,
            reader:cit.reader,
            autoLoad: {params:{start: 0, limit: 150}}
    });

    //store.load();

    cit.columns =[  
        {dataIndex: 'tas_desc', header: 'Descripci&oacute;n', width: 185,locked: true,align:'center'}

    ];

    cit.gridTbaSis = new Ext.grid.EditorGridPanel({
        //renderTo: 'contiene',
        store: cit.storeTbaSis,         
        columns: cit.columns,
        clicksToEdit: 1,      
        width:'100%',
        height:420, 
        frame: false,
        stripeRows: true,
        columnLines: true,
        trackMouseOver: true,
        loadMask: true,
        viewConfig: { forceFit: true }
    });
	
	cit.gridTbaSis.render('contiene');
	
	cit.gridTbaSis.on('rowdblclick', function(e,i,j){//listening for the grid's 'validateedit' event 						
		/*if(cit.guardar){
			alertExtjs('info','Atenci&oacute;n-Existen registros modificados tienes que guardalos.');	       
			return false;	
		}*/
		cit.idSelect = null;
		var record = cit.storeTbaSis.getAt(i);	
		var tabla = record.data.lleva;
		cit.formSave = 'unico';
		cit.tablaSis = tabla;
		$('#tablas').html('');
		$('#detalle').html('');
		$('#tablas').css('width',250);
		switch(tabla){
			
			case '0001':// tipo Servicio
				
				
				cit.tipoSave = 'tiposerv';
				nombreAr = ['set_id','set_titulo','set_desc','set_estado'];
				$('#tablas').css('width',610);
				og.module = 'seguridad';
				cit.proxyTbaSe=new Ext.data.HttpProxy({
					url:og.getUrl('mantenimiento-tablas','json/tipo/unico/case/tiposerv'),
					method:'POST'
				});
				
				cit.readerTbaPr=new Ext.data.JsonReader({
					fields:[
							{ name : 'lleva'},
							{ name : 'set_id' },
							{ name : 'set_titulo' },
							{ name : 'set_desc'},
							{ name : 'set_estado' }
						], //['NEMO', 'nomcomp'],
					root:'matches'
				});
				
				cit.storeTbaPr = new Ext.data.Store({
					proxy:cit.proxyTbaSe,
					reader:cit.readerTbaPr,
					autoLoad: {params:{start: 0}}
				});

				cit.columnsTbaPr =[ 
					{dataIndex: 'set_id', header: 'C&oacute;digo', width: 50,locked: true,align:'center',
						editor: new Ext.form.TextField({
							allowBlank: true,
							maxLength:2,
							style: 'text-align:left'
						})
					},
					{dataIndex: 'set_titulo', header: 'Titulo', width: 170,locked: true,align:'left',
						editor: new Ext.form.TextField({
							allowBlank: true,
							maxLength:64,
							style: 'text-align:left'
						})
					},
					{dataIndex: 'set_desc', header: 'Descripci&oacute;n', width: 295,locked: true,align:'left',
						editor: new Ext.form.TextField({
							allowBlank: true,
							maxLength:64,
							style: 'text-align:left'
						})
					},
					{dataIndex: 'set_estado', header: 'Estado', width: 80,locked: true,align:'left',
						editor: new Ext.form.ComboBox({
							 store: cit.storeEstado,displayField: 'state',valueField:'set_estado',
							 typeAhead: true,   
							 editable: true,
							 mode: 'local',
							 triggerAction: 'all',
							 selectOnFocus:true            	    
						 }),
						renderer: function(v, params, record){
							var datus ='';
							$.each(cit.storeEstado.data, function(index, value) {
								var records = cit.storeEstado.getAt(index);
								//alert(v+'=='+ records.data.set_estado)
								if(records.data.set_estado == v){	
									datus = records.data.state;
									return true
								}            		
							});	
							return datus;
						}    
					}
				];
				
				cit.gridTbapr = new Ext.grid.EditorGridPanel({
					renderTo: 'tablas',
					store: cit.storeTbaPr,         
					columns: cit.columnsTbaPr,
					clicksToEdit: 1,      
					width:'100%',
					height:420, 
					frame: false,
					stripeRows: true,
					columnLines: true,
					trackMouseOver: true,
					//plugins: [checkTipo],
					loadMask: true,
					viewConfig: { forceFit: true }
				});
				
				cit.gridTbapr.on('cellclick', function(e,i,j){
					var record = cit.storeTbaPr.getAt(i);	
					cit.idSelect = 	record.data.lleva;								   
				});
			break;
			
			case '0002'://Tarifas
				
				cit.tipoSave = 'tarifa';
				$('#tablas').css('width',300);
				cit.proxyTbaSe=new Ext.data.HttpProxy({
					url:og.getUrl('mantenimiento-tablas','json/tipo/unico',{'case':'tarifa'},'seguridad'),///tipo/unico/case/tarifa
					method:'POST'
				});
				
				cit.readerTbaPr=new Ext.data.JsonReader({
					fields:[
							{ name : 'lleva'},
							{ name : 'ta_id' },
							{ name : 'ta_desc' }
						], //['NEMO', 'nomcomp'],
					root:'matches'
				});
				
				cit.storeTbaPr = new Ext.data.Store({
					proxy:cit.proxyTbaSe,
					reader:cit.readerTbaPr,
					autoLoad: {params:{start: 0}}
				});
				
				cit.columnsTbaPr =[ 
					{dataIndex: 'ta_id', header: 'C&oacute;digo', width: 70,locked: true,align:'center',
						editor: new Ext.form.TextField({
							allowBlank: true,
							maxLength:1,
							style: 'text-align:left'
						})
					},
					{dataIndex: 'ta_desc', header: 'Descripci&oacute;n', width: 200,locked: true,align:'left',
						editor: new Ext.form.TextField({
							allowBlank: true,
							maxLength:64,
							style: 'text-align:left'
						})
					}
				];
				
				cit.gridTbapr = new Ext.grid.EditorGridPanel({
					renderTo: 'tablas',
					store: cit.storeTbaPr,         
					columns: cit.columnsTbaPr,
					clicksToEdit: 1,      
					width:'100%',
					height:420, 
					frame: false,
					stripeRows: true,
					columnLines: true,
					trackMouseOver: true,
					loadMask: true,
					viewConfig: { forceFit: true }
				});
				
				cit.gridTbapr.on('cellclick', function(e,i,j){
					var record = cit.storeTbaPr.getAt(i);	
					cit.idSelect = 	record.data.lleva;								   
				});
				
				cit.gridTbapr.on('beforeEdit', function(e){//listening for the grid's 'validateedit' event 
					switch(e.record.data.ta_id){
						case 'D': return false;break;
						case 'F': return false;break;
					}
				});
				
			break;
			
			case '0003':// Categoria
				cit.tipoSave = 'categ';
				$('#tablas').css('width',450);
				cit.proxyTbaSe=new Ext.data.HttpProxy({
					url:og.getUrl('mantenimiento-tablas','json/tipo/unico',{'case':'categoria'},'seguridad'),///tipo/unico/case/tarifa
					method:'POST'
				});
				
				cit.readerTbaPr=new Ext.data.JsonReader({
					fields:[
							{ name : 'lleva'},
							{ name : 'cat_id' },
							{ name : 'cat_titulo' },
                            { name : 'cat_orden' },
							{ name : 'cat_desc' }
						], //['NEMO', 'nomcomp'],
					root:'matches'
				});
				
				cit.storeTbaPr = new Ext.data.Store({
					proxy:cit.proxyTbaSe,
					reader:cit.readerTbaPr,
					autoLoad: {params:{start: 0}}
				});
				
				cit.columnsTbaPr =[ 
					{dataIndex: 'cat_id', header: 'C&oacute;digo', width: 60,locked: true,align:'center'},
					{dataIndex: 'cat_titulo', header: 'Titulo', width: 110,locked: true,align:'left',
						editor: new Ext.form.TextField({
							allowBlank: true,
							maxLength:64,
							style: 'text-align:left'
						})
					},
                    {dataIndex: 'cat_orden', header: 'Orden', width: 30, locked: true,align:'center',
						editor: new Ext.form.NumberField({
							allowBlank: true,
							maxLength:2,
							style: 'text-align:left'
						})
					},
					/*{dataIndex: 'cat_desc', header: 'Descripci&oacute;n', width: 260,locked: true,align:'left',
						editor: new Ext.form.TextField({
							allowBlank: true,
							maxLength:512,
							style: 'text-align:left'
						})
					},*/
					{xtype: 'actioncolumn', header: 'Contenido', width: 40, align:'center',
						items: [{
							icon   : og.domainName+'/images/icons/fam/plugin_add.gif',  // Use a URL in the icon config
							tooltip: 'Agregar Contenido',
							handler: function(grid, rowIndex, colIndex) {
								var record = cit.storeTbaPr.getAt(rowIndex);
								cit.formModals = formModalDesc(record);
								cit.formModals.show();
							}
						}]
					},
				];
				
				cit.gridTbapr = new Ext.grid.EditorGridPanel({
					renderTo: 'tablas',
					store: cit.storeTbaPr,         
					columns: cit.columnsTbaPr,
					clicksToEdit: 1,      
					width:'100%',
					height:420, 
					frame: false,
					stripeRows: true,
					columnLines: true,
					trackMouseOver: true,
					loadMask: true,
					viewConfig: { forceFit: true }
				});
				
				cit.gridTbapr.on('cellclick', function(e,i,j){
					var record = cit.storeTbaPr.getAt(i);	
					cit.idSelect = 	record.data.lleva;								   
				});
			break;
			
			case '0004':// Ano
				cit.tipoSave = 'anio';
				$('#tablas').css('width',450);
				cit.proxyTbaSe=new Ext.data.HttpProxy({
					url:og.getUrl('mantenimiento-tablas','json/tipo/unico',{'case':'year'},'seguridad'),///tipo/unico/case/tarifa
					method:'POST'
				});
				
				cit.readerTbaPr=new Ext.data.JsonReader({
					fields:[
							{ name : 'lleva'},
							{ name : 'an_id' },
							{ name : 'an_abr' },
							{ name : 'an_desc' }
						], //['NEMO', 'nomcomp'],
					root:'matches'
				});
				
				cit.storeTbaPr = new Ext.data.Store({
					proxy:cit.proxyTbaSe,
					reader:cit.readerTbaPr,
					autoLoad: {params:{start: 0}}
				});
				
				cit.columnsTbaPr =[ 
					{dataIndex: 'an_id', header: 'C&oacute;digo', width: 38,locked: true,align:'center',
						editor: new Ext.form.NumberField({
							allowBlank: true,
							maxLength:4,
							style: 'text-align:left'
						})
					},
					{dataIndex: 'an_abr', header: 'Año', width: 38,locked: true,align:'center',
						renderer: function(v, params, record){
							record.data.an_abr = record.data.an_id;
							return record.data.an_id;
						}    
					},
					{dataIndex: 'an_desc', header: 'Descripción', width: 150,locked: true,align:'left',
						editor: new Ext.form.TextField({
							allowBlank: true,
							maxLength:512,
							style: 'text-align:left'
						})
					}
				];
				
				cit.gridTbapr = new Ext.grid.EditorGridPanel({
					renderTo: 'tablas',
					store: cit.storeTbaPr,         
					columns: cit.columnsTbaPr,
					clicksToEdit: 1,      
					width:'100%',
					height:420, 
					frame: false,
					stripeRows: true,
					columnLines: true,
					trackMouseOver: true,
					loadMask: true,
					viewConfig: { forceFit: true }
				});
				
				cit.gridTbapr.on('cellclick', function(e,i,j){
					var record = cit.storeTbaPr.getAt(i);	
					cit.idSelect = 	record.data.lleva;								   
				});
			break;
			
			case '0010':// Detalle
				cit.idSelect = null;
				cit.tipoSave = 'tabla';
				$('#tablas').css('width',370);
				nombreAr = ['tba_id','tba_desc'];
				var anchoAr = [ 60, 285];
				maxAr = [ 4, 250 ];
				gridTablaPr2('/tipo/unico/case/tablas',nombreAr,anchoAr,maxAr);
				cit.gridTbapr = new Ext.grid.EditorGridPanel({
					renderTo: 'tablas',
					store: cit.storeTbaPr,         
					columns: cit.columnsTbaPr,
					clicksToEdit: 1,      
					width:'100%',
					height:420, 
					frame: false,
					stripeRows: true,
					columnLines: true,
					trackMouseOver: true,
					loadMask: true
				});
				
				cit.gridTbapr.on('beforeEdit', function(e){//listening for the grid's 'validateedit' event 		
					var edita = cit.tablaSis;
					switch(edita){
						case '0020': return false; break;
						default: return true; break;
					}
				});
				
				cit.gridTbapr.on('cellclick', function(e,i,j){//listening for the grid's 'validateedit' event 
					$('#detalle').html('');
					var record = cit.storeTbaPr.getAt(i);	
					cit.idSelect = record.data.lleva;
					cit.formSave = 'tabla';
					cit.tipoSave = cit.idSelect;	
					cit.proxyTbaSe=new Ext.data.HttpProxy({
                                                url:og.getUrl('mantenimiento-tablas','json',{'tipo':'detalle','cod':cit.idSelect},'seguridad'),
						//url:'/seguridad/mantenimiento-tablas/json/tipo/detalle/cod/'+cit.idSelect,
						method:'POST'
					});
					
					cit.readerTbaSe=new Ext.data.JsonReader({
						fields:[
								{ name : 'lleva'},
								{ name : 'tad_id' },
								{ name : 'tad_desc' }
							], //['NEMO', 'nomcomp'],
						root:'matches'
					});
					
					cit.storeTbaSe = new Ext.data.Store({
						proxy:cit.proxyTbaSe,
						reader:cit.readerTbaSe,
						autoLoad: {params:{start: 0, limit: 150}}
					});
					
					cit.columnsTbaSe =[ 
						{dataIndex: 'tad_id', header: 'C&oacute;digo', width: 60,locked: true,align:'center',
							editor: new Ext.form.TextField({
								allowBlank: true,
								maxLength:4,
								style: 'text-align:left'
							})
						},
						{dataIndex: 'tad_desc', header: 'Descripci&oacute;n', width: 165,locked: true,align:'left',
							editor: new Ext.form.TextField({
								allowBlank: true,
								maxLength:64,
								style: 'text-align:left'
							})
						}
					];
					
					cit.gridTbaSe = new Ext.grid.EditorGridPanel({
						renderTo: 'detalle',
						store: cit.storeTbaSe,         
						columns: cit.columnsTbaSe,
						clicksToEdit: 1,      
						width:'100%',
						height:420, 
						frame: false,
						stripeRows: true,
						columnLines: true,
						trackMouseOver: true,
						loadMask: true,
						viewConfig: { forceFit: true }
					});
					
					cit.gridTbaSe.on('cellclick', function(e,i,j){
						var record = cit.storeTbaSe.getAt(i);	
						cit.idSelect = record.data.lleva;
						if(!cit.idSelect)
							cit.idSelect = record.data.tad_id;
							
					});
					
				});
			break;
		
		}
		
		
		cit.gridTbapr.on('afterEdit', function(e){//listening for the grid's 'validateedit' event 		
			var mi = cit.storeTbaPr.getModifiedRecords();
			if(mi.length > 0 )
				cit.guardar = true;
			
		});
	});//End CellCLick Sis
	
/*----------------	++ end Tabla Sistema ------------------------------*/ 

/*----------------	 Tabla Principal ------------------------------*/ 
	
	
/*----------------	 Functions de 2 Campos ------------------------------*/ 
	//---------	 Functions Principal 2 Campos --------------
	function gridTablaPr2(urls,nombreAr,anchoAr,maxAr){
		
		cit.proxyTba=new Ext.data.HttpProxy({
                        url:og.getUrl('mantenimiento-tablas','json'+urls,{},'seguridad'),
			//url:'/seguridad/mantenimiento-tablas/json'+urls,
			method:'POST'
		});
		
		//--------------------------------------------------------------- */
		cit.readerTba=new Ext.data.JsonReader({
			fields:[
					{ name : 'lleva'},
					{ name : nombreAr[0] },
					{ name : nombreAr[1] }
				], //['NEMO', 'nomcomp'],
			root:'matches',
			totalProperty: 'totalCount'	
		});
		//--------------------------------------------------------------- */
		
		cit.storeTbaPr = new Ext.data.Store({
			proxy:cit.proxyTba,
			reader:cit.readerTba,
			autoLoad: {params:{start: 0, limit: cit.paginaSize}}
		});
		//alert(cit.tipoSave);
		switch(cit.tipoSave){
			case 'tabla':
				cit.columnsTbaPr =[ 
					{dataIndex: nombreAr[0], header: 'C&oacute;digo', width: anchoAr[0],locked: true,align:'center'},
					{dataIndex: nombreAr[1], header: 'Descripci&oacute;n', width: anchoAr[1],locked: true,align:'left'}
				];
			break;
			
			default:
				cit.columnsTbaPr =[ 
					{dataIndex: nombreAr[0], header: 'C&oacute;digo', width: 60,locked: true,align:'center',
						renderer: function(v, params, record){
							//record.data.lleva = v.toUpperCase();
							return v.toUpperCase();
						},
						editor: new Ext.form.TextField({
							allowBlank: true,
							maxLength:maxAr[0],
							style : {textTransform: 'uppercase'}
							
						})
					},
					{dataIndex: nombreAr[1], header: 'Descripci&oacute;n', width: 165,locked: true,align:'left',
						editor: new Ext.form.TextField({
							allowBlank: true,
							maxLength:maxAr[1],
							style: 'text-align:left'
						})
					}
				];
			break;
		}
		
	}

	//---------	 Functions Unicas 2 Campos --------------
	function gridTablaSe2(urls,nombreAr,anchoAr,maxAr){
		
		cit.proxyTbaSe=new Ext.data.HttpProxy({
                    url:og.getUrl('mantenimiento-tablas','json'+urls,{},'seguridad'),
			//url:'/seguridad/mantenimiento-tablas/json'+urls,
			method:'POST'
		});
		
		cit.readerTbaSe=new Ext.data.JsonReader({
			fields:[
					{ name : 'lleva'},
					{ name : nombreAr[0] },
					{ name : nombreAr[1] }
				], //['NEMO', 'nomcomp'],
			root:'matches'
		});
		
		cit.storeTbaSe = new Ext.data.Store({
			proxy:cit.proxyTbaSe,
			reader:cit.readerTbaSe,
			autoLoad: {params:{start: 0, limit: 150}}
		});
		
		cit.columnsTbaSe = [ 
			{dataIndex: nombreAr[0], header: 'C&oacute;digo', width: anchoAr[0],locked: true,align:'center',
				renderer: function(v, params, record){
					//record.data.lleva = v.toUpperCase();
					return v.toUpperCase();
				},
				editor: new Ext.form.TextField({
					allowBlank: true,
					maxLength:maxAr[0],
					style : {textTransform: 'uppercase'}
					
				})
			},
			{dataIndex: nombreAr[1], header: 'Descripci&oacute;n', width: anchoAr[1],locked: true,align:'left',
				editor: new Ext.form.TextField({
					allowBlank: true,
					maxLength:maxAr[1],
					style: 'text-align:left'
				})
			}
		];
	}
	//end
	/*----------------	 Functions de 2 Campos ------------------------------*/ 

	/*---------------------- Tabs General ------------------------------*/
	function saveFormData(){
		
		switch(cit.formSave){
			case 'unico':
				var m = cit.storeTbaPr.getModifiedRecords();
				if(m.length == 0 ){
					alertExtjs('info','Modificar-Debe Haber al menos un registro modificado..');	       
					return false;
				}
				var cad = '';
				for(i=0;i<m.length;i++){
					$.each(m[i].data, function(index, value) { 
						cad = cad+index + '::'+value+",,";    
								   
					});   
					cad =  cad.substring(0,cad.length-2);  
					cad = cad + '**';    	       
				} 
				datos =  cad.substring(0,cad.length-2);
				
				og.openLink(og.getUrl('mantenimiento-tablas','ajax/form/save',{'case':cit.tipoSave},'seguridad'), {
					hideLoading: true,
					hideErrors: true,
					preventPanelLoad: true, 
					post:'data='+datos
				});
				
			break;
			
			case 'tabla':
				var m = cit.storeTbaSe.getModifiedRecords();
				if(m.length == 0 ){
					alertExtjs('info','Modificar-Debe Haber al menos un registro modificado..');	       
					return false;
				}
				var cad = '';
				for(i=0;i<m.length;i++){
					$.each(m[i].data, function(index, value) { 
						cad = cad+index + '::'+value+",,";    
								   
					});   
					cad =  cad.substring(0,cad.length-2);  
					cad = cad + '**';    	       
				} 
				datos =  cad.substring(0,cad.length-2);
				
				og.openLink(og.getUrl('mantenimiento-tablas','ajax/form/save/case/'+cit.formSave,{'tba':cit.tipoSave},'seguridad'), {
					hideLoading: true,
					hideErrors: true,
					preventPanelLoad: true, 
					post:'data='+datos
				});

			break;
			
			case 'otro':
				var m = cit.storeTbaSe.getModifiedRecords();
				if(m.length == 0 ){
					alertExtjs('info','Modificar-Debe Haber al menos un registro modificado..');	       
					return false;
				}
				var cad = '';
				for(i=0;i<m.length;i++){
					$.each(m[i].data, function(index, value) { 
						cad = cad+index + '::'+value+",,";    
								   
					});   
					cad =  cad.substring(0,cad.length-2);  
					cad = cad + '**';    	       
				} 
				datos =  cad.substring(0,cad.length-2);
				
				og.openLink(og.getUrl('mantenimiento-tablas','ajax/form/save/case/'+cit.tipoSave), {
					hideLoading: true,
					hideErrors: true,
					preventPanelLoad: true, 
					post:'data='+datos
				});

			break;
						
		}
		
	}
	
	function newFormData(){

		switch(cit.tipoSave){
			case 'tiposerv':
				var u = new cit.gridTbapr.store.recordType({
					tipo : 'N',	set_id : '', set_titulo : '', set_desc : '', set_estado : ''
				});			
			break;
			case 'tarifa'://['thi_id','ht_hab_desc','tih_estado','tih_stock','ht_tih_id'];
				var u = new cit.gridTbapr.store.recordType({
					tipo : 'N',	tih_id : '', tih_desc : '', tih_estado : '', tih_stock : '', ht_tih_id : ''
				});
			break;
			
			case 'categ'://categ
				return false;
			break;
			
			case 'anio'://Anños
				var u = new cit.gridTbapr.store.recordType({
					tipo : 'N',	an_id : '', an_abr : '', an_desc : ''
				});
			break;
			
			default://	nombreAr = ['am_id','am_desc','tipa_id'];
				var u = new cit.gridTbaSe.store.recordType({
					tipo : 'N',	lleva : cit.codSave, tad_id : '', tad_desc : ''
				});
			break;
		}
		
		
		switch (cit.formSave){
			case 'unico':
				fila = cit.storeTbaPr.getCount();
				cit.gridTbapr.stopEditing();
				cit.gridTbapr.store.insert(fila,u);
				cit.gridTbapr.startEditing(fila,0);
			break;
			
			default:
				fila = cit.storeTbaSe.getCount();
				cit.gridTbaSe.stopEditing();
				cit.gridTbaSe.store.insert(fila,u);
				cit.gridTbaSe.startEditing(fila,0);
			break;
		}
	}
	
	function deleteFormData(){
		if(cit.idSelect)
			deleteExtjs();
		else
			alertExtjs('info','Informaci&oacute;n-Seleccione un registro.')
		return false;
	}
	
	function confirmMessaje(btn){
		if(btn == 'yes'){
			
			switch(cit.formSave){
				case 'unico':
					og.openLink(og.getUrl('mantenimiento-tablas','ajax/form/delete',{'case':cit.tipoSave},'seguridad'),{//case/'+
						hideLoading: true,
						hideErrors: true,
						preventPanelLoad: true, 
						post:'id='+cit.idSelect,
						onSuccess:cit.loadDelete
					});
				break;
				
				default:
					og.openLink(og.getUrl('mantenimiento-tablas','ajax/form/delete',{'case':'tablas'},'seguridad'), {
						hideLoading: true,
						hideErrors: true,
						preventPanelLoad: true, 
						post:'id='+cit.idSelect,
						onSuccess:cit.loadDelete
					});
				break;	
			}	
			
		}
	}
	
	cit.loadDelete = function(){
		switch(cit.formSave){
			case 'unico':
				cit.gridTbapr.store.load();
			break;
			
			case 'tabla':
				cit.gridTbaSe.store.load();
			break;	
		}	
	}
	
	cit.loadFormModal = function(){
		cit.formModals.close();
		cit.formModals.destroy();
		cit.storeTbaPr.load();
	}
	
	function formModalDesc(vrecord){
		//Cargando Grids	
		//var winModal;
		cit.formModal = new  Ext.form.FormPanel({
			autoHeigh:true,
			width:"100%",
			bodyStyle:"padding: 4px",
			labelWidth: 0.5,
			plain:true,
			defaults:{"anchor":0,border:0},//autoCreate: {tag: "input", type: "text", autocomplete: "off", maxlength: 10 },
			items:[
				{xtype:'hidden',name:'cat_id',value : vrecord.data.cat_id},
				{xtype:"fieldset",
				items:[
					{xtype:'textarea',name:'cat_desc',allowBlank:false,blankText: 'Ingrese una Contenido… ',height: 300,width:380, anchor: '100%',value : vrecord.data.cat_desc},
				]}
		],
		buttons: [{
			text:'Guardar',
			handler: function(){
				 if (cit.formModal.form.isValid()) {
					
					cit.saveFomsModal = cit.formModal.form.getValues();
		
					og.openLink(og.getUrl('mantenimiento-tablas','ajax',{'form':'saveContenidoTH'},'seguridad'), {
						hideLoading: true,
						hideErrors: true,
						preventPanelLoad: true, 
						post: cit.saveFomsModal,
						onSuccess:cit.loadFormModal
					});
					//cit.hide();
				 }
			}
		},{
			text: 'Close',
			handler: function(){
				cit.formModal.form.reset();
				winModal.close();
				winModal.destroy();
			}
		}]
	
		});

		winModal = new Ext.Window({
			width: 390,
			height:390,
			minWidth: 200,
			minHeight: 150,
			//bodyStyle:'padding:5px;',
			layout : 'fit',
			closeAction: 'hide',
			autoDestroy:true,
			defaultType: 'textfield',
			plain: true,
			modal:true,
			title  : 'Agregar el Contenido N',
			items  : [ cit.formModal ]
		});
		return winModal;
	
	}
</script>
</div>