<div class="form_zoe">
    <div id="contiene" class="left_zoe" style="width:29%"></div>
    <div id="form" class="left_zoe" style="width:70%"></div>
</div>

<div id="jmike">
    <input type="hidden" name="save[]" id="save" value=""/>    

    <script>
        //Declaracion de Variables
        cit.win; winModal = '';
        cit.idtipo = ''; cit.edit = 'save';
        cit.idSelect = '';// cit.formModal = '';
	
        cit.storeSucur = <?php echo $this->sucursal; ?>;

        //Tipo de Habitaciones ------------------------------------------- -+- //Primer Grid
        cit.fields =[
            { name : 'cat_id'},
            { name : 'cat_titulo',type : 'string'}
        ];

        cit.proxy=new Ext.data.HttpProxy({
            //url:'/habitacion/asignacion-categoria-tipo-hab/json/case/listaSucursal',
            url:og.getUrl('asignacion-categoria-tipo-hab','json',{'case':'listaCategoria'},'cms'),
            method:'POST'
        });
	
        cit.reader=new Ext.data.JsonReader({
            fields: cit.fields, //['NEMO', 'nomcomp'],
            root:'matches'
        });
	
        cit.storePrin = new Ext.data.Store({
            proxy:cit.proxy,
            reader:cit.reader
            //autoLoad: {params:{start: 0, limit: 150}}
        });

        cit.columns =[ 

            {dataIndex: 'cat_id', header: 'Id', width: 100,locked: true,align:'center'},
            {dataIndex: 'cat_titulo', header: 'Sucursales', width: 200,locked: true, sorteable : true}

        ];
	
        cit.gridPrin = new Ext.grid.GridPanel({
            //renderTo: 'contiene',
            store: cit.storePrin,         
            columns: cit.columns,
            bodyStyle:'border:0px;border-top:solid 1px #ccc;',
            height:350, 
            frame: false,
            stripeRows: true,
            columnLines: true,
            trackMouseOver: true,
            sm: new Ext.grid.RowSelectionModel({	// Permite que al momento de selecciona un campo, se seleccione toda la fila
                singleSelect: true
            }),
            loadMask: true,
            viewConfig: { forceFit: true }
        });
	
        cit.gridPrin.on('rowdblclick', function(e,i,j){//listening for the grid's 'validateedit' event
            //og.loading();
            var records = cit.storePrin.getAt(i);
            cit.idSelect = records.data.cat_id;
            var filtro = cit.formPrin.getForm().getValues();
	
            cit.gridSecun.store.load({params: {'cat_id': records.data.cat_id,'su_id':filtro.su_id}});
        });
	
        //Accesorios ------------------------------------------- -+- //Segundo Grid
        cit.fieldSecun =[
            { name : 'lleva'},
            { name : 'su_id'},
            { name : 'tih_id'},
            { name : 'tih_desc'}
        ];

        cit.proxySecun=new Ext.data.HttpProxy({
            //url:'/cms/asignacion-categoria-tipo-hab/json/case/listaTipohab',
            url:og.getUrl('asignacion-categoria-tipo-hab','json',{'case':'listaTipohab'},'cms'),
            method:'POST'
        });
	
        cit.readerSecun=new Ext.data.JsonReader({
            fields: cit.fieldSecun, //['NEMO', 'nomcomp'],
            root:'matches'
        });
	
        cit.storeSecun = new Ext.data.Store({
            proxy:cit.proxySecun,
            reader:cit.readerSecun
            //autoLoad: {params:{start: 0, limit: 150}}
        });
	
        var smlista = new Ext.grid.CheckboxSelectionModel({
            singleSelect: false,
            sortable: false,
            checkOnly: true
        });
	
        cit.columnSecun =[ 
            smlista,
            {dataIndex: 'tih_desc', header: 'Descripci&oacute;n', width: 180,locked: true,align:'left'}
		
        ];
	
        cit.gridSecun = new Ext.grid.EditorGridPanel({
            //renderTo: 'contiene',
            store: cit.storeSecun,         
            columns: cit.columnSecun,
            clicksToEdit: 1,
            bodyStyle:'border:0px;border-top:solid 1px #ccc;',
            width:'100%',
            height:350, 
            frame: false,
            stripeRows: true,
            columnLines: true,
            trackMouseOver: true,
            loadMask: true,
            sm: smlista,
            viewConfig: { forceFit: true },
            tbar: [
                {   
                    text: 'Añadir',
                    iconCls: 'silk-add',
                    handler : function() {
                        var filtro = cit.formPrin.getForm().getValues();
                        if(filtro.su_id){
                            cit.formModals = formModal(cit.idSelect,filtro.su_id);
                            cit.formModals.show();
                        }
                    }
                }
                ,{   text: 'Eliminar',
                    iconCls: 'silk-delete',
                    handler : function() {
                        var filtro = cit.formPrin.getForm().getValues();
                        //alert(filtro.tih_id);
                        if(filtro.su_id){
                            var cont = smlista.getCount();
                            if(cont == 0){
                                alertExtjs('info','Seleccionar-Las &aacute;reas respectivas del nivel.');	       
                                return false;
                            }else
                                Ext.MessageBox.confirm('Confirm', 'Desea eliminar los accesorios seleccionados?.', confirmMessajeDel);	
						
                        }
					
                    }
                }
            ]
        });
	
        cit.changeSucursal = {
            select: function(combo, record, index){
                cit.su_id = record.data.su_id;
                cit.gridSecun.store.removeAll();
                cit.gridPrin.store.load({params: {'su_id': cit.su_id}});
			
            }
        };
	
        cit.formPrin = new  Ext.form.FormPanel({
            renderTo: 'contiene',
            name:'formDcto',
            autoHeight:true,
            bodyStyle:"margin-left: 7px;padding-right: 3px;border:0px",
            //width:300,
            labelWidth: 80,
            defaults:{"anchor":0},
            items : [
                {xtype:'combo', width:130,mode:'local',triggerAction:'all',forceSelection:true,fieldLabel:'Sucursal ',editable:false,name:'su_id',emptyText:'- Sucursal -',
                    hiddenName:'su_id',displayField:'state',valueField:'su_id',store: cit.storeSucur,listeners:cit.changeSucursal,value:'<?php echo $this->suid ?>'
                },
                { items : [cit.gridPrin] }//gridSecun
            ]
        });
	
        cit.formSecun = new  Ext.form.FormPanel({
            renderTo: 'form',
            name:'formDcto',
            autoHeight:true,
            bodyStyle:"border:0px",
            width:"98%",
            labelWidth: 80,
            defaults:{"anchor":0},
            items : [
                { items : [cit.gridSecun]}

            ]
        });
	
        //Asignar Tipo de Habitaciones
        function newFormData(){}
	
        function saveFormData(){
            var records = cit.storeSecun.getModifiedRecords();
            if(records.length == 0 ){
                alertExtjs('info','Modificar-Debe Haber al menos un registro modificado..');	       
                return false;
            }
            var cad = '';
            for(i=0;i<records.length;i++){
                $.each(records[i].data, function(index, value) { 
                    cad = cad+index + '::'+value+",,";    
						   
                });   
                cad =  cad.substring(0,cad.length-2);  
                cad = cad + '**';    	       
            } 
            datos =  cad.substring(0,cad.length-2);
		
            cit.saveFomsModal = cit.formPrin.form.getValues();
            cit.saveFomsModal.grid = datos;
            og.openLink(og.getUrl('asignacion-categoria-tipo-hab','ajax',{'case':'editTipohabSucursal'},'cms'), {
                hideLoading: false,
                hideErrors: false,
                preventPanelLoad: true,  
                post:cit.saveFomsModal
            });
        }
	
        function deleteFormData(){}

        function confirmMessajeDel(){//Tipo de Habitaciones
            cit.records = cit.gridPrin.getSelectionModel().getSelected();
            cit.saveFomsModal = cit.formPrin.form.getValues();
            cit.saveFomsModal.cat_id = cit.records.data.cat_id;
            var sd = smlista.getSelections();
            cit.saveFomsModal.grid = cadenaGrid(sd);
            og.openLink(og.getUrl('asignacion-categoria-tipo-hab','ajax',{'case':'deleteMenuInterno'},'cms'), {
                hideLoading: true,
                hideErrors: true,
                preventPanelLoad: true, 
                post: cit.saveFomsModal,
                onSuccess:cit.loadFormModal
            });
        }
	
        //Asignar Accesorios
        cit.loadFormModal = function(){
            var filtro = cit.formPrin.getForm().getValues();
            cit.records = cit.gridPrin.getSelectionModel().getSelected();
            cit.gridSecun.store.load({params: {'su_id': filtro.su_id,'cat_id':cit.records.data.cat_id}});
            cit.formModals.hide();
        }
	
        //Modal : asignar tipo de habitaciones por Sucursal
        //Modal Agregar o Eliminar : 
        function formModal(cat_id,su_id){
            //Cargando Grids
            var smAcc = new Ext.grid.CheckboxSelectionModel({
                singleSelect: false,
                sortable: false,
                checkOnly: true
            });
		
            cit.fieldModal =[
                { name : 'lleva'},
                { name : 'tih_id'},
                { name : 'tih_desc' }
            ];
	
            cit.proxyModal=new Ext.data.HttpProxy({
                //url:'/habitacion/asignacion-accesorio-tipo-hab/json/case/selSucursalTipohab',
                url:og.getUrl('asignacion-categoria-tipo-hab','json',{'case':'selSucursalMenuinter'},'cms'),
                method:'POST'
            });
		
            cit.readerMod=new Ext.data.JsonReader({
                fields: cit.fieldModal, //['NEMO', 'nomcomp'],
                root:'matches'
            });
		
            cit.storeMod = new Ext.data.Store({
                proxy:cit.proxyModal,
                reader:cit.readerMod
                //autoLoad: {params:{start: 0, limit: 150}}
            });
		 
            cit.columnMod =[ 
                smAcc,
                {dataIndex: 'tih_desc', header: 'Descripci&oacute;n', width: 180,locked: true,align:'left'}
            ];
		  
            cit.gridMod = new Ext.grid.EditorGridPanel({
                //renderTo: 'contiene',
                store: cit.storeMod,         
                columns: cit.columnMod,
                clicksToEdit: 1,      
                width:'100%',
                height:250, 
                frame: false,
                stripeRows: true,
                columnLines: true,
                trackMouseOver: true,
                bodyStyle:'border:0px;border-top:solid 1px #ccc;',
                sm: smAcc,
                viewConfig: { forceFit: true }
                //loadMask: true
            });
            cit.storeMod.load({params: {'cat_id':cat_id,'su_id':su_id}});
		
			
            var winModal;
            cit.formModal = new  Ext.form.FormPanel({
                autoHeigh:true,
                width:"100%",
                bodyStyle:"padding: 5px",
                labelWidth: 68,
                plain:true,
                defaults:{"anchor":0,border:0},//autoCreate: {tag: "input", type: "text", autocomplete: "off", maxlength: 10 },
                items:[
                    { items : [cit.gridMod] }  
                ],
                buttons: [{
                        text:'Guardar',
                        handler: function(){
				
                            if (cit.formModal.form.isValid()) {
					
                                var cont = smAcc.getCount();
                                if(cont == 0){
                                    alertExtjs('info','Seleccionar-Las &aacute;reas respectivas del nivel.');	       
                                    return false;
                                }
					
                                cit.records = cit.gridPrin.getSelectionModel().getSelected();
                                cit.saveFomsModal = cit.formPrin.form.getValues();
                                cit.saveFomsModal.cat_id = cit.records.data.cat_id;
                                var sd = smAcc.getSelections();
                                cit.saveFomsModal.grid = cadenaGrid(sd);
					
                                og.openLink(og.getUrl('asignacion-categoria-tipo-hab','ajax',{'case':'saveMenuInterno'},'cms'), {
                                    hideLoading: true,
                                    hideErrors: true,
                                    preventPanelLoad: true, 
                                    post: cit.saveFomsModal,
                                    onSuccess:cit.loadFormModal
                                });
                                //cit.hide();
                            }
					   
				
                        }
                    },{
                        text: 'Close',
                        handler: function(){
                            cit.formModal.form.reset();
                            winModal.hide();
                        }
                    }]
	
            });
		

            winModal = new Ext.Window({
                width: 300,
                height:320,
                minWidth: 200,
                minHeight: 150,
                //bodyStyle:'padding:5px;',
                layout : 'fit',
                closeAction: 'hide',
                autoDestroy:true,
                defaultType: 'textfield',
                plain: true,
                modal:true,
                title  : 'Agregar Accesorios',
                items  : [ cit.formModal ]
            });
            return winModal;
	
        }
	
	
    </script>
</div>