<div class="form_zoe">
    <div id="contiene" style="width:29%;" class="left_zoe"> </div>
    <div id="bodyform" style="width: 69%;" class="left_zoe"></div>

</div>
<input type="hidden" name="save[]" id="save" value=""/>


<script type="text/javascript">
    cit.tih_id='';
    cit.Id ='';
    cit.storeCategoria=new Ext.data.Store({
        proxy:new Ext.data.HttpProxy({url:og.getUrl('mantenimiento-descripciones', 'json',{'case':'lista'},'cms')}),
        reader:new Ext.data.JsonReader({
            fields: [
                { name: 'des_id'},
                { name: 'des_nombre'},
                { name: 'des_estado'},
                { name: 'des_contenido'}

            ],
            root:'matches'
        }),
        autoLoad : true
    });




    cit.colModAula = new Ext.ux.grid.LockingColumnModel([
        //{dataIndex: 'cat_div', header: 'Div ', width: 80,css:'background-color: #FFF;'},
        {dataIndex: 'des_estado', header: 'Est.', width: 30,align:'center',
            renderer: function(v, params, record){
                switch(v){
                    case '0':return '<img title="Oculto" src="'+og.domainName+'/assets/themes/default/images/16x16/wscolors/color6.png" width="13px"></img>';break;
                        case '1': return '<img title="Activo" src="'+og.domainName+'/assets/themes/default/images/16x16/wscolors/color11.png" width="13px"></img>';break;
                        }
                    }   
                },
                {dataIndex: 'des_nombre', header: 'Descp', width: 170},
		
            ]);
            var categoriesPagingBar = new Ext.PagingToolbar( {
                pageSize: 400,
                displayInfo: false,
                store: cit.storeCategoria
            });  

            cit.gridPrin = new Ext.grid.GridPanel({
                store: cit.storeCategoria,
                colModel: cit.colModAula,
                bodyStyle:'border:0px;border-top:solid 1px #ccc;',
                width:'100%',
                height:380,
                stripeRows: true,
                columnLines: true,
                loadMask: true,
                //bbar: categoriesPagingBar,
                loadMask: true,
                viewConfig: { forceFit: true }
            });
 

 
            cit.gridPrin.on('rowdblclick', function(e,i,j){//listening for the grid's 'validateedit' event
                cit.recordCliente = cit.storeCategoria.getAt(i);
                cit.recordCliente.data.action = 'edit';
                cit.recordCliente.data.des_cod = cit.recordCliente.data.des_id;
                Ext.getCmp('des_id').setDisabled(true);
                cit.formPrincipal.form.reset();
                cit.formPrincipal.form.loadRecord(cit.recordCliente);
            });



            cit.gridPrin.on('cellclick', function(e,i,j){//listening for the grid's 'validateedit' event
                cit.recordId = cit.storeCategoria.getAt(i);
                cit.Id = true;
    
            });

            cit.gridPrin.render('contiene');
            cit.suEstado = <?php echo $this->suestado; ?>


            cit.itemsFormTabPrincipal = [
                {
                    xtype: 'fieldset',
                    title: 'Información Básica',
                    collapsible: true,
                    items: [
                        {xtype:'hidden',name:'action',value:'add',id:'action'},
                        {xtype:'hidden',name:'des_cod',id:'des_cod'},            

                        {xtype:'textfield',name:'des_id',id:'des_id',fieldLabel:'Código ',width: 100},
                        {xtype:'textfield',name:'des_nombre',fieldLabel:'Nombre ',width: 180},
                        {xtype:'htmleditor',name:'des_contenido',fieldLabel:'Descripción ', blankText: 'Ingrese una Descipción… ',height: 220,width:310, anchor: '100%'},
                        {xtype:"compositefield",fieldLabel:"Estado",combineErrors:false,
                            items:[
                                {"name":"des_estado","xtype":"combo","width":230,allowBlank: false,hiddenName:"des_estado",displayField:"state",valueField:"des_estado", 
                                    mode:"local",value:'1' ,store:cit.suEstado,triggerAction:"all",forceSelection:true,resizable:true,emptyText:'Estado...',editable:false}
                            ]}
                    ]
                }
            ]; //cit.formPrincipal 
            /**/
            /*********************************************************************************************/

            /***********************************************************************************************/
            cit.tabsCliente = new Ext.TabPanel({   
                width:'100%',
                activeTab: 0,
                deferredRender:false,
                border:false,
                layoutOnTabChange : true, 
                defaults:{autoHeight: true},
                items:
                    [
                    {
                        title:'Datos Principales',
                        items:[cit.itemsFormTabPrincipal]
                    }
                ]
            });


            cit.formPrincipal = new  Ext.form.FormPanel({
                renderTo: 'bodyform',
                name: cit.itemsFormTabPrincipal,
                autoHeight:true,
                width:"100%",
                bodyStyle: "padding-left: 5px;padding-right: 5px;border:0px",
                defaults: {anchor:0},
                items:
                    [ cit.tabsCliente ]

            });

            cit.formPrincipal.render('bodyform');

            function saveFormData(){
                if (cit.formPrincipal.form.isValid()) {
                    cit.formEnvio = cit.formPrincipal.form.getValues();	    
                    og.openLink(og.getUrl('mantenimiento-descripciones','ajax',{'case':'save'},'cms'), {
                        hideLoading: false,
                        preventPanelLoad: true, 
                        post:cit.formEnvio,
                        hideErrors:false,
                        actions:cit.formPrincipal,
                        onSuccess:cit.loadForm                     
                    });
       
                }
            }

            cit.loadForm = function(){
                cit.gridPrin.store.load();
                var filtro = cit.formPrincipal.form.getValues();
                cit.Id='';
            } 

            cit.actionsConfig = function(cod,tabla){
                cit.formPrincipal.getForm().setValues({
                    action:'edit',
                    tih_id: cod, 
                    tih_id_id:cod
                });
            }

            function deleteFormData(){
                if(cit.gridPrin.getSelectionModel().getSelected()){
                    cit.records = cit.gridPrin.getSelectionModel().getSelected();
            
                    og.openLink(og.getUrl('mantenimiento-descripciones','ajax',{'case':'delete'},'cms'), {
                        hideLoading: false,
                        preventPanelLoad: true, 
                        post:{'id':cit.records.data.des_id},
                        hideErrors:false,
                        onSuccess:cit.loadClienteDelete                     
                    });
                }else{
                    alertExtjs('CIT', 'Eliminar-Debe seleccionar un registro..');
                }
            }
            cit.loadClienteDelete=function(){
                cit.gridPrin.store.load();
                cit.formPrincipal.form.reset(); 
            }



            function newFormData(){
                cit.formPrincipal.form.reset();
                Ext.getCmp('des_id').setDisabled(false);
                cit.formPrincipal.getForm().setValues({
                    action:'add',
                    des_cod: '',
                    des_id: '',
                    des_contenido: '',
                    des_estado: '1'
                }); 

            }

</script>