<?php 
	$redirect = Zend_Controller_Action_HelperBroker::getStaticHelper('Redirector');
	$interno = $redirect->getRequest()->getParam('interno',0);
	$tih_id = $redirect->getRequest()->getParam('tih',0);
?>
<div class="main-qphotels-360">
    <div class="enjoy-360">
        <div class="enjoy-content">
            <div class="enjoy-logo">
                <a href="<?php echo $this->htmlIndex()->urlSite();?>">
                    <img src="<?php echo $this->htmlIndex()->img()?>/hotel/images/enjoy-logo.png"/></a>
            </div>
            <div class="enjoy-menu">
                <ul class="hover_block">
                    <?php echo $this->htmlIndex()->menu_publicacion('categoria');?>
                </ul>
            </div>
        </div>
        <div class="enjoy-imagen" id="s1">
            <?php echo $this->htmlIndex()->interno_imagen($interno,$tih_id);?>
        </div>
    </div>
    <div class="reserva-qp-360">
            <div class="welcome-360">
                <p class="welcome-letra-360-dis"><?php echo $this->interno['cat_titulo']?> !</p>
                <p class="welcome-parrafo-360-dis">
                    <?php echo $this->interno['cat_desc']?>
                </p>
                <ul class="list-reserva-dis">
                    <?php echo $this->htmlIndex()->SEWE_lita($tih_id,$interno);?>
                </ul>	
            </div>						
            <div class="content-form10">
                <fieldset class="dlinline">
                    <div class="w100">
                        <div class="best_rate-360">
                            <p>best onling rates <span class="mayu-rate">GUARANTEED</span></p>
                        </div>								
                    </div>
                </fieldset>
            </div>	
    </div>
</div>
<div class="main-promocion-360">
    <div class="main-promocion-360-content">
        <h3><?php echo @$this->habitacion['tih_desc'];?></h3>
        <p>
            <?php echo @$this->habitacion['tih_coment'];?>
        </p>
    </div>
</div>	