<div class="form_zoe">
    <div id="contiene" class="left_zoe" style="width:30%"></div>
    <div id="bodyform" class="left_zoe" style="width:69%; margin-top:5px;"></div>
</div>
<input type="hidden" name="save[]" id="save" value=""/>


<script>
    cit.tih_id='';
    cit.records ='';
    cit.dataPost = {}
    cit.storePrin=new Ext.data.Store({
        proxy:new Ext.data.HttpProxy({url:og.getUrl('mantenimiento-tipo-habitacion', 'json',{'case':'tipo'},'habitacion')}),
        reader:new Ext.data.JsonReader({
            fields: [{ name: 'tih_id'},
                { name: 'tih_desc', type: 'string'},
                { name: 'tih_abr'},{ name: 'tih_coment'},
                { name: 'tih_orden', type: 'int'},
                { name: 'tih_estado'},
                { name: 'tih_id_id'},
             
            ],
            root:'matches'
        })
    });

    var storeImage = new Ext.data.JsonStore({
        url: og.getUrl('mantenimiento-tipo-habitacion', 'json',{'case':'imagen'},'habitacion'),
        root: 'images',
        fields: ['name', 'url', {name:'size', type: 'float'}, {name:'lastmod', type:'date', dateFormat:'timestamp'}, 'im_id']
    });
    //cit.storePrin.load();

    cit.colTipoHab = new Ext.ux.grid.LockingColumnModel([
        {dataIndex: 'tih_estado', header: 'Est', width: 30,
            renderer: function(v, params, record){
                switch(v){
                    case 0:return '<img title="Oculto" src="'+og.domainName+'/assets/themes/default/images/16x16/wscolors/color6.png" width="13px"></img>';break;
                        case 1:return '<img title="Activo" src="'+og.domainName+'/assets/themes/default/images/16x16/wscolors/color11.png" width="13px"></img>';break;
                        }
                    }   
                },
        {dataIndex: 'tih_orden', header: 'Oden ', width: 50,align:'center', sortable : true},
        {dataIndex: 'tih_desc', header: 'Nombre', width: 170, sortable : true},
    ]);
    var categoriesPagingBar = new Ext.PagingToolbar( {
        pageSize: 500,
        displayInfo: false,
        store: cit.storePrin
    });  

    cit.gridPrin = new Ext.grid.EditorGridPanel({
        store: cit.storePrin,
        colModel: cit.colTipoHab,
        clicksToEdit: 1,
        bodyStyle:'border:0px;border-top:solid 1px #ccc;',
        width:'100%',
        height:330,
        stripeRows: true,
        columnLines: true,
        loadMask: true,
        bbar: categoriesPagingBar,
        loadMask: true,
        sm: new Ext.grid.RowSelectionModel({
            singleSelect: true
        }),
        viewConfig: { forceFit: true }
    });

    storeImage.on('load', function(s, r) { 
        og.hideLoading();
    }) 

    cit.gridPrin.on('rowdblclick', function(e,i,j){//listening for the grid's 'validateedit' event
        og.loading();
        cit.recordCliente = cit.storePrin.getAt(i);
        cit.tih_id = cit.recordCliente.data.tih_id;
        cit.recordCliente.data.action = 'edit';
        cit.formPrin.form.reset();
        cit.formPrin.form.loadRecord(cit.recordCliente); 
        storeImage.load({params:{'tih_id':cit.recordCliente.data.tih_id,'su_id': '00000001'}});    

    });

    //cit.gridPrin.render('contiene');
    cit.suEstado = <?php echo $this->suestado; ?>

        cit.itemsFormTabPrincipal = [
            {
                xtype: 'fieldset',
                title: 'Información Básica',
                collapsible: true,
                items: [
                    {xtype:'hidden',name:'action',value:'add',id:'action'},
                    {xtype:'hidden',name:'tih_id',id:'tih_id'},            

                    {xtype:"compositefield",fieldLabel:"Código",combineErrors:false,
                        items:[{"name":"tih_id_id",id:"tih_id_id","xtype":"textfield","width":230,maxLength:16,value:'<?php echo $this->idtipo; ?>',disabled:true}
                        ]
                    }, 
                    {xtype:"compositefield",fieldLabel:"Nombre",combineErrors:false,
                        "items":[{name:"tih_desc","xtype":"textfield","width":230,"allowBlank":false,maxLength:32
                                /* ,listeners:{
                              change: function(field, newValue, oldValue){
                                   field.setValue(newValue.toUpperCase());
                              }}*/
                            }
                        ]
                    },
                    {xtype:'htmleditor',name:'tih_coment',fieldLabel:'Descrip', blankText: 'Ingrese una Descipción… ',height: 135,width:310, anchor: '100%'},
                    {xtype:'textfield',name:'tih_abr',fieldLabel:'Abrev ',width: 100},
                    {xtype:'numberfield',name:'tih_orden',fieldLabel:'Orden ',width: 100},
                    {xtype:"compositefield",fieldLabel:"Estado",combineErrors:false,
                        items:[
                            {"name":"tih_estado","xtype":"combo","width":230,allowBlank: false,hiddenName:"tih_estado",
                                displayField:"state",valueField:"tih_estado",mode:"local",value:'1' ,store:cit.suEstado,
                                triggerAction:"all",forceSelection:true,resizable:true,emptyText:'Estado...',editable:false}
                        ]
                    } 
                ]
            }
        ]; //cit.formPrin 
    /**/
    /*********************************************************************************************/
    var tpl = new Ext.XTemplate(
        '<tpl for="." style="float:left;" >',
        '<div class="thumb" style="float:left;margin:4px;"><img src="{url}" title="{name}">',
        '<input type="checkbox" id="{im_id}" title="Eliminar"> ',
        '</div>',
        '</tpl>',
        '<div class="x-clear"></div>'
    );
    cit.cboSucursal = <?php echo $this->cboSucursal;?>;
    
    cit.changeSucursal = {
        select: function(combo, record, index){
            var records = cit.gridPrin.getSelectionModel().getSelected();
            storeImage.load({params:{'tih_id': records.data.tih_id,'su_id':record.data.su_id}});
        }
    };
    
    var panel = new Ext.Panel({
        width:'100%',
        autoHeight:true,
        bodyStyle:'padding:10px;',
        items:[
            {xtype:"compositefield",fieldLabel:"Estado",combineErrors:false,style:'margin-bottom: 6px',
                items:[
                   {name:'su_id',id:'su_id',xtype:'combo',width:230,allowBlank: false,hiddenName:'su_id',displayField:'state', 
                    valueField:'su_id',mode:'local',store:cit.cboSucursal,triggerAction:"all",forceSelection:true,
                    resizable:true,emptyText:'Sucursal...',editable:false,value:'00000001',listeners:cit.changeSucursal
                    }
                ]
            },
            {"xtype":"compositefield","fieldLabel":"Imagen","combineErrors":false,
                "items":[
                    {
                        xtype: 'fileuploadfield',
                        emptyText: 'Seleccionar Imagen',
                        name: 'imgtipo',
                        buttonText: '',
                        id: 'imgtipo',
                        buttonCfg: {
                            iconCls: 'upload-icon'
                        },
                        "width":160
                    }
                ]
            },
            new Ext.DataView({
                store: storeImage,
                tpl: tpl,
                autoHeight:true,
                multiSelect: true,
                overClass:'x-view-over',
                itemSelector:'div.thumb-wrap',
                emptyText: 'No images to display',

                plugins: [
                    new Ext.DataView.DragSelector(),
                    new Ext.DataView.LabelEditor({dataIndex: 'name'})
                ],

                prepareData: function(data){
                    data.shortName = Ext.util.Format.ellipsis(data.name, 20);
                    return data;
                }
            })
        ],
        buttons: [{
                text:'Cargar Imagen',
                handler: function(){
                    if($('#imgtipo').attr('value') != 'Seleccionar Imagen' && $('#imgtipo').attr('value')){
                        og.loading();
                        setTimeout(function() {
                            storeImage.load({params:{'tih_id':Ext.getCmp('tih_id').getValue(),'su_id':Ext.getCmp('su_id').getValue()}});
                            og.hideLoading();
                            $('#imgtipo').attr('value','');
                        }, 3000);

                        cit.formPrin.getForm().submit();
                    }
                }
            },
            {
                text:'Eliminar',
                handler: function(){
                    dataPost = {};
                    cit.dataPost.imgids = '';
                    cit.dataPost.tih_id = cit.tih_id;
                    var obj = Ext.select('input[type=checkbox]').elements;
                    for (i=0; i<obj.length; i++) {
                        if (storeImage.findExact('im_id',obj[i].id) > -1 && obj[i].checked) {
                            //alert(obj[i].id);
                            cit.dataPost.imgids = cit.dataPost.imgids + "'" + obj[i].id + "',";
                        }
                    }
                    //alert(cit.dataPost.imgids);
                    //cit.dataPost.su_id = cit.su_id;
                    //cit.dataPost.cat_id = cit.cat_id;
                    //cit.dataPost.art_id = cit.art_id;
                    cit.dataPost.imgids = cit.dataPost.imgids.substr(0,cit.dataPost.imgids.length - 1);
                    if (cit.dataPost.imgids != ''){
                        Ext.Msg.confirm('Alerta', '¿Está Ud. seguro de eliminar las imágenes seleccionadas?', function(btn, text){
                            if (btn == 'yes'){
                                og.openLink(og.getUrl('mantenimiento-tipo-habitacion', 'ajax',{'case':'delImgTipHab'},'habitacion'), {
                                    hideLoading: true,
                                    hideErrors: true,
                                    preventPanelLoad: true, 
                                    post: cit.dataPost,
                                    onSuccess:cit.updateStoreImages
                                });

                            }
                        });
                    }else{
                        Ext.Msg.alert('Aviso','Debe seleccionar al menos una imagen para eliminar')
                    }
                }
            }
        ]
    });

    cit.updateStoreImages = function(){
        storeImage.load({params:{'tih_id':Ext.getCmp('tih_id').getValue(),'su_id':Ext.getCmp('su_id').getValue()}});
    }
            /***********************************************************************************************/
    cit.tabsCliente = new Ext.TabPanel({   
        width:'100%',
        activeTab: 0,
        deferredRender:false,
        border:false,
        layoutOnTabChange : true, 
        defaults:{autoHeight: true},
        items:
            [{
                title:'Datos Principales',
                items:[cit.itemsFormTabPrincipal
            ]},
            {
                title:'Imagenes',
                items:[panel]
            }
        ]
    });


    cit.formPrin = new  Ext.form.FormPanel({
        fileUpload: true,
        url:og.getUrl('mantenimiento-tipo-habitacion','ajax',{'case':'saveimage'},'habitacion'),
        renderTo: 'bodyform',
        name: cit.itemsFormTabPrincipal,
        autoHeight:true,
        width:"100%",
        bodyStyle: "padding-left: 5px;padding-right: 5px;border:0px",
        defaults: {anchor:0},
        items:
            [ cit.tabsCliente ]
    });

    cit.formPrin.render('bodyform');

    cit.storeCat = <?php echo $this->cboCategory; ?>;

    cit.changeTipo = {
        select: function(combo, record, index){
            cit.gridPrin.store.load({params: {'cat_id': record.data.cat_id}});
            storeImage.load({params:{tih_id: ''}});

        }
    };

    cit.formSecun = new  Ext.form.FormPanel({
        renderTo: 'contiene',
        name:'formDcto',
        autoHeight:true,
        bodyStyle:"border:0px",
        width:"98%",
        labelWidth: 80,
        defaults:{"anchor":0},
        items : [
            {xtype:'combo', width:120,mode:'local',triggerAction:'all',forceSelection:true,fieldLabel:'Divisiones ',editable:false,name:'cat_id',emptyText:'- Dptos -',
                hiddenName:'cat_id',displayField:'state',valueField:'cat_id',store: cit.storeCat,listeners:cit.changeTipo
            },
            { items : [cit.gridPrin]}

        ]
    });

    function saveFormData(){
        if (cit.formPrin.form.isValid()) {
            cit.formEnvio = cit.formPrin.form.getValues();
            filtro = cit.formSecun.form.getValues();
            cit.formEnvio.cat_id = filtro.cat_id;
            og.openLink(og.getUrl('mantenimiento-tipo-habitacion','ajax',{'case':'save'},'habitacion'), {
                hideLoading: false,
                preventPanelLoad: true, 
                post:cit.formEnvio,
                hideErrors:false,
                actions:cit.formPrin,
                onSuccess:cit.loadTipo                     
            });

        }
    }

    cit.loadTipo = function(){
        filtro = cit.formSecun.form.getValues();
        cit.gridPrin.store.load({params: {'cat_id': filtro.cat_id}});
    } 

    cit.actionsConfig = function(cod,tabla){
        cit.formPrin.getForm().setValues({
            action:'edit',
            tih_id: cod, 
            tih_id_id:cod
        });
    }

    function deleteFormData(){

        if( cit.gridPrin.getSelectionModel().getSelected()){
            cit.records = cit.gridPrin.getSelectionModel().getSelected();
            Ext.MessageBox.confirm('Confirm', 'Desea eliminar el registro seleccionado?', confirmDelete);
        }else
            alertExtjs('CIT', 'Eliminar-Debe Haber al menos un registro seleccionado..');

    }

    function confirmDelete(btn){
        if(btn == 'yes'){
            og.openLink(og.getUrl('mantenimiento-tipo-habitacion','ajax',{'case':'delete'},'habitacion'), {
                hideLoading: false,
                preventPanelLoad: true, 
                post:{'tih_id': cit.records.data.tih_id},
                hideErrors:false,
                onSuccess:cit.loadClienteDelete    
            });
        }
    }

    cit.loadClienteDelete=function(){
        filtro = cit.formSecun.form.getValues();
        cit.gridPrin.store.load({params: {'cat_id': filtro.cat_id}});
        cit.formPrin.form.reset(); 
    }



    function newFormData(){
        cit.formPrin.form.reset();
        $.getJSON(og.getUrl('mantenimiento-tipo-habitacion', 'json',{'case':'newtipo'},'habitacion'),{},function(data){
            cit.formPrin.getForm().setValues({
                action:'add',
                tih_id: data.tih_id,
                tih_id_id: data.tih_id
            }); 
        });
    }

</script>