<?php header("Content-Type: text/html; charset=utf-8", true); ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
    <head>
        <!-- script src="http://www.savethedevelopers.org/say.no.to.ie.6.js"></script -->
        <title>Admin QP Hotels - Cit </title>

        <link rel="alternate" type="application/rss+xml" title="<?php //echo clean(owner_company()->getName())  ?> RSS Feed" href="<?php // echo logged_user()->getRecentActivitiesFeedUrl()  ?>" />
        <link rel="stylesheet" type="text/css" href="<?php echo $this->htmlHead()->urlSite(); ?>/assets/javascript/extjs/shared/icons/silk.css" />
        <link rel="stylesheet" type="text/css" href="<?php echo $this->htmlHead()->urlSite(); ?>/assets/themes/default/stylesheets/website.css" />
        <link rel="stylesheet" type="text/css" href="<?php echo $this->htmlHead()->css(); ?>/karito.css" />

    <ins></ins><!-- <link rel="stylesheet" type="text/css" href="<?php echo $this->htmlHead()->js(); ?>/ext-3.3.1/resources/css/ext-all.css" /> -->
        <link rel="stylesheet" type="text/css" href="<?php echo $this->htmlHead()->js(); ?>/ext-3.3.1/examples/ux/css/LockingGridView.css" />
        <link rel="stylesheet" type="text/css" href="<?php echo $this->htmlHead()->js(); ?>/ext-3.3.1/examples/ux/css/ColumnHeaderGroup.css" />
        <style>
            .upload-icon {
                background: url('<?php echo $this->htmlHead()->img(); ?>/icons/fam/image_add.png') no-repeat 0 0 !important;
            }
        </style>

    </head>
    <body id="body" <?php // echo render_body_events()  ?>>
        <link rel="stylesheet" type="text/css" href="<?php echo $this->htmlHead()->js(); ?>/ext-3.3.1/examples/ux/fileuploadfield/css/fileuploadfield.css"/>
        <link rel="stylesheet" type="text/css" href="<?php echo $this->htmlHead()->js(); ?>/ext-3.3.1/examples/ux/css/Portal.css"/>

        <link rel='stylesheet' type='text/css' href='<?php echo $this->htmlHead()->js(); ?>/fullcalendar/fullcalendar.css' />
        <link rel='stylesheet' type='text/css' href='<?php echo $this->htmlHead()->js(); ?>/fullcalendar/fullcalendar.print.css' media='print' />
        <script language="javascript" src="<?php echo $this->htmlHead()->js(); ?>/jquery/jquery-1.5.2.min.js"></script>
        <script language="javascript" src="<?php echo $this->htmlHead()->js(); ?>/jquery/jquery-ui-1.8.11.custom.min.js"></script>
        <script type='text/javascript' src='<?php echo $this->htmlHead()->js(); ?>/fullcalendar/fullcalendar.min.js'></script>

        <script type="text/javascript" src="<?php echo $this->htmlHead()->urlSite(); ?>/assets/javascript/app.js"></script>
        <script type="text/javascript" src="<?php echo $this->htmlHead()->js(); ?>/ext-3.3.1/adapter/ext/ext-base.js"></script>
        
        <script type="text/javascript" src="<?php echo $this->htmlHead()->js(); ?>/extjs.js"></script>
        
        <script type="text/javascript" src="<?php echo $this->htmlHead()->js(); ?>/ext-3.3.1/examples/ux/CheckColumn.js"></script>
        <script type="text/javascript" src="<?php echo $this->htmlHead()->js(); ?>/ext-3.3.1/examples/ux/ColumnHeaderGroup.js"></script>
        <script type="text/javascript" src="<?php echo $this->htmlHead()->js(); ?>/ext-3.3.1/examples/ux/LockingGridView.js"></script>
        <script type="text/javascript" src="<?php echo $this->htmlHead()->js(); ?>/ext-3.3.1/examples/ux/DataView-more.js"></script>


        <script type="text/javascript" src="<?php echo $this->htmlHead()->js(); ?>/ext-3.3.1/examples/ux/Portal.js"></script>
        <script type="text/javascript" src="<?php echo $this->htmlHead()->js(); ?>/ext-3.3.1/examples/ux/PortalColumn.js"></script>
        <script type="text/javascript" src="<?php echo $this->htmlHead()->js(); ?>/ext-3.3.1/examples/ux/Portlet.js"></script>
        <script type="text/javascript" src="<?php echo $this->htmlHead()->js(); ?>/ext-3.3.1/examples/ux/SearchField.js"></script>

        <?php echo $this->htmlHead()->getJs(); ?>

        <script type="text/javascript" src="<?php echo $this->htmlHead()->js(); ?>/scriptGral.js"></script>
        <script type="text/javascript" src="<?php echo $this->htmlHead()->urlSite(); ?>/FusionCharts/FusionCharts.js"></script>
        <script type="text/javascript" src="<?php echo $this->htmlHead()->js(); ?>/ext-3.3.1/examples/ux/fileuploadfield/FileUploadField.js"></script>

        <div id="loading">
            <img src="<?php echo $this->htmlHead()->getImageUrl(); ?>/layout/loading.gif" width="32" height="32" style="margin-right:8px;" align="absmiddle"/>
                ...
        </div>

        <div id="subWsExpander" onmouseover="clearTimeout(og.eventTimeouts['swst']);" 
             onmouseout="og.eventTimeouts['swst'] = setTimeout('og.HideSubWsTooltip()', 2000);" style="display:none;top:10px">
        </div>

        <!-- header -->
        <div id="header">
            <div id="headerContent">
                <table><tr><td style="width:60px">
                    <div id="logodiv"></div></td><td>
                    <div id="wsCrumbsWrapper"><table><tr><td><div id="wsCrumbsDiv"><div style="font-size:150%;display:inline;">
                            <a href="#" style="display:inline;line-height:28px" onmouseover="og.expandSubWsCrumbs(0)"><?php //echo lang('all')  ?></a></div></div></td>
                        <td><div id="wsTagCrumbs"></div></td></tr></table>
                    </div>
                </td></tr></table>
                <!-- login -->
                <div id="userboxWrapper"><div id="userbox">
                        Welcome back <strong><?php echo $this->login; ?></strong> (<a href="<?php echo $this->htmlHead()->urlSiteSubdomain(); ?>/close">Logout</a>) :		 
                        <a class="internalLink" target="administration" href="http://localhost/opengoo/index.php?c=administration&a=index"><?php echo $this->tipdesc; ?></a> |
                        <a class="internalLink" target="account" href="<?php echo $this->htmlHead()->urlSiteSubdomain() ?>/resource/cuenta/"></a> |
                        <a href="javascript:og.showHelp()">Help</a>		
                    </div>
                </div>
                <!-- end login -->
                <div id="searchbox">
                    <form class="internalForm" action="<?php //echo ROOT_URL . '/index.php'  ?>" method="get">
                        <input type="hidden" id="controllername" value="" />
                        <input type="hidden" id="actionname" value="" />
                            <table><tr><td>

                                    </td><td id="searchboxSearch">
                                        <select disabled="disabled" id="su_ide" onchange="cit.selectsucursal(this)" style="margin-right:10px;">
                                            <?php echo $this->sucursal ?>
                                        </select>                
                                        <select id="id_ids" onchange="cit.selectIdioma(this)" style="margin-right:20px;">
                                            <?php echo $this->idioma ?>
                                        </select>

                                    </td></tr>
                            </table>
                        <input type="hidden" name="c" value="search" />
                        <input type="hidden" name="a" value="search" />
                        <input type="hidden" name="current" value="search" />
                        <input type="hidden" id="hfVars" name="vars" value="dashboard" />
                    </form>
                </div>
                <?php // echo render_system_notices(logged_user()) ?>
            </div>
        </div>
                                <!-- /header -->

                                <!-- footer -->
        <div id="footer" style="height: 1px;padding-left: 10px;margin-right: 30px;background: #fff;">

        </div>
                                <!-- /footer -->
    </body>
</html>

<script>
    // OG config options
    og.pageSize = 50;
    og.module = 'cms';
    og.notaNAprovatoria = 11;
    og.notaNMax = 20;
    og.subdomainName = '<?php echo $this->htmlHead()->urlSiteSubdomain() ?>';
    og.timeFormat24 = 0;
    og.hostName = '<?php echo $this->htmlHead()->urlSiteSubdomain() ?>';
    og.domainName = '<?php echo $this->htmlHead()->urlSite() ?>';
    og.maxUploadSize = 2097152;
    og.rememberGUIState = 0;
    og.initialWorkspace = '1';
    og.initialURL = '<?php echo $this->htmlHead()->urlSiteSubdomain() ?>/cms/index/json/case/form';
    og.loggedUser = {
    id: 1,
    username: "<?php echo $this->login ?>",
    displayName: "<?php echo $this->penomcomp ?>",
    isAdmin: true};
    og.hasNewVersions = "Bienvenidos al Administrador de Open Hotel";
    og.enableNotesModule = 0;
    og.enableEmailModule = 0;
    og.enableContactsModule = 0;
    og.enableCalendarModule = 0;
    og.enableDocumentsModule = 0;
    og.enableTasksModule = 0;
    og.enableWeblinksModule = 0;
    og.enableTimeModule = 0;
    og.enableReportingModule = 0;
    og.daysOnTrash = 30;
    Ext.Ajax.timeout = 33000;

    cit.logo = '<?php echo $this->imgimg1; ?>';
    //og.panels.reporting.setTitle('joder');

    $('#logodiv').html('<img src="'+cit.logo+'" width="40px" height="40px"/>');

    //var quickAdd = new og.QuickAdd({renderTo:'quickAdd'});

    /*setInterval(function() {
og.openLink(og.getUrl('index', 'load'), {
hideLoading: true,
hideErrors: true,
preventPanelLoad: true
});
}, 60000);
    */
</script>
<script>
    Ext.apply(Ext.form.VTypes, {
        password : function(val, field) {
            if (field.initialPassField) {
                var pwd = Ext.getCmp(field.initialPassField);
                return (val == pwd.getValue());
            }
            return true;
        },
        passwordText : 'Son diferentes los Pass..'
    });

    cit.storeIdiomai = new Ext.data.JsonStore({
        fields : ['estado'],
        url: og.getUrl('index','json',{'case':'idioma'},'cms'),
        root: 'matches'
    });

    cit.selectIdioma=function(id){
        cit.storeIdiomai.load({params: {'id_id': id.value}});
        //location.href='/cms/';
        cit.storeIdiomai.on('load', function(s, r) { 
            location.href='/cms';
        });
    }

    cit.storeBonus = new Ext.data.JsonStore({
        fields : ['bo_dolar','bo_puntos'],
        url: og.getUrl('index','json',{'case':'bonus'},'cms'),
        root: 'matches'
    });

    cit.winDolar = '';
    cit.loadFormsDolar = function(){
        cit.winDolar.hide();
    }

    //Pundos Por Dolar
    function puntosDolar(){
        cit.winDolar = '';
        //-------------
        cit.formPuntos = new  Ext.form.FormPanel({
            autoHeigh:true,
            width:"100%",
            bodyStyle:"padding: 5px",
            labelWidth: 68,
            plain:true,
            defaults:{"anchor":0},//autoCreate: {tag: "input", type: "text", autocomplete: "off", maxlength: 10 },
            items:[
                {xtype:"fieldset",title:'Password',
                items:[
                    {xtype:'numberfield',name:'bo_dolar',fieldLabel:'Dolar ',allowBlank:false,width: 100},
                    {xtype:'numberfield',name:'bo_puntos',fieldLabel:'Puntos ',allowBlank:false,width: 100}
                ]}

            ]
        });

        cit.storeBonus.load({callback:function(r){
            Ext.each(r, function(record) {
                cit.formPuntos.form.loadRecord(record);
            });
        }});

    cit.winDolar = new Ext.Window({
        width: 265,
        height:180,
        minWidth: 200,
        minHeight: 110,
        layout : 'fit',
        closeAction: 'hide',
        autoDestroy:true,
        plain: true,
        modal:true,
        defaultType: 'textfield',
        title  : 'Asignar Puntos por Dolar',
        items  : [ cit.formPuntos ],
        buttons: [{
            text:'Guardar',
            handler: function(){
                if (cit.formPuntos.form.isValid()) {
                    cit.formSave = cit.formPuntos.form.getValues();
                    og.openLink(og.getUrl('index','ajax',{'case':'saveBonus'},'cms'), {
                        hideLoading: false,
                        hideErrors: false,
                        preventPanelLoad: true, 
                        post: cit.formSave,
                        onSuccess:cit.loadFormsDolar
                    });
        //cit.hide();
                }   	
            }
            },{
            text: 'Close',
                handler: function(){
                    cit.formPuntos.form.reset();
                    cit.winDolar.destroy();
                    cit.winDolar.hide();
                }
            }]
        });
        cit.winDolar.show();

    }


    function cambiarPassword(){
        cit.winDolar = '';
    //-------------
        cit.formPuntos = new  Ext.form.FormPanel({
            autoHeigh:true,
            width:"100%",
            bodyStyle:"padding: 5px",
            labelWidth: 68,
            plain:true,
            defaults:{"anchor":0},//autoCreate: {tag: "input", type: "text", autocomplete: "off", maxlength: 10 },
            items:[
                {xtype:"fieldset",title:'Password',
                items:[
                    {xtype:'textfield',name:'us_pass',fieldLabel:'Actual ',allowBlank:false,width: 100}
                ]},
                {xtype:"fieldset",title:'Password',
                items:[
                    {inputType: 'password',xtype:'textfield',vtype: 'password',name:'us_password',id:'us_password',fieldLabel:'Nuevo ',allowBlank:false,width: 100},
                    {inputType: 'password',xtype:'textfield',vtype: 'password',name:'pass-cfrm',fieldLabel:'Repita ',allowBlank:false,width: 100,initialPassField: 'us_password'}
                ]}
            ]
        });

        cit.winDolar = new Ext.Window({
            width: 265,
            height:250,
            minWidth: 200,
            minHeight: 110,
            layout : 'fit',
            closeAction: 'hide',
            autoDestroy:true,
            plain: true,
            modal:true,
            defaultType: 'textfield',
            title  : 'Cambiar el Password',
            items  : [ cit.formPuntos ],
            buttons: [{
                text:'Guardar',
                handler: function(){
                    if (cit.formPuntos.form.isValid()) {
                        cit.formSave = cit.formPuntos.form.getValues();
                        og.openLink(og.getUrl('seguridad-usuario-password','ajax',{'case':'cambiar'},'seguridad'), {
                        hideLoading: false,
                        hideErrors: false,
                        preventPanelLoad: true, 
                        post: cit.formSave,
                        onSuccess:cit.loadFormsDolar
                    });
                    //cit.hide();
                    }   	
                }
                },{
                text: 'Close',
                handler: function(){
                    cit.formPuntos.form.reset();
                    cit.winDolar.destroy();
                    cit.winDolar.hide();
                }
            }]
        });
        cit.winDolar.show();
    }

    cit.loadForms = function(){
        cit.formPuntos.form.reset();
        cit.winDolar.hide();
    }

    cit.selectAnio=function(id){
        og.openLink(og.getUrl('asignacion-anio','ajax',{'case':'save'}),{
            hideLoading: false,
            hideErrors: false,
            preventPanelLoad: true,
            post:{an_id:$('#an_ids').attr('value')}
        });
    }
    cit.selectSistema=function(id){
        location.href='/'+id.value;
    }


</script>
