<div class="form_zoe">
	<div id="contiene" class="left_zoe" style="width:29%"></div>
    <div id="form" class="left_zoe" style="width:70%"></div>
</div>
<div id="jmike">
<input type="hidden" name="save[]" id="save" value=""/>    

<script>
//Declaracion de Variables
	cit.paginaSize = 400; var pages=1;
	cit.records = '';
	cit.storeSucur = <?php echo $this->sucursal;?>;

	//Tipo de Habitaciones ------------------------------------------- -+- //Primer Grid
	cit.fields =[
		{ name : 'lleva'},
		{ name : 'tih_id'},
		{ name : 'tih_estado'},
		{ name : 'tih_desc'},
		{ name : 'tih_stock'}
	];

	cit.proxy=new Ext.data.HttpProxy({
		//url:'/habitacion/asignacion-accesorio-tipo-hab/json/case/listaTipohab',
		url:og.getUrl('asignacion-accesorio-tipo-hab','json',{'case':'listaTipohab'},'habitacion'),
		method:'POST'
	});
	
	cit.reader=new Ext.data.JsonReader({
		fields: cit.fields, //['NEMO', 'nomcomp'],
		root:'matches'
	});
	
	cit.storePrin = new Ext.data.Store({
		proxy:cit.proxy,
		reader:cit.reader
		//autoLoad: {params:{start: 0, limit: 150}}
	});
	
	//store.load();
    cit.storePrin.load({params:{su_id:'<?php echo $this->suid?>'}})
	cit.columns =[ 
		{dataIndex: 'tih_estado', header: 'Est', width: 30,locked: true,align:'center',
			renderer: function(v, params, record){
                switch(v){
				    case 0:return '<img title="Oculto" src="'+og.domainName+'/assets/themes/default/images/16x16/wscolors/color6.png" width="13px"></img>';break;
                    case 1:return '<img title="Activo" src="'+og.domainName+'/assets/themes/default/images/16x16/wscolors/color11.png" width="13px"></img>';break;
				}
			}   
		
		},
		{dataIndex: 'tih_desc', header: 'Descripci&oacute;nes', width: 170,locked: true,align:'left'},
		{dataIndex: 'tih_stock', header: 'Stock', width: 60,locked: true,align:'center'}

	];
	
	cit.gridPrin = new Ext.grid.GridPanel({
		//renderTo: 'contiene',
		store: cit.storePrin,         
		columns: cit.columns,
		bodyStyle:'border:0px;border-top:solid 1px #ccc;',
		height:350, 
		frame: false,
		stripeRows: true,
		columnLines: true,
		trackMouseOver: true,
		sm: new Ext.grid.RowSelectionModel({	// Permite que al momento de selecciona un campo, se seleccione toda la fila
			singleSelect: true
		}),
        loadMask: true,
		viewConfig: { forceFit: true }
	});
	
	cit.gridPrin.on('rowdblclick', function(e,i,j){//listening for the grid's 'validateedit' event
		//og.loading();		
		cit.records = cit.storePrin.getAt(i);
		//alert(records.data.tih_id);
		cit.formPrin.getForm().setValues({
			tih_id : cit.records.data.tih_id
		});
		
		var filtro = cit.formPrin.getForm().getValues();
		cit.gridSecun.store.load({params: {'tih_id': cit.records.data.tih_id,'su_id':filtro.su_id}});
	});
	//Promociones ------------------------------------------- -+- //Segundo Grid
	cit.fieldSecun =[
		{ name : 'su_id'},{ name : 'tih_id'},
		{ name : 'tih_desc'},
		{ name : 'hb_capacidad'}
		<?php echo $this->grid['field'];?>
	];

	cit.proxySecun=new Ext.data.HttpProxy({
		//url:'/habitacion/asignacion-habitacion-tarifas/json/case/listaTarifas',
		url:og.getUrl('asignacion-habitacion-tarifas','json',{'case':'listaTarifas'},'habitacion'),
		method:'POST'
	});
	
	cit.readerSecun=new Ext.data.JsonReader({
		fields: cit.fieldSecun, //['NEMO', 'nomcomp'],
		root:'matches'
	});
	
	cit.storeSecun = new Ext.data.Store({
		proxy:cit.proxySecun,
		reader:cit.readerSecun
		//autoLoad: {params:{start: 0, limit: 150}}
	});

	
	cit.columnSecun =[ 
		{dataIndex: 'tih_desc', header: 'Descripci&oacute;n', width: 180,locked: true,align:'left'},
		{dataIndex: 'hb_capacidad', header: 'Capacidad', width: 80,locked: true,align:'center'}
		<?php echo $this->grid['column'];?>
		
	];
	
	cit.gridSecun = new Ext.grid.GridPanel({
		//renderTo: 'contiene',
		store: cit.storeSecun,         
		columns: cit.columnSecun,
		bodyStyle:'border:0px;border-top:solid 1px #ccc;',
		width:'100%',
		height:380, 
		frame: false,
		stripeRows: true,
		columnLines: true,
		trackMouseOver: true,
        loadMask: true,
		viewConfig: { forceFit: true },
		tbar: [
			{   
				text: 'Añadir',
				iconCls: 'silk-add',
				handler : function() {
					var filtro = cit.formPrin.getForm().getValues();
					cit.formModals = formModalTarifa(filtro.su_id,cit.records);
					cit.formModals.show();

				}
			}
			,{   text: 'Eliminar',
				iconCls: 'silk-delete',
				handler : function() {
					//
					
				}
			}
		]
	});
	
	
	//OnChange
	cit.changeSucursal = {
		select: function(combo, record, index){
			cit.gridPrin.store.load({params: {'su_id': record.data.su_id}});
			
		}
	};
	
	function confirmMessajeSecun(btn){
		if(btn == 'yes'){
			cit.saveFomsModal = cit.formPrin.form.getValues();
			var sd = smlista.getSelections();
			cit.saveFomsModal.grid = cadenaGrid(sd);
			
			og.openLink(og.getUrl('asignacion-habitacion-tarifas','ajax',{'case':'delPromoSucursal'},'habitacion'), {
				hideLoading: true,
				hideErrors: true,
				preventPanelLoad: true, 
				post: cit.saveFomsModal,
				onSuccess:cit.loadFormModal
			});
		}
	}
	
	cit.formPrin = new  Ext.form.FormPanel({
		renderTo: 'contiene',
		name:'formDcto',
		autoHeight:true,
		bodyStyle:"margin-left: 5px;padding-right: 3px;border:0px",
		//width:300,
		labelWidth: 80,
		defaults:{"anchor":0},
		items : [
			{xtype:'hidden',name:'tih_id'},
			{xtype:'combo', width:130,mode:'local',triggerAction:'all',forceSelection:true,fieldLabel:'Sucursal ',editable:false,name:'su_id',emptyText:'- Sucursal -',
				hiddenName:'su_id',displayField:'state',valueField:'su_id',store: cit.storeSucur,listeners:cit.changeSucursal,value:'<?php echo $this->suid?>'
			},
			{ items : [cit.gridPrin] }//gridSecun
		]
	});
	
	cit.formSecun = new  Ext.form.FormPanel({
		renderTo: 'form',
		name:'formDcto',
		autoHeight:true,
		bodyStyle:"border:0px",
		width:"98%",
		labelWidth: 80,
		defaults:{"anchor":0},
		items : [
			{ items : [cit.gridSecun]}

		]
	});
	
	//Asignar Tipo de Habitaciones
	function newFormData(){}
	
	function saveFormData(){}
	
	function deleteFormData(){}

	
	//Asignar Accesorios
	 cit.loadFormTarifa = function(){
		var filtro = cit.formPrin.getForm().getValues();
		cit.gridSecun.store.load({params: {'su_id': filtro.su_id,'tih_id':filtro.tih_id}});
		cit.formModal.form.reset();
		cit.formModals.hide();
	}
	
	//Asignar las Capacidades y los precios -------------------------------------------------------------- -+-
	//---------------------------------------------------------------------------------------------------- -+-
	
	// Modal para agregar las tarifas de cada tipo --------------------------------------------------- -+-
	function formModalTarifa(vSucursal,vrecord){
		
		// Tarficas D y F ----------------------------------------------------------------------------- -+-
		cit.storeCant = new Ext.data.SimpleStore(
			{fields: 
				['hb_capacidad', 'state'],
			data : [
				['1', '1'],['2', '2'],['3', '3'],['4', '4'],['5', '5'],['6', '6'],['7', '7']
			]
		});
		
		cit.storePrecio = new Ext.data.JsonStore({
			fields : <?php echo $this->form['fields'];?>,
			url: og.getUrl('asignacion-tarifa-tipo-hab','json',{'case':'precio'},'habitacion'),
			root: 'matches'
		});
		//OnChange
		cit.changeTarifa = {
			select: function(combo, record, index){
				var filtro = cit.formModal.getForm().getValues();
				if(record.data.hb_capacidad){
					cit.storePrecio.load({params: {'su_id': filtro.su_id,'tih_id': filtro.tih_id,'hb_capacidad': filtro.hb_capacidad}});//,'ta_id': filtro.ta_id
					cit.storePrecio.on('load', function(s, r) { 
						Ext.each(r, function(records) {
							cit.formModal.form.loadRecord(records);
						});
					});	
				}
			}
		};
		//Cargando Grids	
		var winModal;
		cit.formModal = new  Ext.form.FormPanel({
			autoHeigh:true,
			width:"100%",
			autoScroll : true,
			bodyStyle:"padding: 4px",
			labelWidth: 72,
			plain:true,
			defaults:{"anchor":0,border:0},//autoCreate: {tag: "input", type: "text", autocomplete: "off", maxlength: 10 },
			items:[
				{xtype:'hidden',name:'su_id',value : vSucursal},
				{xtype:'hidden',name:'tih_id',value : vrecord.data.tih_id},
				{xtype:"fieldset",title  : 'Asignar ',
				items:[
					/*{xtype:'combo', width:120,mode:'local',fieldLabel:'Tarifa ',triggerAction:'all',forceSelection:true,editable:false,name:'ta_id',emptyText:'- Tarifa -',
						hiddenName:'ta_id',displayField:'state',valueField:'ta_id',store: cit.storeTarifa,allowBlank:false,listeners: cit.changeTarifa
					},*/
					{xtype:'combo', width:120,mode:'local',fieldLabel:'Capacidad ',triggerAction:'all',forceSelection:true,editable:false,name:'hb_capacidad',emptyText:'- Capacidad -',
						hiddenName:'hb_capacidad',displayField:'state',valueField:'hb_capacidad',store: cit.storeCant,allowBlank:false,listeners: cit.changeTarifa
					}
				]},
				{xtype:"fieldset",title  : 'Precios',
				items:[
					/*{xtype:'textfield',name:'hb_precio',fieldLabel:'Lun-Viernes ',allowBlank:false,width: 100,style:'text-align:right;'},
					{xtype:'textfield',name:'hb_precio_f',fieldLabel:'Sab - Dom ',width: 100,style:'text-align:right;'}*/
					<?php echo $this->form['form'];?>
				]}
		],
		buttons: [{
			text:'Guardar',
			handler: function(){
				 if (cit.formModal.form.isValid()) {
					
					cit.saveFomsModal = cit.formModal.form.getValues();
		
					og.openLink(og.getUrl('asignacion-tarifa-tipo-hab','ajax',{'case':'savePrecio'},'habitacion'), {
						hideLoading: true,
						hideErrors: true,
						preventPanelLoad: true, 
						post: cit.saveFomsModal
						,onSuccess:cit.loadFormTarifa
					});
					//cit.hide();
				 }
			}
		},{
			text: 'Close',
			handler: function(){
				cit.formModal.form.reset();
				winModal.hide();
			}
		}]
	
		});


		winModal = new Ext.Window({
			width: 280,
			height:250,
			minWidth: 200,
			minHeight: 150,
			//bodyStyle:'padding:5px;',
			
			layout : 'fit',
			closeAction: 'hide',
			autoDestroy:true,
			defaultType: 'textfield',
			plain: true,
			modal:true,
			title  : vrecord.data.tih_desc,
			items  : [ cit.formModal ]
		});
		return winModal;
	}
</script>
</div>