<input type="hidden" name="save[]" id="save" value=""/>    
<div class="form_zoe">
	<div class="left_zoe" style="width:29%" id="contiene"></div>
	<div class="left_zoe"  style="width:70%" id="form"></div>
</div>
<div id="jmike">
<script>
//Declaracion de Variables
    
    Ext.QuickTips.init();
    Ext.form.Field.prototype.msgTarget = 'side';
    
    cit.fecha = '<?php echo $this->fecha;?>';
    cit.proFecIni = new Date;
    cit.proFecFin = new Date;
	
	Ext.apply(Ext.form.VTypes, {
		daterange : function(val, field) {
			var date = field.parseDate(val);
	
			if(!date){
				return false;
			}
			if (field.startDateField) {
				var start = Ext.getCmp(field.startDateField);
				if (!start.maxValue || (date.getTime() != start.maxValue.getTime())) {
					start.setMaxValue(date);
					start.validate();
				}
			}
			else if (field.endDateField) {
				var end = Ext.getCmp(field.endDateField);
				if (!end.minValue || (date.getTime() != end.minValue.getTime())) {
					end.setMinValue(date);
					end.validate();
				}
			}
			/*
			 * Always return true since we're only using this vtype to set the
			 * min/max allowed values (these are tested for after the vtype test)
			 */
			return true;
		}
	});

	cit.paginaSize = 400; var pages=1;
	cit.win; cit.saveFomsModal = '';
	cit.idtipo = ''; cit.edit = 'save';
	cit.idSelect = '';// cit.formModal = '';
	
	cit.storeEstado = <?php echo $this->estado;  ?>;
	cit.storeTipohab = <?php echo $this->tipohab; ?>;

	cit.storeID = new Ext.data.JsonStore({
		fields : ['hpro_id', 'pro_id'],
		url: og.getUrl('mantenimiento-promocion','json',{'case':'newID'},'cms'),
		root: 'matches'
	});

	//Tipo de cmses ------------------------------------------- -+- //Primer Grid
	cit.fields =[
		{ name : 'hpro_id'},
		{ name : 'an_id'},
		{ name : 'pro_id'},
		{ name : 'tih_id'},
		{ name : 'pro_estado'},
		{ name : 'pro_titulo'},
		{ name : 'pro_desc'},
		{ name : 'pro_dscto' },
		{ name : 'pro_fecini'},
		{ name : 'pro_fecfin'}
	];

	cit.proxy=new Ext.data.HttpProxy({
            //url:'/cms/mantenimiento-promocion/json/case/listaPromociones',
            url:og.getUrl('mantenimiento-promocion','json',{'case':'listaPromociones'},'cms'),
            method:'POST'
	});
	
	cit.reader=new Ext.data.JsonReader({
            fields: cit.fields, //['NEMO', 'nomcomp'],
            root:'matches'
	});
	
	cit.storePrin = new Ext.data.Store({
            proxy:cit.proxy,
            reader:cit.reader,
            autoLoad: true
	});
	
	//store.load();
    
	cit.columns =[ 
            {dataIndex: 'pro_estado', header: 'Est', width: 40,locked: true,align:'center',
                    renderer: function(v, params, record){
                switch(v){
                    case 'N':return '<img title="Oculto" src="'+og.domainName+'/assets/themes/default/images/16x16/wscolors/color6.png" width="13px"></img>';break;
                    case 'S':return '<img title="Activo" src="'+og.domainName+'/assets/themes/default/images/16x16/wscolors/color11.png" width="13px"></img>';break;
                }
            }   
		
        },
        {dataIndex: 'pro_titulo', header: 'Titulo', width: 200,locked: true,align:'left'}

    ];
	
	cit.gridPrin = new Ext.grid.GridPanel({
            //renderTo: 'contiene',
            store: cit.storePrin,         
            columns: cit.columns,
            bodyStyle:'border:0px;border-top:solid 1px #ccc;',
            height:390, 
            frame: false,
            stripeRows: true,
            columnLines: true,
            trackMouseOver: true,
            sm: new Ext.grid.RowSelectionModel({	// Permite que al momento de selecciona un campo, se seleccione toda la fila
                singleSelect: true
            }),
            loadMask: true,
            viewConfig: { forceFit: true }
	});
	
	cit.gridPrin.on('cellclick', function(e,i,j){//listening for the grid's 'validateedit' event
		//og.loading();
		var records = cit.storePrin.getAt(i);
		cit.idSelect = records.data.pro_id;
	});

	cit.gridPrin.on('rowdblclick', function(e,i,j){//listening for the grid's 'validateedit' event
            //og.loading();
            var records = cit.storePrin.getAt(i);
            cit.formSecun.form.loadRecord(records);

            cit.formSecun.form.setValues({'action':'edit'});
	});
	
	function confirmMessajeSecun(btn){
            if(btn == 'yes'){
                cit.saveFomsModal = cit.formPrin.form.getValues();
                var sd = smlista.getSelections();
                cit.saveFomsModal.grid = cadenaGrid(sd);

                og.openLink(og.getUrl('mantenimiento-promocion','ajax',{'case':'delPromocion'},'cms'), {
                    hideLoading: true,
                    hideErrors: true,
                    preventPanelLoad: true, 
                    post: cit.saveFomsModal,
                    onSuccess:cit.loadFormModal
                });
            }
	}
	
	cit.formPrin = new  Ext.form.FormPanel({
            renderTo: 'contiene',
            name:'formDcto',
            autoHeight:true,
            //bodyStyle:"margin-left: 7px;padding-right: 3px;border:0px",
            //width:300,
            labelWidth: 80,
            defaults:{"anchor":0},
            items : [
                {xtype:'hidden',name:'tih_id'}, 
                { items : [cit.gridPrin] }//gridSecun
            ]
	});
	
	cit.formSecun = new  Ext.form.FormPanel({
		renderTo: 'form',
		name:'formDcto',
		autoHeight:true,
		bodyStyle:"border:0px",
		width:"98%",
		labelWidth: 80,
		defaults:{"anchor":0},
		items : [
			{xtype:"fieldset",
			items:[
				{xtype:'hidden',name:'action',value:'add'},
				{xtype:'hidden',name:'hpro_id'},   
				{xtype:'textfield',name:'pro_id',fieldLabel:'Codigo',allowBlank:false,width: 100,maxLength:8,style:'text-transform:uppercase;'},
				{  xtype:'textarea',
					name: 'pro_titulo',
					fieldLabel: 'Título',
					allowBlank:false,
					width: 300,
					height: 40
				},
				{  xtype:'textarea',
					name: 'pro_desc',
					fieldLabel: 'Descripción ',
					allowBlank:false,
					width: 300,
					height: 80
				},
				{xtype:"compositefield",fieldLabel:"Fec. Ini",combineErrors:false,
				items:[
					   {xtype:"datefield",name:'pro_fecini',width:100,maxLength:10,allowBlank:false,format : 'd/m/Y', vtype: 'daterange',endDateField: 'pro_fecfin', id:'pro_fecini', value:cit.fecha},
					   {xtype:'displayfield',width:30},
					   {xtype:'displayfield',value:'Fec. Fin :',width:70,style:'padding-top:+3px;'},
					   {xtype:"datefield",name:'pro_fecfin',width:100,maxLength:10,allowBlank:false,format : 'd/m/Y', vtype: 'daterange',startDateField: 'pro_fecini', id:'pro_fecfin', value:cit.fecha}
				]}, 
				
				{xtype:"compositefield",fieldLabel:'Dscto % ',"combineErrors":false,//fieldLabel:'',
				items:[
					{xtype:'numberfield',name:'pro_dscto',allowBlank:false,width: 100, style : 'text-align:right'},
					{xtype:'displayfield',width:30},
					{xtype:'displayfield',value:'Estado ',width:70,style:'padding-top:+3px;'},
					{name:"pro_estado",xtype:"combo",width:230,allowBlank: false,hiddenName:"pro_estado",displayField:"state",valueField:"pro_estado",mode:"local",value:'S' ,store:cit.storeEstado,triggerAction:"all",forceSelection:true,resizable:true,emptyText:'Estado...',editable:false}
				]},
				{xtype:"compositefield",fieldLabel:"Tip. habit.","combineErrors":false,
				items:[
					{name:"tih_id",xtype:"combo",width:230,allowBlank: false,hiddenName:"tih_id",displayField:"state",valueField:"tih_id",mode:"local",store:cit.storeTipohab,triggerAction:"all",forceSelection:true,resizable:true,emptyText:'Tipo Hab...',editable:false}
				]} 	   
			]}
		]
	});
	
	//Asignar Tipo de cmses
	function newFormData(){
            cit.formSecun.form.reset();
	}
	
	function saveFormData(){
            if (cit.formSecun.form.isValid()) {
                cit.formSave = cit.formSecun.form.getValues();
                og.openLink(og.getUrl('mantenimiento-promocion','ajax',{'case':'savePromocion'},'cms'), {
                    hideLoading: false,
                    hideErrors: false,
                    preventPanelLoad: true, 
                    post: cit.formSave,
                    onSuccess:cit.loadForms
                });
            //cit.hide();
            }
	}
	
	 cit.loadForms = function(){
		cit.formSecun.form.reset();
		cit.gridPrin.store.load();
		/*
		cit.storeID.load();
		cit.storeID.on('load', function(s, r) { 
			Ext.each(r, function(records) {
				cit.formSecun.form.loadRecord(records);
			});
		});*/
	}
	
	function deleteFormData(){
            if(cit.gridPrin.getSelectionModel().getSelected())
                Ext.MessageBox.confirm('Confirm', 'Está Ud. seguro de eliminar la promoción seleccionada, eliminara si esta sujeto a una sucursal y todas las imágenes?.', confirmMessajeDel);
            else
                alertExtjs('info','Informaci&oacute;n-Seleccione un registro.');
		
		
	}

	function confirmMessajeDel(){
            //var filtro = cit.formPrin.getForm().getValues();
    //alert(cit.idSelect);
            records = cit.gridPrin.getSelectionModel().getSelected()
            og.openLink(og.getUrl('mantenimiento-promocion','ajax',{'case':'deletePromocion'},'cms'), {
                hideLoading: true,
                hideErrors: true,
                preventPanelLoad: true, 
                post: 'pro_id='+records.data.pro_id+'&an_id=' + records.data.an_id,
                onSuccess:cit.loadForms
            });
	}
	
	
</script>
</div>