<input type="hidden" name="save[]" id="save" value=""/>
<div class="form_zoe">
	<div id="contiene" class="left_zoe" style="width:29%"></div>
    <div id="bodyform" class="left_zoe" style="width:69%"></div>
</div>

<script>
cit.cl_id='';
 cit.Id ='';
cit.storeCliente=new Ext.data.Store({
    proxy:new Ext.data.HttpProxy({url:og.getUrl('mantenimiento-cliente', 'json',{'case':'clientes'},'seguridad')}),
    reader:new Ext.data.JsonReader({
	fields: [
            { name : 'lleva'},
            { name: 'cl_id'},
            { name: 'pe_nomcomp'},
            { name: 'cl_estado'},
            { name: 'pe_id'},
            { name: 'ub_id'},
            { name: 'pe_nombre'},
            { name: 'pe_paterno'},
            { name: 'pe_materno'},
            { name: 'pe_fec_nacimiento'},
            { name: 'pe_lugar_nacimiento'},
            { name: 'pe_estado'},
            { name: 'pe_dni'},
            { name: 'pe_pais'},
            { name: 'pe_nacionalidad'},
            { name: 'pe_nomcomp'},
            { name: 'cl_estado'},
            { name: 'cl_puntos'},
            { name: 'pe_sexo'},
            { name: 'pe_tipdoc'},
            { name: 'ub_id_dep'},
            { name: 'ub_id_prov'},
            { name: 'cl_id_id'}
        ],
         root:'matches'
    })
});
cit.storeCliente.load();

cit.colModAula = new Ext.ux.grid.LockingColumnModel(
    [
        {dataIndex: 'cl_estado', header: 'Est', width: 30, aling : 'center',
            renderer: function(v, params, record){
                switch(v){
                    case 0:return '<img title="Inactivo" src="'+og.domainName+'/images/icons/fam/user_orange.png" width="13px"></img>';break;
                    case 1:return '<img title="Activo" src="'+og.domainName+'/images/icons/fam/user.png" width="13px"></img>';break;
                }
            }   
        },
        //{dataIndex: 'cl_id', header: 'Código ', width: 60,css:'background-color: #FFF;'},
        {dataIndex: 'pe_nomcomp', header: 'Nombre', width: 240}
    ]
);
var categoriesPagingBar = new Ext.PagingToolbar( {
    pageSize: 400,
    displayInfo: false,
    store: cit.storeCliente
});  

cit.gridCliente = new Ext.grid.EditorGridPanel({
    store: cit.storeCliente,
    colModel: cit.colModAula,
    clicksToEdit: 1,
    width:'100%',
    height:380,
    stripeRows: true,
    columnLines: true,
    loadMask: true,
    bbar: categoriesPagingBar,
    loadMask: true,
    viewConfig: { forceFit: true },
});


 
cit.gridCliente.on('rowdblclick', function(e,i,j){//listening for the grid's 'validateedit' event
    og.loading();
	cit.recordCliente = cit.storeCliente.getAt(i);
    cit.recordCliente.data.action = 'edit';
    jsonprovincia.load({params: {'departamento': cit.recordCliente.data.ub_id}});
    jsondistrito.load({params: {'provincia': cit.recordCliente.data.ub_id}});   
      cit.formPrincipal.form.reset(); 
    //jsondistrito.on('load', function(s, r) { 
        cit.formPrincipal.form.loadRecord(cit.recordCliente);
        og.hideLoading();
    //})
        
	
});

cit.gridCliente.on('cellclick', function(e,i,j){//listening for the grid's 'validateedit' event
	cit.recordId = cit.storeCliente.getAt(i);
    cit.Id = true;
    
});

cit.gridCliente.render('contiene');


cit.peDpto = <?php echo $this->pedepartamento; ?>
cit.peTipdoc = <?php echo $this->petipdoc; ?>
cit.peSexo = <?php echo $this->sexo;  ?>
cit.peNacregistra = <?php echo $this->penacregistra;  ?>
cit.pePais = <?php echo $this->pepais;  ?>
cit.peNacionalidad = <?php echo $this->penacionalidad;  ?>
cit.peDepartamento = <?php echo $this->pedepartamento;  ?>
cit.clEstado = <?php echo $this->clestado; ?>

var jsonprovincia = new Ext.data.JsonStore({
    fields : ['ub_id_prov', 'state'],
    //autoLoad: true,
    url: og.getUrl('json','json',{'case':'provincia'},'cms'),
    root: 'matches'
});
var jsondistrito = new Ext.data.JsonStore({
    fields : ['ub_id', 'ub_desc'],
    //autoLoad: true,
    url: og.getUrl('json','json',{'case':'distrito'},'cms'),
    root: 'matches'
});

var selectdpto = {
		 select: function(combo, record, index){
		  //alert(record.data.value+'----'+record.data.ub_id_dep+'----'+record.data.ub_id)
             cit.formPrincipal.form.setValues({
                ub_id_prov: '',ub_id: ''  
            })
			jsonprovincia.load({
                params: {'departamento': record.data.ub_id_dep}
             });
	}};

var selectprovss = {
		 select: function(combo, record, index){
		     cit.formPrincipal.form.setValues({
               ub_id: ''  
            })
			jsondistrito.load({params: {'provincia': record.data.ub_id_prov}});
	}};

cit.itemsFormTabPrincipal = [
    {
        xtype: 'fieldset',
        title: 'Información Básica',
        collapsible: true,
        items: [
            {xtype:'hidden',name:'action',value:'add',id:'action'},
            {xtype:'hidden',name:'cl_id',id:'cl_id'},            
            {xtype:'hidden',name:'pe_id',id:'pe_id'},
            
            {"xtype":"compositefield","fieldLabel":"Codigo","combineErrors":false,
            "items":[
                {"name":"cl_id_id",id:"cl_id_id","xtype":"textfield","width":130,maxLength:16,
                    value:'<?php echo $this->idclient;?>',disabled:true
                }
            ]}, 
            {"xtype":"compositefield","fieldLabel":"Apellido Paterno","combineErrors":false,
            "items":[
                {name:"pe_paterno","xtype":"textfield","width":130,"allowBlank":false,maxLength:32,style : {textTransform: "uppercase"},
                     listeners:{
                          change: function(field, newValue, oldValue){
                               field.setValue(newValue.toUpperCase());
                          }
                 }},
                {"xtype":"displayfield","value":"Apellido Materno : ",cls:'text_zoe'},
                {"xtype":"textfield",name:"pe_materno","width":150,"allowBlank":false,maxLength:32,style : {textTransform: "uppercase"},
                     listeners:{
                          change: function(field, newValue, oldValue){
                               field.setValue(newValue.toUpperCase());
                          }
                }},
               
            ]},
            {xtype:'textfield',name:'pe_nombre',fieldLabel:'Nombres ',width: 250,maxLength:64},
            //style:'text-align:center;
            {"xtype":"compositefield","fieldLabel":"Sexo","combineErrors":false,
            "items":[
                {"name":"pe_sexo","xtype":"combo","width":130,allowBlank: false,hiddenName:"pe_sexo", 
                    displayField:"state",valueField:"pe_sexo",mode:"local",store:cit.peSexo, 
                    triggerAction:"all",forceSelection:true,resizable:true,emptyText:'Sexo...',editable:false},
                {"xtype":"displayfield","value":"Tip Doc : ", "width":90, cls:'text_zoe'},
                {name:"pe_tipdoc","xtype":"combo","width":130,hiddenName:"pe_tipdoc",displayField:"state", 
                    valueField:"tad_id",mode:"local",store:cit.peTipdoc,triggerAction:"all", 
                    forceSelection:true ,emptyText:'Tipo de Documento...',resizable:true, 
                    minListWidth:cit.minListWidth,editable:false,allowBlank:false}
            ]},
            {"xtype":"compositefield","fieldLabel":"Num. Doc","combineErrors":false,
            "items":[
                {"name":"pe_dni","xtype":"textfield","width":130,maxLengthText:16},
                {"xtype":"displayfield","value":"Fec. Nac : ","width":90,cls:'text_zoe'},
                {"name":"pe_fec_nacimiento","xtype":"datefield","width":130,"allowBlank":false, format: 'd/m/Y'}											
            ]},
            {"xtype":"compositefield","fieldLabel":"Pais","combineErrors":false,
            "items":[
                {"name":"pe_pais","xtype":"combo","width":130,hiddenName:"pe_pais",displayField:"state",valueField:"tad_id",mode:"local",store:cit.pePais,triggerAction:"all",forceSelection:true ,emptyText:'Pais...',resizable:true,editable:false,minListWidth:cit.minListWidth, "allowBlank":false},		
                {xtype:"displayfield", value:"Dpto. Nac : ", "width":90, cls:'text_zoe'},
                {"width":130,"xtype":"combo","mode":"local","triggerAction":"all","forceSelection":true, 
                    "editable":false,name:"ub_id_dep","displayField":"state","valueField":"ub_id_dep", 
                    "emptyText":"Departamento","store":cit.peDpto,"listeners":selectdpto,resizable:true, 
                    minListWidth:cit.minListWidth,"allowBlank":false}
            ]}, 
            {"xtype":"compositefield","fieldLabel":"Prov. Nac","combineErrors":false,
            "items":[
                {"width":130,"xtype":"combo","mode":"local","triggerAction":"all","forceSelection":true,"editable":false,"name":"ub_id_prov","displayField":"state","valueField":"ub_id_prov","emptyText":"Provincia","store":jsonprovincia,"listeners":selectprovss,resizable:true,minListWidth:cit.minListWidth,"allowBlank":false},
                {xtype:"displayfield",value:"Dist. Nac : ", "width":90, cls:'text_zoe'},
                {"width":130,"xtype":"combo","mode":"local","triggerAction":"all","forceSelection":true,"editable":false,"name":"ub_id","hiddenName":"ub_id","displayField":"ub_desc","valueField":"ub_id","emptyText":"Distrito","store":jsondistrito,resizable:true,minListWidth:cit.minListWidth,"allowBlank":false}
            ]},
            {"xtype":"compositefield","fieldLabel":"Lug. Nac","combineErrors":false,
            "items":[
                {"name":"pe_lugar_nacimiento","xtype":"textfield","width":130,maxLength:16},
                {xtype:"displayfield",value:"Estado : ", "width":90, cls:'text_zoe'},
                {"name":"cl_estado","xtype":"combo","width":130,allowBlank: false,hiddenName:"cl_estado",displayField:"state",valueField:"cl_estado",mode:"local",store:cit.clEstado,triggerAction:"all",forceSelection:true,resizable:true,emptyText:'Estado...',editable:false,value:1}
            ]}           
    ]}
]; //cit.formPrincipal 
/**/
cit.tabsCliente = new Ext.TabPanel({   
    width:'100%',
    activeTab: 0,
    frame:true, 
    defaults:{autoHeight: true},
    items:
    [{
        title:'Datos Principales',
        items:[cit.itemsFormTabPrincipal]
    }]
});


cit.formPrincipal = new  Ext.form.FormPanel({
    renderTo: 'bodyform',
    name: cit.itemsFormTabPrincipal,
	autoHeight:true,
	width:"100%",
	bodyStyle: "padding-left: 5px;padding-right: 5px;border:0px",
	defaults: {anchor:0},
	items:
      [ cit.tabsCliente ]});
cit.formPrincipal.render('bodyform');

function saveFormData(){
    	if (cit.formPrincipal.form.isValid()) {
        cit.formEnvio = cit.formPrincipal.form.getValues();	    
        og.openLink(og.getUrl('mantenimiento-cliente','ajax',{'case':'save'},'seguridad'), {
    		hideLoading: false,
    		preventPanelLoad: true, 
    		post:cit.formEnvio,
            hideErrors:false,
            actions:cit.formPrincipal,
            onSuccess:cit.loadCliente                     
    	});
       
    }
}

    cit.loadCliente = function(){
     cit.gridCliente.store.load();
        cit.Id='';
    } 

    cit.actionsConfig = function(cod,tabla){
        var code = cod.split('**');
           cit.formPrincipal.getForm().setValues({
                action:'edit',
                cl_cl_id: code[0], 
                cl_id:code[0],
                pe_id:code[1]
            });
    }

function deleteFormData(){
	if( cit.Id){
	   
	       og.openLink(og.getUrl('mantenimiento-cliente','ajax',{'case':'delete'},'seguridad'), {
    		hideLoading: false,
    		preventPanelLoad: true, 
    		post:{'pe_id':cit.recordId.data.pe_id,'cl_id':cit.recordId.data.cl_id},
            hideErrors:false,
            onSuccess:cit.loadClienteDelete                     
    	});
	}else{
		alertExtjs('CIT', 'Eliminar-Debe Haber al menos un registro seleccionado..');
	}
}
cit.loadClienteDelete=function(){
    cit.gridCliente.store.load();
   cit.formPrincipal.form.reset(); 
}



function newFormData(){
	cit.formPrincipal.form.reset();
    $.getJSON(og.getUrl('mantenimiento-cliente', 'json',{'case':'newclinete'},'seguridad'),{},function(data){
        cit.formPrincipal.getForm().setValues({
                cl_cl_id: data.cl_id
            }); 
    });
}

</script>