<?php

$sesion = new Zend_Session_Namespace('login');
if(empty($sesion->cont)){
    $sesion->cont = 1;  
    ?> 
        cit.win = new Ext.Window({
            width: 600,
            height:150,
            minWidth: 500,
            minHeight: 150,   
            layout : 'fit',
            defaultType: 'textfield',
            title  : 'Sistemas Disponibles',
            closeAction: 'hide',
            plain: true,
            modal:true,
            contentEl:'listsistemas',
            autoDestroy:true
        });
        cit.win.show();  
    <?php  
}
?>
</script>

<div style="padding:7px;" id="og_1306467118_2277-db">

<div style="width:100%;" class="dashboard">

<div class="dashWorkspace">
<span class="name">
Todos los espacios</span><span class="description">
</span>
</div>

<div "="" class="dashActions">
	<a onclick="og.switchToOverview(); return false;" href="#" class="internalLink">
	<div class="viewAsList">Ver como lista</div></a>
</div>

<table style="width:100%">
<tbody><tr><td colspan="2">
<div class="dashGettingStarted">
<table style="width:100%">
	<colgroup><col width="12/"><col><col width="12/">
	</colgroup><tbody><tr><td style="width:12px;height:1px;overflow:hidden;line-height:0px;"></td>
	<td style="height:0px;overflow:hidden;line-height:0px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
	<td style="width:12px;height:1px;overflow:hidden;line-height:0px;"></td></tr>
	</tbody></table>
</div></td></tr>
<tr><td colspan="2">
<div class="dashCalendar">
<table style="width:100%">
	<colgroup><col width="12/"><col><col width="12/">
	</colgroup><tbody><tr><td style="width:12px;height:1px;overflow:hidden;line-height:0px;"></td>
	<td style="height:0px;overflow:hidden;line-height:0px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
	<td style="width:12px;height:1px;overflow:hidden;line-height:0px;"></td></tr>
	<tr>
	<td class="dashHeader" rowspan="2" colspan="2">
		<table onclick="og.dashExpand('og_1306467118_24417','calendar')" style="width:100%;cursor: pointer"><tbody><tr>
			<td>
				<div class="dashTitle">Próximos eventos, hitos y tareas</div>
			</td>
			<td align="right" style="width:30px">
									<div class="dash-expander ico-dash-expanded" id="og_1306467118_24417expander"></div>
							</td>
		</tr></tbody></table>
	</td>
	<td class="coViewTopRight">&nbsp;&nbsp;</td></tr>
	<tr><td rowspan="2" class="coViewRight"></td></tr>
	
		<tr><td style="padding:0px" colspan="2" class="coViewBody">
		<div style="display: block;" id="og_1306467118_24417widget">
		 

<div class="contextualHelp" id="og_1306467118_843159help" style="display: none;">

<a title="Quitar este mensaje de ayuda" onclick="og.closeContextHelp('og_1306467118_843159','calendar_widget');" href="javascript:void(0);" style="padding-left:6px;float:right;" class="internalLink">Ocultar</a>Este widget muestra los eventos de la semana corriente, tareas vencidas e hitos. Puedes crear un nuevo evento haciendo clic en un día.
</div>								
								<table cellspacing="0" cellpadding="0" border="0" style="width:100%;border-collapse:collapse" id="calendar">
<tbody><tr>    <th width="12.5%" align="center">Dom</th>

					<th width="15%">Lun</th>
					<th width="15%">Mar</th>
					<th width="15%">Mié</th>
					<th width="15%">Jue</th>
					<th width="15%">Vie</th>
					<th width="12.5%">Sáb</th></tr>  <tr>
<td valign="top" class="weekend"><div )="" onclick="og.EventPopUp.show(null, {caller:'overview-panel', day:'22', month:'5', year:'2011', type_id:1, hour:'9', minute:'0', durationhour:1, durationmin:0, start_value: '22/05/2011', start_time:'9:00', title:'Domingo, 22 Mayo', view: 'week', title: 'Agregar evento', time_format: 'g:i A', hide_calendar_toolbar: 0},'');" style="z-index:0; min-height:100px; height:100%;cursor:pointer">
			<div style="text-align:right" class="daylink"><a style="color:#5B5B5B" onclick="og.disableEventPropagation(event);" href="http://demo.fengoffice.com/es/index.php?c=event&amp;a=viewdate&amp;day=22&amp;month=05&amp;year=2011&amp;view_type=viewdate" class="internalLink" target="overview-panel">22</a></div>&nbsp;</div></td><td valign="top" class="weekday"><div )="" onclick="og.EventPopUp.show(null, {caller:'overview-panel', day:'23', month:'5', year:'2011', type_id:1, hour:'9', minute:'0', durationhour:1, durationmin:0, start_value: '23/05/2011', start_time:'9:00', title:'Lunes, 23 Mayo', view: 'week', title: 'Agregar evento', time_format: 'g:i A', hide_calendar_toolbar: 0},'');" style="z-index:0; min-height:100px; height:100%;cursor:pointer">
			<div style="text-align:right" class="daylink"><a style="color:#5B5B5B" onclick="og.disableEventPropagation(event);" href="http://demo.fengoffice.com/es/index.php?c=event&amp;a=viewdate&amp;day=23&amp;month=05&amp;year=2011&amp;view_type=viewdate" class="internalLink" target="overview-panel">23</a></div>&nbsp;</div></td><td valign="top" class="weekday"><div )="" onclick="og.EventPopUp.show(null, {caller:'overview-panel', day:'24', month:'5', year:'2011', type_id:1, hour:'9', minute:'0', durationhour:1, durationmin:0, start_value: '24/05/2011', start_time:'9:00', title:'Martes, 24 Mayo', view: 'week', title: 'Agregar evento', time_format: 'g:i A', hide_calendar_toolbar: 0},'');" style="z-index:0; min-height:100px; height:100%;cursor:pointer">
			<div style="text-align:right" class="daylink"><a style="color:#5B5B5B" onclick="og.disableEventPropagation(event);" href="http://demo.fengoffice.com/es/index.php?c=event&amp;a=viewdate&amp;day=24&amp;month=05&amp;year=2011&amp;view_type=viewdate" class="internalLink" target="overview-panel">24</a></div>&nbsp;</div></td><td valign="top" class="weekday"><div )="" onclick="og.EventPopUp.show(null, {caller:'overview-panel', day:'25', month:'5', year:'2011', type_id:1, hour:'9', minute:'0', durationhour:1, durationmin:0, start_value: '25/05/2011', start_time:'9:00', title:'Miércoles, 25 Mayo', view: 'week', title: 'Agregar evento', time_format: 'g:i A', hide_calendar_toolbar: 0},'');" style="z-index:0; min-height:100px; height:100%;cursor:pointer">
			<div style="text-align:right" class="daylink"><a style="color:#5B5B5B" onclick="og.disableEventPropagation(event);" href="http://demo.fengoffice.com/es/index.php?c=event&amp;a=viewdate&amp;day=25&amp;month=05&amp;year=2011&amp;view_type=viewdate" class="internalLink" target="overview-panel">25</a></div>&nbsp;</div></td><td valign="top" class="weekday"><div )="" onclick="og.EventPopUp.show(null, {caller:'overview-panel', day:'26', month:'5', year:'2011', type_id:1, hour:'9', minute:'0', durationhour:1, durationmin:0, start_value: '26/05/2011', start_time:'9:00', title:'Jueves, 26 Mayo', view: 'week', title: 'Agregar evento', time_format: 'g:i A', hide_calendar_toolbar: 0},'');" style="z-index:0; min-height:100px; height:100%;cursor:pointer">
			<div style="text-align:right" class="daylink"><a style="color:#5B5B5B" onclick="og.disableEventPropagation(event);" href="http://demo.fengoffice.com/es/index.php?c=event&amp;a=viewdate&amp;day=26&amp;month=05&amp;year=2011&amp;view_type=viewdate" class="internalLink" target="overview-panel">26</a></div><div style="z-index:1000;" class="event_block"><span id="o_ev_div_6"><a onclick="og.disableEventPropagation(event);" href="http://demo.fengoffice.com/es/index.php?c=event&amp;a=viewevent&amp;id=6" style="vertical-align:bottom;" class="internalLink link-ico ico-event" target="overview-panel">lalo</a></span></div></div></td><td valign="top" class="today"><div )="" onclick="og.EventPopUp.show(null, {caller:'overview-panel', day:'27', month:'5', year:'2011', type_id:1, hour:'9', minute:'0', durationhour:1, durationmin:0, start_value: '27/05/2011', start_time:'9:00', title:'Viernes, 27 Mayo', view: 'week', title: 'Agregar evento', time_format: 'g:i A', hide_calendar_toolbar: 0},'');" style="z-index:0; min-height:100px; height:100%;cursor:pointer">
			<div style="text-align:right" class="todaylink"><a style="color:#5B5B5B" onclick="og.disableEventPropagation(event);" href="http://demo.fengoffice.com/es/index.php?c=event&amp;a=viewdate&amp;day=27&amp;month=05&amp;year=2011&amp;view_type=viewdate" class="internalLink" target="overview-panel">27</a></div>&nbsp;</div></td><td valign="top" class="weekend"><div )="" onclick="og.EventPopUp.show(null, {caller:'overview-panel', day:'28', month:'5', year:'2011', type_id:1, hour:'9', minute:'0', durationhour:1, durationmin:0, start_value: '28/05/2011', start_time:'9:00', title:'Sábado, 28 Mayo', view: 'week', title: 'Agregar evento', time_format: 'g:i A', hide_calendar_toolbar: 0},'');" style="z-index:0; min-height:100px; height:100%;cursor:pointer">
			<div style="text-align:right" class="daylink"><a style="color:#5B5B5B" onclick="og.disableEventPropagation(event);" href="http://demo.fengoffice.com/es/index.php?c=event&amp;a=viewdate&amp;day=28&amp;month=05&amp;year=2011&amp;view_type=viewdate" class="internalLink" target="overview-panel">28</a></div>&nbsp;</div></td>
  </tr>
  <tr>
<td valign="top" class="weekend"><div )="" onclick="og.EventPopUp.show(null, {caller:'overview-panel', day:'29', month:'5', year:'2011', type_id:1, hour:'9', minute:'0', durationhour:1, durationmin:0, start_value: '29/05/2011', start_time:'9:00', title:'Domingo, 29 Mayo', view: 'week', title: 'Agregar evento', time_format: 'g:i A', hide_calendar_toolbar: 0},'');" style="z-index:0; min-height:100px; height:100%;cursor:pointer">
			<div style="text-align:right" class="daylink"><a style="color:#5B5B5B" onclick="og.disableEventPropagation(event);" href="http://demo.fengoffice.com/es/index.php?c=event&amp;a=viewdate&amp;day=29&amp;month=05&amp;year=2011&amp;view_type=viewdate" class="internalLink" target="overview-panel">29</a></div>&nbsp;</div></td><td valign="top" class="weekday"><div )="" onclick="og.EventPopUp.show(null, {caller:'overview-panel', day:'30', month:'5', year:'2011', type_id:1, hour:'9', minute:'0', durationhour:1, durationmin:0, start_value: '30/05/2011', start_time:'9:00', title:'Lunes, 30 Mayo', view: 'week', title: 'Agregar evento', time_format: 'g:i A', hide_calendar_toolbar: 0},'');" style="z-index:0; min-height:100px; height:100%;cursor:pointer">
			<div style="text-align:right" class="daylink"><a style="color:#5B5B5B" onclick="og.disableEventPropagation(event);" href="http://demo.fengoffice.com/es/index.php?c=event&amp;a=viewdate&amp;day=30&amp;month=05&amp;year=2011&amp;view_type=viewdate" class="internalLink" target="overview-panel">30</a></div>&nbsp;</div></td><td valign="top" class="weekday"><div )="" onclick="og.EventPopUp.show(null, {caller:'overview-panel', day:'31', month:'5', year:'2011', type_id:1, hour:'9', minute:'0', durationhour:1, durationmin:0, start_value: '31/05/2011', start_time:'9:00', title:'Martes, 31 Mayo', view: 'week', title: 'Agregar evento', time_format: 'g:i A', hide_calendar_toolbar: 0},'');" style="z-index:0; min-height:100px; height:100%;cursor:pointer">
			<div style="text-align:right" class="daylink"><a style="color:#5B5B5B" onclick="og.disableEventPropagation(event);" href="http://demo.fengoffice.com/es/index.php?c=event&amp;a=viewdate&amp;day=31&amp;month=05&amp;year=2011&amp;view_type=viewdate" class="internalLink" target="overview-panel">31</a></div>&nbsp;</div></td><td valign="top" class="weekday_future"><div )="" onclick="og.EventPopUp.show(null, {caller:'overview-panel', day:'1', month:'6', year:'2011', type_id:1, hour:'9', minute:'0', durationhour:1, durationmin:0, start_value: '01/06/2011', start_time:'9:00', title:'Miércoles, 1 Junio', view: 'week', title: 'Agregar evento', time_format: 'g:i A', hide_calendar_toolbar: 0},'');" style="z-index:0; min-height:100px; height:100%;cursor:pointer">
			<div style="text-align:right" class="extralink"><a style="color:#5B5B5B" onclick="og.disableEventPropagation(event);" href="http://demo.fengoffice.com/es/index.php?c=event&amp;a=viewdate&amp;day=1&amp;month=6&amp;year=2011&amp;view_type=viewdate" class="internalLink" target="overview-panel">1</a></div>&nbsp;</div></td><td valign="top" class="weekday_future"><div )="" onclick="og.EventPopUp.show(null, {caller:'overview-panel', day:'2', month:'6', year:'2011', type_id:1, hour:'9', minute:'0', durationhour:1, durationmin:0, start_value: '02/06/2011', start_time:'9:00', title:'Jueves, 2 Junio', view: 'week', title: 'Agregar evento', time_format: 'g:i A', hide_calendar_toolbar: 0},'');" style="z-index:0; min-height:100px; height:100%;cursor:pointer">
			<div style="text-align:right" class="extralink"><a style="color:#5B5B5B" onclick="og.disableEventPropagation(event);" href="http://demo.fengoffice.com/es/index.php?c=event&amp;a=viewdate&amp;day=2&amp;month=6&amp;year=2011&amp;view_type=viewdate" class="internalLink" target="overview-panel">2</a></div>&nbsp;</div></td><td valign="top" class="weekday_future"><div )="" onclick="og.EventPopUp.show(null, {caller:'overview-panel', day:'3', month:'6', year:'2011', type_id:1, hour:'9', minute:'0', durationhour:1, durationmin:0, start_value: '03/06/2011', start_time:'9:00', title:'Viernes, 3 Junio', view: 'week', title: 'Agregar evento', time_format: 'g:i A', hide_calendar_toolbar: 0},'');" style="z-index:0; min-height:100px; height:100%;cursor:pointer">
			<div style="text-align:right" class="extralink"><a style="color:#5B5B5B" onclick="og.disableEventPropagation(event);" href="http://demo.fengoffice.com/es/index.php?c=event&amp;a=viewdate&amp;day=3&amp;month=6&amp;year=2011&amp;view_type=viewdate" class="internalLink" target="overview-panel">3</a></div>&nbsp;</div></td><td valign="top" class="weekday_future"><div )="" onclick="og.EventPopUp.show(null, {caller:'overview-panel', day:'4', month:'6', year:'2011', type_id:1, hour:'9', minute:'0', durationhour:1, durationmin:0, start_value: '04/06/2011', start_time:'9:00', title:'Sábado, 4 Junio', view: 'week', title: 'Agregar evento', time_format: 'g:i A', hide_calendar_toolbar: 0},'');" style="z-index:0; min-height:100px; height:100%;cursor:pointer">
			<div style="text-align:right" class="extralink"><a style="color:#5B5B5B" onclick="og.disableEventPropagation(event);" href="http://demo.fengoffice.com/es/index.php?c=event&amp;a=viewdate&amp;day=4&amp;month=6&amp;year=2011&amp;view_type=viewdate" class="internalLink" target="overview-panel">4</a></div>&nbsp;</div></td>
  </tr>
</tbody></table>		</div>
		</td></tr>

		<tr><td class="coViewBottomLeft"></td>
		<td class="coViewBottom"></td>
		<td class="coViewBottomRight"></td></tr>
	</tbody></table>
</div></td></tr>
<tr><td>
<div class="dashActivity">
<table style="width:100%">
	<colgroup><col width="12/"><col><col width="12/">
	</colgroup><tbody><tr><td style="width:12px;height:1px;overflow:hidden;line-height:0px;"></td>
	<td style="height:0px;overflow:hidden;line-height:0px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
	<td style="width:12px;height:1px;overflow:hidden;line-height:0px;"></td></tr>
	<tr>
	<td class="dashHeader" rowspan="2" colspan="2">
		<table onclick="og.dashExpand('og_1306467118_80068','activity')" style="width:100%;cursor: pointer"><tbody><tr>
			<td>
				<div class="dashTitle">Actividad</div>
			</td>
			<td align="right" style="width:30px">
									<div class="dash-expander ico-dash-expanded" id="og_1306467118_80068expander"></div>
							</td>
		</tr></tbody></table>
	</td>
	<td class="coViewTopRight">&nbsp;&nbsp;</td></tr>
	<tr><td rowspan="2" class="coViewRight"></td></tr>
	
		<tr><td style="padding:0px" colspan="2" class="coViewBody">
		<div style="" id="og_1306467118_80068widget">
		<div style="padding:10px">
<table style="width:100%;min-width:500px;" id="dashTableActivity">
<tbody><tr><td colspan="2"><div style="width: 100%" id="0">
			<table cellspacing="0" cellpadding="0" style="width:100%;">		<tbody><tr class="">
		<td style="width:32px"><img src="http://demo.fengoffice.com/es/public/assets/themes/default/images/avatar.gif" class="avatar"></td>
		<td style="padding-left:10px">
			<table cellspacing="0" cellpadding="0" style="width:100%;"><tbody><tr><td style="height: 17px;">
				<div>demo inició sesión</div>
			</td></tr><tr><td style="padding-bottom:3px;">
				<div class="desc">Hace 0 minutos</div>
			</td></tr></tbody></table>
		</td>
		</tr>
			<tr class="dashAltRow">
		<td style="width:32px"><img src="http://demo.fengoffice.com/es/public/assets/themes/default/images/avatar.gif" class="avatar"></td>
		<td style="padding-left:10px">
			<table cellspacing="0" cellpadding="0" style="width:100%;"><tbody><tr><td style="height: 17px;">
				<div>demo inició sesión</div>
			</td></tr><tr><td style="padding-bottom:3px;">
				<div class="desc">Hace 0 minutos</div>
			</td></tr></tbody></table>
		</td>
		</tr>
			<tr class="">
		<td style="width:32px"><img src="http://demo.fengoffice.com/es/public/assets/themes/default/images/avatar.gif" class="avatar"></td>
		<td style="padding-left:10px">
			<table cellspacing="0" cellpadding="0" style="width:100%;"><tbody><tr><td style="height: 17px;">
				<div>demo inició sesión</div>
			</td></tr><tr><td style="padding-bottom:3px;">
				<div class="desc">Hace 24 minutos</div>
			</td></tr></tbody></table>
		</td>
		</tr>
			<tr class="dashAltRow">
		<td style="width:32px"><img src="http://demo.fengoffice.com/es/public/assets/themes/default/images/avatar.gif" class="avatar"></td>
		<td style="padding-left:10px">
			<table cellspacing="0" cellpadding="0" style="width:100%;"><tbody><tr><td style="height: 17px;">
				<div>demo inició sesión</div>
			</td></tr><tr><td style="padding-bottom:3px;">
				<div class="desc">Aprox. hace 2 horas</div>
			</td></tr></tbody></table>
		</td>
		</tr>
			<tr class="">
		<td style="width:32px"><img src="http://demo.fengoffice.com/es/public/assets/themes/default/images/avatar.gif" class="avatar"></td>
		<td style="padding-left:10px">
			<table cellspacing="0" cellpadding="0" style="width:100%;"><tbody><tr><td style="height: 17px;">
				<div>demo cerró sesión</div>
			</td></tr><tr><td style="padding-bottom:3px;">
				<div class="desc">Aprox. hace 3 horas</div>
			</td></tr></tbody></table>
		</td>
		</tr>
			<tr class="dashAltRow">
		<td style="width:32px"><img src="http://demo.fengoffice.com/es/public/assets/themes/default/images/avatar.gif" class="avatar"></td>
		<td style="padding-left:10px">
			<table cellspacing="0" cellpadding="0" style="width:100%;"><tbody><tr><td style="height: 17px;">
				<div>demo inició sesión</div>
			</td></tr><tr><td style="padding-bottom:3px;">
				<div class="desc">Aprox. hace 3 horas</div>
			</td></tr></tbody></table>
		</td>
		</tr>
			<tr class="">
		<td style="width:32px"><img src="http://demo.fengoffice.com/es/public/assets/themes/default/images/avatar.gif" class="avatar"></td>
		<td style="padding-left:10px">
			<table cellspacing="0" cellpadding="0" style="width:100%;"><tbody><tr><td style="height: 17px;">
				<div>demo inició sesión</div>
			</td></tr><tr><td style="padding-bottom:3px;">
				<div class="desc">Aprox. hace 4 horas</div>
			</td></tr></tbody></table>
		</td>
		</tr>
			<tr class="dashAltRow">
		<td style="width:32px"><img src="http://demo.fengoffice.com/es/public/assets/themes/default/images/avatar.gif" class="avatar"></td>
		<td style="padding-left:10px">
			<table cellspacing="0" cellpadding="0" style="width:100%;"><tbody><tr><td style="height: 17px;">
				<div>demo inició sesión</div>
			</td></tr><tr><td style="padding-bottom:3px;">
				<div class="desc">Aprox. hace 4 horas</div>
			</td></tr></tbody></table>
		</td>
		</tr>
			<tr class="">
		<td style="width:32px"><img src="http://demo.fengoffice.com/es/public/assets/themes/default/images/avatar.gif" class="avatar"></td>
		<td style="padding-left:10px">
			<table cellspacing="0" cellpadding="0" style="width:100%;"><tbody><tr><td style="height: 17px;">
				<div>demo inició sesión</div>
			</td></tr><tr><td style="padding-bottom:3px;">
				<div class="desc">Aprox. hace 4 horas</div>
			</td></tr></tbody></table>
		</td>
		</tr>
			<tr class="dashAltRow">
		<td style="width:32px"><img src="http://demo.fengoffice.com/es/public/assets/themes/default/images/avatar.gif" class="avatar"></td>
		<td style="padding-left:10px">
			<table cellspacing="0" cellpadding="0" style="width:100%;"><tbody><tr><td style="height: 17px;">
				<div>demo inició sesión</div>
			</td></tr><tr><td style="padding-bottom:3px;">
				<div class="desc">Aprox. hace 8 horas</div>
			</td></tr></tbody></table>
		</td>
		</tr>
			<tr class="">
		<td style="width:32px"><img src="http://demo.fengoffice.com/es/public/assets/themes/default/images/avatar.gif" class="avatar"></td>
		<td style="padding-left:10px">
			<table cellspacing="0" cellpadding="0" style="width:100%;"><tbody><tr><td style="height: 17px;">
				<div>demo inició sesión</div>
			</td></tr><tr><td style="padding-bottom:3px;">
				<div class="desc">Aprox. hace 10 horas</div>
			</td></tr></tbody></table>
		</td>
		</tr>
			<tr class="dashAltRow">
		<td style="width:32px"><img src="http://demo.fengoffice.com/es/public/assets/themes/default/images/avatar.gif" class="avatar"></td>
		<td style="padding-left:10px">
			<table cellspacing="0" cellpadding="0" style="width:100%;"><tbody><tr><td style="height: 17px;">
				<div>demo inició sesión</div>
			</td></tr><tr><td style="padding-bottom:3px;">
				<div class="desc">Aprox. hace 10 horas</div>
			</td></tr></tbody></table>
		</td>
		</tr>
			<tr class="">
		<td style="width:32px"><img src="http://demo.fengoffice.com/es/public/assets/themes/default/images/avatar.gif" class="avatar"></td>
		<td style="padding-left:10px">
			<table cellspacing="0" cellpadding="0" style="width:100%;"><tbody><tr><td style="height: 17px;">
				<div>demo inició sesión</div>
			</td></tr><tr><td style="padding-bottom:3px;">
				<div class="desc">Aprox. hace 11 horas</div>
			</td></tr></tbody></table>
		</td>
		</tr>
			<tr class="dashAltRow">
		<td style="width:32px"><img src="http://demo.fengoffice.com/es/public/assets/themes/default/images/avatar.gif" class="avatar"></td>
		<td style="padding-left:10px">
			<table cellspacing="0" cellpadding="0" style="width:100%;"><tbody><tr><td style="height: 17px;">
				<div>demo agregó el espacio <a href="http://demo.fengoffice.com/es/index.php?c=dashboard&amp;a=index&amp;active_project=209" style="font-weight:bold" target="overview-panel">&nbsp;<span class="db-ico ico-unknown ico-project" style="padding: 1px 0 3px 18px;">JAvier Espacio</span></a></div>
			</td></tr><tr><td style="padding-bottom:3px;">
				<div class="desc">Aprox. hace 12 horas</div>
			</td></tr></tbody></table>
		</td>
		</tr>
			<tr class="">
		<td style="width:32px"><img src="http://demo.fengoffice.com/es/public/assets/themes/default/images/avatar.gif" class="avatar"></td>
		<td style="padding-left:10px">
			<table cellspacing="0" cellpadding="0" style="width:100%;"><tbody><tr><td style="height: 17px;">
				<div>demo cerró sesión</div>
			</td></tr><tr><td style="padding-bottom:3px;">
				<div class="desc">Aprox. hace 12 horas</div>
			</td></tr></tbody></table>
		</td>
		</tr>
			<tr class="dashAltRow">
		<td style="width:32px"><img src="http://demo.fengoffice.com/es/public/assets/themes/default/images/avatar.gif" class="avatar"></td>
		<td style="padding-left:10px">
			<table cellspacing="0" cellpadding="0" style="width:100%;"><tbody><tr><td style="height: 17px;">
				<div>demo inició sesión</div>
			</td></tr><tr><td style="padding-bottom:3px;">
				<div class="desc">Aprox. hace 12 horas</div>
			</td></tr></tbody></table>
		</td>
		</tr>
			<tr class="">
		<td style="width:32px"><img src="http://demo.fengoffice.com/es/public/assets/themes/default/images/avatar.gif" class="avatar"></td>
		<td style="padding-left:10px">
			<table cellspacing="0" cellpadding="0" style="width:100%;"><tbody><tr><td style="height: 17px;">
				<div>demo inició sesión</div>
			</td></tr><tr><td style="padding-bottom:3px;">
				<div class="desc">Aprox. hace 13 horas</div>
			</td></tr></tbody></table>
		</td>
		</tr>
			<tr class="dashAltRow">
		<td style="width:32px"><img src="http://demo.fengoffice.com/es/public/assets/themes/default/images/avatar.gif" class="avatar"></td>
		<td style="padding-left:10px">
			<table cellspacing="0" cellpadding="0" style="width:100%;"><tbody><tr><td style="height: 17px;">
				<div>demo inició sesión</div>
			</td></tr><tr><td style="padding-bottom:3px;">
				<div class="desc">Aprox. hace 13 horas</div>
			</td></tr></tbody></table>
		</td>
		</tr>
			<tr class="">
		<td style="width:32px"><img src="http://demo.fengoffice.com/es/public/assets/themes/default/images/avatar.gif" class="avatar"></td>
		<td style="padding-left:10px">
			<table cellspacing="0" cellpadding="0" style="width:100%;"><tbody><tr><td style="height: 17px;">
				<div>demo inició sesión</div>
			</td></tr><tr><td style="padding-bottom:3px;">
				<div class="desc">Aprox. hace 13 horas</div>
			</td></tr></tbody></table>
		</td>
		</tr>
			<tr class="dashAltRow">
		<td style="width:32px"><img src="http://demo.fengoffice.com/es/public/assets/themes/default/images/avatar.gif" class="avatar"></td>
		<td style="padding-left:10px">
			<table cellspacing="0" cellpadding="0" style="width:100%;"><tbody><tr><td style="height: 17px;">
				<div>demo inició sesión</div>
			</td></tr><tr><td style="padding-bottom:3px;">
				<div class="desc">Aprox. hace 13 horas</div>
			</td></tr></tbody></table>
		</td>
		</tr>
			<tr class="">
		<td style="width:32px"><img src="http://demo.fengoffice.com/es/public/assets/themes/default/images/avatar.gif" class="avatar"></td>
		<td style="padding-left:10px">
			<table cellspacing="0" cellpadding="0" style="width:100%;"><tbody><tr><td style="height: 17px;">
				<div>demo inició sesión</div>
			</td></tr><tr><td style="padding-bottom:3px;">
				<div class="desc">Aprox. hace 14 horas</div>
			</td></tr></tbody></table>
		</td>
		</tr>
			<tr class="dashAltRow">
		<td style="width:32px"><img src="http://demo.fengoffice.com/es/public/assets/themes/default/images/avatar.gif" class="avatar"></td>
		<td style="padding-left:10px">
			<table cellspacing="0" cellpadding="0" style="width:100%;"><tbody><tr><td style="height: 17px;">
				<div>demo inició sesión</div>
			</td></tr><tr><td style="padding-bottom:3px;">
				<div class="desc">Aprox. hace 14 horas</div>
			</td></tr></tbody></table>
		</td>
		</tr>
			<tr class="">
		<td style="width:32px"><img src="http://demo.fengoffice.com/es/public/assets/themes/default/images/avatar.gif" class="avatar"></td>
		<td style="padding-left:10px">
			<table cellspacing="0" cellpadding="0" style="width:100%;"><tbody><tr><td style="height: 17px;">
				<div>demo inició sesión</div>
			</td></tr><tr><td style="padding-bottom:3px;">
				<div class="desc">Aprox. hace 14 horas</div>
			</td></tr></tbody></table>
		</td>
		</tr>
			<tr class="dashAltRow">
		<td style="width:32px"><img src="http://demo.fengoffice.com/es/public/assets/themes/default/images/avatar.gif" class="avatar"></td>
		<td style="padding-left:10px">
			<table cellspacing="0" cellpadding="0" style="width:100%;"><tbody><tr><td style="height: 17px;">
				<div>demo inició sesión</div>
			</td></tr><tr><td style="padding-bottom:3px;">
				<div class="desc">Aprox. hace 14 horas</div>
			</td></tr></tbody></table>
		</td>
		</tr>
			<tr class="">
		<td style="width:32px"><img src="http://demo.fengoffice.com/es/public/assets/themes/default/images/avatar.gif" class="avatar"></td>
		<td style="padding-left:10px">
			<table cellspacing="0" cellpadding="0" style="width:100%;"><tbody><tr><td style="height: 17px;">
				<div>demo inició sesión</div>
			</td></tr><tr><td style="padding-bottom:3px;">
				<div class="desc">Aprox. hace 14 horas</div>
			</td></tr></tbody></table>
		</td>
		</tr>
			</tbody></table></div></td></tr>
<tr><td style="padding:20px 0 5px;" class="groupTitle" colspan="1">
				<a onclick="Ext.getCmp('workspace-panel').select(208)" href="#"><span style="padding: 0 16px 0 0" class="ico-color6">&nbsp;</span>&nbsp;Manual de Usuario</a>			</td><td align="center" onclick="og.showHideActivityGroup('1')" style="padding:20px 0 5px; width: 20px;" class="groupTitle">
				<span title="Ocultar" style="cursor:pointer;" id="hidelnk1">&ndash;</span>
				<span title="Mostrar" style="cursor:pointer; display:none;" id="showlnk1">+</span>
			</td></tr>
			
			<tr><td colspan="2"><div style="width: 100%" id="1">
			<table cellspacing="0" cellpadding="0" style="width:100%;">		<tbody><tr class="dashAltRow">
		<td style="width:32px"><img src="http://demo.fengoffice.com/es/public/assets/themes/default/images/avatar.gif" class="avatar"></td>
		<td style="padding-left:10px">
			<table cellspacing="0" cellpadding="0" style="width:100%;"><tbody><tr><td style="height: 17px;">
				<div>demo cerró la tarea <a href="http://demo.fengoffice.com/es/index.php?c=task&amp;a=view_task&amp;id=270" style="font-weight:bold" target="overview-panel">&nbsp;<span class="db-ico ico-unknown ico-task" style="padding: 1px 0 3px 18px;">PRUEBA</span></a></div>
			</td></tr><tr><td style="padding-bottom:3px;">
				<div class="desc">Aprox. hace 11 horas</div>
			</td></tr></tbody></table>
		</td>
		</tr>
			<tr class="">
		<td style="width:32px"><img src="http://demo.fengoffice.com/es/public/assets/themes/default/images/avatar.gif" class="avatar"></td>
		<td style="padding-left:10px">
			<table cellspacing="0" cellpadding="0" style="width:100%;"><tbody><tr><td style="height: 17px;">
				<div>demo agregó la tarea <a href="http://demo.fengoffice.com/es/index.php?c=task&amp;a=view_task&amp;id=270" style="font-weight:bold" target="overview-panel">&nbsp;<span class="db-ico ico-unknown ico-task" style="padding: 1px 0 3px 18px;">PRUEBA</span></a></div>
			</td></tr><tr><td style="padding-bottom:3px;">
				<div class="desc">Aprox. hace 11 horas</div>
			</td></tr></tbody></table>
		</td>
		</tr>
			</tbody></table></div></td></tr>
<tr><td style="padding:20px 0 5px;" class="groupTitle" colspan="1">
				<a onclick="Ext.getCmp('workspace-panel').select(4)" href="#"><span style="padding: 0 16px 0 0" class="ico-color3">&nbsp;</span>&nbsp;Administración</a>			</td><td align="center" onclick="og.showHideActivityGroup('2')" style="padding:20px 0 5px; width: 20px;" class="groupTitle">
				<span title="Ocultar" style="cursor:pointer;" id="hidelnk2">&ndash;</span>
				<span title="Mostrar" style="cursor:pointer; display:none;" id="showlnk2">+</span>
			</td></tr>
			
			<tr><td colspan="2"><div style="width: 100%" id="2">
			<table cellspacing="0" cellpadding="0" style="width:100%;">		<tbody><tr class="dashAltRow">
		<td style="width:32px"><img src="http://demo.fengoffice.com/es/public/assets/themes/default/images/avatar.gif" class="avatar"></td>
		<td style="padding-left:10px">
			<table cellspacing="0" cellpadding="0" style="width:100%;"><tbody><tr><td style="height: 17px;">
				<div>demo agregó la empresa <a href="http://demo.fengoffice.com/es/index.php?c=company&amp;a=view_client&amp;id=10" style="font-weight:bold" target="overview-panel">&nbsp;<span class="db-ico ico-unknown ico-company" style="padding: 1px 0 3px 18px;">Javier</span></a></div>
			</td></tr><tr><td style="padding-bottom:3px;">
				<div class="desc">Aprox. hace 12 horas</div>
			</td></tr></tbody></table>
		</td>
		</tr>
			<tr class="">
		<td style="width:32px"><img src="http://demo.fengoffice.com/es/public/assets/themes/default/images/avatar.gif" class="avatar"></td>
		<td style="padding-left:10px">
			<table cellspacing="0" cellpadding="0" style="width:100%;"><tbody><tr><td style="height: 17px;">
				<div>demo suscribió a <a href="http://demo.fengoffice.com/es/index.php?c=user&amp;a=card&amp;id=1" style="font-weight:bold" target="overview-panel">&nbsp;<span class="db-ico ico-unknown ico-user" style="padding: 0 0 3px 18px;">demo</span></a> a la empresa <a href="http://demo.fengoffice.com/es/index.php?c=company&amp;a=view_client&amp;id=10" style="font-weight:bold" target="overview-panel">&nbsp;<span class="db-ico ico-unknown ico-company" style="padding: 1px 0 3px 18px;">Javier</span></a></div>
			</td></tr><tr><td style="padding-bottom:3px;">
				<div class="desc">Aprox. hace 12 horas</div>
			</td></tr></tbody></table>
		</td>
		</tr>
			</tbody></table></div></td></tr>
<tr><td style="padding:20px 0 5px;" class="groupTitle" colspan="1">
				<a onclick="Ext.getCmp('workspace-panel').select(1)" href="#"><span style="padding: 0 16px 0 0" class="ico-color0">&nbsp;</span>&nbsp;demo_personal</a>			</td><td align="center" onclick="og.showHideActivityGroup('3')" style="padding:20px 0 5px; width: 20px;" class="groupTitle">
				<span title="Ocultar" style="cursor:pointer;" id="hidelnk3">&ndash;</span>
				<span title="Mostrar" style="cursor:pointer; display:none;" id="showlnk3">+</span>
			</td></tr>
			
			<tr><td colspan="2"><div style="width: 100%" id="3">
			<table cellspacing="0" cellpadding="0" style="width:100%;">		<tbody><tr class="dashAltRow">
		<td style="width:32px"><img src="http://demo.fengoffice.com/es/public/assets/themes/default/images/avatar.gif" class="avatar"></td>
		<td style="padding-left:10px">
			<table cellspacing="0" cellpadding="0" style="width:100%;"><tbody><tr><td style="height: 17px;">
				<div>demo agregó el evento <a href="http://demo.fengoffice.com/es/index.php?c=event&amp;a=viewevent&amp;id=6" style="font-weight:bold" target="overview-panel">&nbsp;<span class="db-ico ico-unknown ico-event" style="padding: 1px 0 3px 18px;">lalo</span></a></div>
			</td></tr><tr><td style="padding-bottom:3px;">
				<div class="desc">Aprox. hace 13 horas</div>
			</td></tr></tbody></table>
		</td>
		</tr>
			</tbody></table></div></td></tr>
</tbody></table>
</div>
		</div>
		</td></tr>

		<tr><td class="coViewBottomLeft"></td>
		<td class="coViewBottom"></td>
		<td class="coViewBottomRight"></td></tr>
	</tbody></table>
</div><div class="dashTasksInProgress">
<table style="width:100%">
	<colgroup><col width="12/"><col><col width="12/">
	</colgroup><tbody><tr><td style="width:12px;height:1px;overflow:hidden;line-height:0px;"></td>
	<td style="height:0px;overflow:hidden;line-height:0px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
	<td style="width:12px;height:1px;overflow:hidden;line-height:0px;"></td></tr>
	<tr>
	<td class="dashHeader" rowspan="2" colspan="2">
		<table onclick="og.dashExpand('og_1306467118_150214','active_tasks')" style="width:100%;cursor: pointer"><tbody><tr>
			<td>
				<div class="dashTitle">Tareas en progreso</div>
			</td>
			<td align="right" style="width:30px">
									<div class="dash-expander ico-dash-expanded" id="og_1306467118_150214expander"></div>
							</td>
		</tr></tbody></table>
	</td>
	<td class="coViewTopRight">&nbsp;&nbsp;</td></tr>
	<tr><td rowspan="2" class="coViewRight"></td></tr>
	
		<tr><td style="padding:0px" colspan="2" class="coViewBody">
		<div style="" id="og_1306467118_150214widget">
		
 

<div class="contextualHelp" id="og_1306467118_919514help">

<a title="Quitar este mensaje de ayuda" onclick="og.closeContextHelp('og_1306467118_919514','active_tasks_widget');" href="javascript:void(0);" style="padding-left:6px;float:right;" class="internalLink">Ocultar</a>Este widget muestra sus tareas activas y en pausa.
</div>
<div style="padding:10px">
<table style="width:100%;" id="dashTableTIP">
		<tbody><tr class=""><td><div class="db-ico ico-task">&nbsp;&gt;</div></td><td style="padding-left:5px;padding-bottom:2px">
	<span class=""><span><span class="og-wscont og-wsname"><span onmouseout="og.clearTriggerFPT()" onmouseover="og.triggerFPT(this)" class="og-wsname-color-0" style="padding-left:1px;padding-right:1px"><a name="Clientes" onclick="Ext.getCmp('workspace-panel').select(13)" href="#" class="og-wsname-color-0">Cl.</a>/<a name="Comercio" onclick="Ext.getCmp('workspace-panel').select(203)" href="#" class="og-wsname-color-0">Co.</a>/<a name="Agostina Dominguez" onclick="Ext.getCmp('workspace-panel').select(26)" href="#" class="og-wsname-color-0">Ag.</a>/<a class="og-wsname-color-0" name="Administración de la empresa" onclick="Ext.getCmp('workspace-panel').select(204)" href="#">Administ.</a></span></span></span>&nbsp;</span>	<a href="http://demo.fengoffice.com/es/index.php?c=task&amp;a=view_task&amp;id=247" class="internalLink" target="overview-panel">Liquidación de impuestos</a></td>
		</tr>
</tbody></table>
</div>		</div>
		</td></tr>

		<tr><td class="coViewBottomLeft"></td>
		<td class="coViewBottom"></td>
		<td class="coViewBottomRight"></td></tr>
	</tbody></table>
</div><div class="dashLate">
<table style="width:100%">
	<colgroup><col width="12/"><col><col width="12/">
	</colgroup><tbody><tr><td style="width:12px;height:1px;overflow:hidden;line-height:0px;"></td>
	<td style="height:0px;overflow:hidden;line-height:0px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
	<td style="width:12px;height:1px;overflow:hidden;line-height:0px;"></td></tr>
	<tr>
	<td class="dashHeader" rowspan="2" colspan="2">
		<table onclick="og.dashExpand('og_1306467118_203037','late_tasks')" style="width:100%;cursor: pointer"><tbody><tr>
			<td>
				<div class="dashTitle">Hitos y tareas atrasadas</div>
			</td>
			<td align="right" style="width:30px">
									<div class="dash-expander ico-dash-expanded" id="og_1306467118_203037expander"></div>
							</td>
		</tr></tbody></table>
	</td>
	<td class="coViewTopRight">&nbsp;&nbsp;</td></tr>
	<tr><td rowspan="2" class="coViewRight"></td></tr>
	
		<tr><td style="padding:0px" colspan="2" class="coViewBody">
		<div style="" id="og_1306467118_203037widget">
		 

<div class="contextualHelp" id="og_1306467118_738261help">

<a title="Quitar este mensaje de ayuda" onclick="og.closeContextHelp('og_1306467118_738261','late_tasks_widget');" href="javascript:void(0);" style="padding-left:6px;float:right;" class="internalLink">Ocultar</a>Este widget muestra sus tareas e hitos atrasados, así como los que finalizan hoy, ordenados por fecha de finalización.
</div>
<div style="padding:10px">
		
<div>
  <table style="width:100%" id="dashTableMS">
	<tbody><tr style="" class=" ">
	<td><div class="db-ico ico-milestone">&nbsp;</div></td>
    <td style="padding-left:5px;padding-bottom:2px">
    <span class=""><span><span class="og-wscont og-wsname"><span onmouseout="og.clearTriggerFPT()" onmouseover="og.triggerFPT(this)" class="og-wsname-color-0" style="padding-left:1px;padding-right:1px"><a name="Clientes" onclick="Ext.getCmp('workspace-panel').select(13)" href="#" class="og-wsname-color-0">Cl.</a>/<a name="Comercio" onclick="Ext.getCmp('workspace-panel').select(203)" href="#" class="og-wsname-color-0">Co.</a>/<a name="Agostina Dominguez" onclick="Ext.getCmp('workspace-panel').select(26)" href="#" class="og-wsname-color-0">Ag.</a>/<a class="og-wsname-color-0" name="Administración de la empresa" onclick="Ext.getCmp('workspace-panel').select(204)" href="#">Administ.</a></span></span></span>&nbsp;</span>    <a title="Pago de impuestos " href="http://demo.fengoffice.com/es/index.php?c=milestone&amp;a=view&amp;id=5" class="internalLink" target="overview-panel">
    Pago de impuestos 	</a></td>
    <td style="text-align:right;">963 días de atraso</td>
	</tr>
	<tr style="" class="dashAltRow ">
	<td><div class="db-ico ico-milestone">&nbsp;</div></td>
    <td style="padding-left:5px;padding-bottom:2px">
    <span class=""><span><span class="og-wscont og-wsname"><span onmouseout="og.clearTriggerFPT()" onmouseover="og.triggerFPT(this)" class="og-wsname-color-16" style="padding-left:1px;padding-right:1px"><a name="Administración" onclick="Ext.getCmp('workspace-panel').select(4)" href="#" class="og-wsname-color-16">Admi…</a>/<a class="og-wsname-color-16" name="Pagos" onclick="Ext.getCmp('workspace-panel').select(8)" href="#">Pagos</a></span></span></span>&nbsp;</span>    <a title="Día de pago de sueldos" href="http://demo.fengoffice.com/es/index.php?c=milestone&amp;a=view&amp;id=4" class="internalLink" target="overview-panel">
    Día de pago de sueldos	</a></td>
    <td style="text-align:right;">962 días de atraso</td>
	</tr>
	<tr style="" class=" ">
	<td><div class="db-ico ico-milestone">&nbsp;</div></td>
    <td style="padding-left:5px;padding-bottom:2px">
    <span class=""><span><span class="og-wscont og-wsname"><span onmouseout="og.clearTriggerFPT()" onmouseover="og.triggerFPT(this)" class="og-wsname-color-16" style="padding-left:1px;padding-right:1px"><a name="Administración" onclick="Ext.getCmp('workspace-panel').select(4)" href="#" class="og-wsname-color-16">Admi…</a>/<a class="og-wsname-color-16" name="Pagos" onclick="Ext.getCmp('workspace-panel').select(8)" href="#">Pagos</a></span></span></span>&nbsp;</span>    <a title="Vencimiento de Servicios de Telefonía " href="http://demo.fengoffice.com/es/index.php?c=milestone&amp;a=view&amp;id=1" class="internalLink" target="overview-panel">
    Vencimiento de Servicios de Telefonía 	</a></td>
    <td style="text-align:right;">959 días de atraso</td>
	</tr>
	<tr style="" class="dashAltRow ">
	<td><div class="db-ico ico-milestone">&nbsp;</div></td>
    <td style="padding-left:5px;padding-bottom:2px">
    <span class=""><span><span class="og-wscont og-wsname"><span onmouseout="og.clearTriggerFPT()" onmouseover="og.triggerFPT(this)" class="og-wsname-color-16" style="padding-left:1px;padding-right:1px"><a name="Administración" onclick="Ext.getCmp('workspace-panel').select(4)" href="#" class="og-wsname-color-16">Admi…</a>/<a class="og-wsname-color-16" name="Pagos" onclick="Ext.getCmp('workspace-panel').select(8)" href="#">Pagos</a></span></span></span>&nbsp;</span>    <a title="Vencimiento de Impuestos " href="http://demo.fengoffice.com/es/index.php?c=milestone&amp;a=view&amp;id=3" class="internalLink" target="overview-panel">
    Vencimiento de Impuestos 	</a></td>
    <td style="text-align:right;">949 días de atraso</td>
	</tr>

    <tr style="" class="dashAltRow "><td><div class="db-ico ico-task"></div></td>
    
    <td style="padding-left:5px;padding-bottom:2px">
    <span class=""><span><span class="og-wscont og-wsname"><span onmouseout="og.clearTriggerFPT()" onmouseover="og.triggerFPT(this)" class="og-wsname-color-0" style="padding-left:1px;padding-right:1px"><a name="Clientes" onclick="Ext.getCmp('workspace-panel').select(13)" href="#" class="og-wsname-color-0">Cl.</a>/<a name="Comercio" onclick="Ext.getCmp('workspace-panel').select(203)" href="#" class="og-wsname-color-0">Co.</a>/<a name="Agostina Dominguez" onclick="Ext.getCmp('workspace-panel').select(26)" href="#" class="og-wsname-color-0">Ag.</a>/<a class="og-wsname-color-0" name="Administración de la empresa" onclick="Ext.getCmp('workspace-panel').select(204)" href="#">Administ.</a></span></span></span>&nbsp;</span>	<a title="Liquidación de impuestos" href="http://demo.fengoffice.com/es/index.php?c=task&amp;a=view_task&amp;id=247" class="internalLink" target="overview-panel">
    <span style="font-weight:bold"> Sofía Aguirre: </span>Liquidación de impuestos	</a></td>
     <td style="text-align:right">955 días de atraso</td>
	</tr>


  </tbody></table>
  
 </div>

</div>		</div>
		</td></tr>

		<tr><td class="coViewBottomLeft"></td>
		<td class="coViewBottom"></td>
		<td class="coViewBottomRight"></td></tr>
	</tbody></table>
</div><div class="dashPendingTasks">
<table style="width:100%">
	<colgroup><col width="12/"><col><col width="12/">
	</colgroup><tbody><tr><td style="width:12px;height:1px;overflow:hidden;line-height:0px;"></td>
	<td style="height:0px;overflow:hidden;line-height:0px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
	<td style="width:12px;height:1px;overflow:hidden;line-height:0px;"></td></tr>
	<tr>
	<td class="dashHeader" rowspan="2" colspan="2">
		<table onclick="og.dashExpand('og_1306467118_146719','pending_tasks')" style="width:100%;cursor: pointer"><tbody><tr>
			<td>
				<div class="dashTitle">Tareas pendientes</div>
			</td>
			<td align="right" style="width:30px">
									<div class="dash-expander ico-dash-expanded" id="og_1306467118_146719expander"></div>
							</td>
		</tr></tbody></table>
	</td>
	<td class="coViewTopRight">&nbsp;&nbsp;</td></tr>
	<tr><td rowspan="2" class="coViewRight"></td></tr>
	
		<tr><td style="padding:0px" colspan="2" class="coViewBody">
		<div style="" id="og_1306467118_146719widget">
		 

<div class="contextualHelp" id="og_1306467118_730897help">

<a title="Quitar este mensaje de ayuda" onclick="og.closeContextHelp('og_1306467118_730897','pending_tasks_widget');" href="javascript:void(0);" style="padding-left:6px;float:right;" class="internalLink">Ocultar</a>Este widget muestra sus tareas incompletas. Solo puedes ver las tareas incompletas que tienes asignadas, o puedes modificar la configuración en las opciones del panel principal.
</div>

<div style="padding:10px">
<table style="width:100%" id="dashTablePT">
		<tbody><tr style="" class=" ">
		<td><div class="db-ico ico-task"></div></td>
		<td style="padding-left:5px;padding-bottom:2px">
	<span class=""><span><span class="og-wscont og-wsname"><span onmouseout="og.clearTriggerFPT()" onmouseover="og.triggerFPT(this)" class="og-wsname-color-11" style="padding-left:1px;padding-right:1px"><a name="Clientes" onclick="Ext.getCmp('workspace-panel').select(13)" href="#" class="og-wsname-color-11">Cl.</a>/<a name="Comercio" onclick="Ext.getCmp('workspace-panel').select(203)" href="#" class="og-wsname-color-11">Co.</a>/<a name="Agostina Dominguez" onclick="Ext.getCmp('workspace-panel').select(26)" href="#" class="og-wsname-color-11">Ag.</a>/<a class="og-wsname-color-11" name="Personal" onclick="Ext.getCmp('workspace-panel').select(205)" href="#">Personal</a></span></span></span>&nbsp;</span>	<a title="Liquidación de sueldos y jornales" href="http://demo.fengoffice.com/es/index.php?c=task&amp;a=view_task&amp;id=256" class="internalLink" target="overview-panel">
		    Liquidación de sueldos y jornales		</a></td>
	<td></td>
	<td></td>
	<td style="text-align:right"><div style="cursor:pointer;" id="og_1306467118_538345_status_selector_cont_256"></div>
	
	</td>
	</tr>
	
		<tr style="" class="dashAltRow ">
		<td><div class="db-ico ico-task"></div></td>
		<td style="padding-left:5px;padding-bottom:2px">
	<span class=""><span><span class="og-wscont og-wsname"><span onmouseout="og.clearTriggerFPT()" onmouseover="og.triggerFPT(this)" class="og-wsname-color-11" style="padding-left:1px;padding-right:1px"><a name="Clientes" onclick="Ext.getCmp('workspace-panel').select(13)" href="#" class="og-wsname-color-11">Cl.</a>/<a name="Comercio" onclick="Ext.getCmp('workspace-panel').select(203)" href="#" class="og-wsname-color-11">Co.</a>/<a name="Agostina Dominguez" onclick="Ext.getCmp('workspace-panel').select(26)" href="#" class="og-wsname-color-11">Ag.</a>/<a class="og-wsname-color-11" name="Personal" onclick="Ext.getCmp('workspace-panel').select(205)" href="#">Personal</a></span></span></span>&nbsp;</span>	<a title="Emisión de recibos" href="http://demo.fengoffice.com/es/index.php?c=task&amp;a=view_task&amp;id=257" class="internalLink" target="overview-panel">
		    Emisión de recibos		</a></td>
	<td></td>
	<td></td>
	<td style="text-align:right"><div style="cursor:pointer;" id="og_1306467118_538345_status_selector_cont_257"></div>
	
	</td>
	</tr>
	
		<tr style="" class=" ">
		<td><div class="db-ico ico-task"></div></td>
		<td style="padding-left:5px;padding-bottom:2px">
	<span class=""><span><span class="og-wscont og-wsname"><span onmouseout="og.clearTriggerFPT()" onmouseover="og.triggerFPT(this)" class="og-wsname-color-11" style="padding-left:1px;padding-right:1px"><a name="Clientes" onclick="Ext.getCmp('workspace-panel').select(13)" href="#" class="og-wsname-color-11">Cl.</a>/<a name="Comercio" onclick="Ext.getCmp('workspace-panel').select(203)" href="#" class="og-wsname-color-11">Co.</a>/<a name="Agostina Dominguez" onclick="Ext.getCmp('workspace-panel').select(26)" href="#" class="og-wsname-color-11">Ag.</a>/<a class="og-wsname-color-11" name="Personal" onclick="Ext.getCmp('workspace-panel').select(205)" href="#">Personal</a></span></span></span>&nbsp;</span>	<a title="Pago de la Seguridad Social" href="http://demo.fengoffice.com/es/index.php?c=task&amp;a=view_task&amp;id=258" class="internalLink" target="overview-panel">
		    Pago de la Seguridad Social		</a></td>
	<td></td>
	<td></td>
	<td style="text-align:right"><div style="cursor:pointer;" id="og_1306467118_538345_status_selector_cont_258"></div>
	
	</td>
	</tr>
	
		<tr style="" class="dashAltRow ">
		<td><div class="db-ico ico-task"></div></td>
		<td style="padding-left:5px;padding-bottom:2px">
	<span class=""><span><span class="og-wscont og-wsname"><span onmouseout="og.clearTriggerFPT()" onmouseover="og.triggerFPT(this)" class="og-wsname-color-0" style="padding-left:1px;padding-right:1px"><a name="Clientes" onclick="Ext.getCmp('workspace-panel').select(13)" href="#" class="og-wsname-color-0">Cl.</a>/<a name="Industria" onclick="Ext.getCmp('workspace-panel').select(200)" href="#" class="og-wsname-color-0">In.</a>/<a name="MICRO" onclick="Ext.getCmp('workspace-panel').select(27)" href="#" class="og-wsname-color-0">MI.</a>/<a class="og-wsname-color-0" name="Administración de la empresa" onclick="Ext.getCmp('workspace-panel').select(206)" href="#">Administ.</a></span></span></span>&nbsp;</span>	<a title="Administración de la empresa" href="http://demo.fengoffice.com/es/index.php?c=task&amp;a=view_task&amp;id=259" class="internalLink" target="overview-panel">
		    Administración de la empresa		</a></td>
	<td>(5 subtareas, 5 aún abiertas)</td>
	<td></td>
	<td style="text-align:right"><div style="cursor:pointer;" id="og_1306467118_538345_status_selector_cont_259"></div>
	
	</td>
	</tr>
	
		<tr style="" class=" ">
		<td><div class="db-ico ico-task"></div></td>
		<td style="padding-left:5px;padding-bottom:2px">
	<span class=""><span><span class="og-wscont og-wsname"><span onmouseout="og.clearTriggerFPT()" onmouseover="og.triggerFPT(this)" class="og-wsname-color-0" style="padding-left:1px;padding-right:1px"><a name="Clientes" onclick="Ext.getCmp('workspace-panel').select(13)" href="#" class="og-wsname-color-0">Cl.</a>/<a name="Industria" onclick="Ext.getCmp('workspace-panel').select(200)" href="#" class="og-wsname-color-0">In.</a>/<a name="MICRO" onclick="Ext.getCmp('workspace-panel').select(27)" href="#" class="og-wsname-color-0">MI.</a>/<a class="og-wsname-color-0" name="Administración de la empresa" onclick="Ext.getCmp('workspace-panel').select(206)" href="#">Administ.</a></span></span></span>&nbsp;</span>	<a title="Contabilización" href="http://demo.fengoffice.com/es/index.php?c=task&amp;a=view_task&amp;id=260" class="internalLink" target="overview-panel">
		    Contabilización		</a></td>
	<td></td>
	<td></td>
	<td style="text-align:right"><div style="cursor:pointer;" id="og_1306467118_538345_status_selector_cont_260"></div>
	
	</td>
	</tr>
	
		<tr style="display:none" class="dashAltRow dashSMTC">
		<td><div class="db-ico ico-task"></div></td>
		<td style="padding-left:5px;padding-bottom:2px">
	<span class=""><span><span class="og-wscont og-wsname"><span onmouseout="og.clearTriggerFPT()" onmouseover="og.triggerFPT(this)" class="og-wsname-color-0" style="padding-left:1px;padding-right:1px"><a name="Clientes" onclick="Ext.getCmp('workspace-panel').select(13)" href="#" class="og-wsname-color-0">Cl.</a>/<a name="Industria" onclick="Ext.getCmp('workspace-panel').select(200)" href="#" class="og-wsname-color-0">In.</a>/<a name="MICRO" onclick="Ext.getCmp('workspace-panel').select(27)" href="#" class="og-wsname-color-0">MI.</a>/<a class="og-wsname-color-0" name="Administración de la empresa" onclick="Ext.getCmp('workspace-panel').select(206)" href="#">Administ.</a></span></span></span>&nbsp;</span>	<a title="Liquidación de impuestos" href="http://demo.fengoffice.com/es/index.php?c=task&amp;a=view_task&amp;id=261" class="internalLink" target="overview-panel">
		    Liquidación de impuestos		</a></td>
	<td></td>
	<td></td>
	<td style="text-align:right"><div style="cursor:pointer;" id="og_1306467118_538345_status_selector_cont_261"></div>
	
	</td>
	</tr>
	
		<tr style="display:none" class=" dashSMTC">
		<td><div class="db-ico ico-task"></div></td>
		<td style="padding-left:5px;padding-bottom:2px">
	<span class=""><span><span class="og-wscont og-wsname"><span onmouseout="og.clearTriggerFPT()" onmouseover="og.triggerFPT(this)" class="og-wsname-color-0" style="padding-left:1px;padding-right:1px"><a name="Clientes" onclick="Ext.getCmp('workspace-panel').select(13)" href="#" class="og-wsname-color-0">Cl.</a>/<a name="Industria" onclick="Ext.getCmp('workspace-panel').select(200)" href="#" class="og-wsname-color-0">In.</a>/<a name="MICRO" onclick="Ext.getCmp('workspace-panel').select(27)" href="#" class="og-wsname-color-0">MI.</a>/<a class="og-wsname-color-0" name="Administración de la empresa" onclick="Ext.getCmp('workspace-panel').select(206)" href="#">Administ.</a></span></span></span>&nbsp;</span>	<a title="Pago de impuestos" href="http://demo.fengoffice.com/es/index.php?c=task&amp;a=view_task&amp;id=262" class="internalLink" target="overview-panel">
		    Pago de impuestos		</a></td>
	<td></td>
	<td></td>
	<td style="text-align:right"><div style="cursor:pointer;" id="og_1306467118_538345_status_selector_cont_262"></div>
	
	</td>
	</tr>
	
		<tr style="display:none" class="dashAltRow dashSMTC">
		<td><div class="db-ico ico-task"></div></td>
		<td style="padding-left:5px;padding-bottom:2px">
	<span class=""></span>	<a title="Clausura ante BPS" href="http://demo.fengoffice.com/es/index.php?c=task&amp;a=view_task&amp;id=7" class="internalLink" target="overview-panel">
		    Clausura ante BPS		</a></td>
	<td></td>
	<td></td>
	<td style="text-align:right"><div style="cursor:pointer;" id="og_1306467118_538345_status_selector_cont_7"></div>
	
	</td>
	</tr>
	
		<tr style="display:none" class=" dashSMTC">
		<td><div class="db-ico ico-task"></div></td>
		<td style="padding-left:5px;padding-bottom:2px">
	<span class=""><span><span class="og-wscont og-wsname"><span onmouseout="og.clearTriggerFPT()" onmouseover="og.triggerFPT(this)" class="og-wsname-color-0" style="padding-left:1px;padding-right:1px"><a name="Clientes" onclick="Ext.getCmp('workspace-panel').select(13)" href="#" class="og-wsname-color-0">Cl.</a>/<a name="Industria" onclick="Ext.getCmp('workspace-panel').select(200)" href="#" class="og-wsname-color-0">In.</a>/<a name="MICRO" onclick="Ext.getCmp('workspace-panel').select(27)" href="#" class="og-wsname-color-0">MI.</a>/<a class="og-wsname-color-0" name="Administración de la empresa" onclick="Ext.getCmp('workspace-panel').select(206)" href="#">Administ.</a></span></span></span>&nbsp;</span>	<a title="Elaboración y presentación de declaración jurada" href="http://demo.fengoffice.com/es/index.php?c=task&amp;a=view_task&amp;id=263" class="internalLink" target="overview-panel">
		    Elaboración y presentación de declaración jurada		</a></td>
	<td></td>
	<td></td>
	<td style="text-align:right"><div style="cursor:pointer;" id="og_1306467118_538345_status_selector_cont_263"></div>
	
	</td>
	</tr>
	
		<tr style="display:none" class="dashAltRow dashSMTC">
		<td><div class="db-ico ico-task"></div></td>
		<td style="padding-left:5px;padding-bottom:2px">
	<span class=""></span>	<a title="Clausura ante MTSS" href="http://demo.fengoffice.com/es/index.php?c=task&amp;a=view_task&amp;id=8" class="internalLink" target="overview-panel">
		    Clausura ante MTSS		</a></td>
	<td></td>
	<td></td>
	<td style="text-align:right"><div style="cursor:pointer;" id="og_1306467118_538345_status_selector_cont_8"></div>
	
	</td>
	</tr>
	
	<tr style="display:none" class="dashSMTC">
		<td></td><td></td><td></td><td></td>
		<td style="text-align:right"><a onclick="Ext.getCmp('tabs-panel').activate('tasks-panel');" href="#">Mostrar todos...</a>
	</td></tr>
	
</tbody></table>
  <div style="width:100%; text-align:right" id="dashSMTT">
	<a onclick="og.hideAndShowByClass('dashSMTT', 'dashSMTC', 'dashTablePT'); return false;" href="#">
		Ver más (5)...
	</a>
  </div>
</div>

		</div>
		</td></tr>

		<tr><td class="coViewBottomLeft"></td>
		<td class="coViewBottom"></td>
		<td class="coViewBottomRight"></td></tr>
	</tbody></table>
</div><div class="dashDocuments">
<table style="width:100%">
	<colgroup><col width="12/"><col><col width="12/">
	</colgroup><tbody><tr><td style="width:12px;height:1px;overflow:hidden;line-height:0px;"></td>
	<td style="height:0px;overflow:hidden;line-height:0px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
	<td style="width:12px;height:1px;overflow:hidden;line-height:0px;"></td></tr>
	<tr>
	<td class="dashHeader" rowspan="2" colspan="2">
		<table onclick="og.dashExpand('og_1306467118_412089','documents')" style="width:100%;cursor: pointer"><tbody><tr>
			<td>
				<div class="dashTitle">Documentos</div>
			</td>
			<td align="right" style="width:30px">
									<div class="dash-expander ico-dash-expanded" id="og_1306467118_412089expander"></div>
							</td>
		</tr></tbody></table>
	</td>
	<td class="coViewTopRight">&nbsp;&nbsp;</td></tr>
	<tr><td rowspan="2" class="coViewRight"></td></tr>
	
		<tr><td style="padding:0px" colspan="2" class="coViewBody">
		<div style="" id="og_1306467118_412089widget">
		 

<div class="contextualHelp" id="og_1306467118_775363help">

<a title="Quitar este mensaje de ayuda" onclick="og.closeContextHelp('og_1306467118_775363','documents_widget');" href="javascript:void(0);" style="padding-left:6px;float:right;" class="internalLink">Ocultar</a>Este widget muestra los documentos más recientes en el área de trabajo seleccionada.
</div>  
<div style="padding:10px">
<table style="width:100%" id="dashTableDocuments">
	<tbody><tr style="" class=" ">
	<td width="18">
		<div class="db-ico ico-unknown ico-application-zip ico-ext-zip"></div>
		
	</td>
	<td style="padding-left:2px">
		<div style="padding-right:0px;display:inline"><span class=""><span><span class="og-wscont og-wsname"><span onmouseout="og.clearTriggerFPT()" onmouseover="og.triggerFPT(this)" class="og-wsname-color-6" style="padding-left:1px;padding-right:1px"><a class="og-wsname-color-6" name="Manual de Usuario" onclick="Ext.getCmp('workspace-panel').select(208)" href="#">Manual de Usuario</a></span></span></span>&nbsp;</span></div>	<a title="Publicado el 11/10/2008 13:19 por demo" href="http://demo.fengoffice.com/es/index.php?c=files&amp;a=file_details&amp;id=10" class="internalLink" target="overview-panel">
	Manual de FengOffice.zip	</a></td>
	<td style="text-align:right">
	</td></tr>
	<tr style="" class="dashAltRow ">
	<td width="18">
		<div class="db-ico ico-unknown ico-application-msword ico-ext-doc"></div>
		
	</td>
	<td style="padding-left:2px">
		<div style="padding-right:0px;display:inline"><span class=""><span><span class="og-wscont og-wsname"><span onmouseout="og.clearTriggerFPT()" onmouseover="og.triggerFPT(this)" class="og-wsname-color-0" style="padding-left:1px;padding-right:1px"><a class="og-wsname-color-0" name="demo_personal" onclick="Ext.getCmp('workspace-panel').select(1)" href="#">demo_personal</a></span></span></span>&nbsp;</span></div>	<a title="Publicado el 08/10/2008 09:34 por Sofía Aguirre" href="http://demo.fengoffice.com/es/index.php?c=files&amp;a=file_details&amp;id=6" class="internalLink" target="overview-panel">
	Acta primer reunión de la Mesa Tecnológica.doc	</a></td>
	<td style="text-align:right">
	</td></tr>
	<tr style="" class=" ">
	<td width="18">
		<div class="db-ico ico-unknown ico-application-msword ico-ext-doc"></div>
		
	</td>
	<td style="padding-left:2px">
				<div title="Bloqueado por demo" style="padding-left:16px;display:inline" class="db-ico ico-unknown ico-locked">&nbsp;</div>
		<div style="padding-right:0px;display:inline"><span class=""><span><span class="og-wscont og-wsname"><span onmouseout="og.clearTriggerFPT()" onmouseover="og.triggerFPT(this)" class="og-wsname-color-12" style="padding-left:1px;padding-right:1px"><a class="og-wsname-color-12" name="RRHH" onclick="Ext.getCmp('workspace-panel').select(21)" href="#">RRHH</a></span></span></span>&nbsp;</span></div>	<a title="Publicado el 26/09/2008 15:11 por demo" href="http://demo.fengoffice.com/es/index.php?c=files&amp;a=file_details&amp;id=5" class="internalLink" target="overview-panel">
	Currículum.doc	</a></td>
	<td style="text-align:right">
	</td></tr>
	<tr style="" class="dashAltRow ">
	<td width="18">
		<div class="db-ico ico-unknown ico-application-msword ico-ext-doc"></div>
		
	</td>
	<td style="padding-left:2px">
		<div style="padding-right:0px;display:inline"><span class=""><span><span class="og-wscont og-wsname"><span onmouseout="og.clearTriggerFPT()" onmouseover="og.triggerFPT(this)" class="og-wsname-color-5" style="padding-left:1px;padding-right:1px"><a class="og-wsname-color-5" name="Clientes" onclick="Ext.getCmp('workspace-panel').select(13)" href="#">Clientes</a></span></span></span>&nbsp;</span></div>	<a title="Publicado el 26/09/2008 15:08 por demo" href="http://demo.fengoffice.com/es/index.php?c=files&amp;a=file_details&amp;id=3" class="internalLink" target="overview-panel">
	Francisco Torres - Deudas.doc	</a></td>
	<td style="text-align:right">
	</td></tr>
	<tr style="" class=" ">
	<td width="18">
		<div class="db-ico ico-unknown ico-application-msword ico-ext-doc"></div>
		
	</td>
	<td style="padding-left:2px">
		<div style="padding-right:0px;display:inline"><span class=""><span><span class="og-wscont og-wsname"><span onmouseout="og.clearTriggerFPT()" onmouseover="og.triggerFPT(this)" class="og-wsname-color-5" style="padding-left:1px;padding-right:1px"><a class="og-wsname-color-5" name="Clientes" onclick="Ext.getCmp('workspace-panel').select(13)" href="#">Clientes</a></span></span></span>&nbsp;</span></div>	<a title="Publicado el 26/09/2008 15:07 por demo" href="http://demo.fengoffice.com/es/index.php?c=files&amp;a=file_details&amp;id=2" class="internalLink" target="overview-panel">
	TEN - Pagos.doc	</a></td>
	<td style="text-align:right">
	</td></tr>
	<tr style="display:none" class="dashAltRow dashSMDC">
	<td width="18">
		<div class="db-ico ico-unknown ico-application-msword ico-ext-doc"></div>
		
	</td>
	<td style="padding-left:2px">
		<div style="padding-right:0px;display:inline"><span class=""><span><span class="og-wscont og-wsname"><span onmouseout="og.clearTriggerFPT()" onmouseover="og.triggerFPT(this)" class="og-wsname-color-5" style="padding-left:1px;padding-right:1px"><a class="og-wsname-color-5" name="Clientes" onclick="Ext.getCmp('workspace-panel').select(13)" href="#">Clientes</a></span></span></span>&nbsp;</span></div>	<a title="Publicado el 26/09/2008 15:06 por demo" href="http://demo.fengoffice.com/es/index.php?c=files&amp;a=file_details&amp;id=1" class="internalLink" target="overview-panel">
	COTER SRL.doc	</a></td>
	<td style="text-align:right">
	</td></tr>
	</tbody></table>
<div style="width:100%; text-align:right" id="dashSMDT">
	<a onclick="og.hideAndShowByClass('dashSMDT', 'dashSMDC', 'dashTableDocuments'); return false;" href="#">Ver más (1)...</a>
</div>
</div>		</div>
		</td></tr>

		<tr><td class="coViewBottomLeft"></td>
		<td class="coViewBottom"></td>
		<td class="coViewBottomRight"></td></tr>
	</tbody></table>
</div>
</td>

<td style="width:38%;min-width:330px">
<div class="dashMessages">
<table style="width:100%">
	<colgroup><col width="12/"><col><col width="12/">
	</colgroup><tbody><tr><td style="width:12px;height:1px;overflow:hidden;line-height:0px;"></td>
	<td style="height:0px;overflow:hidden;line-height:0px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
	<td style="width:12px;height:1px;overflow:hidden;line-height:0px;"></td></tr>
	<tr>
	<td class="dashHeader" rowspan="2" colspan="2">
		<table onclick="og.dashExpand('og_1306467118_690148','messages')" style="width:100%;cursor: pointer"><tbody><tr>
			<td>
				<div class="dashTitle">Notas</div>
			</td>
			<td align="right" style="width:30px">
									<div class="dash-expander ico-dash-expanded" id="og_1306467118_690148expander"></div>
							</td>
		</tr></tbody></table>
	</td>
	<td class="coViewTopRight">&nbsp;&nbsp;</td></tr>
	<tr><td rowspan="2" class="coViewRight"></td></tr>
	
		<tr><td style="padding:0px" colspan="2" class="coViewBody">
		<div style="" id="og_1306467118_690148widget">
		 

<div class="contextualHelp" id="og_1306467118_183717help">

<a title="Quitar este mensaje de ayuda" onclick="og.closeContextHelp('og_1306467118_183717','messages_widget');" href="javascript:void(0);" style="padding-left:6px;float:right;" class="internalLink">Ocultar</a>Este widget muestra las últimas notas para el área de trabajo seleccionada.
</div>  
<div style="padding:10px">
    <table style="width:100%" id="dashTableMessages">
    	<tbody><tr style="" class=" ">
    	<td>
            <div id="divImageOne">    
            </div>
            </td>
        </tr>
    	</tbody>
        </table>
    </div>		
    </div>
		</td></tr>

		<tr><td class="coViewBottomLeft"></td>
		<td class="coViewBottom"></td>
		<td class="coViewBottomRight"></td></tr>
	</tbody></table>
</div></td>

</tr></tbody></table>
</div>
</div>
<script>
//the namespace for this tutorial

		//code here
		var data = [['Ext JS',115000],['jQuery',250100],['Prototype',150000],['mootools',75000],['YUI',95000],['Dojo',20000],['Sizzle',15000]];
		
		var store = new Ext.data.ArrayStore({
			fields:[{name:'framework'},{name:'users', type:'float'}]
		});
		store.loadData(data);
		
		var columnChart = new Ext.chart.ColumnChart({
			store: store,
			//url:'../ext-3.0-rc1/resources/charts.swf',
			xField: 'framework',
			yField: 'users'
		});
		
		var pieChart = new Ext.chart.PieChart({
			store: store,
			dataField: 'users',
			categoryField : 'framework'
		});
		
		var lineChart = new Ext.chart.LineChart({
			store: store,
			xField: 'framework',
			yField: 'users'
		});
		
		var panel1 = new Ext.Panel({
			title: 'Column chart example',
			items:[columnChart]
		});
		
		var panel2 = new Ext.Panel({
			title: 'Line chart example',
			items:[lineChart]
		});
		
		var panel3 = new Ext.Panel({
			title: 'Pie chart example',
			items:[pieChart]
		});
		
		var main = new Ext.Panel({
			renderTo: 'divImageOne',
			width:450,
			defaults: {
				height:250,
				collapsible: true,
				border:false,
				titleCollapse: true
			},
			items: [panel1,panel2,panel3]
		});
		
</script>