
<div style="margin-top: 10px;text-align: center;width: 100%;">
    <?php
    echo renderChart($this->htmlHead()->urlSite()."/FusionCharts/Column3D.swf", $this->htmlHead()->urlSite()."/cms/help/json/case/data", "", "myFirst", 500, 300, false, true);
    ?>
</div>


</div>
