<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
<head>
</head>
<body>

<div style="width:100%;height:100%;overflow:auto;background-color:#FFFFDD">
<div style="padding:10px;">

<h1>Open Hotel</h1>

<p style="margin:10px 0">La ayuda aun no esta disponible!</p>


<p style="margin:10px 0"><a target="_blank" href="http://qphotel.com/">Visita para conocer mas </a></p>

</div></div>

</body>
</html>
