<link rel="stylesheet" type="text/css" media="all" href="<?php echo $this->htmlHead()->css() ?>/reserva/cssreserva.css" />
<div class="main-qphotels-all">
    <div class="enjoy-all">
        <div class="enjoy-logo">
            <a href="<?php echo $this->htmlIndex()->urlSite();?>"><img src="<?php echo $this->htmlIndex()->img()?>/hotel/images/enjoy-logo.png"/></a>
        </div>
        <div class="enjoy-menu">
            <ul class="hover_block">
                <?php echo $this->htmlIndex()->menu_publicacion($controller);?>
            </ul>    
        </div>
    </div>
    <div class="reserva-all">
        <div class="content-form-all">
                <fieldset class="dlinline">
                    <div class="form-all-bottom">
                        <input type="submit" onClick="getReservar();" value="<?php echo Cit_Init::_('TARIFAS_DISPONIBLIDAD')?>" class="button left1"/>
                    </div>
                    <div class="w100">
                        <div class="best_rate-360">
                            <?php echo $this->htmlIndex()->getDescripciones('VER');?>
                        </div>                         
                    </div>
                </fieldset>
        </div>
    </div>
    <div class="content-franchise">
        <div id="franchise" class="content-center">
            <div id="inner-franchise">
                <h2 id="title">Franchise</h2>
                <img src=" <?php echo $this->htmlHead()->img();?>/exterior/hands.jpg" alt="Franchise" />
                <div class="clear"></div>
                <div id="franchise-tabs" class="conteiner-tabs">
                    <ul id="tabs">
                        <?php if(!empty($this->titulos)):
                            foreach($this->titulos as $value):?>
                        <li>                            
                            <a href="/franchise/terms/cod/<?php echo $value['art_id']?>">
                                <?php echo $value['art_titulo']?>
                            </a>
                        </li>                        
                        <?php endforeach; endif;?>
                    </ul>
                    <div class="content-tabs">
                       <?php if(!empty($this->contenido)):
                           echo $this->contenido[0]['art_contenido'];
                           endif;
                       ?>                                                
                    </div>
                </div>
            </div>
        </div>
    </div>   
</div>