<div style="margin-left:5px;" id="form"></div>

<div style="margin-left:5px;" id="divcalendar"></div>

<input type="hidden" name="save[]" id="save" value=""/>
     
<script>
//Valiadción de fecha//
    Ext.apply(Ext.form.VTypes, {
        daterange : function(val, field) {
            var date = field.parseDate(val);

            if(!date){
                return false;
            }
            if (field.startDateField) {
                var start = Ext.getCmp(field.startDateField);
                if (!start.maxValue || (date.getTime() != start.maxValue.getTime())) {
                    start.setMaxValue(date);
                    start.validate();
                }
            }
            else if (field.endDateField) {
                var end = Ext.getCmp(field.endDateField);
                if (!end.minValue || (date.getTime() != end.minValue.getTime())) {
                    end.setMinValue(date);
                    end.validate();
                }
            }
            /*
             * Always return true since we're only using this vtype to set the
             * min/max allowed values (these are tested for after the vtype test)
             */
            return true;
        }
    });
    cit.winModal = '';
    cit.storeSucur = <?php echo $this->sucursal;?>;
    cit.storeTiphab = new Ext.data.Store({
        proxy:new Ext.data.HttpProxy({
            url:og.getUrl('asignacion-tarifa-tipo-hab','json',{'case':'listaTipohab'},'habitacion'),
            method:'POST'
    	}),
        reader:new Ext.data.JsonReader({
            fields: [
                { name : 'lleva'},
                { name : 'tih_id'},
                { name : 'tih_desc'},
                { name : 'tih_stock'}
            ], //['NEMO', 'nomcomp'],
            root:'matches'
    	})
    });
    
    cit.storeTiphab.load({params: {'su_id': '<?php echo $this->suid?>'}});
	
//    cit.storeResBloqueo = new Ext.data.JsonStore({
//        url: og.getUrl('reserva-bloqueo-rango','ajax',{'case':'listaBloqueo'},'reserva'),
//        root: 'matches',
//        fields: ['tih_desc','tih_cant']
//    });
    cit.storeResBloqueo = new Ext.data.JsonStore({
        url: og.getUrl('reserva-bloqueo-rango','json',{'case':'listaHabDisp'},'reserva'),
        root: 'matches',
        fields: ['hb_id', 'tih_id', 'su_id', 'hb_desc', 'tih_abr']
    });

//    cit.storeCantHab = new Ext.data.JsonStore({
//        url: og.getUrl('reserva-bloqueo-rango','json',{'case':'cantHab'},'reserva'),
//        root: 'matches',
//        fields: ['tih_desc','tih_cant']
//    });
    
//    cit.storeCantHab.on('load', function(s, r){
//        alert (r[0].data.tih_cant);
//        if (r[0]){
//            Ext.getCmp('cant_hab').setDisabled(false);
//            Ext.getCmp('cant_hab').setMaxValue(r[0].data.tih_cant);
//            cit.formPrin.form.setValues({cant_hab: r[0].data.tih_cant});
//        }else{
//            Ext.getCmp('cant_hab').setDisabled(true);
//            cit.formPrin.form.setValues({cant_hab: '0'});
//        }
//    })
    
    cit.recTipHab = Ext.data.Record.create([
        		{ name : 'lleva'},
        		{ name : 'tih_id'},
        		{ name : 'tih_desc'},
        		{ name : 'tih_stock'}
        	]);
    
    cit.dataTipHab = new cit.recTipHab({
        lleva: 'T',
        tih_id: 'T',
        tih_desc: '-Todos-',
        tih_stock: '0'
    })

    cit.storeTiphab.on('load',function(){
        cit.storeTiphab.add(cit.dataTipHab);
        //cit.storeTiphab.commitChanges();
        //alert(cit.storeTiphab.getCount());
    })
    
    cit.loadStoreResBloqueo = function(){
        if (cit.formPrin.form.isValid()){
            var filtro = cit.formPrin.getForm().getValues();
            cit.storeResBloqueo.load({params:{su_id: filtro.su_id, tih_id: filtro.tih_id, fecha_ini: filtro.fecha_ini, fecha_fin: filtro.fecha_fin}});
        }
    };

    cit.changeSucursal = {
        select: function(combo, record, index){
            var filtro = cit.formPrin.getForm().getValues();
            cit.storeTiphab.load({params: {'su_id': record.data.su_id}});
            cit.loadStoreResBloqueo();
        }
    };
	
    cit.changeFiltro = {
        select: function(combo, record, index){
            cit.loadStoreResBloqueo();
        }
    };
    
    cit.changeEstado = function (est){cit.urlSave
        
        if (cit.formPrin.getForm().isValid()){
            var filtro = cit.formPrin.getForm().getValues();
            filtro.ka_situacion = est;
            if (est == 0){
                if (smGen.getCount() == 0) {
                    Ext.Msg.alert('Aviso', 'Debe seleccionar al menos un registro');
                }else{
                    cit.selRecord = smGen.getSelections();
                    var cadHbId = '';
                    Ext.each(cit.selRecord, function(i,n,a){
                        cadHbId = cadHbId + "'" + i.data.hb_id + "',";
                    });
                    
//                    cit.dataPost.selitems = cit.listPagosSel.substring(0,cit.listPagosSel.length-2);
                    filtro.cadhbid = cadHbId.substring(0,cadHbId.length-1);
                    
                    og.openLink(og.getUrl('reserva-bloqueo-rango','ajax',{'case': 'actBloqueo'},'reserva'), {
                        hideLoading: false,
                        hideErrors: false,
                        preventPanelLoad: true, 
                        post: filtro,
                        onSuccess:cit.loadStoreResBloqueo
                    });
                };
            }else{
                og.openLink(og.getUrl('reserva-bloqueo-rango','ajax',{'case': 'actBloqueo'},'reserva'), {
                    hideLoading: false,
                    hideErrors: false,
                    preventPanelLoad: true, 
                    post: filtro,
                    onSuccess:cit.loadStoreResBloqueo
                });
            }
        }

    };

    var smGen = new Ext.grid.CheckboxSelectionModel({singleSelect: false, locked:true});
        

    cit.columnMod =[
        smGen,
        {dataIndex: 'tih_abr', header: 'Tip.Hab', width: 70,locked: true},
        {dataIndex: 'hb_desc', header: 'Descripcion.', width: 150,locked: true}
    ];


    cit.gridPrin = new Ext.grid.EditorGridPanel({
        store: cit.storeResBloqueo,         
        columns: cit.columnMod,
        clicksToEdit: 1,      
        width:'100%',
        height:250, 
        frame: false,
        stripeRows: true,
        trackMouseOver: true,
        loadMask: true,
        sm: smGen,
        bodyStyle:'border:0px;border-top:solid 1px #ccc;'
    });
        
    cit.eventFecha = {
        select: function(f, d){
            cit.loadStoreResBloqueo();
        }
    }
    
    cit.formPrin = new  Ext.form.FormPanel({
        renderTo: 'form',
        name:'formDcto',
        autoHeight:true,
        bodyStyle:"margin-left: 7px;padding-right: 10px;border:0px",
        width:"98%",
        labelWidth: 80,
        defaults:{"anchor":0},
            items : [
                {xtype:"fieldset",
                    items:[
                        {xtype:'compositefield',fieldLabel:'Sucursal ',combineErrors:false,
                            items:[
                                {xtype:'combo', width:100,mode:'local',triggerAction:'all',forceSelection:true,editable:false,name:'su_id',emptyText:'- Sucursal -',allowBlank:false,
                                    hiddenName:'su_id',value:'<?php echo $this->suid?>',displayField:'state',valueField:'su_id',store: cit.storeSucur,listeners: cit.changeSucursal,minListWidth:'160',
                                    id:'su_id'},
                                {xtype:'displayfield',width:10},
                                {xtype:'displayfield',value:'Tipo Hab :',width:70,style:'padding-top:+3px;'},
                                {xtype:'combo', width:100,mode:'local',triggerAction:'all',forceSelection:true,editable:false,name:'tih_id',emptyText:'- Tipo Hab -',allowBlank:false,
                                    hiddenName:'tih_id',displayField:'tih_desc',valueField:'tih_id',store: cit.storeTiphab,listeners: cit.changeFiltro,minListWidth:'160',
                                    id: 'tih_id'},
                                {xtype:'displayfield',width:10},
                                {xtype:'button', text: 'Bloquear', handler: function (b, e){
                                    cit.changeEstado('0');
                                    }
                                },
                                {xtype:'button', text: 'Desbloquear', handler: function (b, e){
                                    cit.changeEstado('1');
                                    }
                                }
					//]}//end buttons
				]},//end Compositefield
				{xtype:'compositefield',fieldLabel:'Fecha Ini',combineErrors:false,
                                    items:[
                                        {xtype:'datefield', width:100,mode:'local',triggerAction:'all',forceSelection:true,editable:false,id:'fecha_ini',name:'fecha_ini',value:'<?php echo $this->hoy;?>',
                                            hiddenName:'fecha_ini',allowBlank:false, id: 'fecha_ini', format:'d/m/Y',vtype: 'daterange',endDateField: 'fecha_fin', listeners: cit.eventFecha
                                        },
                                        {xtype:'displayfield',width:10},
                                        {xtype:'displayfield',value:'Fecha Fin :',width:70,style:'padding-top:+3px;'},
                                        {xtype:'datefield', width:100,mode:'local',triggerAction:'all',forceSelection:true,editable:false,id:'fecha_fin',name:'fecha_fin',value:'<?php echo $this->hoy;?>',
                                            hiddenName:'fecha_fin',allowBlank:false, id: 'fecha_fin', format:'d/m/Y',vtype: 'daterange',startDateField: 'fecha_ini', listeners: cit.eventFecha
                                        }
//                                        {xtype:'displayfield',width:10},
//                                        {xtype:'displayfield',value:'Cant.Hab.Disp :',width:95,style:'padding-top:+3px;'},
//                                        {xtype:'numberfield',value:0, name:'cant_hab', hiddenName: 'cant_hab', width: 30, allowDecimals: false, allowNegative: false, maxValue: 10, minValue: 1, id:'cant_hab'}
                                    //]}//end buttons
				]},
                {xtype:'label',text:'Habitaciones disponibles',width:200},
                [cit.gridPrin]
			]}
            //end buttons
		]});

	

	//----------------------
	function saveFormData(){

    }
	
	function confirmMessaje(btn){
		if(btn == 'yes'){
			cit.formSave = cit.formPrin.form.getValues();
			og.openLink(og.getUrl('reserva-proceso-genera','ajax',{'case':'saveGenera'},'reserva'), {
				hideLoading: false,
				hideErrors:false,
				preventPanelLoad: true,
				post: cit.formSave,
				onSuccess:cit.loadForms,
				timeout : 990000
			});
		}
	}
	
	
</script>
