<?php 
    $redirect = Zend_Controller_Action_HelperBroker::getStaticHelper('Redirector');
    $controller = $redirect->getRequest()->getControllerName();
    $interno = $redirect->getRequest()->getParam('interno',0);
    $su_id = $redirect->getRequest()->getParam('suc','00000001');
?>
<div class="main-qphotels-360">
    <div class="enjoy-360">
        <div class="enjoy-content">
            <div class="enjoy-logo">
                <a href="<?php echo $this->htmlIndex()->urlSite();?>"><img src="<?php echo $this->htmlIndex()->img()?>/hotel/images/enjoy-logo.png"/></a>
            </div>
            <div class="enjoy-menu">
                <ul class="hover_block">
                    <?php echo $this->htmlIndex()->menu_publicacion($controller);?>
                </ul>
            </div>
        </div>
        <div class="enjoy-imagen" id="s1">
            <?php echo $this->htmlIndex()->tipohab_imagen($this->interno['cat_id'],$su_id);?>
        </div>
    </div>
    <div class="reserva-qp-360">
            <div class="welcome-cat">
                <p class="welcome-letra-cat"><?php echo $this->interno['cat_titulo'];?> !</p>
                <p class="welcome-parrafo-cat">
                    <?php echo $this->interno['cat_desc'];?>
                </p>
            </div>
            <div class="content-form">
                <div class="w100">
                    <dl class="dt10 dd90">
                        <dd>
                            <div class="best_rate">
                               <?php echo $this->htmlIndex()->getDescripciones('VER');?>
                            </div>	
                        </dd>
                    </dl>									
                </div>
            </div>
    </div>
</div>
<div class="main-promocion-360">
    <?php echo $this->htmlIndex()->categoria_tipohab($this->interno['cat_id'])?>
</div>
<script type="text/javascript">
    function getReservar(){
        document.location.href = '<?php echo $this->htmlHead()->urlSite().'/proceso-reserva?ho_id='.$this->hotel.'&fecha_ini='.$this->fechas['hoy'].'&fecha_fin='.$this->fechas['man'].'&num_adults=1';?>';
    }
</script>