<link rel="stylesheet" type="text/css" media="all" href="<?php echo $this->htmlHead()->css()?>/reserva/cssreserva.css" />
<link rel="stylesheet" type="text/css" media="all" href="<?php echo $this->htmlHead()->css()?>/container/fullbox.css" />
<link rel="stylesheet" type="text/css" media="print" href="<?php echo $this->htmlHead()->css()?>/reserva/print.css" />

<?php 
    $redirect = Zend_Controller_Action_HelperBroker::getStaticHelper('Redirector');
    $controller = $redirect->getRequest()->getControllerName();
    
    $number = strtoupper(uniqid());
?>
<div id="content-proceso-one">
    <div class="singlebox">
       <div style="width:100%;background:#281e1c;">
            <div class="enjoy-content">
                <div class="enjoy-logo">
                    <a href="<?php echo $this->htmlIndex()->urlSite(); ?>">
                        <img src="<?php echo $this->htmlIndex()->img() ?>/hotel/images/enjoy-logo.png"/></a>
                </div>
                <div class="enjoy-menu">
                    <ul class="hover_block">
                        <?php echo $this->htmlIndex()->menu_publicacion('categoria'); ?>
                    </ul>
                </div>
            </div>                  
        </div>							
        <div class="pbox1">
        	<div class="progress">
        	   <img alt="Booking step 5" src="/img/hotel/img/booking_progress_5.png"/>
            </div>
            <div class="stats_container theme-b step-3">
                <form method="" action="">
                <p><?php echo Cit_Init::_('CONFIRM_YOUR')?></p>
                <div id="confi-notif" class="hotel-reserva-item width-medium">
                    <div id="title-notif" class="item-titulo"><?php echo Cit_Init::_('CONFIRM_RESERVA')?>
                        <span class="right num-confi"><?php echo Cit_Init::_('CONFIRM_NUMBER')?>
                            <span class="underl"><?php echo $this->dtareserva['res_codigo']?></span>
                        </span>
                    </div>
                    <div id="context-notif" class="item-cuerpo"></div>	
                </div>
                <div class="pad-10px"></div>
                <div class="clear"></div>	
                <div id="ficha-hotel" class="theme-b step-3">
                    <div id="cnt-img">
                        <img width="120" height="195"  src="<?php echo $this->htmlIndex()->img() . $this->images['im_image2']  ?>" /> 
                    </div>
                    <div id="cnt-context">
                        <div id="titulo">
                            <h2><?php echo $this->suc[0]['su_reserva'];?></h2>
                            <p><?php echo $this->suc[0]['su_direccion'];?> <br />
                            Phono: <?php echo $this->suc[0]['su_telefono1'];?> </p>
                            <div class="right r-content">
                                <ul>
                                    <li><span class="label"><?php echo Cit_Init::_('PRO_TWO_CHECK_IN')?>:
                                        </span><span class="quant"><?php echo $this->fecini;?></span>
                                    </li>
                                    <li><span class="label"><?php echo Cit_Init::_('PRO_TWO_CHECK_OUT')?>:
                                        </span><span class="quant"><?php echo $this->fecfin;?></span>
                                    </li>
                                    <li>1 <?php echo Cit_Init::_('PRO_ROOM') ?>, <?php echo $this->reserve_info['num_adults'] . ' ' . Cit_Init::_('RES_ADULT') ?>, 
                                        <?php echo $this->reserve_info['num_ninios'] . ' ' . Cit_Init::_('RES_CHILDREN')?>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div id="desc">
                            <div id="search-content">
                                <strong><?php echo Cit_Init::_('REGISTER_BOOK')?></strong>
                                <div class="info"><br>
                                    <ul>
                                        <li>
                                            <?php echo Cit_Init::_('CONFIRM_NUMBER') . $number?>
                                        </li>
                                        <li>
                                            <?php echo Cit_Init::_('CONFIRM_FOR')?>
                                            <b><?php echo strtoupper($this->persona)?></b>
                                        </li>
                                        <li>
                                            <?php echo Cit_Init::_('CONFIRM_PEOPLE')?>
                                            <?php echo $this->reserve_info['num_adults'] . ' ' . Cit_Init::_('RES_ADULT') ?> 
                                            <?php echo $this->reserve_info['num_ninios'] . ' ' . Cit_Init::_('RES_CHILDREN')?>
                                        </li>
                                        <li>
                                            <?php echo Cit_Init::_('CONFIRM_ARRIVAL')?>
                                            <?php echo $this->fecini . ' '?> 
                                            <?php echo Cit_Init::_('CONFIRM_DEPARTURE')?>
                                            <?php echo $this->fecfin?>
                                        </li>
                                        <li>
                                            <?php echo Cit_Init::_('CONFIRM_IN_TIME')?>
                                            1:00pm
                                        </li>
                                        <li>
                                            <?php echo Cit_Init::_('CONFIRM_OUT_TIME')?>
                                            12:00pm
                                        </li>
                                        </ul>
                                </div>
                            </div>
                        </div>   
                    </div>
                    <div class="clear"></div>
                    <div id="info-hotel-form" class="conteiner-full-2col confi-detail-text">
                        <div id="mini-resume-reserva">
                            <div class="bold"><?php echo $this->roomName;?> - 1 queen size bed
                                <span class="right">
                                    <?php echo Cit_Init::_('CONFIRM_AVERAGE_RATE');?>* 
                                    <span class="bold">
                                        $ <?php echo number_format($this->roomPrice,2)?>
                                    </span> USD <?php echo Cit_Init::_('CONFIRM_PER_NIGHT');?> 
                                    <a href="#" class="rate-deta"><?php echo Cit_Init::_('RES_RATE_DETAIL');?></a>
                                </span>
                            </div>
                        </div>
                        <div class="pad-10px"></div>
                        <div class="col-first">
                            <div id="adittional-fees">
                                <div id="big-resume">
                                    <p> <?php echo $this->reserve_info['num_adults'] . ' ' . Cit_Init::_('RES_ADULT') ?>,
                                        <?php echo $this->reserve_info['num_ninios'] . ' ' . Cit_Init::_('RES_CHILDREN')?>
                                        <br />
                                        1 cama queen <br />
                                        <?php echo Cit_Init::_('ROOM_SMOKING');?> <br />
                                        Check out 12:00pm <br />
                                    </p>
                                    <h2 id="feat"><?php echo Cit_Init::_('Features');?></h2>
                                    <p class="brdr-bottom">
                                        <?php echo Cit_Init::_('CONFIRM_BUFFET');?><br />
                                        <?php echo Cit_Init::_('CONFIRM_INTERNET');?><br />
                                        <?php echo Cit_Init::_('CONFIRM_DRINK');?>
                                    </p>
                                    <div class="pad-10px" style="border-bottom:1px solid #000;"></div>
                                    <h2 id="cancel-pol"><?php echo Cit_Init::_('CONFIRM_CANCEL_POLICY');?></h2>
                                    <p>
                                        Cancel with in 48 hr. = No penalty <br />
                                        Cancel after 48 hr = <?php echo number_format($this->roomPrice,2)?> USD
                                    </p>
                                </div>
                                <div id="additional-info">
                                    <?php echo $this->htmlIndex()->getDescripciones('ADD2');?>
                                    <?php echo $this->htmlIndex()->getDescripciones('ADD');?>
                                </div>
                            </div>
                        </div>
                        <div class="col-last">
                            <div id="room-cost-form">
                                <h2 class="w100 ttitle"><?php echo Cit_Init::_('RESERVA_ROOM_COST');?></h2>
                                <div id="content-room-cost">
                                    <?php
                                    $i = 0; $subtotal = 0;
                                    foreach ($this->detalle as $value) :
                                        ?>
                                        <div class="<?php echo ($i % 2 == 0)?'w100 bg-gray bborder':'w100'?>">
                                            <span><?php echo $value['fecha']?></span>
                                            <span class="right"><?php echo '$' . number_format($value['hb_precio'], 2) ?> USD</span>
                                        </div>
                                    <?php
                                        $subtotal += $value['hb_precio'];
                                        $i++;
                                    endforeach;
                                    ?>

                                    <div id="room-subtotal" class="w100 bold bborder bg-gray">
                                        <span>Subtotal</span>
                                        <span class="right"><?php echo '$' . number_format($subtotal, 2);?> USD</span>
                                    </div>
                                    <h2 class="w100 ttitle"><?php echo Cit_Init::_('RESERVA_ESTIMATED_FEES');?></h2>
                                    <div id="content-room-cost">
                                        <?php
                                        $j = 0; 
                                        foreach ($this->services as $value) :
                                            ?>
                                            <div class="<?php echo ($j % 2 == 0)?'w100 bg-gray bborder':'w100'?>">
                                                <span><?php echo $value['name']?></span>
                                                <span class="right"><?php echo '$' . number_format($value['price'], 2) ?> USD</span>
                                            </div>
                                        <?php
                                            $j++;
                                        endforeach;
                                        ?>
                                    
<!--                                        <div id="room-subtotal" class="w100 bold bborder bg-gray">
                                            <span>Subtotal</span>
                                            <span class="right">$<?php //echo number_format(($this->total - $subtotal),2);?> USD</span>
                                        </div>-->
                                        
                                      
                                        <h2 class="w100 ttotal">Total <span class="right"><?php echo '$' . number_format($this->total, 2);?></span></h2>
                                        <p class="w100">Estimated cost <span class="right">USD</span></p>
                                        <p id="resume-cost">
                                            <?php echo $this->htmlIndex()->getDescripciones('COST');?>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div id="content-print" class="right">
                                <a href="#" onclick="javascript:print();return false;" class="lnk-imprimir"><?php echo Cit_Init::_('CONFIRM_PRINT');?></a>
                        </div>
                    </div>
                </div>
                </form>
            </div>
        </div>					
    </div>
</div>