<div style="margin-left:5px;" id="form"></div>
<style>
    .promociones{
        background-color:#BFEEC8;	
    }
    .cssAnulados {
        background-color: #FEEAE7;
    }
</style>


<input type="hidden" name="save[]" id="save" value=""/>
     
<script type="text/javascript">
    Ext.apply(Ext.form.VTypes, {
        daterange : function(val, field) {
            var date = field.parseDate(val);

            if(!date){
                return false;
            }
            if (field.startDateField) {
                var start = Ext.getCmp(field.startDateField);
                if (!start.maxValue || (date.getTime() != start.maxValue.getTime())) {
                    start.setMaxValue(date);
                    start.validate();
                }
            }
            else if (field.endDateField) {
                var end = Ext.getCmp(field.endDateField);
                if (!end.minValue || (date.getTime() != end.minValue.getTime())) {
                    end.setMinValue(date);
                    end.validate();
                }
            }
            /*
             * Always return true since we're only using this vtype to set the
             * min/max allowed values (these are tested for after the vtype test)
             */
            return true;
        }
    });
    //Declaracion de Variables
    cit.paginaSize = 400; var pages=1;
    cit.win;
    cit.idSelect = ''; 

    cit.storeSucur = <?php echo $this->sucursal;?>;

    cit.fields =[
            { name : 'lleva'},
            { name : 'res_id'},
            { name : 'res_codigo'},
            { name : 'res_estado'},
            { name : 'pe_nomcomp', type: 'string'},
            { name : 'res_fecha',type: 'date', dateFormat:'m/d/Y'},
            { name : 'res_total'},
            { name : 'su_nombre', type: 'string'},
            { name : 'id_desc', type: 'string'},
            { name : 'res_promo', type: 'string' }
    ];

    cit.proxy=new Ext.data.HttpProxy({
            //url:'/reserva/reserva-consulta/json/case/listaReservas',
            url:og.getUrl('reserva-consulta','json',{'case':'listaReservas'},'reserva'),
            method:'POST'
    });

    cit.reader=new Ext.data.JsonReader({
            fields: cit.fields, //['NEMO', 'nomcomp'],
            root:'matches'
    });

    cit.storePrin = new Ext.data.Store({
            proxy:cit.proxy,
            reader:cit.reader,
            autoLoad: {params:{start: 0, limit: 100,su_id:'<?php echo $this->suid?>'}}
    });
	
    //cit.storePrin.load({params:{su_id:'<php echo $this->suid?>'}})
    cit.columns =[ 
        {dataIndex: 'res_id', header: 'ID', width: 80,align:'center',locked: false,sortable: true},
        {dataIndex: 'pe_nomcomp', header: 'Nombre', width: 190,locked: false,align:'left',sortable: true},
        {dataIndex: 'res_fecha', header: 'Fecha', width: 70,locked: false,align:'center',sortable: true,
            renderer: function(v, params, record){            			 
                var fecha = og.fechaRender(v, params, record);
                record.data.res_fecha = fecha;
                return fecha;
            }
        },
        {dataIndex: 'res_total', header: 'Precio', width: 70,locked: true,align:'right',
            renderer: function(v, params, record){
                record.data.res_total = v;
                return cit.formatMon(v);
            }
        },
        {dataIndex: 'su_nombre', header: 'Sucursal', width: 150,locked: true,align:'left'},
        {dataIndex: 'id_desc', header: 'Idioma', width: 60,locked: true,align:'left'},
        {xtype: 'actioncolumn', width: 40, align:'center',
            items: [{
                icon   : og.domainName+'/images/icons/view.png',  // Use a URL in the icon config
                tooltip: 'Ver Detalle',
                handler: function(grid, rowIndex, colIndex) {
                    var record = cit.storePrin.getAt(rowIndex);	
                    cit.formModals = modalDetalleRes(record.data.res_id);
                    cit.formModals.show();
                }
            }]
        },
        {xtype: 'actioncolumn', width: 40, align:'center',
            items: [{
                icon   : og.domainName+'/images/icons/bt_delete.png',  // Use a URL in the icon config
                title: 'Anular',
                handler: function(grid, rowIndex, colIndex) {
                    var record = cit.storePrin.getAt(rowIndex);	
                    cit.idSelect = record.data.res_id;
                    if(record.data.res_estado == 1)
                        Ext.MessageBox.confirm('Reserva ID '+ record.data.res_id, 'Desea anular la reserva del Sr(a). ' + record.data.pe_nomcomp, confirmMessaje);
                    else{
                        Ext.MessageBox.show({
                            title: 'Reserva ID '+ record.data.res_id,
                            msg: '<b>La reserva del Sr(a). ' + record.data.pe_nomcomp + ' esta <span style="font-size: 15px; margin-left:105px;">ANULADO</span></b>',
                            buttons: Ext.MessageBox.OK,
                            animEl: 'mb9',
                            fn: null,
                            icon: 'ext-mb-warning'
                        });
                    }
                        
                }
            }]
        },
        {xtype: 'actioncolumn', width: 40, align:'center',
            items: [{
                icon   : og.domainName+'/images/icons/number.png',  // Use a URL in the icon config
                tooltip: 'CODE',
                handler: function(grid, rowIndex, colIndex) {
                    var record = cit.storePrin.getAt(rowIndex);	
                    Ext.MessageBox.show({
                        title: 'Reserva ID '+ record.data.res_id,
                        msg: '<b>Código de Confirmación del Sr(a). ' + record.data.pe_nomcomp + ': ' + '<span style="font-size: 17px; margin-left:70px;">' + record.data.res_codigo + '</span></b>',
                        buttons: Ext.MessageBox.OK,
                        animEl: 'mb9',
                        fn: null,
                        icon: 'ext-mb-info'
                    });
                }
            }]
        }

    ];
    
    cit.paginator = new Ext.PagingToolbar({
        pageSize: 100,
        store: cit.storePrin,
        displayInfo: true,
        displayMsg: 'Mostrando {0} - {1} de {2}',
        beforePageText : 'Pagina',
        afterPageText : 'de {0}',
        emptyMsg: "Sin registros que mostrar"
    });

    cit.gridPrin = new Ext.grid.EditorGridPanel({
        //renderTo: 'contiene',
        store: cit.storePrin,         
        columns: cit.columns,
        bodyStyle:'border:0px;border-top:solid 1px #ccc;',
        width:'100%',
        height:420, 
        frame: false,
        stripeRows: true,
        columnLines: true,
        trackMouseOver: true,
        loadMask: true,
        sm: new Ext.grid.RowSelectionModel({	// Permite que al momento de selecciona un campo, se seleccione toda la fila
            singleSelect: true
        }),
        tbar: [
            'Buscar: ', ' ',
            new Ext.ux.form.SearchField({
                store: cit.storePrin,
                width:320
            })
        ],
        viewConfig: { forceFit: true },
        bbar: cit.paginator 
    });
	
    cit.gridPrin.getView().getRowClass = function(record, index){
        if(record.data.res_promo == 'S'){
            return 'promociones';
        }
    };
	
    cit.gridPrin.on('cellclick', function(e,i,j){//listening for the grid's 'validateedit' event
        //og.loading();
        var records = cit.storePrin.getAt(i);
        cit.idSelect = records.data.ac_id;
    });
    
    cit.gridPrin.getView().getRowClass = function(record, index){
        if(record.data.res_estado == 0){
            return "cssAnulados";
        }
    };
	
    //OnChange
    cit.changeSucursal = {
        select: function(combo, record, index){
            cit.filtroReserva();
        }
    };
	
    cit.changeFecha = {
        select: function(dates, value){
            var filtro = cit.formPrin.getForm().getValues();
            if(filtro.fec_ini && filtro.fec_fin)
                cit.filtroReserva();
        }
    };
	
    cit.filtroReserva = function(){
        var filtro = cit.formPrin.getForm().getValues();
        cit.storePrin.load({params: {'su_id': filtro.su_id,'fec_ini': filtro.fec_ini,'fec_fin': filtro.fec_fin}});
    };
	
    cit.formPrin = new  Ext.form.FormPanel({
        renderTo: 'form',
        name:'formDcto',
        autoHeight:true,
        bodyStyle:"margin-left: 7px;padding-right: 10px;border:0px",
        width:"98%",
        labelWidth: 80,
        defaults:{"anchor":0},
        items : [
            {xtype:"fieldset",
            items:[
                {xtype:'compositefield',fieldLabel:'Sucursal ',combineErrors:false,
                items:[
                    {xtype:'combo', width:100,mode:'local',triggerAction:'all',forceSelection:true,editable:false,name:'su_id',emptyText:'- Sucursal -',
                        hiddenName:'su_id',value:'<?php echo $this->suid?>',displayField:'state',valueField:'su_id',store: cit.storeSucur,listeners: cit.changeSucursal,minListWidth:'160'
                    },
                    {xtype:'displayfield',value:'Fecha de :',width:80,style:'padding-top:+3px; margin-left:20px'},
                    {xtype:'datefield',id:'fec_ini',name:'fec_ini',width: 95,format:'d/m/Y',style:'text-align:center;',listeners: cit.changeFecha,
                        vtype: 'daterange',endDateField: 'fec_fin'
                    },// id of the end date field},
                    {xtype:'displayfield',value:'hasta :',width:70,style:'padding-top:+3px; margin-left:20px'},
                    {xtype:'datefield',id:'fec_fin',name:'fec_fin',width: 95,format:'d/m/Y',style:'text-align:center;',listeners: cit.changeFecha,
                        vtype: 'daterange',startDateField: 'fec_ini'
                    },
                    {xtype:'displayfield',width:10},
                    {
                    buttons: [{
                        text:'Limpiar',
                        handler: function(){
                            cit.formPrin.form.reset();
                            cit.storePrin.load();
                        }
                    }
                ]}//end buttons
            ]}//end Compositefield
        ]},//Fieldset
        { items : [cit.gridPrin] }

        ]
    });
	

    function newFormData(){}

    function saveFormData(){}

    function deleteFormData(){}

     function confirmMessaje(btn){
        if(btn == 'yes'){
            og.openLink(og.getUrl('reserva-consulta','ajax',{'case':'anulaReserva'},'reserva'), {
                hideLoading: true,
                hideErrors: true,
                preventPanelLoad: true, 
                post: {'res_id' : cit.idSelect},
                onSuccess:cit.loadFormModal
            });
        }
    }

    cit.loadFormDel = function(){}
	
	
	
	
	//----------------------
</script>
