<div class="form_zoe">
	<div id="contiene" class="left_zoe" style="width:29%"></div>
    <div id="form" class="left_zoe" style="width:70%"></div>
</div>
<div id="jmike">
<input type="hidden" name="save[]" id="save" value=""/>    

<script>
//Declaracion de Variables
	cit.paginaSize = 400; var pages=1;
	cit.win; cit.saveFomsModal = '';
	cit.idtipo = ''; cit.edit = 'save';
	cit.idSelect = '';// cit.formModal = '';
	cit.formModals = '';
	cit.storeSucur = <?php echo $this->sucursal;?>;

	//Tipo de Habitaciones ------------------------------------------- -+- //Primer Grid
	cit.fields =[
		{ name : 'lleva'},
		{ name : 'tih_id'},
		{ name : 'tih_estado'},
		{ name : 'tih_desc'}
	];

	cit.proxy=new Ext.data.HttpProxy({
		//url:'/habitacion/asignacion-accesorio-tipo-hab/json/case/listaTipohab',
		url:og.getUrl('asignacion-accesorio-tipo-hab','json',{'case':'listaTipohab'},'habitacion'),
		method:'POST'
	});
	
	cit.reader=new Ext.data.JsonReader({
		fields: cit.fields, //['NEMO', 'nomcomp'],
		root:'matches'
	});
	
	cit.storePrin = new Ext.data.Store({
		proxy:cit.proxy,
		reader:cit.reader
		//autoLoad: {params:{start: 0, limit: 150}}
	});
	cit.storePrin.load({params:{su_id:'<?php echo $this->suid;?>'}});
	//store.load();
    
	cit.columns =[ 
		{dataIndex: 'tih_estado', header: 'Est', width: 40,locked: true,align:'center',
			renderer: function(v, params, record){
                switch(v){
				    case 0:return '<img title="Oculto" src="'+og.domainName+'/assets/themes/default/images/16x16/wscolors/color6.png" width="13px"></img>';break;
                    case 1:return '<img title="Activo" src="'+og.domainName+'/assets/themes/default/images/16x16/wscolors/color11.png" width="13px"></img>';break;
				}
			}   
		
		},
		{dataIndex: 'tih_desc', header: 'Sucursal', width: 200,locked: true,align:'left'}

	];
	
	cit.gridPrin = new Ext.grid.GridPanel({
		//renderTo: 'contiene',
		store: cit.storePrin,         
		columns: cit.columns,
		height:350, 
		bodyStyle:'border:0px;border-top:solid 1px #ccc;',
		frame: false,
		stripeRows: true,
		columnLines: true,
		trackMouseOver: true,
		sm: new Ext.grid.RowSelectionModel({	// Permite que al momento de selecciona un campo, se seleccione toda la fila
			singleSelect: true
		}),
        loadMask: true,
		viewConfig: { forceFit: true }
	});

	cit.gridPrin.on('rowdblclick', function(e,i,j){//listening for the grid's 'validateedit' event
		//og.loading();
		var records = cit.storePrin.getAt(i);
		//alert(records.data.tih_id);
		cit.formPrin.getForm().setValues({
			tih_id : records.data.tih_id
		});
		var filtro = cit.formPrin.getForm().getValues();
		cit.gridSecun.store.load({params: {'tih_id': filtro.tih_id,'su_id':filtro.su_id}});
	});
	
	//Accesorios ------------------------------------------- -+- //Segundo Grid
	cit.fieldSecun =[
		{ name : 'lleva'},
		{ name : 'ac_id'},
		{ name : 'ac_desc'},
		{ name : 'ac_precio'}
	];

	cit.proxySecun=new Ext.data.HttpProxy({
		//url:'/habitacion/asignacion-accesorio-tipo-hab/json/case/listaAccesxTipohab',
		url:og.getUrl('asignacion-accesorio-tipo-hab','json',{'case':'listaAccesxTipohab'},'habitacion'),
		method:'POST'
	});
	
	cit.readerSecun=new Ext.data.JsonReader({
		fields: cit.fieldSecun, //['NEMO', 'nomcomp'],
		root:'matchacc'
	});
	
	cit.storeSecun = new Ext.data.Store({
		proxy:cit.proxySecun,
		reader:cit.readerSecun
		//autoLoad: {params:{start: 0, limit: 150}}
	});
	
	var smlista = new Ext.grid.CheckboxSelectionModel({
		singleSelect: false,
		sortable: false,
		checkOnly: true
	});
	
	cit.columnSecun =[ 
		smlista,
		{dataIndex: 'ac_desc', header: 'Descripci&oacute;n', width: 180,locked: true,align:'left'},
		{dataIndex: 'ac_precio', header: 'Precio', width: 80,locked: true,align:'right',
			renderer: function(v, params, record){
				record.data.ac_precio = v;
				return cit.formatMon(v);
			}
		}
	];
	
	cit.gridSecun = new Ext.grid.EditorGridPanel({
		//renderTo: 'contiene',
		store: cit.storeSecun,         
		columns: cit.columnSecun,
		clicksToEdit: 1,
		bodyStyle:'border:0px;border-top:solid 1px #ccc;',
		width:'100%',
		height:380, 
		frame: false,
		stripeRows: true,
		columnLines: true,
		trackMouseOver: true,
        loadMask: true,
		sm: smlista,
		viewConfig: { forceFit: true },
		tbar: [
			{   
				text: 'Añadir',
				iconCls: 'silk-add',
				handler : function() {
					var filtro = cit.formPrin.getForm().getValues();
					if(filtro.su_id && filtro.tih_id){
						cit.formModals = formModal(filtro.su_id,filtro.tih_id);
						cit.formModals.show();
					}
				}
			}
			,{   text: 'Eliminar',
				iconCls: 'silk-delete',
				handler : function() {
					var filtro = cit.formPrin.getForm().getValues();
					//alert(filtro.tih_id);
					if(filtro.su_id && filtro.tih_id){
						var cont = smlista.getCount();
						if(cont == 0){
							alertExtjs('info','Seleccionar-Las &aacute;reas respectivas del nivel.');	       
							return false;
						}else
							Ext.MessageBox.confirm('Confirm', 'Desea eliminar los accesorios seleccionados?.', confirmMessajeSecun);	
						
					}
					
				}
			}
		]
	});
	
	
	//OnChange
	cit.changeSucursal = {
		select: function(combo, record, index){
			cit.gridPrin.store.load({params: {'su_id': record.data.su_id}});
			cit.gridSecun.store.load();
			
		}
	};
	
	function confirmMessajeSecun(btn){
		if(btn == 'yes'){
			cit.saveFomsModal = cit.formPrin.form.getValues();
			var sd = smlista.getSelections();
			cit.saveFomsModal.grid = cadenaGrid(sd);
			
			og.openLink(og.getUrl('asignacion-accesorio-tipo-hab','ajax',{'case':'delAccesTipha'},'habitacion'), {
				hideLoading: true,
				hideErrors: true,
				preventPanelLoad: true, 
				post: cit.saveFomsModal,
				onSuccess:cit.loadFormModal
			});
		}
	}
	
	cit.formPrin = new  Ext.form.FormPanel({
		renderTo: 'contiene',
		name:'formDcto',
		autoHeight:true,
		bodyStyle:"margin-left: 7px;padding-right: 3px;border:0px",
		//width:300,
		labelWidth: 80,
		defaults:{"anchor":0},
		items : [
			{xtype:'hidden',name:'tih_id'}, 
			{xtype:'combo', width:130,mode:'local',triggerAction:'all',forceSelection:true,fieldLabel:'Sucursal ',editable:false,name:'su_id',emptyText:'- Sucursal -',
				hiddenName:'su_id',displayField:'state',valueField:'su_id',store: cit.storeSucur,listeners:cit.changeSucursal,value:'<?php echo $this->suid;?>'
			},
			{ items : [cit.gridPrin] }//gridSecun
		]
	});
	
	cit.formSecun = new  Ext.form.FormPanel({
		renderTo: 'form',
		name:'formDcto',
		autoHeight:true,
		bodyStyle:"border:0px",
		width:"98%",
		labelWidth: 80,
		defaults:{"anchor":0},
		items : [
			{ items : [cit.gridSecun]}

		]
	});
	
	//Asignar Tipo de Habitaciones
	function newFormData(){
		var filtro = cit.formPrin.getForm().getValues();
		if(filtro.su_id){
			cit.formModals = formModalTih(filtro.su_id);
			cit.formModals.show();
		}
	}
	
	function saveFormData(){}
	
	function deleteFormData(){
		if (cit.gridPrin.getSelectionModel().getSelected())
			Ext.MessageBox.confirm('Confirm', 'Desea eliminar un tipo de Hab.?.', confirmMessajeDel);
		else
			alertExtjs('info','Informaci&oacute;n-Seleccione un registro.');
		
		
	}

	function confirmMessajeDel(btn){
		if(btn == 'yes'){
			var filtro = cit.formPrin.getForm().getValues();
			cit.records = cit.gridPrin.getSelectionModel().getSelected();
			og.openLink(og.getUrl('asignacion-accesorio-tipo-hab','ajax',{'case':'delTipohabSucursal'},'habitacion'), {
				hideLoading: true,
				hideErrors: true,
				preventPanelLoad: true, 
				post: 'id='+cit.records.data.tih_id+'&su_id='+filtro.su_id,
				onSuccess:cit.loadFormModaltih
			});
		}
		
	}
	
	cit.loadFormModaltih = function(){
		var filtro = cit.formPrin.getForm().getValues();
		cit.gridPrin.store.load({params: {'su_id': filtro.su_id}});
		cit.gridSecun.store.load();
	}
	
	//Asignar Accesorios
	 cit.loadFormModal = function(){
		var filtro = cit.formPrin.getForm().getValues();
		cit.gridSecun.store.load({params: {'su_id': filtro.su_id,'tih_id':filtro.tih_id}});
		cit.formModals.hide();
	}
	
	//Modal Agregar o Eliminar : 
	function formModal(sucursal,tipo){
		//Cargando Grids
		var smAcc = new Ext.grid.CheckboxSelectionModel({
			singleSelect: false,
			sortable: false,
			checkOnly: true
		});
		
		cit.fieldModal =[
			{ name : 'lleva'},
			{ name : 'ac_id'},
			{ name : 'ac_desc' },
			{ name : 'ac_precio' }
		];
	
		cit.proxyModal=new Ext.data.HttpProxy({
			//url:'/habitacion/asignacion-accesorio-tipo-hab/json/case/selAccesorios',
			url:og.getUrl('asignacion-accesorio-tipo-hab','json',{'case':'selAccesorios'},'habitacion'),
			method:'POST'
		});
		
		cit.readerMod=new Ext.data.JsonReader({
			fields: cit.fieldModal, //['NEMO', 'nomcomp'],
			root:'matchacc'
		});
		
		cit.storeMod = new Ext.data.Store({
			proxy:cit.proxyModal,
			reader:cit.readerMod
			//autoLoad: {params:{start: 0, limit: 150}}
		});
		 
		cit.columnMod =[ 
			smAcc,
			{dataIndex: 'ac_desc', header: 'Descripci&oacute;n', width: 180,locked: true,align:'left'},
			{dataIndex: 'ac_precio', header: 'Precio', width: 50,locked: true,align:'left',
					renderer: function(v, params, record){
					record.data.ac_precio = v;
					return cit.formatMon(v);
				}
			}
			
		];
		  
		cit.gridMod = new Ext.grid.GridPanel({
			//renderTo: 'contiene',
			store: cit.storeMod,         
			columns: cit.columnMod,
			width:'100%',
			height:250, 
			frame: false,
			stripeRows: true,
			columnLines: true,
			trackMouseOver: true,
			bodyStyle:'border:0px;border-top:solid 1px #ccc;',
			sm: smAcc,
			viewConfig: { forceFit: true }
			//loadMask: true
		});
		
		cit.storeMod.load({params: {'su_id':sucursal,'tih_id': tipo}});
		
			
		var winModal;
		cit.formModal = new  Ext.form.FormPanel({
			autoHeigh:true,
			width:"100%",
			bodyStyle:"padding: 5px",
			labelWidth: 68,
			plain:true,
			defaults:{"anchor":0,border:0},//autoCreate: {tag: "input", type: "text", autocomplete: "off", maxlength: 10 },
			items:[
					{ items : [cit.gridMod] }  
		],
		buttons: [{
			text:'Guardar',
			handler: function(){
				
				 if (cit.formModal.form.isValid()) {
					var s = '';
					Ext.iterate(cit.formModal.form.getValues(), function(key, value) {
						s += String.format("{0} = {1}<br />", key, value);
					}, this);
					
					var cont = smAcc.getCount();
					if(cont == 0){
						alertExtjs('info','Seleccionar-Las &aacute;reas respectivas del nivel.');	       
						return false;
					}
					
					cit.saveFomsModal = cit.formPrin.form.getValues();
					var sd = smAcc.getSelections();
					cit.saveFomsModal.grid = cadenaGrid(sd);
					
					og.openLink(og.getUrl('asignacion-accesorio-tipo-hab','ajax',{'case':'saveAccesTipha'},'habitacion'), {
						hideLoading: true,
						hideErrors: true,
						preventPanelLoad: true, 
						post: cit.saveFomsModal,
						onSuccess:cit.loadFormModal
					});
					//cit.hide();
				 }
					   
				
			}
		},{
			text: 'Close',
			handler: function(){
				cit.formModal.form.reset();
				winModal.hide();
			}
		}]
	
		});
		

		winModal = new Ext.Window({
			width: 300,
			height:320,
			minWidth: 200,
			minHeight: 150,
			//bodyStyle:'padding:5px;',
			layout : 'fit',
			closeAction: 'hide',
			autoDestroy:true,
			defaultType: 'textfield',
			plain: true,
			modal:true,
			title  : 'Agregar Tipo Habitacion',
			items  : [ cit.formModal ]
		});
		return winModal;
	
	}
	
	//Modal : asignar tipo de habitaciones por Sucursal
	//Modal Agregar o Eliminar : 
	function formModalTih(sucursal){
		//Cargando Grids
		var smAcc = new Ext.grid.CheckboxSelectionModel({
			singleSelect: false,
			sortable: false,
			checkOnly: true
		});
		
		cit.fieldModal =[
			{ name : 'lleva'},
			{ name : 'tih_id'},
			{ name : 'tih_desc' }
		];
	
		cit.proxyModal=new Ext.data.HttpProxy({
			//url:'/habitacion/asignacion-accesorio-tipo-hab/json/case/selSucursalTipohab',
			url:og.getUrl('asignacion-accesorio-tipo-hab','json',{'case':'selSucursalTipohab'},'habitacion'),
			method:'POST'
		});
		
		cit.readerMod=new Ext.data.JsonReader({
			fields: cit.fieldModal, //['NEMO', 'nomcomp'],
			root:'matches'
		});
		
		cit.storeMod = new Ext.data.Store({
			proxy:cit.proxyModal,
			reader:cit.readerMod
			//autoLoad: {params:{start: 0, limit: 150}}
		});
		 
		cit.columnMod =[ 
			smAcc,
			{dataIndex: 'tih_desc', header: 'Descripci&oacute;n', width: 180,locked: true,align:'left'}
		];
		  
		cit.gridMod = new Ext.grid.EditorGridPanel({
			//renderTo: 'contiene',
			store: cit.storeMod,         
			columns: cit.columnMod,
			clicksToEdit: 1,      
			width:'100%',
			height:250, 
			frame: false,
			stripeRows: true,
			columnLines: true,
			trackMouseOver: true,
			 bodyStyle:'border:0px;border-top:solid 1px #ccc;',
			sm: smAcc
			//loadMask: true
		});
		cit.storeMod.load({params: {'su_id':sucursal}});
		
			
		var winModal;
		cit.formModal = new  Ext.form.FormPanel({
			autoHeigh:true,
			width:"100%",
			bodyStyle:"padding: 5px",
			labelWidth: 68,
			plain:true,
			defaults:{"anchor":0,border:0},//autoCreate: {tag: "input", type: "text", autocomplete: "off", maxlength: 10 },
			items:[
					{ items : [cit.gridMod] }  
		],
		buttons: [{
			text:'Guardar',
			handler: function(){
				
				 if (cit.formModal.form.isValid()) {
					
					var cont = smAcc.getCount();
					if(cont == 0){
						alertExtjs('info','Seleccionar-Las &aacute;reas respectivas del nivel.');	       
						return false;
					}
					
					cit.saveFomsModal = cit.formPrin.form.getValues();
					var sd = smAcc.getSelections();
					cit.saveFomsModal.grid = cadenaGrid(sd);
					
					og.openLink(og.getUrl('asignacion-accesorio-tipo-hab','ajax',{'case':'saveSucursalTipha'},'habitacion'), {
						hideLoading: true,
						hideErrors: true,
						preventPanelLoad: true, 
						post: cit.saveFomsModal,
						onSuccess:cit.loadFormModaltih
					});
					//cit.hide();
				 }
					   
				
			}
		},{
			text: 'Close',
			handler: function(){
				cit.formModal.form.reset();
				winModal.hide();
			}
		}]
	
		});
		

		winModal = new Ext.Window({
			width: 300,
			height:320,
			minWidth: 200,
			minHeight: 150,
			//bodyStyle:'padding:5px;',
			layout : 'fit',
			closeAction: 'hide',
			autoDestroy:true,
			defaultType: 'textfield',
			plain: true,
			modal:true,
			title  : 'Agregar Accesorios',
			items  : [ cit.formModal ]
		});
		return winModal;
	
	}
	/*
	function cadenaGrid(records){
		//var records = sm.getSelections();
		var datos = '';
		$.each(records, function(i){
			datos = datos + records[i].data.lleva;
			datos = datos+'**';
		});
		datos =  datos.substring(0,datos.length-2);	
		
		return datos;
	}*/
</script>
</div>