
<script>
Ext.setup({
    glossOnIcon: false,
    onReady: function() {

        var tpl = Ext.XTemplate.from('guests');

		Ext.regModel('User', {
            fields: [
                { name: 'id',       type: 'string' },
                { name: 'name',     type: 'string' },
                { name: 'email',    type: 'string' },
                { name: 'url',      type: 'string' },
                { name: 'message',  type: 'string' }
            ]
        });

		var formBase =  new Ext.form.FormPanel({
            scroll: 'vertical',
            url   : '<?php echo $this->urls?>/test/mobile/ajax/case/save',
            standardSubmit : false,
            title: 'Ingreso',
            items: [{
                xtype: 'fieldset',
                title: '',
                instructions: 'Por favor completa la informacion.',
                defaults: {
                    labelAlign: 'left',
                    labelWidth: '40%'
                },
                items: [
                    {
                    xtype: 'textfield',
                    name : 'name',
                    label: 'Nombre',
                    useClearIcon: true,
                    autoCapitalize : false
                }, {
                    xtype: 'emailfield',
                    name : 'email',
                    label: 'Email',
                    placeHolder: 'jerspr@hotmail.com',
                    useClearIcon: true
                }, {
                    xtype: 'urlfield',
                    name : 'url',
                    label: 'Url',
                    placeHolder: 'http://hotmail.com',
                    useClearIcon: true
                }, {
                    xtype: 'textareafield',
                    name : 'message',
                    label: 'Mensaje',
                    maxLength: 50,
                    maxRows: 5,
                    height: 120
                }]
            }],

            dockedItems: [{
                xtype: 'toolbar',
                dock: 'bottom',
                items: [{
                    xtype: 'spacer'
                }, {
                    text: 'Limpiar',
                    handler: function() {
                        formBase.reset();
                    }
                }, {
                    text: 'Guardar',
                    ui: 'confirm',
                    handler: function() {
                        formBase.submit({
                            waitMsg: {
                                message:'Submitting',
                                cls : 'demos-loading'
                            },
                            success: function(e) {
                                showCenteredOverlay();
                                formBase.reset();
                            }
                        });
                    }
                }]
            }]
        });

        var overlayTb = new Ext.Toolbar({
            dock: 'top'
        });

        var overlay = new Ext.Panel({
            floating: true,
            modal: true,
            centered: true,
            width: Ext.is.Phone ? 260 : 400,
            height: 60,
            dockedItems: overlayTb
        });

        var showCenteredOverlay = function() {
            overlayTb.setTitle('Dato Ingresado');
            overlay.show();
        };

        function showRecent() {
            Ext.Ajax.request({
                url: 'server.php?action=get',
                success: function(e) {
                    var obj = Ext.util.JSON.decode(e.responseText);
                    var guests = obj.guests;
                    if (guests) {
                        var html = tpl.applyTemplate(guests);
                        Ext.getCmp('recentTab').update(html);
                    }
                }
            });
        }

        new Ext.TabPanel({
            fullscreen: true,
            type: 'dark',
            sortable: true,
            items: [formBase, {
                id: 'recentTab',
                title: 'Integrantes',
                html: '2',
                scroll: 'vertical',
                cls: 'recent',
                listeners: {
                    'beforeshow': showRecent
                }
            }]
        });
    }
});



</script>

    <div id="guests" class="x-hidden-display">
        <tpl for=".">
            <div class="detail">
                <div class="clear">
                    <label class="label2 topleft">Enviar</label>
                    <span class="span2 topright">{name}</span>
                </div>
                <div class="clear">
                    <label class="label2">Url</label>
                    <span class="span2">{url}</span>
                </div>
                <div class="clear">
                    <label class="label2 bottomleft">Mensaje</label>
                    <span class="span2 bottomright">{message}</span>
                </div>
                <div class="clear"></div>
            </div>
        </tpl>
    </div>
