<div class="form_zoe">
    <div id="bodyform"> </div>
    <div class="fila_zoe">
        <div id="contiene" class="left_zoe" style="width:29%"></div>
        <div id="contieneizq" class="left_zoe" style="width:70%"></div>
    </div>

</div>

<script>
    cit.peDpto = <?php echo $this->sucdepartamento; ?>
    cit.sucDepartamento = <?php echo $this->sucdepartamento; ?>
    cit.suEstado = <?php echo $this->suestado; ?>
    cit.storeSucur = <?php echo $this->sucursal; ?>

    var fields =[
        { name : 'lleva'},
        { name : 'su_id'},
        { name : 'ho_id'},
        { name : 'su_nombre'},
        { name : 'su_ruc'},
        { name : 'ub_desc'},
        { name : 'su_direccion'},
        { name : 'su_telefono1'},
        { name : 'su_telefono2'},
        { name : 'su_desc'},
        { name : 'su_estado'},
        { name : 'ub_id_dep'},
        { name : 'ub_id_prov'},
        { name : 'ub_id'},
        { name : 'hsu_id'}
    ];
	
    cit.proxy=new Ext.data.HttpProxy({
        url: og.getUrl('mantenimiento-hotel', 'json',{'case':'sucursal'}, 'cms'),
        method:'POST'
			
    });

    cit.reader=new Ext.data.JsonReader({
        fields: fields,  
        root:'matches'
    });
         
    cit.columns =new Ext.grid.ColumnModel([
        //{dataIndex: 'su_id', header: '<b>Id</b>', width: 60, locked: false,align:'center'},
        new Ext.grid.RowNumberer(),
        {dataIndex: 'su_nombre', header: '<b>Nombre</b>', width: 120, locked: false,align:'left'},
        {dataIndex: 'ub_desc', header: '<b>Ciudad</b>', width: 100, locked: false,align:'left'}
            
    ]);
        
    cit.storeDoc=new Ext.data.GroupingStore({
        proxy:cit.proxy,
        reader:cit.reader,
        autoLoad: true
    });
        

        
    var categoriesPagingBar = new Ext.PagingToolbar( {
        pageSize: 300,
        displayInfo: false,
        store: cit.storeDoc
    });  
    
    cit.gridPrin = new Ext.grid.GridPanel({
        renderTo: 'contiene',
        store: cit.storeDoc,         
        colModel: cit.columns,
        //bodyStyle:'margin-left:8px;margin-right:8px;border-top:solid 1px #ccc;' ,    
        height:300, 
        stripeRows: true,
        trackMouseOver:true,
        animCollapse:true,
        columnLines: true,
        loadMask: true,
        viewConfig: { forceFit: true },
        bbar: categoriesPagingBar
    		
        //view: new Ext.ux.grid.LockingGridView(),   
    });

 
    cit.gridPrin.on('rowdblclick', function(e,i,j){//listening for the grid's 'validateedit' event
        og.loading();
        cit.recordSuc = cit.storeDoc.getAt(i);
        //alert(cit.recordSuc.data.su_id);
        cit.recordSuc.data.action = 'edit';
        jsonprovincia.load({params: {'departamento': cit.recordSuc.data.ub_id}});
        jsondistrito.load({params: {'provincia': cit.recordSuc.data.ub_id}});   
        formprincipalsIzq.form.reset(); 
        //jsondistrito.on('load', function(s, r) { 
        formprincipalsIzq.form.loadRecord(cit.recordSuc);
        Ext.getCmp('su_idcpy').setDisabled(true);
        og.hideLoading();
        //})
        
	
    });

    var jsonprovincia = new Ext.data.JsonStore({
        fields : ['ub_id_prov', 'state'],
        //autoLoad: true,
        url: og.getUrl('json','json',{'case':'provincia'},'cms'),
        root: 'matches'
    });
    var jsondistrito = new Ext.data.JsonStore({
        fields : ['ub_id', 'ub_desc'],
        //autoLoad: true,
        url: og.getUrl('json','json',{'case':'distrito'},'cms'),
        root: 'matches'
    });

    var selectdpto = {
        select: function(combo, record, index){
            //alert(record.data.value+'----'+record.data.ub_id_dep+'----'+record.data.ub_id)
            formprincipalsIzq.form.setValues({
                ub_id_prov: '',ub_id: ''  
            })
            jsonprovincia.load({
                params: {'departamento': record.data.ub_id_dep}
            });
        }};

    var selectprov = {
        select: function(combo, record, index){
            formprincipalsIzq.form.setValues({
                ub_id: ''  
            })
            jsondistrito.load({params: {'provincia': record.data.ub_id_prov}});
        }};
         
    //*******************************************
    var formprincipalizq = [
        {xtype:"fieldset",title:"Sucursal",collapsible:true,
            items:[
                {xtype:'hidden',name:'action',value:'add',id:'action'},
                {xtype:'hidden',name:'ho_id',id:'ho_id'},
                {xtype:'hidden',name:'su_id',id:'su_id'},
                {"xtype":"compositefield","fieldLabel":"Codigo","combineErrors":false,
                    "items":[
                        {"name":"hsu_id",id:"hsu_id","xtype":"textfield","width":130,maxLength:16,value:'<?php echo $this->idsucur; ?>',disabled:true},
                        {  xtype:'displayfield',value:'Copiar datos desde:',style:'text-align:center;',width:150, align:'right'},
                        {width:150,xtype:"combo",mode:"local",triggerAction:"all",allowBlank:false,forceSelection:true,editable:false,name:"su_idcpy",hiddenName:"su_idcpy",displayField:"state",valueField:"su_idcpy",emptyText:"Sucursal",store:cit.storeSucur,resizable:true,minListWidth:cit.minListWidth, id:'su_idcpy'}
                    ]},
		
                {xtype:"compositefield",fieldLabel:"Nombre Suc.",combineErrors:false,
                    items:[
                        {xtype:"textfield", name:"su_nombre",allowBlank:false,width:350,maxLength:250},
                        {xtype:"displayfield",value:"RUC:", width:40},
                        {xtype:"numberfield", name:"su_ruc",fieldLabel:"First",allowBlank:false,width:148,maxLength:12}
                    ]},
                {xtype:"compositefield",fieldLabel:"Dep.",combineErrors:false,
                    items:[
                        {width:150,xtype:"combo",mode:"local",triggerAction:"all",allowBlank:false,forceSelection:true,editable:false,name:"ub_id_dep",displayField:"state",valueField:"ub_id_dep",emptyText:"Departamento",store:cit.peDpto,listeners:selectdpto,resizable:true,minListWidth:cit.minListWidth,value:'Departamento'},
                        {xtype:"displayfield",value:"Prov.:", width:40},
                        {width:150,"xtype":"combo",mode:"local",triggerAction:"all",allowBlank:false,forceSelection:true,editable:false,name:"ub_id_prov",displayField:"state",valueField:"ub_id_prov",emptyText:"Provincia",store:jsonprovincia,listeners:selectprov,resizable:true,minListWidth:cit.minListWidth},
                        {xtype:"displayfield",value:"Dist.:", width:40},
                        {width:150,xtype:"combo",mode:"local",triggerAction:"all",allowBlank:false,forceSelection:true,editable:false,name:"ub_id",hiddenName:"ub_id",displayField:"ub_desc",valueField:"ub_id",emptyText:"Distrito",store:jsondistrito,resizable:true,minListWidth:cit.minListWidth}
                    ]},
                {xtype:"compositefield",fieldLabel:"Direccion",combineErrors:false,
                    items:[
                        {name:"su_direccion",xtype:"textfield",width:258,allowBlank:false,maxLength:250},
                        {xtype:"displayfield",value:"Telf.1:",width:35},
                        {xtype:"textfield", name:"su_telefono1",fieldLabel:"First",allowBlank:false,width:100,maxLength:12},
                        {xtype:"displayfield",value:"Telf.2:",width:35},
                        {xtype:"textfield", name:"su_telefono2",fieldLabel:"First",width:100,maxLength:12}
                    ]},
                {xtype:"compositefield",fieldLabel:"Descripción",combineErrors:false,
                    items:[     
                        {name:"su_desc",xtype:'htmleditor',width:510,maxLengthText:250}
			
                    ]}
                           
            ]}
    ]


    //formularion de datos principales
    cit.formprincipal = [
        {xtype:"fieldset",title:"Hotel",style:"padding-left:20px;",
            items:[
                {xtype:"compositefield",fieldLabel:"Nombre",combineErrors:false,
                    items:[
                        {name:"ho_nombre",xtype:"textfield",width:130, value:'<?php echo $this->nomHot; ?>'},
                        {xtype:"displayfield",value:"RUC:", width:40},
                        {name:"ho_ruc",xtype:"textfield",width:150, style:"margin-left:10px;", value:'<?php echo $this->numRuc; ?>'},
                    ]}
            ]}
        //Grids*************
    ]

    /*****************************************/
    var tabs = new Ext.TabPanel({   
    
        activeTab: 0,
        frame:true, 
        //deferredRender:false,
        //border:false,
        //layoutOnTabChange : true,
        defaults:{autoHeight: true},
        items:[
            {title:'Datos de la Sucursal',items:[formprincipalizq]}
        ]
    });


    //renderizacion de form principal
    cit.formprincipals = new  Ext.form.FormPanel({
        renderTo: 'bodyform',
        name:'formprincipals',
        autoHeight:true,
        bodyStyle:"padding-right: 5px;border:0px",
        width:"100%",
        labelWidth: 80,
        defaults:{"anchor":0},
        items:[cit.formprincipal]
    });
    
    
    var formprincipalsIzq = new  Ext.form.FormPanel({
        renderTo: 'contieneizq',
        name:'formAlumno',
        autoHeight:true,
        fileUpload: true, 
        width:'100%',
        bodyStyle:"border:0px",
        defaults:{anchor:0},
        items:
            [ tabs ]});

    function saveFormData(){
        if (formprincipalsIzq.form.isValid()) {
            cit.formEnvio = formprincipalsIzq.form.getValues();	    
            og.openLink(og.getUrl('mantenimiento-hotel','ajax',{'case':'save'},'cms'), {
                hideLoading: false,
                preventPanelLoad: true, 
                post:cit.formEnvio,
                hideErrors:false,
                actions:formprincipalsIzq,
                onSuccess:cit.loadForm                     
            });
       
        }
    }

    cit.loadForm = function(){
        cit.gridPrin.store.load();
    } 

    cit.actionsConfig = function(cod,tabla){
        formprincipalsIzq.getForm().setValues({
            action:'edit',
            su_su_id: cod, 
            su_id:cod
        });
    }


    function deleteFormData(){
        if(cit.gridPrin.getSelectionModel().getSelected()){
            cit.records = cit.gridPrin.getSelectionModel().getSelected();
            og.openLink(og.getUrl('mantenimiento-hotel','ajax',{'case':'delete'},'cms'), {
                hideLoading: false,
                preventPanelLoad: true, 
                post:{'su_id':cit.records.data.su_id},
                hideErrors:false,
                onSuccess:cit.loadDelete                     
            });
        }else{
            alertExtjs('CIT', 'Eliminar - Debe Haber al menos un registro seleccionado..');
        }
    }
    cit.loadDelete=function(){
        cit.gridPrin.store.load();
        formprincipalsIzq.form.reset(); 
    }

    function newFormData(){
        formprincipalsIzq.form.reset();
        $.getJSON(og.getUrl('mantenimiento-hotel', 'json',{'case':'newsucur'}, 'cms'),{},function(data){
            formprincipalsIzq.getForm().setValues({
                su_su_id: data.su_id, action: 'add'
            }); 
            Ext.getCmp('su_idcpy').setDisabled(false);
        });
    }

    //end renderizacion form final
    
</script>