<div>

	<div class="fila">
		<table width="100%">
			<tr class="texto_titulo" style="height: 25px;;background-color: #C1C1C1;">
				<td width="20" style="text-align: center;">#<?php echo Cit_Init::_('PROMODET_NOCHE')?></td>
				<td width="30" style="text-align: center;"><?php echo Cit_Init::_('PROMODET_FECHA')?></td>
				<td width="30" style="text-align: left;"><?php echo Cit_Init::_('PROMODET_DIA')?></td>
				<td width="30" style="text-align: center;"># <?php echo Cit_Init::_('PROMODET_HABIT')?></td>
				<td width="50" style="text-align: right;"><?php echo Cit_Init::_('PROMODET_PRECIO')?></td>
				<td width="20" style="text-align: right;"></td>
				<td width="5"></td>
			</tr>
		<?php $i = 1; 
		foreach ($this->data as $value):
                    if($i % 2 == 0)
                        $css = 'style="height: 20px; background-color: #F0F0F0"';
                    else
                        $css = 'style="height: 20px;"';
		?>
                    <tr <?php echo $value['css'].' '.$css;?>>
                            <td width="20" style="text-align: center;"><?php echo $i;?></td>
                            <td width="30" style="text-align: center;"><?php echo $value['fecha']?></td>
                            <td width="30" style="text-align: left;"><?php echo $value['dia']?></td>
                            <td width="30" style="text-align: center;"><?php echo $value['cant']?></td>
                            <td width="50" style="text-align: right;"><?php echo '$ '.$value['hb_precio']?></td>
                            <td width="20" style="text-align: right; color:#013189; font-size: 9px;"><?php if(!empty($value['promo'])){echo '($ '.$value['dscto'].')';}?></td>
                            <td width="5"></td>
                    </tr>
		<?php
                    $i++;
		endforeach;
		?>
                    <td width="20" style="text-align: center;"></td>
                    <td width="30" style="text-align: center;"></td>
                    <td width="30" style="text-align: left;"></td>
                    <td width="30" style="text-align: center;"></td>
                    <td width="18" style="text-align: right;">
                        <b><?php echo '$ '.$value['total']?></b>
                    </td>
    	</table>
    </div>
	

</div>