<link rel="stylesheet" type="text/css" media="all" href="<?php echo $this->htmlHead()->css() ?>/reserva/cssreserva.css" />
<link rel="stylesheet" type="text/css" media="all" href="<?php echo $this->htmlHead()->css() ?>/container/fullbox.css" />
<script type="text/javascript" src="<?php echo $this->htmlHead()->js() ?>/jquery/validation/jquery.validate.min.js"></script>
<script type="text/javascript" src="<?php echo $this->htmlHead()->js() ?>/jquery/validation/scripts.js"></script>

<?php
$redirect = Zend_Controller_Action_HelperBroker::getStaticHelper('Redirector');
$controller = $redirect->getRequest()->getControllerName();
?>

<div id="content-proceso-one">
    <div class="singlebox">
        <div style="width:100%;background:#281e1c;">
            <div class="enjoy-content">
                <div class="enjoy-logo">
                    <a href="<?php echo $this->htmlIndex()->urlSite(); ?>"><img src="<?php echo $this->htmlIndex()->img() ?>/hotel/images/enjoy-logo.png"/></a>
                </div>
                <div class="enjoy-menu">
                    <ul class="hover_block">
                        <?php echo $this->htmlIndex()->menu_publicacion('categoria'); ?>
                    </ul>
                </div>
            </div>                  
        </div>						
        <div class="pbox1"> 
            <div class="progress">
                <div class="booking_1 active">
                    <a href="<?php echo $this->htmlHead()->urlSite(); ?>/proceso-reserva"><img alt="Booking step 1" src="<?php echo $this->htmlIndex()->img() ?>/hotel/img/booking_1.png"/></a>
                    <span class="step"><?php echo Cit_Init::_('PATH_DATE_ROOMS') ?></span>
                </div>
                <div class="booking_2 active">
                    <a href="<?php echo $this->htmlHead()->urlSite(); ?>/proceso-reserva-one"><img alt="Booking step 1" src="<?php echo $this->htmlIndex()->img() ?>/hotel/img/booking2_2.png"/></a>
                    <span class="step"><?php echo Cit_Init::_('PATH_GUEST') ?></span>
                </div>
                <div class="booking_3 active">
                    <img alt="Booking step 1" src="<?php echo $this->htmlIndex()->img() ?>/hotel/img/booking3_3.png"/>
                    <span class="step"><?php echo Cit_Init::_('PATH_PAYMENT') ?></span>
                </div>
                <div class="booking_4">
                    <img alt="Booking step 1" src="<?php echo $this->htmlIndex()->img() ?>/hotel/img/booking_4.png"/>
                    <span class="step"><?php echo Cit_Init::_('PATH_CONFIRMATION') ?></span>
                </div>
            </div>
            <form method="post" action="/proceso-reserva-two/confirmation" 
                  name="" id="frm_guest_info">
                <div class="stats_container">
                    <div id="ficha-hotel" class="theme-b step-3">
                        <div id="cnt-img">
                            <img width="98" height="148"  src="<?php echo $this->htmlIndex()->img() . $this->images['im_image2']  ?>" /> 
                        </div>
                        <div id="cnt-context">
                            <div id="titulo">
                                <h2><?php echo $this->suc[0]['su_reserva'];?>:</h2>
                                <p><?php echo $this->suc[0]['su_direccion']; ?> <br />
                                    Tel: <?php echo $this->suc[0]['su_telefono1']; ?> </p>
                                <div class="right r-content">
                                    <ul>
                                        <li><span class="label"><?php echo Cit_Init::_('PRO_TWO_CHECK_IN') ?>:
                                            </span><span class="quant"><?php echo $this->fecini; ?></span>
                                        </li>
                                        <li><span class="label"><?php echo Cit_Init::_('PRO_TWO_CHECK_OUT') ?>:
                                            </span><span class="quant"><?php echo $this->fecfin; ?></span>
                                        </li>
                                        <li>1 Room, <?php echo $this->reserve_info['num_adults'] . ' ' . Cit_Init::_('RES_ADULT') ?>, 
                                            <?php echo $this->reserve_info['num_ninios'] . ' ' . Cit_Init::_('RES_CHILDREN') ?>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div id="desc">
                                <div id="search-content">
                                    <strong><?php echo Cit_Init::_('RES_SEARCH') ?></strong>
                                    <div class="info"> <?php echo $this->suc[0]['su_reserva'];?>, Perú |  
                                        <?php echo $this->fecini . ' a ' . $this->fecfin; ?> 
                                        |  1 <?php echo Cit_Init::_('PRO_GRID_ROOM') ?> | 
                                        <?php echo $this->reserve_info['num_adults'] . ' ' . Cit_Init::_('RES_ADULT') ?>, 
                                        <?php echo $this->reserve_info['num_ninios'] . ' ' . Cit_Init::_('RES_CHILDREN') ?>
                                    </div>
                                </div>
                            </div>   
                        </div>
                        <div class="clear"></div>
                        <?php if (empty($this->usid)):
                            ?>
                            <div class="hotel-reserva-item width-medium first-reserva">
                                <div class="item-titulo">
                                    <h2 class="left"><?php echo Cit_Init::_('REGISTER_INFO') ?></h2>
                                    <div class="right" style="margin:0px 20px 0px 0px;">* = <?php echo Cit_Init::_('PRO_TWO_REQUERI') ?></div>
                                </div>
                                <div class="item-cuerpo">
                                    <fieldset class="two-columns">
                                        <div class="column">
                                            <dl>
                                                <dt><label for="">*<?php echo Cit_Init::_('PRO_ONE_BOOKING_GUEST_FIRTS') ?>:</label></dt>
                                                <dd>
                                                    <input type="text" name="pe_nombre" 
                                                           class="medium valido" 
                                                           value="<?php echo $this->dataOld['pe_nombre']?>"/>
                                                </dd>
                                            </dl>
                                            <dl>
                                                <dt><label for="">*<?php echo Cit_Init::_('PRO_ONE_BOOKING_GUEST_LAST') ?>:</label></dt>
                                                <dd><input type="text" name="pe_apellidos" class="medium valido" value="<?php echo $this->dataOld['pe_apellidos']?>"/></dd>
                                            </dl>
                                            <dl>
                                                <dt><label for="">*<?php echo Cit_Init::_('PRO_ONE_BOOKING_GUEST_EMAIL') ?>:</label></dt>
                                                <dd><input type="text" name="pe_email" class="medium valido" value="<?php echo $this->dataOld['pe_email']?>"/></dd>
                                            </dl>
                                            <dl>
                                                <dt><label for="" class="bold">*<?php echo Cit_Init::_('PRO_ONE_BOOKING_GUEST_EMAIL_AGAIN') ?>:</label></dt>
                                                <dd><input type="text" name="pe_email_confirm" class="medium valido" value="<?php echo  $this->dataOld['pe_email']?>"/></dd>
                                            </dl>
                                        </div>
                                        <div class="column last">
                                            <dl>
                                                <dt><label for="">*<?php echo Cit_Init::_('PRO_ONE_BOOKING_GUEST_ADDRESS') ?>:</label></dt>
                                                <dd><input type="text" name="pe_direccion" class="medium valido" value="<?php echo  $this->dataOld['pe_direccion']?>"/></dd>
                                            </dl>
                                            <dl>
                                                <dt><label for="">*<?php echo Cit_Init::_('PRO_ONE_BOOKING_GUEST_CITY') ?>:</label></dt>
                                                <dd><input type="text" name="pe_ciudad" class="medium valido" value="<?php echo $this->dataOld['pe_ciudad']?>" /></dd>
                                            </dl>
                                            <dl>
                                                <dt><label for=""><?php echo Cit_Init::_('PRO_ONE_BOOKING_GUEST_POSTAL') ?>:</label></dt>
                                                <dd><input type="text" name="pe_postal" class="medium valido" value="<?php echo $this->dataOld['pe_postal']?>"/></dd>
                                            </dl>
                                            <dl>
                                                <dt><label for="">*<?php echo Cit_Init::_('PRO_ONE_BOOKING_GUEST_COUNTRY') ?>:</label></dt>
                                                <dd>
                                                    <select name="pe_pais" id="pe_pais" class="slcpais" style="width: 157px;">
                                                        <option value="">Seleccione</option>
                                                        <?php echo $this->cboPais; ?>
                                                    </select>
                                                </dd>
                                            </dl>
                                            <dl>
                                                <dt><label for=""><?php echo Cit_Init::_('PRO_ONE_BOOKING_GUEST_PHONE') ?>:</label></dt>
                                                <dd><input type="text" name="phone_number" class="medium valido" value="<?php  echo $this->dataOld['phone_number']?>"/></dd>
                                            </dl>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <?php
                        endif;
                        ?>
                        <div class="hotel-reserva-item width-medium">
                            <?php /*
                              foreach ($this->data as $value) :
                              $dat = explode('**', $value->getDescription());

                              ?>
                              <div class="item-titulo">
                              <h2><?php echo $value->getName()?></h2>
                              </div>
                              <div class="item-cuerpo">
                              <img src="<?php echo $this->htmlIndex()->p_image_tiphab($dat[5]) ?>" class="preview"/>
                              <div class="desc">
                              <p style="text-align: justify">
                              <?php echo $this->htmlIndex()->getContenidoTipHabSuc($dat[5],$dat[6],$this->idioma);?>
                              </p>
                              <ul class="list-check">
                              <?php
                              echo $this->htmlIndex()->habitacion_accesorios($dat[5],3);
                              ?>
                              </ul>
                              </div>
                              <div class="price">
                              <h4>Average Nigthtly Rate *</h4>
                              <strong><?php echo '$' . number_format($value->getPrice(), 2) ?></strong>
                              <span class="money">USD</span>
                              <span class="normal">per night</span>
                              <a href="#" class="rate-deta">Rate details</a>
                              </div>
                              </div>
                              <?php
                              endforeach; */
                            ?>
                        </div>
                        <div class="clear"></div>
                        <div id="info-hotel-form" class="conteiner-full-2col">
                            <div class="col-first">
<!--                                <p> 
                                    <?php //echo $this->htmlIndex()->getDescripciones('ADD', 'EN'); ?>
                                </p>
                                <p>
                                    <?php // echo Cit_Init::_('RESERVA_PRIVACY'); ?>
                                <hr  />-->
                                <br /><br />
                                <p>
                                    <b><?php echo Cit_Init::_('RESERVA_REVIEW'); ?></b>
                                </p>
                                <!--                                    Lado Izquierdo-->
                                <?php echo Cit_Init::_('RESERVA_GUAR_POLICY'); ?>
                                <ul>
                                    <li><?php echo Cit_Init::_('RESERVA_CREDIT_CAR'); ?></li>
                                </ul>
                                <!--Lado Derecho-->
                                <?php echo Cit_Init::_('RESERVA_CANCEL_POLICY'); ?>                              
                                </p>
                                <p>
                                    <?php echo $this->htmlIndex()->getDescripciones('ADD'); ?>
                                </p>
                            </div>
                            <div class="col-last">
                                <div id="room-cost-form">
                                    <h2 class="w100 ttitle"><?php echo Cit_Init::_('RESERVA_ROOM_COST'); ?></h2>
                                    <div id="content-room-cost">
                                        <?php
                                        $i = 0;
                                        $subtotal = 0;
                                        foreach ($this->detalle as $value) :
                                            ?>
                                            <div class="<?php echo ($i % 2 == 0) ? 'w100 bg-gray bborder' : 'w100' ?>">
                                                <span><?php echo $value['fecha'] ?></span>
                                                <span class="right"><?php echo '$' . number_format($value['hb_precio'], 2) ?> USD</span>
                                            </div>
                                            <?php
                                            $subtotal += $value['hb_precio'];
                                            $i++;
                                        endforeach;
                                        ?>

                                        <div id="room-subtotal" class="w100 bold bborder bg-gray">
                                            <span>Subtotal</span>
                                            <span class="right"><?php echo '$' . number_format($subtotal, 2); ?> USD</span>
                                        </div>
                                    </div>
                                    <!--                                    <div class="w100 bg-gray" style="margin-top:10px;">-->
                                    <h2 class="w100 ttitle"><?php echo Cit_Init::_('RESERVA_ESTIMATED_FEES'); ?></h2>
                                    <div id="content-room-cost">
                                        <?php
                                        $j = 0; $subServices = 0;
                                        foreach ($this->services as $value) :
                                            ?>
                                            <div class="<?php echo ($j % 2 == 0) ? 'w100 bg-gray bborder' : 'w100' ?>">
                                                <span><?php echo (strlen($value['name']) > 34)?substr($value['name'],0, 34).'...':$value['name']?></span>
                                                <span class="right"><?php echo '$' . number_format($value['price'], 2) ?> USD</span>
                                            </div>
                                            <?php
                                            $subServices += $value['price'];
                                            $j++;
                                        endforeach;
                                        ?>

                                        <div id="room-subtotal" class="w100 bold bborder bg-gray">
                                            <span>Subtotal</span>
                                            <span class="right">$<?php echo number_format($subServices, 2); ?> USD</span>
                                        </div>


                                        <h2 class="w100 ttotal">Total <span class="right"><?php echo '$' . number_format($this->total, 2); ?></span></h2>
                                        <p class="w100"><?php echo Cit_Init::_('RESERVA_ESTIMATED_COST'); ?><span class="right">USD</span></p>
                                        <p id="resume-cost">
                                            <?php echo $this->htmlIndex()->getDescripciones('COST'); ?>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>

                        <div class="hotel-reserva-item width-medium first-reserva">
                            <div class="item-titulo">
                                <h2><?php echo Cit_Init::_('REGISTER_ADICIONAL') ?></h2>
                            </div>
                            <div class="item-cuerpo">
                                <div id="msje-hotel">
                                    <label for="" style="display:block;">
                                        <?php echo Cit_Init::_('REGISTER_MSN_HOTEL') ?> :<br /> 
                                        (<?php echo Cit_Init::_('RESERVA_MSG')?>)
                                    </label>
                                    
                                    <textarea name="res_additional" id="res_additional" cols="30" rows="10"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="hotel-reserva-item width-medium first-reserva">
                            <div class="item-titulo">
                                <h2><?php echo Cit_Init::_('REGISTER_GARANTIA') ?></h2>
                            </div>
                            <div class="item-cuerpo">
                                <div class="csector-1">
                                    <label for="" class="mayor w100"><?php echo Cit_Init::_('PRO_TWO_CREDIT_CARD_TYPE') ?>*</label>
                                    <select name="res_tarj_id" id="res_tarj_id" class="w101">
                                        <option value="">Seleccione</option>
                                            <?php echo $this->cboTarjetas; ?>
                                        
                                    </select>
                                    <label for="" class="mayor1 w100"><?php echo Cit_Init::_('PRO_TWO_CREDIT_NUMBER') ?>*</label>
                                    <dd><input type="text" name="res_numero_tarj" 
                                               id="res_numero_tarj" 
                                               maxlength="20"
                                               class="medium1"                                                 
                                               />
                                        <?php if(!empty($this->dataOld['msjError'])):?>
                                        <label for="res_numero_tarj" generated="true" class="error" style="">
                                            <?php echo $this->dataOld['msjError']?></label>
                                        <?php endif;?>
                                    </dd>

                                    <label for="" class="mayor w100"><?php echo Cit_Init::_('PRO_TWO_CREDIT_EXPIRATION') ?>*</label>
                                    <select class="meses_form" name="expiration_date[month]" id="res_tarj_month"  >
                                        <option value=""><?php echo Cit_Init::_('MES_RESERVA'); ?></option>
                                        <?php echo $this->cboMeses; ?>
                                    </select>
                                    <select class="anio_form" name="expiration_date[year]" id="res_tarj_year" >
                                        <option value=""><?php echo Cit_Init::_('ANIO_RESERVA'); ?></option>
                                        <?php echo $this->cboAnio ?>
                                        <option>2015</option>
                                        <option>2016</option>
                                        <option>2017</option>
                                        <option>2018</option>
                                        <option>2019</option>
                                        <option>2020</option>
                                        <option>2021</option>
                                    </select>
<!--                                    <p id="cond" class="w100">Para las condiciones de anulación, por favor consulte las condiciones de venta de la tarifa(Habitación 1)</p>-->
                                </div>
                                <div class="csector-2">
                                    <p>*<?php echo Cit_Init::_('RESERVA_DATA_BANK') ?></p>
                                    <img alt="Credit_cards" src="<?php echo $this->htmlIndex()->urlSite(); ?>/img/hotel/img/credit_cards.png">
                                </div>
                            </div>
                        </div>
                        <div class="hotel-reserva-item width-medium first-reserva su-reserva-block">
                            <div class="item-titulo">
                                <h2><?php echo Cit_Init::_('REGISTER_BOOK') ?></h2>
                            </div>
                            <div class="item-cuerpo center" id="plomito">
                                <label class="t-center" for="res_security_code">
                                    
                                    <input type="checkbox" name="res_security_code[]" id="res_security_code" 
                                           style="float: left;margin:0;"/>
                                    <span class="text-term-cond" style="float:left;margin-left: 5px;">
                                        <?php echo Cit_Init::_('REGISTER_TERMINOS') ?>
                                    </span>

                                </label>
                                <input type="submit" name="submit" value="CONTINUE" class="button"/>
                            </div>
                        </div>

                    </div>

                </div>
            </form>
        </div>					
    </div>
</div>

<script type="text/javascript">
   
    
    function validanumber(id){
        var puntoshidden = parseInt($('#hdpuntos').attr('value'));
        var puntos = parseInt($('#us_puntos').attr('value'));
        // alert(puntos+'--'+puntoshidden)
        if(puntos<=puntoshidden){
            return true;
        }
        else{
            alert('puntos insuficiones para aplicar');        
            return false;
        }
    }

    function modalDetalle(nombre,ids){	
        $("#reservadetail").html('');
        $.ajax({
            data:'name='+nombre,
            async:1,
            type:"POST",dataType:"html",
            contentType: "application/x-www-form-urlencoded",
            url:"/proceso-reserva-two/boxdetalle/id/"+ids,
            beforeSend:beforeload,
            success:successload,
            timeout:80000,
            error:errorload 
        })
        /*$('#loadbox').dialog({
                autoOpen : true,modal : true,width : 390,height : 380,			
                open:$.ajax({
                        data:'name='+nombre,
                        async:1,
                        type:"POST",dataType:"html",
                        contentType: "application/x-www-form-urlencoded",
                        url:"/proceso-reserva-two/boxdetalle",
                        beforeSend:beforeload,
                        success:successload,
                        timeout:80000,
                        error:errorload 
                })
        });*/
        //$('#loadbox').dialog('open');
 
    }
    function beforeload(){
        $("#reservadetail").html("<img src='/images/cargando.gif'>");
    }
	
    function successload(datos){
        $("#reservadetail").html(datos);
    }
		
    function errorload(){
        $("#reservadetail").text("Problemas en el servidor.");
    } 
</script>