<link rel="stylesheet" type="text/css" media="all" href="<?php echo $this->htmlHead()->urlSite()?>/styles/hotel/css/fullbox.css" />
<link rel="stylesheet" type="text/css" media="screen" href="<?php echo $this->htmlHead()->urlSite()?>/styles/hotel/css/reserve.css" />
<link rel="stylesheet" type="text/css" media="screen" href="<?php echo $this->htmlHead()->urlSite()?>/styles/hotel/css/red.theme.css" />


<?php 
	$redirect = Zend_Controller_Action_HelperBroker::getStaticHelper('Redirector');
	$controller = $redirect->getRequest()->getControllerName();
?>
<div id="content">
	<div class="singlebox">
	   <div id="subtop">
            <a href="/lima"><img class="logo" src="<?php echo $this->htmlIndex()->urlSite()?>/img/hotel/img/lima_logo.png" alt="Lima_logo"></a>    
            <ul>
                <?php echo $this->htmlindex()->menu_publicacion($controller);?>
            </ul>
        </div>						
        <div class="pbox"> 
        <div class="progress">
	       <img alt="Booking step 4" src="/img/hotel/img/booking_progress_4.png">
        </div>
		
		<div class="stats_container">
			<div class="booking_stats">
				<table class="price_list" cellspacing="0">
                	<thead>
                		<tr>
                            <th><?php echo Cit_Init::_('')?></th>
                            <th><?php echo Cit_Init::_('Tipo de Habitacion')?></th>
                			<th><?php echo Cit_Init::_('Accesorio')?></th>
                			<th><?php echo Cit_Init::_('PRO_TWO_PRICE')?>* US$</th>
                            <th></th>
                		</tr>
                	</thead>
                	
                	<tbody class="content-user">
                    <?php foreach($this->data as $value){
                       
                        ?>
                	   <tr>
                             <td>
                                <img border="0" src="<?php echo $this->htmlIndex()->urlSite()?>/images/icons/solicitud_alta.png"/>								
                            </td>
                	      
                	      <td><?php echo $value['tih_desc']?></td>
                	       <td><?php echo $value['ac_desc']?></td>                	       
                	       <td><?php echo $value['ac_precio']?></td>
                	      
                            <td> <a href="/proceso-reserva-two/index/acid/<?php echo $value['ac_id'];?>/tihid/<?php echo $value['tih_id']; ?>"><img src="<?php echo $this->htmlHead()->urlSite().'/images/icons/icono_agregar.gif'?>" alt=""/></a></td>
                            
                	   </tr>
                	   <?php }?>
                	</tbody>
                </table>
				
			</div>
		</div>
		
	</div>					
 </div>
</div>