<?php 
     $citObj = new CitDataGral();
    $dtaVerde = $citObj->getDataGral('vht_cms_descripciones', array('des_contenido'),"des_id = 'VER'",'U');
    //str_replace($search, $replace, $subject)

    $desc = str_replace('\"', '"', $dtaVerde['des_contenido']);
    $desc = str_replace("\'", "'", $desc);
?>
<div class="main-qphotels-all">
    <div class="enjoy-all">
        <div class="enjoy-logo">
            <a href="<?php echo $this->htmlIndex()->urlSite();?>"><img src="<?php echo $this->htmlIndex()->img()?>/hotel/images/enjoy-logo.png"/></a>
        </div>
        <div class="enjoy-menu">
            <?php echo $this->htmlIndex()->menu_publicacion($controller);?>
        </div>
    </div>
    <div class="reserva-all">
        <div class="content-form-all">
            <fieldset class="dlinline">
                <div class="w100-ser">
                    <input type="submit" onClick="getReservar();" value="<?php echo Cit_Init::_('TARIFAS_DISPONIBLIDAD')?>" class="button left1"/>
                </div>
                <div class="w100">
                    <div class="best_rate-360">
                        <?php echo $desc;?>
                    </div>                                   
                </div>
            </fieldset>
        </div>
    </div>
    <div class="content-promocion">
        <div class="promocion-all-servicios">
            <h1>Servicios para huéspedes :</h1>
            <p>qp HOTELS® Lima es un hotel 04 estrellas que ofrece los siguientes servicios:</p>
            <ul>
                <li>Recepción 24 horas</li>
                <li>Asistencia personalizada para huéspedes</li>
                <li>Chequeo de ingreso y salida express</li>
                <li>Desayuno continental complementario</li>
                <li>WiFi en todo el hotel, conexión inalámbrica de internet complementaria</li>
                <li>Caja de seguridad electrónica con capacidad para una laptop</li>
                <li>Centro de Negocios totalmente equipado</li>
                <li>Centro de copias totalmente equipado, fax</li>
                <li>Asistencia ejecutiva personalizada</li>
                <li>Sala de Conferencias</li>
                <li>Oficinas totalmente equipadas para satisfacer sus necesidades ejecutivas</li>
                <li>Estación de cómputo con conexión de internet de alta velocidad complementaria</li>
                <li>qp café lounge</li>
                <li>360° LOUNGE</li>
                <li>Piscina</li>
                <li>Gimnasio</li>
                <li>Estacionamiento</li>
                <li>Servicio de lavado al seco y lavandería</li>
                <li>Servicio de limpieza de calzado</li>
                <li>Servicio a la habitación</li>
                <li>Acceso para discapacitados</li>
                <li>Pisos para no fumadores</li>
                <li>Seguridad interna y externa</li>
                <li>Tarjetas-llaves con chip para control de acceso</li>
                <li>Alquiler de laptops, celulares y cámaras digitales</li>
                <li>Servicio de taxi y shuttle</li>
            </ul>
        </div>
    </div>        
</div>

<script type="text/javascript">
    function promoOne(codigo){
        document.location.href = '<?php echo $this->htmlHead()->urlSite();?>/promociones/index/cod/'+codigo;
    }

    function getReservar(){
        document.location.href = '<?php echo $this->htmlHead()->urlSite().'/proceso-reserva?ho_id='.$this->hotel.'&fecha_ini='.$this->fechas['hoy'].'&fecha_fin='.$this->fechas['man'].'&num_adults=1';?>';
    }
</script>