<div class="form_zoe">
    <div id="contiene" class="left_zoe" style="width:29%"></div>
    <div id="form" class="left_zoe" style="width:70%"></div>
</div>
<div id="jmike">
    <input type="hidden" name="save[]" id="save" value=""/>     
    <script>
        //Declaracion de Variables
        cit.paginaSize = 400; var pages=1;
        cit.win;
        cit.idSelect = ''; cit.edit = 'save';
	
        cit.storeNew = new Ext.data.JsonStore({
            fields : ['ac_id','hac_id'],
            url: og.getUrl('mantenimiento-accesorios','json',{'case':'newIDAcces'},'habitacion'),
            root: 'matchacc'
        });

        cit.storeEstado = new Ext.data.SimpleStore(
        {fields: 
                ['ac_estado', 'state'],
            data : [
                ['1', 'Activo'],
                ['0', 'Inactivo']
            ]
        });
	
        cit.fields =[
            { name : 'hac_id'},
            { name : 'ac_id'},
            { name : 'ac_desc'},
            { name : 'ac_estado'},
            { name : 'ac_tipo'},
            { name : 'ac_precio'}
        ];

        cit.proxy=new Ext.data.HttpProxy({
            //url:'/habitacion/mantenimiento-accesorios/json/case/listaAccesorio',
            url:og.getUrl('mantenimiento-accesorios','json',{'case':'listaAccesorio'},'habitacion'),
            method:'POST'
        });
	
        cit.reader=new Ext.data.JsonReader({
            fields: cit.fields, //['NEMO', 'nomcomp'],
            root:'matches'
        });
	
        cit.storePrin = new Ext.data.Store({
            proxy:cit.proxy,
            reader:cit.reader,
            autoLoad: {params:{start: 0, limit: 150}}
        });
	
        //store.load();
    
        cit.columns =[ 
            {dataIndex: 'ac_estado', header: 'Est', width: 40,locked: true,align:'center',
                renderer: function(v, params, record){
                    switch(v){
                        case 0:return '<img title="Inactivo" src="'+og.domainName+'/assets/themes/default/images/16x16/wscolors/color6.png" width="13px"></img>';break;
                            case 1:return '<img title="Activo" src="'+og.domainName+'/assets/themes/default/images/16x16/wscolors/color11.png" width="13px"></img>';break;
                            }
                        }   
                    },
                    {dataIndex: 'ac_desc', header: 'Descripci&oacute;n', width: 150,locked: true,align:'left'},
                    {dataIndex: 'ac_precio', header: 'Precio', width: 70,locked: true,align:'right',
                        editor: new Ext.form.NumberField({
                            allowBlank: true,
                            style: 'text-align:right'
                        }),
                        renderer: function(v, params, record){
                            record.data.ac_precio = v;
                            return cit.formatMon(v);
                        }
                    }
		
                ];
	
                cit.gridPrin = new Ext.grid.GridPanel({
                    renderTo: 'contiene',
                    store: cit.storePrin,         
                    columns: cit.columns,
                    bodyStyle:'border:0px;border-top:solid 1px #ccc;',    
                    height:420, 
                    frame: false,
                    stripeRows: true,
                    columnLines: true,
                    trackMouseOver: true,
                    loadMask: true,
                    sm: new Ext.grid.RowSelectionModel({
                        singleSelect: true
                    }),
                    viewConfig: { forceFit: true }
                });
	
                cit.gridPrin.on('rowdblclick', function(e,i,j){//listening for the grid's 'validateedit' event
                    //og.loading();
                    cit.formPrin.getForm().setValues({
                        edit : 'edit'
                    });
                    var records = cit.storePrin.getAt(i);
                    cit.formPrin.form.loadRecord(records);
                    //og.hideLoading();
                });
	
                cit.storePisos = new Ext.data.JsonStore({
                    fields : ['pi_id', 'pi_desc'],
                    url: og.getUrl('mantenimiento-habitacion','json',{'case':'pisos'}),
                    root: 'matchpiso'
                });
	
                //OnChange
                cit.changeSucursal = {
                    select: function(combo, record, index){
                        var filtro = cit.formPrin.getForm().getValues();
                        cit.storePisos.load({params: {'su_id': record.data.su_id}});
                        cit.filtroHabitacion();
                    }
                };
	

                cit.formPrin = new  Ext.form.FormPanel({
                    renderTo: 'form',
                    name:'formDcto',
                    autoHeight:true,
                    bodyStyle:"margin-left: 7px;padding-right: 10px;border:0px",
                    width:"98%",
                    labelWidth: 80,
                    defaults:{"anchor":0},
                    items : [
                        {xtype:"fieldset",title : 'Datos',
                            items:[
                                {xtype:'hidden',name:'edit',value:'save'},
                                {xtype:'hidden',name:'ac_id',value : '<?php echo $this->ac_id ?>'},
                                {xtype:'textfield',name:'hac_id',fieldLabel:'Código ',allowBlank:false,width: 100,disabled : true,value : '<?php echo $this->ac_id ?>'},
                                {xtype:'textfield',name:'ac_desc',fieldLabel:'Descripción ',allowBlank:false,width: 280,blankText: 'Ingrese una Descipción… '},
                                {xtype:'numberfield',name:'ac_precio',fieldLabel:'Precio ',width: 100,blankText: 'Ingrese el precio… '},
                                //{xtype:'textfield',name:'ac_tipo',fieldLabel:'Tipo ',allowBlank:false,width: 100,blankText: 'Ingrese el tipo… '},
                                {xtype:'combo', width:130,mode:'local',triggerAction:'all',forceSelection:true,fieldLabel:'Estado ',editable:false,name:'ac_estado',emptyText:'- Estado -',
                                    hiddenName:'ac_estado',displayField:'state',valueField:'ac_estado',store: cit.storeEstado
                                }
                            ]}

                    ]
                });
	

                function newFormData(){
                    cit.formPrin.form.reset();
                    cit.storeNew.load();
                    cit.storeNew.on('load', function(s, r) { 
                        Ext.each(r, function(records) {
                            cit.formPrin.form.loadRecord(records);
                        });
                    });
                }
	
                function saveFormData(){
                    if (cit.formPrin.form.isValid()) {
                        var filtro = cit.formPrin.getForm().getValues();
                        if(filtro.edit == 'save')
                            Ext.MessageBox.confirm('Confirm', 'Desea Guardar nuevo accesorio?.', confirmMessaje);
                        else
                            confirmMessaje('yes');
			
                    }
                }
	
                cit.loadForms = function(){
                    cit.formPrin.form.reset();
                    cit.gridPrin.store.load();
                    cit.storeNew.load();
		
                    cit.storeNew.on('load', function(s, r) { 
                        Ext.each(r, function(records) {
                            cit.formPrin.form.loadRecord(records);
                        });
                    });
                }
	
                function deleteFormData(){
                    if(cit.gridPrin.getSelectionModel().getSelected())
                        Ext.MessageBox.confirm('Confirm', 'Está Ud. seguro de eliminar el accesorio seleccionado?.', confirmMessajeDel);
                    else
                        alertExtjs('info','Informaci&oacute;n-Seleccione un registro.');
			
                    return false;
                }
	
                function confirmMessaje(btn){
                    if(btn == 'yes'){
                        cit.formSave = cit.formPrin.form.getValues();
                        og.openLink(og.getUrl('mantenimiento-accesorios','ajax',{'case':'saveAccesorios'},'habitacion'), {
                            hideLoading: false,
                            hideErrors: false,
                            preventPanelLoad: true, 
                            post: cit.formSave,
                            onSuccess:cit.loadForms
                        });
                    }
                }
	
                function confirmMessajeDel(btn){
                    cit.records = cit.gridPrin.getSelectionModel().getSelected();
                    if(btn == 'yes'){
                        og.openLink(og.getUrl('mantenimiento-accesorios','ajax',{'case':'delAccesorios'},'habitacion'), {
                            hideLoading: false,
                            hideErrors: false,
                            preventPanelLoad: true, 
                            post:'id='+cit.records.data.ac_id,
                            onSuccess:cit.loadFormDel
                        });
                    }

		
                }
	
                cit.loadFormDel = function(){
		
                    cit.formPrin.form.reset();
                    cit.gridPrin.store.load();
                    cit.storeNew.load();
                    cit.storeNew.on('load', function(s, r) { 
                        Ext.each(r, function(records) {
                            cit.formPrin.form.loadRecord(records);
                        });
                    });
                }
	
                //----------------------
    </script>
</div>