<div class="form_zoe">
	<div>
    	<p style="float: left; width: 120px;">Perfil de Usuario:</p>
        <p style="float: left;">
            <select id="tip_id" onchange="cit.tipoUsuario(this);">
                <option value="T"> - General - </option>
                <?php echo $this->tipousuario;?>
            </select>
        </p>
    </div>
    <div class="fila_zoe">
    	<div id="contiene"></div>
    </div>
</div>

<script>
                  
      //Para rendererizar el combo en la grilla

    cit.storeTipoUsuario = <?php echo $this->listaTipoUsuario;?> ;
    cit.storeSucursal = <?php echo $this->cboSucursal;?>;
    cit.storePais = <?php echo $this->listaPais;?> ;
    jsoDepartamento = <?php echo $this->pedepartamento;  ?>;
    Ext.util.Format.comboRenderer = function(combo){
        return function(value){
            var record = combo.findRecord(combo.valueField, value);
            return record ? record.get(combo.displayField) : combo.valueNotFoundText;
        }
    }; 
    var fields =[
        { name : 'lleva'},
        { name : 'us_login'},  
        { name : 'per_id'},
        { name : 'pe_paterno'},
        { name : 'pe_materno'},	
        { name : 'pe_nombre'}
    ];
        
    var jsonprovincia = new Ext.data.JsonStore({
        fields : ['ub_id_prov', 'state'],
        //autoLoad: true,
        url: og.getUrl('json','json',{'case':'provincia'},'cms'),
        root: 'matches'
    });

    var jsondistrito = new Ext.data.JsonStore({
        fields : ['ub_id', 'ub_desc'],
        //autoLoad: true,
        url: og.getUrl('json','json',{'case':'distrito'},'cms'),
        root: 'matches'
    });
        
    var selectdpto = {
         select: function(combo, record, index){
          //alert(record.data.value+'----'+record.data.ub_id_dep+'----'+record.data.ub_id)
            cit.formPrin.form.setValues({
            ub_id_prov: '',ub_id: ''  
        })
                jsonprovincia.load({
            params: {'departamento': record.data.ub_id_dep}
         });
    }};
    
    var selectprovss = {
         select: function(combo, record, index){
            cit.formPrin.form.setValues({
            ub_id: ''  
        })
        jsondistrito.load({params: {'provincia': record.data.ub_id_prov}});
    }};
    
    cit.proxy=new Ext.data.HttpProxy({
        url: og.getUrl('seguridad-usuario', 'json',{'case':'lista'},'seguridad'),
        method:'POST'
    });
        
    cit.reader=new Ext.data.JsonReader({
        fields: fields, 
        root:'matches'
    });
        
    cit.stSegEdicionCuentas=new Ext.data.Store({
        proxy:cit.proxy,
        reader:cit.reader,
        autoLoad: {params:{start: 0, limit: 400,tip_id:'<?php echo $this->tipuse;?>'}}
    });

    var categoriesPagingBar = new Ext.PagingToolbar( {
        pageSize: 400,
        displayInfo: false,
        store: cit.stSegEdicionCuentas

    }); 
     categoriesPagingBar.on('beforechange',function(bar,params){  
        params.tip_id = $('#tip_id').attr('value');
    }); 
    cit.tipoUsuario=function(id){
       cit.stSegEdicionCuentas.load({params:{'per_id':id.value}}) 
    }
            //creacion del combo para la grilla 
    cit.comTipoUsuario= new Ext.form.ComboBox({
        store: cit.storeTipoUsuario,displayField: 'state',valueField:'per_id',
        typeAhead: true,
        hiddenName: 'per_id',   
        editable: true,
        mode: 'local',
        triggerAction: 'all',
        selectOnFocus:true,
        lazyRender:true,
        triggerAction: 'all'
     });
		//cit.stSegEdicionCuentas.load();
    cit.columns =new Ext.grid.ColumnModel([
        {dataIndex: 'us_login', header: 'Usuario', width: 150, sortable: true, align: 'left'},
        {dataIndex: 'pe_paterno', header: 'Apellido Paterno', width: 150,
            renderer : function(v, p, record){
                record.data.pe_appat = v;
                return v;
            },
            editor: new Ext.form.TextField({
                allowBlank: true,
                style: 'text-align:left'
             })
        },
        {dataIndex: 'pe_materno', header: 'Apellido Materno', width: 150,
            renderer : function(v, p, record){
                record.data.pe_apmat = v;
                return v;
            },
            editor: new Ext.form.TextField({
                allowBlank: true,
                style: 'text-align:left'
             })

        },
        {dataIndex: 'pe_nombre', header: 'Nombres', width: 150,
            renderer : function(v, p, record){
                record.data.pe_nombre = v;
                return v;
            },
            editor: new Ext.form.TextField({
                allowBlank: true,
                style: 'text-align:left'
             })

        },
        {dataIndex: 'per_id', header: 'Perfil de Usuario', width: 150,                       
            editor: cit.comTipoUsuario, renderer: Ext.util.Format.comboRenderer( cit.comTipoUsuario)
        }
    ]);
    cit.gridSegEdicionCuentas = new Ext.grid.EditorGridPanel({
        renderTo: 'contiene',
        store: cit.stSegEdicionCuentas,         
        colModel: cit.columns,
        clicksToEdit: 1, 
        bodyStyle:'margin-right:8px;border-top:solid 1px #ccc;' ,    
        width:'100%',
        height:350, 
        stripeRows: true,
        columnLines: true,
        loadMask: true,
        viewConfig: { forceFit: true },
        bbar: categoriesPagingBar

    });
        
    cit.gridSegEdicionCuentas.on('cellclick', function(e,i,j){//listening for the grid's 'validateedit' event 
        var record = cit.stSegEdicionCuentas.getAt(i);	
        cit.idSelect = record.data.lleva;

    });
      
    function saveFormData(){
	
    	var m = cit.stSegEdicionCuentas.getModifiedRecords();
        if(m.length == 0 ){
            alertExtjs('info','Modificar-Debe Haber al menos un registro modificado..');      
           return 0;
        }
        var cad = '';
        for(i=0;i<m.length;i++){
       	cad = cad + m[i].data.lleva+'::'+m[i].data.pe_appat+'##'+m[i].data.pe_apmat+'##'+m[i].data.pe_nombre+'##'+m[i].data.tip_id;
            cad = cad+'**';
       }
        datos =  cad.substring(0,cad.length-2);
        og.openLink(og.getUrl('seguridad-usuario','ajax',{'case':'save'},'seguridad'), {
            hideLoading: true,
            hideErrors: true,
            preventPanelLoad: true, 
            hideLoading:false, 
            post:'data='+datos
        });
    }  
    
    function deleteFormData(){
    
    	if(cit.idSelect){
    		deleteExtjs();
    	}else{
    		alertExtjs('info','CIT-Eliminar-Debe Haber al menos un registro seleccionado..');
    	}
    }
    
    
    function confirmMessaje(btn){
        if(btn == 'yes'){
            og.openLink(og.getUrl('seguridad-usuario','ajax',{'case':'delete'},'seguridad'), {
                hideLoading: true,
                hideErrors: true,
                preventPanelLoad: true, 
                post:'id='+cit.idSelect,
                onSuccess:cit.loadDelete
            });
        }
        
    }
    
    cit.loadDelete = function(){
       	cit.stSegEdicionCuentas.load();
               
    };
    //OnChange
    cit.changePerfil = {
        select: function(combo, record, index){
            if(record.data.per_id == '0001')
                Ext.getCmp('su_id').setDisabled(true);	
            else
                Ext.getCmp('su_id').setDisabled(false);

        }
    };
	
	
    //Para la validacion
    Ext.apply(Ext.form.VTypes, {
          password: function(val, field) {
             pass=cit.formPrin.getForm().getValues().us_password;
             if (pass) 
                return (val == pass);
             return true;
          },
          passwordText: 'Los Password no Coinciden'
    });
	
    function newFormData(){
        cit.formPrin = new  Ext.form.FormPanel({
            autoHeigh:true,
            width:"100%",
            autoScroll: true,
            bodyStyle:"padding: 5px",
            labelWidth: 100,

            defaults:{"anchor":0},//autoCreate: {tag: "input", type: "text", autocomplete: "off", maxlength: 10 },
            items:[
                {xtype:'fieldset',title:'Datos',
                items:[
                    {xtype:'numberfield',name:'pe_dni',width: 100,fieldLabel:'DNI'},
                    {xtype:'compositefield',fieldLabel:'Ap. Paterno',combineErrors:false,
                    items:[              
                        {"xtype":"textfield",name:"pe_appat","width":120,"allowBlank":false,maxLength:20},
                        {xtype:'displayfield',width:20},
                        {xtype:'displayfield',value:'Ap. Materno',width:100},
                        {"xtype":"textfield",name:"pe_apmat","width":120,"allowBlank":false,maxLength:20}
                    ]},
                {"xtype":"textfield",name:"pe_nombre","width":200,"allowBlank":false,fieldLabel:'Nombres ',maxLength:30},
                {xtype:'compositefield',fieldLabel:'País',combineErrors:false,
                items:[              
                    {xtype:'combo',minListWidth:cit.minListWidth, width:120,mode:'local',triggerAction:'all',forceSelection:true,editable:false,name:'pe_pais',hiddenName:'pe_pais',displayField:'state',valueField:'tad_id',emptyText:'-Pais-',
                        store:  cit.storePais},
                    {xtype:'displayfield',width:20},
                    {xtype:'displayfield',value:'Dpto : ',width:100},
                    {xtype:'combo',minListWidth:cit.minListWidth, width:120,mode:'local',triggerAction:'all',forceSelection:true,editable:false,name:'ub_id_dep',hiddenName:'ub_id_dep',displayField:'state',valueField:'ub_id_dep',emptyText:'-Dpto-',
                        store:  jsoDepartamento,"listeners":selectdpto}
                ]},
                {xtype:'compositefield',fieldLabel:'Provincia',combineErrors:false,
                items:[              
                    {xtype:'combo',minListWidth:cit.minListWidth, width:120,mode:'local',triggerAction:'all',forceSelection:true,editable:false,name:'ub_id_prov',hiddenName:'ub_id_prov',displayField:'state',valueField:'ub_id_prov',emptyText:'-Prov-',
                            store: jsonprovincia,"listeners":selectprovss},
                    {xtype:'displayfield',width:20},
                    {xtype:'displayfield',value:'Provincia : ',width:100},
                    {xtype:'combo',minListWidth:cit.minListWidth, width:120,mode:'local',triggerAction:'all',forceSelection:true,editable:false,name:'ub_id',hiddenName:'ub_id',displayField:'ub_desc',valueField:'ub_id',emptyText:'-Dist-',
                        store: jsondistrito
                    }
                ]}
                   
            ]},//Fieldset
            {xtype:'fieldset',title:'Usuario',
            items:[
                {"xtype":"textfield",name:"us_login","width":100,"allowBlank":false,fieldLabel:'Usuario',maxLength:30},
                {xtype:'compositefield',fieldLabel:'Password',combineErrors:false,
                items:[              
                    {xtype: 'textfield',name:"us_password",
                        inputType: 'password',allowBlank: false, minLength: 6,
                        maxLength: 30,"width":100,
                        minLengthText: 'Tamaño Password mayor a 6 caracteres.'
                        }, 
                    {xtype:'displayfield',width:20},
                    {xtype:'displayfield',value:'Confirmar Pass : ',width:100},
                    {xtype: 'textfield', inputType: 'password',
                        allowBlank: false, minLength: 6,
                        maxLength: 30,"width":100,
                        minLengthText: 'Tamaño Password mayor a 6 caracteres.',
                        vtype: 'password'
                        }
                ]},
                {xtype:'compositefield',fieldLabel:'Perfil',combineErrors:false,
                items:[              
                    {xtype:'combo',minListWidth:150, width:100,mode:'local',triggerAction:'all',forceSelection:true,editable:false,name:'per_id',//'listeners':cit.changePerfil,
                        hiddenName:'per_id',displayField:'state',valueField:'per_id',emptyText:'-Tipo-',store:  cit.storeTipoUsuario,allowBlank: false},
                    {xtype:'displayfield',width:20},
                    {xtype:'displayfield',value:'Sucursal : ',width:100},
                    {xtype:'combo',width:120,mode:'local',triggerAction:'all',forceSelection:true,name:'su_id',id:'su_id',//disabled:false,
                        hiddenName:'su_id',displayField:'state',valueField:'su_id',emptyText:'-Sucursal-',store: cit.storeSucursal//,allowBlank: false
                    }
                ]}
            ]}	
        ],
        buttons: [{
            text:'Guardar',
            handler: function(){

                 if (cit.formPrin.form.isValid() ) {
                    var s = '';
                    Ext.iterate(cit.formPrin.form.getValues(), function(key, value) {
                            s += String.format("{0} = {1}<br />", key, value);
                    }, this);
                    og.openLink(og.getUrl('seguridad-usuario','ajax',{'case':'insertUsuario'},'seguridad'), {
                        hideLoading: false,
                        hideErrors: false,
                        preventPanelLoad: true, 
                        post:cit.formPrin.form.getValues(),
                        onSuccess:cit.loadCuenta
                    });

                 }


            }
        },{
            text: 'Close',
            handler: function(){
                cit.win.hide();
            }
        }]

    });
    
    cit.loadCuenta=function(){
        cit.stSegEdicionCuentas.load();
    }
    cit.win = new Ext.Window({
        width: 560,
        height: 425,
        minWidth: 300,
        minHeight: 150,
        modal:true,
        closeAction: 'hide',
        plain: true,
        autoDestroy:true,
        bodyStyle:'padding:5px;',
        layout : 'fit',
        defaultType: 'textfield',
        title  : 'Insertar Usuario',
        items  : [ cit.formPrin ]
    });
    
    cit.win.show();

}
</script>