 <?php foreach($this->data as $value){
 ?>
	 <div class="imagenpubli">           
           <a target="_blank"  href="<?php $value['pu_link'];?>" onclick="cit.setClick('<?php echo $value['pu_id'] ?>')"> <img src="<?php echo $this->htmlHead()->urlSite(); ?>/publicidad/<?php echo $value['pu_image']; ?>" height="60px"/></a>
       </div>
       <div class="textconatiner">
        <p style="color: #15428B;font-weight: bold;"><?php echo $value['pu_titulo']; ?></p>
       <?php echo $value['pu_contenido']; ?>
       </div> 
 <?php
 }?>

      