<div id="dialog">
      <h1 >Login 
	      <select style="float: right;" onchange="redirect(this)">
	      <option value="">- Idioma -</option>
	      	<?php foreach($this->idioma as $value){
	      		if($value['id_id'] == $this->idid) $idid = ' selected = "selected" ';
	      		else $idid = '';
	      		?>
	      		<option <?php echo $idid;?> value="<?php echo $value ['id_id']?>"><?php echo $value ['id_desc']?></option>
	      	<?php }?>	      	
	      </select>
      </h1>
		<form action="" method="post">
		
		
		  <div id="loginUsernameDiv">
		    <label for="loginUsername"><?php echo Cit_Init::_('LOGIN_USER')?>:</label>
		    <input id="loginUsername" class="medium" type="text" name="us_login" value="" />  </div>
		  <div id="loginPasswordDiv">
		    <label for="loginPassword"><?php echo Cit_Init::_('LOGIN_PASSWORD')?>:</label>
		    <input id="loginPassword" class="medium" type="password" name="us_password" value="" />  </div>
		
		  <div class="clean"></div>
		  <div style="margin-top: 6px">
		    <input id="loginRememberMe" type="checkbox" class="checkbox" name="login[remember]" value="checked" />    <label class="checkbox" for="loginRememberMe"><?php echo Cit_Init::_('LOGIN_REMEMBER')?></label>
		  </div>
		  
		  
		  <div id="loginSubmit"><button class="submit" type="submit" accesskey="s">Login</button><span>(<a class="internalLink" href="http://localhost/opengoo/index.php?c=access&a=forgot_password">Forgot password?</a>)</span></div>
		  <!-- <p><a class="internalLink" href="http://localhost/opengoo/index.php?c=access&a=forgot_password">Forgot password</a></p> -->
		
		</form> 
</div>
<script>
function redirect(obj){
	if(obj.value){
		location.href = '<?php echo $this->htmlHead()->urlSiteSubdomain();?>/login/index/index/lg/'+obj.value;
	}
}
</script>