

<div style="margin-left:5px;" id="form"></div>
<form id="formcalendar" method="post">
<div style="margin-left:5px;" id="divcalendar"></div>
</form>
<script>

cit.storeSucur = <?php echo $this->sucursal;?>;
cit.storeMeses = <?php echo $this->meses;?>;
//cit.storeAnio = <php echo $this->cboanio; ?>;

	cit.storeAnio = new Ext.data.JsonStore({
		url: og.getUrl('json', 'json',{'case':'anio'},'cms'),
		fields: ['an_id','state'],
		root: 'matches',
        autoLoad: true
	});
	cit.storeAnio.on('load', function(store){
	   Ext.getCmp('an_id').setValue('<?php echo $this->anio;?>'); 
    });
	
	cit.storeTiphab = new Ext.data.Store({
		proxy:new Ext.data.HttpProxy({
    		url:'/habitacion/asignacion-tarifa-tipo-hab/json/case/listaTipohab',
    		method:'POST'
    	}),
		reader:new Ext.data.JsonReader({
		fields: [
        		{ name : 'lleva'},
        		{ name : 'tih_id'},
        		{ name : 'tih_desc'},
        		{ name : 'tih_stock'}
        	], //['NEMO', 'nomcomp'],
    		root:'matches'
    	})
	});

    cit.changeSucursal = {
		select: function(combo, record, index){
			var filtro = cit.formPrin.getForm().getValues();
			cit.storeTiphab.load({params: {'su_id': record.data.su_id}});
		}
	};
    
    
    
    
	cit.formPrin = new  Ext.form.FormPanel({
		renderTo: 'form',
		name:'formDcto',
		autoHeight:true,
		bodyStyle:"margin-left: 7px;padding-right: 10px;border:0px",
		width:"98%",
		labelWidth: 80,
		defaults:{"anchor":0},
		items : [
			{xtype:"fieldset",
				items:[
					{xtype:'compositefield',fieldLabel:'Sucursal ',combineErrors:false,
					items:[
						{xtype:'combo', width:90,mode:'local',triggerAction:'all',forceSelection:true,editable:false,name:'su_id',emptyText:'- Sucursal -',
							hiddenName:'su_id',displayField:'state',valueField:'su_id',store: cit.storeSucur,listeners: cit.changeSucursal,minListWidth:'160'
						},
						{xtype:'displayfield',width:1},
						{xtype:'displayfield',value:'Tipo Hab :',width:70,style:'padding-top:+3px;'},
						{xtype:'combo', width:100,mode:'local',triggerAction:'all',forceSelection:true,editable:false,name:'tih_id',emptyText:'- Tipo Hab -',
							hiddenName:'tih_id',displayField:'tih_desc',valueField:'tih_id',store: cit.storeTiphab,listeners: cit.changeFiltro,minListWidth:'160',
							listeners:{select: function(combo, record, index){
                        		    var filtro = cit.formPrin.getForm().getValues();
									if(filtro.mes_id && filtro.tih_id){
                        				cit.divs = 'divcalendar';
                                    	cit.procesarAjax({'su_id':filtro.su_id,'tih_id':filtro.tih_id,'mes_id':filtro.mes_id,'an_id' : filtro.an_id},og.getUrl('reserva-gestion', 'render',{},'reserva'));
									}
                        		}
                            }
						},
						{xtype:'displayfield',width:1},
						{xtype:'displayfield',value:'Mes :',width:35,style:'padding-top:+3px;'},
						
                        {xtype:'combo', width:100,mode:'local',triggerAction:'all',forceSelection:true,editable:false,name:'mes_id',emptyText:'- Meses -',
							hiddenName:'mes_id',displayField:'state',valueField:'mes_id',store: cit.storeMeses,
                            listeners:{select: function(combo, record, index){
                        		    var filtro = cit.formPrin.getForm().getValues();
									if(filtro.mes_id && filtro.tih_id){
 		                       			cit.divs = 'divcalendar';
        	                            cit.procesarAjax({'su_id':filtro.su_id,'tih_id':filtro.tih_id,'mes_id':filtro.mes_id,'an_id' : filtro.an_id},og.getUrl('reserva-gestion', 'render',{},'reserva'));
									}
                        		}
                            }
						},
						{xtype:'displayfield',width:1},
						{xtype:'displayfield',value:'Año :',width:35,style:'padding-top:+3px;'},
						{xtype:'combo', width:80,mode:'local',triggerAction:'all',forceSelection:true,editable:false,id: 'an_id',name:'an_id',emptyText:'- Año -',allowBlank:false,
							hiddenName:'an_id',displayField:'state',valueField:'an_id',store: cit.storeAnio,
							listeners:{
								select: function(combo, record, index){
									var filtro = cit.formPrin.getForm().getValues();
									if(filtro.mes_id && filtro.tih_id){
 		                       			cit.divs = 'divcalendar';
        	                            cit.procesarAjax({'su_id':filtro.su_id,'tih_id':filtro.tih_id,'mes_id':filtro.mes_id,'an_id' : filtro.an_id},og.getUrl('reserva-gestion', 'render',{},'reserva'));
									}
								}
							}
						}
						
					]}//end buttons
				]}//end Compositefield
			]});

	

	//----------------------
function saveFormData(){
        var data = $('#formcalendar').serialize();
        var param = cit.formPrin.form.getValues();
         data = data+'&mes_id='+param.mes_id+'&tih_id='+param.tih_id+'&su_id='+param.su_id+'&an_id='+param.an_id;;
         og.openLink(og.getUrl('reserva-gestion','ajax',{'case':'save'},'reserva'), {
    		hideLoading: false,
    		preventPanelLoad: true, 
    		post:data,
            hideErrors:false                    
    	});
        
    }
</script>
