<div id="contiene"></div>
<script>
    var checkColumn = new Ext.grid.CheckColumn({
   header: 'Indoor?',
   dataIndex: 'indoord',
   id: 'check',
   width: 55
});
var checkColumn2 = new Ext.grid.CheckColumn({
   header: 'Indoor?',
   dataIndex: 'indoor',
    id: 'check',
    width: 55
}); 

cit.storeEstado = new Ext.data.SimpleStore(
	{fields: 
		['ka_estado', 'state'],
	data : [
		['1', 'Activo'],
		['0', 'Inactivo']
	]
});

cit.storeTarifa = new Ext.data.SimpleStore(
	{fields: 
		['ta_id', 'state'],
	data : [
		['D', 'Lun-Viernes'],
		['F', 'Sab-Dom']
	]
    
});


cit.storePrin = new Ext.data.JsonStore({
    url: og.getUrl('reserva-gestion','json',{'case':'dias'},'reserva'),
    root: 'matches',
    fields: [{ name : 'hhb_id'},{ name : 'su_id'},
		{ name : 'tih_id'},{ name : 'pi_id'},
		{ name : 'hb_estado'},	 
		{ name : 'hb_id'},
		{ name : 'hb_desc' },
		{ name : 'hb_numero'}<?php echo $this->field; ?>
  ]
});

/*	cit.fields =[
		{ name : 'hhb_id'},{ name : 'su_id'},
		{ name : 'tih_id'},{ name : 'pi_id'},
		{ name : 'hb_estado'},	 
		{ name : 'hb_id'},
		{ name : 'hb_desc' },
		{ name : 'hb_numero'}<?php echo $this->field; ?>
        
	];

	cit.proxy=new Ext.data.HttpProxy({
		url: og.getUrl('reserva-gestion','json',{'case':'dias'},'reserva'),
		method:'POST'
	});
	
	cit.reader=new Ext.data.JsonReader({
		fields: cit.fields, //['NEMO', 'nomcomp'],
		root:'matches'
	});
	
	cit.storePrin = new Ext.data.Store({
		proxy:cit.proxy,
		reader:cit.reader,
		//autoLoad: true
	});*/
    var filtro = cit.formPrin.getForm().getValues();
	cit.storePrin.load({params:{'su_id':filtro.su_id,'tih_id':filtro.tih_id,'mes_id':filtro.mes_id}});
	//store.load();
    cit.colModels = new Ext.ux.grid.LockingColumnModel(
    [
	    {dataIndex: 'hb_numero', header: 'Nº', width: 30,align:'center',locked: true},
		{dataIndex: 'hb_desc', header: 'Descripci&oacute;n', width: 180,locked: true,align:'left',
            renderer: function(v, params, record){
		      return '<p style="height:35px;">'+v+'</p>';
               // return('<span style="height:50px;">'+v+'</span>')
            }
        }
        <?php echo $this->fieldgrid ?>
		
	]);
	var categoriesPagingBar = new Ext.PagingToolbar( {
        pageSize: 500,
        displayInfo: false,
        store: cit.storeCliente
    });
    
      
	cit.gridPrin = new Ext.grid.EditorGridPanel({
	    id:'gridPrin',
	    renderTo: 'contiene',
		store: cit.storePrin,         
		colModel:  cit.colModels,
		clicksToEdit: 1,      
		width:'100%',
		height:300, 
		frame: false,
		stripeRows: true,
		columnLines: true,
		trackMouseOver: true,
        bodyStyle:'border:0px;border-top:solid 1px #ccc;',
        loadMask: true,
        view: new Ext.ux.grid.LockingGridView(),
        bbar: categoriesPagingBar
        //plugins: [checkColumn,checkColumn2]
	});
//cellclick : ( Grid this, Number rowIndex, Number columnIndex, Ext.EventObject e )

//headermousedown : ( Grid this, Number columnIndex, Ext.EventObject e )
    cit.arrBloquea = Array(cit.gridPrin.getColumnModel().getColumnCount() - 2);
    //alert(cit.arrBloquea.length);
    //for (i = 0; i < cit.arrBloquea.length; i++) {
//        cit.arrBloquea[i] = 0
    //}
    //alert(cit.gridPrin.getColumnModel().getColumnCount());

    //alert(cit.gridPrin.getColumnCount());  
    cit.gridPrin.on('headermousedown',function(g,c,o){
        cit.colsel = c;
        if (cit.colsel > 1){
            if (cit.arrBloquea[cit.colsel - 2])
                Ext.getCmp('bloquea').setChecked(true);
            else
                Ext.getCmp('bloquea').setChecked(false);
        }
    });
    
    Ext.getCmp("gridPrin").view.hmenu.add(
        new Ext.menu.CheckItem({
            text: 'Bloquea día',
            id : 'bloquea',
            hideOnClick: false,
            handler: function(){
                if (cit.colsel > 1){
                    if (cit.arrBloquea[cit.colsel - 2]){
                        cit.arrBloquea[cit.colsel - 2] = false;
                        //Ext.select('input[type=checkbox]').elements;
                        //Ext.select('div[class=backgroundGreen] > ul > li[id$=test1]').highlight(); 
                    }else{
                        cit.arrBloquea[cit.colsel - 2] = true;
                    }
                }
            }
        })
    );
    
	/*cit.gridPrin.on('cellclick', function(g,r,c){
	   alert ('fila' + r + 'col' + c);
	})*/
    //b1d1 b<#habitacion>d<#dia>
	/*cit.gridPrin.on('cellclick', function(e,i,j){//listening for the grid's 'validateedit' event
		
		var records = cit.storePrin.getAt(i);
        formulario.form.reset(); 
        storeImages.load({params:{'hb_id':records.data.hb_id}});
        formulario.form.setValues({'hb_id':records.data.hb_id});
		cit.idSelect = records.data.hb_id;
	});*/

</script>


