<div style="margin-left:5px;" id="form"></div>

<div style="margin-left:5px;" id="divcalendar"></div>

<input type="hidden" name="save[]" id="save" value=""/>
     
<script>
cit.winModal = '';
cit.storeSucur = <?php echo $this->sucursal;?>;
cit.storeMeses = <?php echo $this->meses;?>;
	cit.storeTiphab = new Ext.data.Store({
		proxy:new Ext.data.HttpProxy({
    		//url:'/habitacion/asignacion-tarifa-tipo-hab/json/case/listaTipohab',
			url:og.getUrl('asignacion-tarifa-tipo-hab','json',{'case':'listaTipohab'},'habitacion'),
    		method:'POST'
    	}),
		reader:new Ext.data.JsonReader({
		fields: [
        		{ name : 'lleva'},
        		{ name : 'tih_id'},
        		{ name : 'tih_desc'},
        		{ name : 'tih_stock'}
        	], //['NEMO', 'nomcomp'],
    		root:'matches'
    	})
	});

	cit.storeVerifica = new Ext.data.JsonStore({
		url: og.getUrl('reserva-inventario', 'json',{'case':'mesActivo'},'reserva'),
		fields: ['res_item'],
		root: 'matches'
	});
	
    cit.changeSucursal = {
		select: function(combo, record, index){
			var filtro = cit.formPrin.getForm().getValues();
			cit.storeTiphab.load({params: {'su_id': record.data.su_id}});
		}
	};
	
	cit.changeFiltro = {
		select: function(combo, record, index){
			i=0;
			var filtro = cit.formPrin.getForm().getValues();

			if(filtro.su_id && filtro.tih_id && filtro.mes_id){	
				cit.divs = 'divcalendar';
				cit.procesarAjax({'su_id':filtro.su_id,'tih_id':filtro.tih_id,'mes_id':filtro.mes_id},og.getUrl('reserva-inventario', 'render',{},'reserva'));
				
				/*cit.storeVerifica.load({params: {'su_id':filtro.su_id,'tih_id':filtro.tih_id,'mes_id':filtro.mes_id}});
				cit.storeVerifica.on('load', function(s, r) { 
					Ext.each(r, function(records) {
						if(i == 0){
							switch(records.data.res_item){
								case 'S':
									cit.divs = 'divcalendar';
									cit.procesarAjax({'su_id':filtro.su_id,'tih_id':filtro.tih_id,'mes_id':filtro.mes_id},og.getUrl('reserva-inventario', 'render',{},'reserva'));
								break;
								
								case 'N':
									$('#divcalendar').html('');
									//Modal ============================================= -+-
									//Ext.MessageBox.confirm('Confirm', 'Este mes no esta generado. Desea generarlo?.', confirmMessaje);
									confirmEst = confirm('Este mes no esta generado. Desea generarlo?.');
									if(confirmEst){
										confirmMessaje('yes');
									//return false;
									}else{
										$('#divcalendar').html('');
									}
									//=================================================== -+-
								break;
							}
						}
						i++;
					});
				});	*/
			}//end select
			
		}
	};
    

	
	function confirmMessaje(btn){

		if(btn == 'yes'){
			og.openLink(og.getUrl('reserva-inventario','ajax',{'case':'saveGestionMes'},'reserva'), {
				hideLoading: true,
				hideErrors: true,
				preventPanelLoad: true, 
				post:cit.formPrin.form.getValues(),
				onSuccess:cit.loadFormModal
			});
		}else{
			//na ps
		}
	}
	
	cit.loadFormModal = function(){
		var filtro = cit.formPrin.getForm().getValues();
		cit.divs = 'divcalendar';
		cit.procesarAjax({'su_id':filtro.su_id,'tih_id':filtro.tih_id,'mes_id':filtro.mes_id},og.getUrl('reserva-inventario', 'render',{},'reserva'));	
	}
    
	cit.formPrin = new  Ext.form.FormPanel({
		renderTo: 'form',
		name:'formDcto',
		autoHeight:true,
		bodyStyle:"margin-left: 7px;padding-right: 10px;border:0px",
		width:"98%",
		labelWidth: 80,
		defaults:{"anchor":0},
		items : [
			{xtype:"fieldset",
				items:[
					{xtype:'compositefield',fieldLabel:'Sucursal ',combineErrors:false,
					items:[
						{xtype:'combo', width:90,mode:'local',triggerAction:'all',forceSelection:true,editable:false,name:'su_id',emptyText:'- Sucursal -',
							hiddenName:'su_id',displayField:'state',valueField:'su_id',store: cit.storeSucur,listeners: cit.changeSucursal,minListWidth:'160'
						},
						{xtype:'displayfield',width:1},
						{xtype:'displayfield',value:'Tipo Hab :',width:70,style:'padding-top:+3px;'},
						{xtype:'combo', width:100,mode:'local',triggerAction:'all',forceSelection:true,editable:false,name:'tih_id',emptyText:'- Tipo Hab -',
							hiddenName:'tih_id',displayField:'tih_desc',valueField:'tih_id',store: cit.storeTiphab,listeners: cit.changeFiltro,minListWidth:'160'
						},
						{xtype:'displayfield',width:1},
						{xtype:'displayfield',value:'Mes :',width:35,style:'padding-top:+3px;'},
						{xtype:'combo', width:100,mode:'local',triggerAction:'all',forceSelection:true,editable:false,name:'mes_id',emptyText:'- Meses -',value:'<?php echo $this->mesid;?>',
							hiddenName:'mes_id',displayField:'state',valueField:'mes_id',store: cit.storeMeses,listeners:cit.changeFiltro
						}//end xtype
						
					]}//end buttons
				]}//end Compositefield
			]});

	

	//----------------------
function saveFormData(){
        var data = $('#enviar').serialize();
        var param = cit.formPrin.form.getValues();
         data = data+'&mes_id='+param.mes_id+'&tih_id='+param.tih_id+'&su_id='+param.su_id;
         og.openLink(og.getUrl('reserva-inventario','ajax',{'case':'save'},'reserva'), {
    		hideLoading: false,
    		preventPanelLoad: true, 
    		post:data,
            hideErrors:false                    
    	});
        
    }
	
	//Modal Agregar o Eliminar : 
	function formModal(fecha){
		//Cargando Grids
		cit.fieldModal =[
			{ name : 'lleva'},
			{ name : 'res_id'},
			{ name : 'pe_nomcomp'},
			{ name : 'res_fecha'},
			{ name : 'res_total'},
			{ name : 'su_nombre'},
			{ name : 'res_promo' }
		];
		cit.proxyModal=new Ext.data.HttpProxy({
			//url:'/reserva/reserva-consulta/json/case/listaReservas',
			url:og.getUrl('reserva-inventario','json',{'case':'reservasDia'},'reserva'),
			method:'POST'
		});
		
		cit.readerMod=new Ext.data.JsonReader({
			fields: cit.fieldModal, //['NEMO', 'nomcomp'],
			root:'matches'
		});
		
		cit.storeMod = new Ext.data.Store({
			proxy:cit.proxyModal,
			reader:cit.readerMod
			//autoLoad: true
		});
		
		//store.load();
		
		cit.columnMod =[ 
			{dataIndex: 'res_id', header: 'ID', width: 70,locked: true,align:'center'},
			{dataIndex: 'pe_nomcomp', header: 'Nombre', width: 190,locked: true,align:'left'},
			{dataIndex: 'res_fecha', header: 'Fecha', width: 70,locked: false,align:'center',
				renderer: function(v, params, record){            			 
					var fecha = og.fechaRender(v, params, record);
					record.data.res_fecha = fecha;
					return fecha;
				}
			},
			{dataIndex: 'res_total', header: 'Precio', width: 70,locked: true,align:'right',
				editor: new Ext.form.NumberField({
					allowBlank: true,
					style: 'text-align:right'
				}),
				renderer: function(v, params, record){
					record.data.res_total = v;
					return cit.formatMon(v);
				}
			},
			{xtype: 'actioncolumn', width: 40, align:'center',
				items: [{
					icon   : og.domainName+'/images/icons/view.png',  // Use a URL in the icon config
					tooltip: 'Ver Detalle',
					handler: function(grid, rowIndex, colIndex) {
						var record = cit.storePrin.getAt(rowIndex);	
						cit.formModals = formModal(record.data.res_id);
						cit.formModals.show();
					}
				}]
			}
			
		];

		cit.gridMod = new Ext.grid.EditorGridPanel({
			//renderTo: 'contiene',
			store: cit.storeMod,         
			columns: cit.columnMod,
			clicksToEdit: 1,      
			width:'100%',
			height:250, 
			frame: false,
			stripeRows: true,
			columnLines: true,
			trackMouseOver: true,
			bodyStyle:'border:0px;border-top:solid 1px #ccc;'
			
			//loadMask: true
		});
		var filtro = cit.formPrin.getForm().getValues();
		cit.storeMod.load({params: {'fecha':fecha,'su_id':filtro.su_id,'tih_id':filtro.tih_id}});//{params: {'su_id':sucursal,'tih_id': tipo}}

		var winModal;
		cit.formModal = new  Ext.form.FormPanel({
			autoHeigh:true,
			width:"100%",
			bodyStyle:"padding: 5px",
			labelWidth: 68,
			plain:true,
			defaults:{"anchor":0,border:0},//autoCreate: {tag: "input", type: "text", autocomplete: "off", maxlength: 10 },
			items:[
					{ items : [cit.gridMod] }  
		],
		buttons: [{
			text: 'Close',
			handler: function(){
				cit.formModal.form.reset();
				cit.winModal.hide();
			}
		}]
	
		});
		

		cit.winModal = new Ext.Window({
			width: 480,
			height:320,
			minWidth: 200,
			minHeight: 150,
			//bodyStyle:'padding:5px;',
			layout : 'fit',
			closeAction: 'hide',
			autoDestroy:true,
			defaultType: 'textfield',
			plain: true,
			modal:true,
			title  : 'Reservas en el Día',
			items  : [ cit.formModal ]
		});
		cit.winModal.show();
	
	}
</script>
